[2015-11-12 03:03] MaxMorais commented on #4303
I discovered another detail to include in the quote of this issue:

![balance general](https://cloud.githubusercontent.com/assets/1288676/11109547/bd8b90f6-88d8-11e5-97d5-45a61a559e97.png)

In the balance we have in the accounts, the amount in USD and MXN, but I would love configure the amount to be used in the Plan of Accounts, if you take a look in the bellow image you will see that the amount o

[2015-11-12 06:00] rmehta commented on #4310
@jof2jc can you make a few mockups of the screens?

[2015-11-12 06:16] nabinhait commented on #4303
@MaxMorais We have decided to remove the validation to force-apply the average exchange rate in case of bank transfer.

And for the second query, in Chart of Accounts, I will try to show balance in both currency wherever applicable.

Both the changes will go to the standard product, so no quotation for customization.

[2015-11-12 06:51] MaxMorais commented on #4303
:+1: @nabinhait

[2015-11-12 09:18] jof2jc commented on #4310
@rmehta can you give estimation hours for our internal review? Also, do you know easy online tools for  mockup builder? Tks

[2015-11-12 10:22] rmehta commented on #4310
Try balasmic or pencil.evolus.vn/

[2015-11-13 16:05] chaoyee commented on #4238
I believe this is a very important feature.  We need it as well.

[2015-11-14 11:13] alikhoja commented on #1008
Hey ! any plans of developing the BIN feature.. How much it will cost in the sponsor development ?

[2015-11-14 15:14] David-at-GitHub commented on #3082
Is there any way to amend already partial delivered Sales Orders? Let's say a Sales Order has 3 rows, 2 were delivered, customer wants to add a 4th row/product. I tried the suggested 'cancel' way, but it doesn't allow me to cancel an already partial delivered Sales Order.

[2015-11-14 15:22] rmehta commented on #3082
Easiest would be to create another Sales Order.

Can you post questions on the forum? GitHub issues is for bug reports and feature requests.

[2015-11-14 15:55] rmehta commented on #1008
$500 ?

[2015-11-15 16:35] lxnow opened #4319 "Email Digest - allow for daily sales (in Sales module)"
Would request to have the previous feature return: creating daily email digests that provide summary of sales metrics, particularly around:
- daily sales booked (sales orders submitted, aggregated on a per day or some specified time frame basis)
- daily sales invoiced (sales invoices submitted, aggregated on a per day or some specified time frame basis)

Thanks.

[2015-11-15 19:03] robertbecht opened #4320 "Send me a copy"
Hi, the send me a copy when i mail an invoice is disabled. I still receive a copy.
rgds robert

[2015-11-15 19:12] robertbecht opened #4321 "No calculation after "fetch last purchase price""
An old issue, may have reported earlier.
When one enters a PO and fetches last purchase price, one need to save first before calculation is made.
A minor detail,....
rgds robert

[2015-11-16 04:15] justinlusg opened #4322 "[BUG]: Leave Balance Report"
![image](https://cloud.githubusercontent.com/assets/12539216/11174194/ad6e6028-8c5b-11e5-9470-aa46b9580179.png)

The leave balance report is not working correctly after the recent update to change leave application from fiscal year to calendar based

[2015-11-16 04:16] justinlusg commented on #4322
There are 5 employees with 16 days of annual leave each, however after the recent update, the annual leave count all are added to 1 employee instead. (e.g. 16 days x 5 employees = 80 days)

[2015-11-16 04:51] nabinhait commented on #4322
We have fixed this report, it will be released today

[2015-11-16 04:51] #4322 closed

[2015-11-16 09:21] TanujW opened #4324 "[Feature-request] Auto-repeat Letterhead on every page"
Hi,

Is it possible to implement the letterhead into every page?
Currently the header is mapped to the top of the first page, and the footer to the bottom of the last page.

Thank You all!

[2015-11-16 09:21] umairsy opened #4325 "[Usability] User - confusion between Role and Module"
I have observed that after creating User, some only assign Module to new User, and doesn't assign Roles.

Suggestion: We should merge Module and Roles. Firstly Module should be assigned to User. On checking Module, relative Roles should be visible.
Example: For the new user, first Account module should be checked. Then Account User or Account Manager Role or both should be assigned to User.

[2015-11-16 12:04] nabinhait commented on #3969
@sliska I was working on the issue in the last week. After completion of almost all the things, I realised that the changes I made, is adding too much complication in the core logic. There is a huge chance to introduce new bugs in the core logic due to this. And maintenance of the new code will also be very difficult in the long run.

Then I discussed about this with all the team members and decid

[2015-11-16 12:55] nabinhait commented on #4089
https://frappe.github.io/erpnext/user/guides/selling/drop-shipping.html

[2015-11-17 01:12] monojoker opened #4330 "Negative Sales Order Item (Discount or Refund) does not transfer to invoice"
Hi Guys,

We regularly apply discounts to some customers for various reasons and to do this we add a line item to the Sales Order to adjust the final price but show all the detailed charges. When you generate a Sales Invoice for such Orders the negative (discount) item line is ignored and not added to the Invoice.

Can this be changed to allow such "inline discounts" and refunds to occur please? I

[2015-11-17 12:44] Devens commented on #1918
In fact, the comment of each transaction (Especially, Opportunity & Project) should be notified to persons with whom the same are shared.

It can really make the internal communication and followups easy and keep everyone in sync.

I once again suggest/request to take this on priority.

[2015-11-17 12:53] Devens commented on #3495
Hello... Any news on this? We would also look forward for this feature.

[2015-11-17 13:44] Devens opened #4333 "Renaming Email Digest Title"
Email Digest Title should be editable.

[2015-11-18 11:37] nabinhait commented on #4300
Released a major update related to leave management, please check now.

[2015-11-19 07:20] venetanji opened #4339 "User default company in reports falls back to global default"
In multi company settings, reports should load the default company based on user permissions.

The code creating issues that is found in most reports is

[code]

This returns the global default, rather than the user default.
Initial testing suggest that changing to:

[code]

solves the issue. It is still unclear to me how the default company is defined for a user using this method. In my environme

[2015-11-19 09:39] #4301 closed

[2015-11-19 09:39] #4300 closed

[2015-11-19 12:49] bfoxtrot opened #4340 "Journal Entry details table does not update after initial voucher type entry"
Issue: When a new journal entry is created, if voucher type is set to bank entry then both reference number and reference date are marked required and the default bank account is added with a empty row. If voucher type is changed then from bank entry to cash entry then journal entry details table remains the same as before but the reference number and reference date are unmarked as required.

Expe

[2015-11-19 18:30] cgpurbaugh commented on #1008
We are looking to contribute to this, can anyone else help split the cost?

[2015-11-19 18:35] cgpurbaugh commented on #4324
There is a possible paid development here: https://discuss.erpnext.com/t/header-footer-development/7442/9

If you could contribute, it would help alot.

[2015-11-20 06:13] rmehta commented on #1008
@alikhoja @cgpurbaugh ready to split?

[2015-11-20 06:31] PrakashH opened #4341 "Journal Entry - Activating Multi Currency"
While creating Journal Entry for multi currency account, I was unable to select USD account, whereas base currency is INR. Actually it needed checking Multi Currency. But it was not visible before selecting account, hence not intuitive.

Multi Currency field below Journal Entry Accounts table was visible, specially when form from child table is open. I suggest that Multi Currency field should be p

[2015-11-20 06:51] jof2jc commented on #4182
@nabinhait any solution update? This is core related issue. Costing is crucial part in an ERP system..

[2015-11-20 07:19] nabinhait commented on #4341
Most of the users don't use multi-currency feature, thats why we placed it in the bottom.

[2015-11-20 07:19] #4341 closed

[2015-11-20 07:20] MartinEnder opened #4343 "Missing phrases in the translation table for German Translation"
Hello,

as discussed by e-mail here ist the first place within the software where I can't find a translation in the translation table. Would be great if someone can give me a hint, how to fix this. I am just the translator for the German translation.
![addresses will](https://cloud.githubusercontent.com/assets/15938497/11293949/79a5dc74-8f5f-11e5-88ef-2feec84c6bae.JPG)

Martin from Germany.

[2015-11-20 07:58] alikhoja commented on #1008
@rmehta @cgpurbaugh We have already customized that in-house :)

[2015-11-20 09:16] TanujW commented on #4324
Can we get an estimate for this?

[2015-11-20 09:18] TanujW opened #4344 "[Bug/Usability] Reports not scrollable on touch devices"
The reports section of ERPNext has linked fields, and therefore does not allow users on touch devices to scroll through the page, making it virtually useless on mobile devices.

It instead drags across cells and selects them, for which I see no use, since only one cell can be clicked at a time.

[2015-11-20 11:11] Devens opened #4346 "Update Stock Button"
We suggest following feature.

- Update stock button on Item Form
- By clicking on the same, a dialog box for entry of revised stock to be displayed.
- By saving the same, it would make Stock Recon entry in back.

Kindly suggest.

[2015-11-20 11:13] Devens opened #4347 "Update Stock Button"
We suggest following feature.

- Update stock button on Item Form
- By clicking on the same, a dialog box for entry of revised stock to be displayed.
- By saving the same, it would make Stock Recon entry in back.

Kindly suggest.

[2015-11-20 11:25] rmehta commented on #1008
@alikhoja can you share it?

[2015-11-20 11:44] anandpdoshi commented on #4291
Looks like a customization. Check Sales Order doctype for any custom field or custom table with options as "Delivery Notes" instead of "Delivery Note"

[2015-11-20 11:44] #4291 closed

[2015-11-20 11:44] anandpdoshi commented on #4287
Fixed

[2015-11-20 11:44] #4287 closed

[2015-11-20 12:55] ajinkyagadewar opened #4348 "Getting error while uploading leads"
Hello,

Everything is running fine but getting error while uploading leads.
![notpermitted](https://cloud.githubusercontent.com/assets/3275617/11300315/0400f418-8fb4-11e5-99e3-4972ff6df52d.png)

[2015-11-20 12:56] anandpdoshi commented on #4348
Fixed. Please update your system.

If you are on cloud, just try again.

Best,
Anand Doshi

ERPNext

[2015-11-20 13:25] ajinkyagadewar commented on #4348
Fixed. Thanks.

[2015-11-20 13:25] #4348 closed

[2015-11-20 13:58] Devens opened #4349 "Email by document field should display only relevant fields"
Please see following screen shot. It seems that all fields are not relevant here.

![image](https://cloud.githubusercontent.com/assets/10671911/11301400/e5ae4d5e-8fbc-11e5-84c0-d5ba540a9075.png)

[2015-11-20 16:02] Ferohers opened #4350 "Approved is not translated on the pdf files - Full Name and Status also could not be translated"
![image](https://cloud.githubusercontent.com/assets/14891349/11304334/37a31278-8fb0-11e5-8661-1f6f78f83b4a.png)

I guess this Full name and status is in "apps\erpnext\erpnext\hr\doctype\employee\employee.json".
However I could not find any way to translate Full Name and Status
"apps/erpnext/erpnext/hr/doctype/employee/employee.json +134,Full Name,Ad Soyad" this did not work

![image](https://cloud

[2015-11-20 16:05] Ferohers commented on #4350
The issue persist on different languages as well

[2015-11-22 05:46] Devens opened #4351 "Item Name field in "Stock Reconciliation Item""
It is becoming difficult to know the item from item code. So, we request to have Item Name Field in "Stock Reconciliation Item" table.

[2015-11-22 17:59] dottenbr opened #4352 "Item Manufacturers as List rather then text"
Can we make the manufacturers that are selectable in the item a list instead of free text? I believe most companies would want a list of all the manufacturers to ensure data consistency.

[2015-11-22 18:04] dottenbr commented on #3495
It seems like there is nothing moving regarding the sponsorship on @justinlusg end?

[2015-11-22 18:05] dottenbr commented on #3830
@rmehta are you considering this?

[2015-11-22 18:14] dottenbr commented on #4352
see also https://github.com/frappe/erpnext/pull/3888

[2015-11-22 21:10] Jammyinc opened #4353 "Discount Payment Terms (2%-10, Net 30 etc) Feature Request"
Can someone develop a method for integrating Discount Payment Terms into invoice and payment entry?  This feature would allow a customer to take a discount (%)  to the invoice total if the invoice is paid within a set number of days; or pay the full amount on standard Net terms. A typical example is 2% discount for payments received within 10 days of invoice posting date, otherwise full amount due

[2015-11-23 05:18] rmehta commented on #4353
@sbkolate @MaxMorais ?

[2015-11-23 05:18] rmehta commented on #4352
@dottenbr yeah should be easy.

[2015-11-23 05:48] justinlusg opened #4356 "[Paid Development] - Bank Reconciliation"
Currently Bank Reconciliation can only be done line by line within the ERP System. Please let us know how much would it cost to develop the feature for it to be able to be exported and imported again (similar to how stock reconciliation is done right now).

[2015-11-23 05:52] justinlusg commented on #3495
Unfortunately, I only managed to get a $200 budget for this feature. :( I'm very keen to get this in, it's on my watchlist. Give me a couple more weeks, i'm determined to push this through.

[2015-11-23 06:04] Devens commented on #3495
We can manage for budget of $50 provided this feature includes sending email to all followers (shared list).

[2015-11-23 07:34] elektrinis opened #4357 "Issues with shopping cart"
When User is not logged in, I mean when public user is trying to add item to cart, he gets two identical messages on top of each other, saying "Not permitted".
When Administrator tries to do the same, he gets a message "Not defined: Territory".
When other user tries the same, item is added to cart just fine.

Also I would like to point out that, on a good eshop, shopping cart should not work like

[2015-11-23 08:18] Devens opened #4358 "BoM Button in Item View Header"
Searching BoM for a particular item is very difficult when there are so many BoMs.

We suggest following.

1. To keep BoM button on item view header. By clicking on which, BoM list filtered by that item should be displayed.

2. Item Name (along with Item Code) to be displayed in BoM List View.

[2015-11-23 09:11] Devens opened #4359 "Header Links for Item view like Customer & Supplier View"
Links like Purchase Receipt, Purchase Invoice, Delivery Note, Sales Invoice, (also Quotation, Sales Order, Purchase Order, Opportunity would be helpful).

![image](https://cloud.githubusercontent.com/assets/10671911/11332948/f91ddd0c-91ef-11e5-95bd-0e83fd1eb202.png)

[2015-11-23 10:04] omnison opened #4361 "about design of printing format"
[INV369-23-11-2015.pdf](https://github.com/frappe/erpnext/files/41450/INV369-23-11-2015.pdf)

Can I make such print template through ERPNEXT?  And how to make?

[2015-11-23 10:19] anandpdoshi commented on #4361
Use the print format builder: https://manual.erpnext.com/contents/setting-up/print/print-format-builder

You can edit the CSS of the Print Format from the Print Format record if you want to customise the look further.

Best,
Anand Doshi

ERPNext

[2015-11-23 10:19] rmehta commented on #4361
https://manual.erpnext.com/contents/customize-erpnext/print-format

[2015-11-23 10:19] #4361 closed

[2015-11-23 10:20] rmehta commented on #4361
@omnison for questions, use https://discuss.erpnext.com. For bug reports, feature requests, use github issues.

[2015-11-23 11:07] adityaduggal commented on #4253
@neilLasrado Any update on this issue?

[2015-11-23 11:58] rmehta commented on #4356
yeah should be done.

[2015-11-23 12:15] justinlusg commented on #4356
Can you give me a quote for this?

[2015-11-23 12:43] justinlusg opened #4362 "Error Patching"
[code]

Error when running latest patch

[2015-11-23 13:20] anandpdoshi commented on #4362
Looks like you have set the Length field to something more than 255 via Customize Form.

Go to console:
bench —site sitename console

Then:
ps = frappe.get_doc(“Property Setter”, {“field_name”: “description”, “property”: “length’}
print ps.doc_type, ps.property, ps.value

if it is > 255,
ps.delete()
frappe.db.commit()

Best,
Anand Doshi

ERPNext

[2015-11-23 15:58] chabito79 commented on #2830
I'm having the same issue...Do you know if it has been fixed? Thanks!

[2015-11-23 15:59] chabito79 commented on #4289
I'm having the same problem! :(

[2015-11-24 05:54] ekpaxp opened #4364 "Report: Item Price currency dislay error"
If an item has different currencies used for Buying and Selling, when looking at the Item Price report, both prices are shown in only one currency - typically in the currency of the price that was last edited.
The actual values are correct, and the price list reflects the correct currency so it is only a display issue.

[2015-11-24 06:09] #4234 closed

[2015-11-24 11:08] mayur-patel commented on #4300
The calculation for leave balance before application doesn't take into consideration of the upcoming future leaves that are approved. So User think that they have more leave remaining.

[2015-11-24 11:33] mayur-patel commented on #4300
Another bug is when you open an existing leave application that is been saved before but not approved yet, if you change the from date of the existing leave application then total is always displayed as 0.50 days. Which is not correct. System seems to update it to the correct total when user clicks on Save but before that user get confused by seeing 0.50 and hence they call IT support team about i

[2015-11-24 14:23] justinlusg commented on #4362
Ok, found it. but a suggestion, the description field under Installation Note Item is a "DATA" field while the description under ITEM description is a "Text Editor". By limited the text in installation note to only 255 might cause error when creating installation note because the item description is much longer.

[2015-11-24 14:36] #4362 closed

[2015-11-24 14:37] justinlusg commented on #4292
Reference to https://github.com/frappe/erpnext/issues/4362

[2015-11-24 14:38] #4267 closed

[2015-11-24 14:38] justinlusg commented on #4267
Managed to do it by inserting HTML coding in the Email Alerts

[2015-11-24 14:38] #3851 closed

[2015-11-24 14:39] #3864 closed

[2015-11-24 14:40] #3534 closed

[2015-11-24 16:43] justinlusg commented on #4291
@anandpdoshi I think it's not because of customization.. I reset the form to default and still have the error.. it is because in the web form the module is spell wrongly as delivery_notes instead of delivery_note?

[2015-11-24 16:44] justinlusg commented on #4293
Is this a bug?

[2015-11-24 21:22] Ruttie opened #4367 "502 Bad Gateway nginx"
Hello,

I just starting working on my Erp next system online and building all the elements for our company. But just faced this 502 warning online. Is there someone who can help me out?

Thanks.

[2015-11-24 21:42] Ruttie commented on #4367
it just popped up again. Guess its a server issue.

[2015-11-24 21:42] #4367 closed

[2015-11-24 21:42] Ruttie commented on #4367
it just popped up again. Guess its a server issue.

[2015-11-25 05:32] rmehta commented on #4367
I hope its working now. Sorry for the inconvenience

[2015-11-25 05:59] rmehta commented on #4356
$300

[2015-11-25 06:02] justinlusg commented on #4356
I've a budget of only $200, can it be done within $200?

[2015-11-25 06:06] rmehta commented on #4356
@justinlusg Ok, but it will take a week. Also please be sure, because last time there was no response from your end after we sent an invoice.

[2015-11-25 06:07] justinlusg commented on #4356
Yup, this is confirmed, already got the budget.

The other one, I'm still trying to get the budget of $300, because similarly I only got $200 budget for the other function too.

[2015-11-25 06:27] PrakashH commented on #4356
@justinlusg  PayPal invoice 0084 sent you.

[2015-11-25 06:54] justinlusg commented on #4356
Received with thanks, will make payment soon.

[2015-11-25 07:22] adityaduggal commented on #2291
@rmehta Can I get a quote on this feature also include the following in quote:
 - the feature of login table in this which @anandpdoshi had shown long time back.
 - Login table would show the times of login including their IP address instead of just last login.

[2015-11-25 07:58] Ruttie commented on #4367
Thank you for the response. Was it a server problem or something I did? Just to know for the future.

[2015-11-25 08:57] rmehta commented on #2291
@adityaduggal hold a bit, too many issues in the pipeline now.

[2015-11-25 09:15] dottenbr opened #4371 "Default Print Format matching/linking not logical"
When I create a custom print format I have to select which doc type it is for and I can flag it as default. This is good.

![2015-11-25 10_12_48-pcb specification heinrich](https://cloud.githubusercontent.com/assets/9136094/11392938/20403fba-935d-11e5-9b70-06315fc237f1.png)

However now this is not automatically set in the doctype itself where I have a free text field to define it. Should this be

[2015-11-25 09:52] zsajjad opened #4372 "Upgrade Font Awesome"
Font Awesome v3.2.1 is quite old now is it possible to upgrade it to v4.5.0.

[2015-11-25 10:30] mehtaharsh15 commented on #4276
Hello rmehta,

Please follow steps according to GIF Image.

Or Follow below steps

Step 1 :  Check on module access which you want to assign for user

Step 2 :  Save the form

Step 3 : Now see Module Access Permission, they are not in conformity with the ones that were assigned and saved in above steps

[2015-11-25 11:54] jadedevin13 opened #4375 "This could be more awesome if you could add kerberos and LDAP integration."
Kerberos/LDAP is used by established businesses for authentication. It would be better if you could integrate that so that there is no need to add users in the application.

[2015-11-25 12:07] Devens opened #4376 "Name of "Email Account" Should be editable."

[2015-11-25 12:19] gabtzi commented on #4376
+1

[2015-11-25 13:25] Masige opened #4378 "Seeking to improve report format in ERPNEXT system"
Dear ERPNEXT team,
I realize the good work that ERPNEXT has been doing particularly over recent to improve the platform and make more interactive and user friendly. A lot has been going on and indeed, we are happy to be part of ERPNEXT
However, from our side, we are more on projects than sales which means we are more of project reports and tracking progress and performances.
However, we are not ve

[2015-11-25 14:15] jof2jc commented on #4182
Can we add 'update stock' option in purchase invoice..just lije in sales invoice.

If this option is checked:
- if the item has purchase receipt ref, then system will just update valuation if item rate changes at invoice time.
- if no purchase receipt ref, then system will also execute purchase receipt posting directly from invoice. Just like in sales invoice to update stock delivery/COGS when the

[2015-11-26 02:06] justinlusg commented on #3495
If i can sponsor $150, @Devens sponsor $50, can @dottenbr sponsor the remaining $100? this would be such a cool feature.

[2015-11-26 02:07] justinlusg commented on #4356
Payment made.

[2015-11-26 03:34] rmehta commented on #4371
The "Make Default" button makes a property setter (custom setting) and is used more for customization. For developer mode, it should set in the default doctype though.

fixed via https://github.com/frappe/frappe/commit/caac8209c8326e47e12c7211c796b1ed5722ec88

[2015-11-26 03:34] #4371 closed

[2015-11-26 03:41] rmehta commented on #4356
Thanks. Will update you as soon as its done.

[2015-11-26 05:35] Devens opened #4379 "BoM - After cancellation, Amendment should be feasible"
As per standard functionality for all ERPNext Docs, BoM also should have next logical flow to "Amend" after "Cancel".

[2015-11-26 05:47] Devens opened #4380 "Today's date should be highlighted in Field Calendar"
Please see following screen shot. (if we see carefully, sometimes today's date is visible with very light gray colour. But, we suggest that it should be properly highlighted with different colour (like blue or any other semi-dark Colour).

If buttons for Today, Tomorrow, etc can be added, it can be further helpful.

![image](https://cloud.githubusercontent.com/assets/10671911/11415954/23638c7e-942

[2015-11-26 06:47] rmehta commented on #4324
@TanujW @cgpurbaugh I spent some time looking into this. This is not possible in the current HTML/CSS specs, so please don't make the payment. The work around of manually checking "page" break should work.

[2015-11-26 06:48] anandpdoshi commented on #4372
We will have to change all instances of "icon-" to "fa-". Too much work for now. Would you be willing to make the change and send a pull request?

[2015-11-26 06:49] yashodhank commented on #4372
@anandpdoshi I'm working on it, expect pull request in a day or two.
Thanks

[2015-11-26 07:11] Devens opened #4381 "modifying "Auto Material Request Generation Notification""
Currently following message comes for above mentioned notification. The message should be editable. If not feasible to provide modification facility, add Item Name in the list.

Following Material Requests has been raised automatically based on item reorder level:

MREQ-00013

Item Code	Warehouse	Qty	UOM
ITEM01584	Stores - DE	500.0	Kg

[2015-11-26 07:22] MaxMorais commented on #4324
Hi folks!

A old time ago, while we are using wnframework yet, I created a workaround for JavaScript, to calculate the page break in the browser, this is here https://jsfiddle.net/MaxMorais/q3q38/embedded/result/

After the inclusion of weasy-print to generate PDF's, I found this discussion https://github.com/Kozea/WeasyPrint/issues/92, and this gist https://gist.github.com/pikhovkin/5642563, for

[2015-11-26 07:36] rmehta commented on #4324
weasyprint had issues when we last looked at it. @MaxMorais Have you tested recently?

[2015-11-26 07:45] MaxMorais commented on #4324
@rmehta I dont know if your issue are the same issue that I found, where the sizes of the page dont match or header and footer or are overlapping the page body, if the issue is the same, do you need get the size of the header and the footer and adds it with padding-top and padding-bottom in the page-body container.

[2015-11-26 08:54] ftoth opened #4382 "New Lead - input email error"
Error message pops up when input "@" in email address:
Message
Invalid Email:
It is possible to input email address, but one need to put "@" first...

Regards,
Ferenc

[2015-11-26 08:59] justinlusg commented on #4356
@rmehta if i've a customer that wants to develop certain features that is not made public (e.g. for example some special tax reports, or certain function customisation) do you all provide the development service?

[2015-11-26 09:06] rmehta commented on #4356
No. Please add comments only relevant to this issue here.

[2015-11-26 10:07] zsajjad commented on #4372
icon-fixed-width should be changed to fa-fw, some icons are changed as well for example: folder-closed is no more there and its just folder.

[2015-11-26 10:15] rmehta commented on #4382
@ftoth can't replicate.

[2015-11-26 10:16] rmehta commented on #4380
Fixed

[2015-11-26 10:16] #4380 closed

[2015-11-26 10:16] rmehta commented on #4378
@Masige can you post images instead of docx files

[2015-11-26 10:17] rmehta commented on #4372
@yashodhank :+1:

[2015-11-26 10:19] #2243 closed

[2015-11-26 10:21] rmehta commented on #4162
seems fixed

[2015-11-26 10:21] #4162 closed

[2015-11-26 10:23] yashodhank commented on #4372
@zsajjad Thank, I am referring to https://github.com/FortAwesome/Font-Awesome/wiki/Upgrading-from-3.2.1-to-4

[2015-11-26 10:48] anandpdoshi commented on #4293
Cannot reproduce in the latest code

[2015-11-26 10:48] #4293 closed

[2015-11-26 11:16] mruepp commented on #4375
I second that. Want to define group with erp access in ldap. Add only erp users to that group, and they are granted access. Even better would be to define ERP roles as LDAP-Groups.

[2015-11-26 12:52] anandpdoshi commented on #4291
Fixed

[2015-11-26 12:53] anandpdoshi commented on #4291
Thanks @justinlusg

[2015-11-26 12:53] #4381 closed

[2015-11-26 12:53] anandpdoshi commented on #4381
Pushed a fix to show Item Name

[2015-11-26 13:28] Devens commented on #4381
Great! So Fast!! Thank you!

Thanking you,

With Regards,
Deven Shah
Safeworld Systems Pvt Ltd
M - 09825060116

On Thu, Nov 26, 2015 at 6:23 PM, Anand Doshi <notifications@github.com>
wrote:

[2015-11-26 15:06] Masige commented on #4378
Dear Rushab,
Here are the images for report format

Regards
==============================
PEng. Deus D.H. Masige
Executive Director,
Tanzania Association of Environmental Engineers (TAEEs)
Box 35454,
Dar es Salaam, Tanzania

Mob: 0713/0767-483590
Email: *director*@taees.org <taeestz@gmail.com>; bwanamacd@gmail.com
Website: www.taees.org; and Website: www.taees.wordpress.com
<http://www.taees.com/

[2015-11-26 15:08] Masige commented on #4378
![report format 2](https://cloud.githubusercontent.com/assets/16017232/11425798/931f2b34-9468-11e5-8d76-87540ca2fd7e.jpg)
![report format 1](https://cloud.githubusercontent.com/assets/16017232/11425799/93253cc2-9468-11e5-8c56-7e9bf41d7735.jpg)

[2015-11-26 15:09] Masige commented on #4378
Dear Rushab,
See the images for report format I formally posted in word document

[2015-11-26 23:57] itsdaveit opened #4384 "Issue when creating one Sales Invoice from multiple Delivery Notes"
While creating a Sales-Invoice one can use the "from Delivery-Note" function to add the items from a Delivery-Note to the Sales invoice. In the "Get From Delivery Note"-popup Only Delivery-Notes which contain unbilled items are displayed. That is quite great so far. But: Why am i able to add the same Delivery-Note in the Sales-Invoice multiple times? I think this is a kind of consufsing and that i

[2015-11-27 00:19] itsdaveit opened #4385 "Function for adding all delivered and not billed items to a Sales-Invoice at one click"
While creating a Sales-Invoice it is possible to add unbilled items from Delivery Notes by selecting each Delivery-Note one by one with the "from Delivery-Note"-button.

But if you have dozens of Delivery-Notes to add, that means you have to do a lot of mouse-clicks and you have to manuly look out for not to insert the same Delievery-Note twice. (see https://github.com/frappe/erpnext/issues/4384 )

[2015-11-27 06:06] rmehta commented on #4356
@justinlusg Fixed via https://github.com/frappe/erpnext/pull/4386

Turned out to be a lot easier that I thought, I can include the "@" notification project in your sponsorship

[2015-11-27 07:10] justinlusg commented on #4356
@rmehta wonderful! do we need to add on any more sponsorship for the "@" notification project?

[2015-11-27 07:44] inventobd opened #4388 "[Featured Request] Deliver service items without entering stock module"
What I,m doing is:
1.  Taking order for a service (Sales order)
   1.  Sending procurement request (Creating material request)
   2. Purchasing that service from supplier (Via Purchase order)
   3. Delivering it to customer (Via delivery note)

From material request to delivery note each step is under stock module . But for a service based organization stock is not required . But right now I need

[2015-11-27 09:27] omnison opened #4389 "can i move "series" to head editing section"
![2015-11-27 12 59 25-1](https://cloud.githubusercontent.com/assets/7886153/11437856/55ccfc64-950a-11e5-8824-8f8070dae7c7.jpg)
1. can i move "series" to head editing section
2. can we check the html code of printing format, so i can edit html in "HTML editor" in ERPNEXT

[2015-11-27 12:09] Ferohers opened #4390 "Cancel button cannot be translated"
![untitled](https://cloud.githubusercontent.com/assets/14891349/11440987/480adac8-9510-11e5-88f5-3a9bc768404f.png)

I also manually entered and failed ...
DocType: DocPerm,Cancel,İptal

[2015-11-28 13:50] gabtzi commented on #1981
+1 for multilingual support in document field values. No current ERP here in Greece provides a good way to solve this issue so it would really be an asset in Marketing ERPNext here.

[2015-11-29 04:06] Devens opened #4391 "No Link to go back to Tools Screen"
Such links are available for other modules but not for Tools. Pl see following screen shot.

![image](https://cloud.githubusercontent.com/assets/10671911/11455279/7ceb728a-967c-11e5-99b1-e0c351a5b80c.png)

[2015-11-29 05:03] Devens opened #4392 "Filter for in Gantt View of Tasks"
Following filters are requested for Gantt View of Tasks
1. Status (Open/Close)
2. Assigned to

Same is requested for Calendar View also.

[2015-11-30 02:03] justinlusg commented on #4356
@rmehta do we need to add on any more sponsorship for the "@" notification project?

[2015-11-30 02:20] justinlusg opened #4393 "[BUG] Unable submit installation note after fieldtype limit to 255 characters"
![image](https://cloud.githubusercontent.com/assets/12539216/11462165/6f0b10ce-974b-11e5-9ab8-257c140d40d9.png)

![image](https://cloud.githubusercontent.com/assets/12539216/11462193/e3b81750-974b-11e5-8661-d45aa67bbc3f.png)

After update unable to submit installation note because Stock Item description is above 255 characters. Unable to change the field type as well as will cause problem referenc

[2015-11-30 03:47] rmehta commented on #4393
Can you change the field to Text / Small Text

[2015-11-30 03:55] justinlusg commented on #4393
![image](https://cloud.githubusercontent.com/assets/12539216/11463182/4aa674fe-9759-11e5-8b50-92df0b673049.png)

@rmehta  I've tried changing before, unable to change field type

[2015-11-30 05:35] justinlusg opened #4394 "[Urgent Bug] Unable submit ticket via Web Form after update"
![image](https://cloud.githubusercontent.com/assets/12539216/11464207/2361c976-9767-11e5-8a10-cf51af60b601.png)

After the recent update, the web form page is broken. Unable to submit any tickets by customers anymore. No changes was made to the web form and was working before

[2015-11-30 05:43] anandpdoshi commented on #4394
This was fixed with the last week's release. You should update your installation.

[2015-11-30 05:43] #4394 closed

[2015-11-30 05:44] justinlusg commented on #4394
Noted with thanks, will update

[2015-11-30 06:03] #4343 closed

[2015-11-30 08:30] rmehta commented on #4393
Try Small Text

[2015-11-30 08:30] #4393 closed

[2015-11-30 15:03] dottenbr commented on #3495
If @rmehta can enable the things happening with an @-mention to appear in a sort of activity stream so we see the doctype that its relating to, the comment, who wrote it and when and we can click to get in the doctype to write a reply I am all for it and I am willing to cover 100$ if we do this together.

<img width="860" alt="bildschirmfoto 2015-11-30 um 16 02 36" src="https://cloud.githubusercon

[2015-11-30 15:24] dottenbr commented on #3994
Currently being discussed as paid feature implementation https://discuss.erpnext.com/t/header-footer-development/7442/19

[2015-11-30 15:35] dottenbr commented on #3830
Watchlist sounds good, lets see what happens :-)

[2015-11-30 15:37] dottenbr commented on #3985
I think this is related to my question here https://github.com/frappe/knowledge_base/issues/3 if the Knowledge Base App is Depreciated of Active. I think the basics would be simple linking between articles and some sort of hierarchy. That would be pretty much all one needs.

[2015-11-30 15:48] dottenbr commented on #3495
I just saw the Activity Log and I think that would be a wonderful way to do it to filter the things where you have been mentioned.

[2015-11-30 16:18] brandonjcreek opened #4403 "Drop Shipped Items are not being recorded in Cost of Goods Sold"
Items that are drop shipped do not make it into the Cost of Goods sold ledger, which in turn, completely messes up the Profit and Loss report.

**Here is the way the workflow should work:**

1: A member of the sales team creates a Sales Order for the customer.

2: All items that are being drop shipped are marked as so, and are assigned to a Supplier.

3: Sales Order is submitted and then "Purchase

[2015-11-30 22:54] monojoker opened #4404 "Ordering of Filter Search "Preview" List"
Hi Guys,

When you begin typing into a filter on a document list screen it previews the matching results in a dropdown. Currently this dropdown lists (for example) Sales Orders in ascending order. It makes more sense to search in descending as you're typically searching for a recent document rather than wanting to see the first.

![image](https://cloud.githubusercontent.com/assets/10917366/1148715

[2015-11-30 22:55] monojoker commented on #4330
Hi Guys, an feedback on this? Should it work, not work? Thanks.

[2015-12-01 03:53] justinlusg commented on #3495
@rmehta

[2015-12-01 04:14] Devens commented on #4404
+1

[2015-12-01 05:17] rmehta commented on #3830
fixed.

[2015-12-01 05:17] #3830 closed

[2015-12-01 05:26] rmehta commented on #4403
This is fixed via https://github.com/frappe/erpnext/pull/4395

Will be in today's release

[2015-12-01 06:33] dottenbr commented on #3830
Thank you!

Sent from my mobile

[2015-12-01 09:35] rmehta commented on #3495
On @anandpdoshi 's list. ETA 1-2 weeks

[2015-12-01 09:49] rmehta commented on #4404
@monojoker this goes via the standard sorting in the form. Check Customize Form view if you have set it to ascending.

[2015-12-01 09:49] #4404 closed

[2015-12-01 10:01] MaxMorais commented on #4404
@rmehta I have followed the support on this question in gitter, and It dont work using the standard behavior.

[2015-12-01 10:04] rmehta commented on #4404
Everything goes via the standard control.js methods. Did not see any customization.

[2015-12-01 11:59] nabinhait commented on #4330
@monojoker Pushed a fix https://github.com/frappe/erpnext/pull/4407

[2015-12-01 12:15] umairsy opened #4408 "Suggestion to make ERPNext more operable from keyboard"
As raised by Felix:

When you tab through a linked field, the first item is always auto-selected and will populate automatically, even if you just tab through the field (unless you tab through quickly enough). This is an issue when we don’t have a cost center (for asset/liability entries).

We know this is more to deal with Frappe linked field behavior, and there is a lot of good with this behavio

[2015-12-01 12:16] #4408 closed

[2015-12-01 13:11] betabank opened #4410 "Drawn signature HTML Field (Sponsor development)"
The functionality is explained in this post from the discuss:
https://discuss.erpnext.com/t/drawn-signature-html-field/6824

[2015-12-01 13:51] Devens commented on #4359
Hi... Any consideration/plan for this request?

[2015-12-01 15:09] Devens opened #4411 "Itemwise delivery Date for Sales Order Item (similar to PO Item)"
Very useful to decide multiple delivery dates for same item as well as different delivery date for different items. (When It's provided in PO why not in SO?)

[2015-12-01 16:01] Masige commented on #4378
guys, is there anyone to assist on this?

[2015-12-01 16:17] rmehta commented on #4359
@Devens not as of now. But its a good feature to have.

[2015-12-01 16:29] rmehta commented on #4378
https://manual.erpnext.com/contents/customize-erpnext/print-format

[2015-12-01 22:29] monojoker commented on #4404
Thanks everyone but @MaxMorais is correct, we have ALWAYS had the sort set to Modified DESC which should show the last jobs first (by means of them having their workflow_state changed most recently). I have also tried setting it to name DESC but still it doesn't affect that specific "preview search" feature. Could you look into it please @rmehta it would certainly make ad-hoc searching while on ph

[2015-12-02 03:10] superlack opened #4412 "iOS App drag functionality not operable"
Unlike using ERPNext on a cursor driven screen, the app recently released for iOS doesn't allow the user the drag for functions like sorting columns, or creating calendar events.

[2015-12-02 04:40] Devens commented on #4359
If whole thing (all various displays) may take time, only stock (actual qty & project qty) can be displayed it would be very helpful, as checking stock is pretty frequent requirement and checking it through "Show Balance" is little time consuming as actual balance being displayed after scrolling horizontally. (Moreover "Stock Balance" main report is not editable.)

[2015-12-02 05:19] justinlusg commented on #3495
great!!

[2015-12-02 06:04] Devens opened #4414 "Creating Supplier Quotation directly from Opportunity"
Many times we need to get item price from supplier before preparing quotation (as market rates of many items are continuously fluctuating). Can we provide link for "Creating Supplier Quotation" similar to "Create Quotation" button?

[2015-12-02 09:57] Ferohers opened #4416 "Some fields do not pick up translations"
Dear Super Developers,

Field for gender refuse to get any translation (all other languages seems having the issue). In addition, status of the employee seems ok on the list view (translated) but on the pdf forms shows default English strings.

![1](https://cloud.githubusercontent.com/assets/14891349/11527728/52604808-98eb-11e5-90ff-f0ada85197b5.png)

[2015-12-02 10:09] Ferohers commented on #4416
Marital Status's field value also refuse to be translated.

![2](https://cloud.githubusercontent.com/assets/14891349/11528142/928504a8-98ed-11e5-89d5-0365a30198d9.png)

[2015-12-02 12:23] gabtzi opened #4417 "The "leave this conversation" link in emails should be an option"
Hi,

I really think there should be an option to enable/disable this link because if you set up erpnext locally and not under a working FQDN it will make this link be invalid to the email recipients. This in turn will increase the likelihood spamassassin and Hotmail will mark the email as spam/junk.

Messages containing malformatted urls or urls not resolving correctly or obfuscated urls are havin

[2015-12-02 23:33] monojoker commented on #4330
Many thanks @nabinhait and @rmehta really helpful for us!

[2015-12-03 01:22] justinlusg opened #4418 "Error in Reports Total Rows"
Noticed that Accounts Receivable and Accounts Payable Report's Total Row has this "Invalid Date" error

![image](https://cloud.githubusercontent.com/assets/12539216/11549233/44778d0a-999f-11e5-9d8d-f562e709f4ad.png)

[2015-12-03 16:37] cgpurbaugh commented on #1475
Can this be closed then?

[2015-12-03 16:46] jevonearth commented on #1475
From my perspective, as a user, what is offered is still not clean. It's complicated for the user, and is rather messy.  Precision on unit price needs to be a first class feature in my humble opinion. Not a field setting workaround.

[2015-12-03 23:12] #4066 closed

[2015-12-04 01:57] system19 opened #4422 "Add Weekly Payroll Processing"
### Some assumptions
- Weekly/fortnightly intervals determined by the employee start date and day of the week payroll is run. For example, payroll is run every Friday:
- Employee A starts Wednesday October 19th 2016 – first weekly salary slip will be for 2 days (Wednesday & Thursday).
- Subsequent weekly payroll run with be from Friday to Thursday.
- Multiple payroll run dates are required.
### Pa

[2015-12-04 02:08] system19 opened #4423 "Add a "Super Contribution" field to Salary Structure and Salary Slip"
As per discussion at https://discuss.erpnext.com/t/payroll-processing-integration-with-accounts/8276/4

To have an additional table (similar to Earnings and Deductions) in the Salary Structure and Salary Slip forms for Contributions i.e. staff retirement benefits contributed by employer. Contributions from employers are typically not included in the monthly Net Pay calculation.

[2015-12-04 02:13] system19 opened #4424 "Set Default Expense Account/Cost Center for each Earning Type/Deduction Type in Payroll"
As per discussion at https://discuss.erpnext.com/t/payroll-processing-integration-with-accounts/8276/3

To allow default Expense Account and Cost Center to be set for each Earning Type / Deduction Type so users do not need to make selections for these fields every time payroll is being processed.

[2015-12-04 06:05] wajiman opened #4426 "Receiving Email with attachment name beginning with '#' cannot be opened"
When you receive an email with an attachment name beginning with #, system fails to open the document and keeps saying the document is not available

[2015-12-04 07:03] omnison commented on #4361
Dear Rmehta:

Can i pay some to request your company to customize print template according to our requirement(check attachment)?  And share the html code of template with me also.
[QUO404-24-11-2015.pdf](https://github.com/frappe/erpnext/files/51721/QUO404-24-11-2015.pdf)

And how much.

[2015-12-04 11:07] rmehta commented on #4361
@omnison you can pay a freelancer. Try posting on http://upwork.com or https://community.erpnext.com

[2015-12-04 13:44] cgpurbaugh commented on #1378
This should be closed?  Already implemented?

[2015-12-04 19:37] cgpurbaugh commented on #4379
This already is the case.

[2015-12-05 02:12] Devens opened #4429 "T for Today - Not working in "add to todo" dialog box"
Pl see the screen shot.
![image](https://cloud.githubusercontent.com/assets/10671911/11605364/a1cebfe8-9b23-11e5-91b1-833a2abb22de.png)

[2015-12-05 04:49] Devens opened #4430 "When item is delivered 100% then "Delivery" Button should not be displayed in Invoice"
When Invoice is made from Delivery Note (after 100% delivery made), Delivery Button should not be displayed in Invoice.

[2015-12-05 06:08] #1378 closed

[2015-12-05 06:09] rmehta commented on #4379
Added "Duplicate" button

[2015-12-05 06:09] #4379 closed

[2015-12-07 05:22] justinlusg commented on #4418
Anybody picked this up?

[2015-12-07 07:24] Devens opened #4436 "Reordering for Manufacturing Item"
Currently reordering is feasible only for Purchase Item. It should be feasible for Manufacturing Item (Production Order) also.

[2015-12-07 09:57] Devens opened #4437 "PO - Taxes and Charges to be filtered as per Company"
After selection of company in PO, "Taxes and Charges" should populate values only for selected company. Whereas it shows value for all companies.

[2015-12-07 20:30] noetico opened #4438 "POS Module slow"
The POS module is slow on ERPNext; during v4 it was very snappy and fast; I think it has something to do with the way the module pulls items; loading everything at once. Is there a way to limit the number of items being loaded from pos.py? Below is the pos.py file as shipped with ERPNext; how and where do we limit the items to a small set of items like the first 100 only and then let search and ba

[2015-12-08 05:16] ShashaQin opened #4440 "User Manual"
https://frappe.github.io/erpnext/user/manual/en/human-resources/tools/leave-allocation-tool.html
The leave allocation tool page of user manual is using incorrect page sample which is leave application page snapshot.

[2015-12-08 06:03] anandpdoshi commented on #4440
@ShashaQin thanks for reporting!

[2015-12-08 06:48] rmehta commented on #4438
Thanks fixed via https://github.com/frappe/erpnext/commit/441b2c765743987037b9a2b99e6e0520d451861b

[2015-12-08 06:48] #4438 closed

[2015-12-08 07:26] noetico commented on #4438
Thanks Rushabh; will add these lines.

Best regards;

Kent
Noetico.IT Corporate Mail

-----Original Message-----
From: Rushabh Mehta <notifications@github.com>
Date: Mon, 07 Dec 2015 22:48:16
To: frappe/erpnext<erpnext@noreply.github.com>
Reply-To: frappe/erpnext <reply@reply.github.com>
Cc: noetico<kent@noetico.com>
Subject: Re: [erpnext] POS Module slow  (#4438)

Thanks fixed via https://github.

[2015-12-08 07:30] anandpdoshi commented on #4283
@robertbecht this has been fixed

[2015-12-08 07:30] #4283 closed

[2015-12-08 08:01] noetico commented on #4438
Hello Rushabh; I just tried the limit and it didn't work; it doesn't reduce our items pulled into the grid. What does the 99999 around lines 35 to 38 do?

Thanks.
Noetico.IT Corporate Mail

-----Original Message-----
From: Rushabh Mehta <notifications@github.com>
Date: Mon, 07 Dec 2015 22:48:16
To: frappe/erpnext<erpnext@noreply.github.com>
Reply-To: frappe/erpnext <reply@reply.github.com>
Cc: noe

[2015-12-08 08:28] noetico opened #4442 "POS module still slow"
Hello @rmehta; I tried this fix 441b2c7, it didnt work; I was wondering what the 99999 around lines 35 to 38 do? Are these the limits for number of items pulled? Did you try this fix yourself?

[2015-12-08 08:30] robertbecht commented on #4283
Hi travelling in brussels belgium now. Let us incorporate changes in the
contribution to manual rgds robert
On Dec 8, 2015 8:30 AM, "Anand Doshi" <notifications@github.com> wrote:

[2015-12-08 08:44] anandpdoshi commented on #4438
Did you do bench update?

You need to restart the frappe server processes for changes to take effect.

Best,
Anand Doshi

ERPNext

[2015-12-08 09:50] noetico commented on #4438
Thanks! That did it. I also suggest this little update should be added in the updates; the pos is super-blazing fast now.

Thanks to the best ERP team in the world.

Noetico.IT Corporate Mail

-----Original Message-----
From: Anand Doshi <notifications@github.com>
Date: Tue, 08 Dec 2015 00:44:20
To: frappe/erpnext<erpnext@noreply.github.com>
Reply-To: frappe/erpnext <reply@reply.github.com>
Cc: no

[2015-12-08 09:58] #4442 closed

[2015-12-08 14:48] #4390 closed

[2015-12-08 17:42] asanchezg opened #4447 "Custom Header on Prices List print report"
When you are browsing all Item Prices on a prices list you can Print it but not able to add any Letter Head.

It would be great to allow add header on Prices List printed report in order to send it directly to any customer with company format.

[2015-12-08 17:48] Ooops-404 opened #4448 "Name, Lastname and Company name Fields"
Why not use different fields?
I know that currently we can select the contact type to be "individual or Company", that helps.

But having a different field for the name and another for the last name will help not only in importing records from other CRM's/ERP's* but also with the newsletters.
I am sure some of us greet their contacts with Hi/hello/dear [name] and prefer to stear away from using th

[2015-12-08 20:32] system19 commented on #4448
Regarding customer names in ERPNext, Why do we use a Full Name when creating a new customer and Address but use First Name & Last Name when creating a Contact? What is the advantage of this? @Ooops-404 I can post a simple Concat custom script on frappe forums that may assist you in allowing you to enter First Name Last Name during new customer creation. I found it pretty easy to concat other ERP n

[2015-12-08 20:41] Ooops-404 commented on #4448
The advantage of using First Name & Last Name is the possibilities that it gives you to handle that data. A good example is when you're preparing a newsletter. The latest trend(?) is to communicate with the clients in a first name basis in order to come across as friendly and personal.

Scenarion above:
If you want to use the full name: [firstname] [lastname]
If you only want to use the first name

[2015-12-08 20:52] system19 commented on #4448
@Ooops-404 The First Name Last Name structure does make sense when explained. To have First Name, Initial, Last Name would be great in English speaking countries. This would help avoid issues when trying to add a new customer with the same name as an already entered customer.

[2015-12-08 21:01] Ooops-404 commented on #4448
@system19 That would be perfect, adding the "title" would also be useful for allot of people too (not me personally, but I know some companies do care).

[2015-12-08 21:04] system19 commented on #4448
Forgot to add that the "Initial" field should be optional and can be left blank. This is important.

[2015-12-09 04:44] yashodhank commented on #4448
Things you are talking about can be customized easily and if you want them to be part of core product then please care to open topic for larger discussion and more inputs at https://discuss.erpnext.com

@Ooops-404 Discussions regarding any feature or unless you are not sure if its an issue, should be strictly done at https://discuss.erpnext.com
Please adhere to community standards and please follo

[2015-12-09 05:20] rmehta commented on #4426
Fixed via https://github.com/frappe/frappe/pull/1454

[2015-12-09 05:20] #4426 closed

[2015-12-09 07:04] adityaduggal commented on #2291
Any plans to quote on this feature we are getting too many phishing emails and also a lot of trojan emails. Can you please help us with this feature.

[2015-12-09 07:43] rmehta commented on #2291
@adityaduggal what do you mean, via website user?

[2015-12-09 08:31] stepsibg opened #4451 "Adding columns of Item Code, Item Name and brand without description"
As per current format, values of item code, item name, image etc. are contained in description column of the reports. I need a format where brand, item code and item name are separate columns and description column should be hidden. One of our customer would like to receive quotation from us in this format and I am unable to design my Print Format accordingly by enabling desired fields in "Print F

[2015-12-09 10:54] adityaduggal commented on #2291
@rmehta I have not used the word Website User....what exactly do you want me to elaborate on?

[2015-12-09 10:57] rmehta commented on #2291
How exactly do you get trojan emails and phishing stuff?

[2015-12-09 11:53] MartinEnder opened #4457 "Missing translation in e-mail reminders"
Hi,

there's no or few translation in e-mail reminders. Can anybody fix that?
Thank you.

Martin

![reminder](https://cloud.githubusercontent.com/assets/15938497/11684708/dae85340-9e73-11e5-9f94-fe301c980983.JPG)

[2015-12-09 13:58] adityaduggal commented on #2291
well we are getting it through emails and that is not from or related to erpnext but since we are getting such emails I would like to secure the erpnext system so that even if somebody's password is compromised then we know that the hacker cannot login to erpnext system since all the users would have 2-Factor security on erpnext as well.

[2015-12-09 14:34] MartinEnder opened #4458 "More missing phrases in the translation table for German Translation"
Hi,

some positions in ERPNext where the German translation has no effect. Please ...

Martin

![produktionseinstellungen](https://cloud.githubusercontent.com/assets/15938497/11687982/1b4ba778-9e8a-11e5-8462-2c08d3966c16.JPG)
![proposal writing](https://cloud.githubusercontent.com/assets/15938497/11687983/1b4f40b8-9e8a-11e5-90e9-354422b1fe22.JPG)
![qty](https://cloud.githubusercontent.com/assets/1

[2015-12-09 15:32] Ooops-404 commented on #4448
@yashodhank Thanks, I will do so.

[2015-12-09 17:01] inventobd opened #4459 "Seperate Items from sales order including bundle product doesn't get transfarred to material request"
Hello

I have created a sales order which includes 2 types of items

[code]

When I click on material request from that sales order, only items listed in packing list table transferred in create material request doc . Individual single item doesn't transferred to material request. Can anyone help ?

Thanks

[2015-12-09 17:52] cgpurbaugh commented on #4389
as far as #1 goes, add the following to the heading:

{{ doc.status }}

[2015-12-09 17:58] Ooops-404 commented on #4448
New home for the discussion,

https://discuss.erpnext.com/t/name-lastname-and-company-name-fields/8951/2

[2015-12-09 17:58] #4448 closed

[2015-12-10 04:36] Devens opened #4460 "Report Name should be editable"
Custom report names are required to be changed. There should be provision to rename report.

[2015-12-10 04:39] Devens opened #4461 "Email Alert Recipiants"
Only Email fields should be displayed here (Pl see the screenshot below).

![image](https://cloud.githubusercontent.com/assets/10671911/11707135/063b1bce-9f26-11e5-8725-5a2f1aaf4be2.png)

[2015-12-10 04:51] rmehta commented on #2291
This does not help in the case, since the user is already logged in. BTW we have added CSRF token in all POST requests so that there is less chance of someone (https://en.wikipedia.org/wiki/Cross-site_request_forgery) damaging the system due to a malicious email.

[2015-12-10 05:35] Devens opened #4463 "De-duplication/Merging feature for Customer & items"

[2015-12-10 05:37] rmehta commented on #4463
Already exists. Please check Rename option

[2015-12-10 05:37] #4463 closed

[2015-12-10 05:48] #4292 closed

[2015-12-10 06:34] Devens opened #4464 "to change Column width of ID field in Report"
to change the minimum width of ID Column (all other columns' width can be changed by drag-drop & save, but not for ID Column).

https://discuss.erpnext.com/t/how-to-change-column-width-of-id-field-in-report/8958

[2015-12-10 06:59] Ferohers commented on #4461
Time to  to we create custom forms and need to choose different rules for email settings. This is one of the best feature of ERPNext. I understand it might cause a bit confusion but it is very useful.

For example I create an announcement archive under HR. one of the field called
"To whom" and once it is saved it send the contents to related email group such as, managers, supervisors or everyone.

[2015-12-10 08:59] justinlusg opened #4468 "Error in Reports Total Rows"
![44778d0a-999f-11e5-9d8d-f562e709f4ad](https://cloud.githubusercontent.com/assets/12539216/11711150/63e0238a-9f5f-11e5-94c4-02569e60b38e.png)

Noticed that Accounts Receivable and Accounts Payable Report's Total Row has this "Invalid Date" error

[2015-12-10 09:09] rmehta commented on #4410
Can you post this on community.erpnext.com?

[2015-12-10 09:13] #4382 closed

[2015-12-10 09:14] #4346 closed

[2015-12-10 09:14] #4403 closed

[2015-12-10 09:17] #4128 closed

[2015-12-10 09:17] rmehta commented on #4084
Fixed.

[2015-12-10 09:17] #4084 closed

[2015-12-10 09:18] #3969 closed

[2015-12-10 09:19] #3889 closed

[2015-12-10 09:28] rmehta opened #4469 "Payment Request"
- [ ] Payment Request
  - [ ] Fields: Invoice / Sales Order, Status, Email To, Subject, Message, Currency, Amount, Payment Gateway, Payment Account, Print Format
  - [ ] On submit - send email with payment link (via payment gateway), create Communication (for timeline)
  - [ ] On completion - make journal entry of payment received against Sales Order / Invoice
  - [ ] On cancel - send email saying

[2015-12-10 11:03] omnison opened #4470 "Email to issue not working"
I set up email account "support@mankem.com" for support and append to "Issue", but when i send any email to "Support@mankem.com" through other email account, i can get responce like:
Thank you for your email
Your query has been received. We will reply back shortly. If you have any additional information, please reply to this mail.
Reference: Issue ISS-00003
This is an automatically generated reply

[2015-12-10 11:13] neilLasrado opened #4471 "Rename Company to Organization"

[2015-12-10 15:10] justinlusg opened #4474 "Private Attachments Files Unable to Read"
![image](https://cloud.githubusercontent.com/assets/12539216/11718892/29f58b18-9f93-11e5-99ae-2b516aa63e87.png)

After the update, I am unable to open private attachment files even when I am logged on.

[2015-12-10 15:13] justinlusg commented on #4474
Also another thing is, the files are not deleted off the server when I delete the attachments within ERP. e.g. the file is deleted in ERP but it still physically exists in the private/files folder

[2015-12-10 17:12] justinlusg commented on #4474
Solution,
bench update
bench setup nginx
sudo service nginx reload

[2015-12-10 17:12] #4474 closed

[2015-12-11 04:57] rmehta opened #4475 "Move Newsletter to Email module"
Newsletter List > Email Group
Newsletter List Subscriber > Email Group Member
Bulk Email > Email Queue

[2015-12-11 05:01] rmehta opened #4476 "Maintenance Module"
- Maintenance Schedule
- Maintenance Visit

[2015-12-11 05:34] rmehta commented on #4470
@omnison can you post this on the forum https://discuss.erpnext.com

[2015-12-11 05:34] #4470 closed

[2015-12-11 05:49] adityaduggal opened #4477 "File Manager move Public Files to Private"
There should be a way to move all the public files to the private folder as there is no way to move the old public files to private.

[2015-12-11 07:04] umairsy opened #4479 "Calendar Missing from Awesome bar"
I can no longer navigate to feature moved under Tools from awesome bar.

- Calendar
- Activity
- ToDo
- Messages
- Notes

[2015-12-11 07:13] barkode opened #4480 "Calendar 24-hour time format"
Settings to select the presentation time on the calendar in 24-hour format or 12 hour format.

[2015-12-11 09:17] rmehta commented on #4479
Only calendar is missing!

[2015-12-11 10:16] brentglover opened #4482 "Material Request based on forecast"
Hi

Looking to generate a material request from a forecast sales considering items in stock and then propose a material request for the missing quantity.  We have been informed that this feature doesn't exist and to raise it on github.

Thanks

Brent

[2015-12-11 10:30] rmehta commented on #4482
@brentglover  can you explain how do you want to generate a forecast? From Sales Order data?

[2015-12-11 14:42] brentglover commented on #4482
Yes

We generate a sales order based on our forecast.  The problem is that when we know we have for example 5 items in stock at that warehouse and create an order that includes 5 of these SAME items....the problem is that when we generate a purchase order it is still attempting to order these 5 items we already have in stock and obviously do not need to actually order.

Hope this makes sense to yo

[2015-12-11 14:48] chafor commented on #4180
@rmehta we'll like to know how much more would you need to move up the priority of this project?

[2015-12-11 18:28] barkode opened #4483 "Manual time entry in the calendar"
Manual time entry in the Event at the calendar. Or make it more comfortable. Because the mobile device is not convenient to enter the time with the slider. Fingers hard to get.

[2015-12-12 02:43] ghost opened #4484 "Make calendar start day of the week editable"
Hi there

It would be desirable if in the general settings the calendar could be specified with the first day of the week. Then the week also could begin on Monday and therefore the calendar for date input fields would be shown identically (first day on the left = Monday).

I ask you to program it that way.

Thank you

KOAR

[2015-12-12 02:51] KOAR opened #4485 "German translation - "Lead""
Hi there

I recommend "Lead" to translate by "Interessent" into German. "Lead" is not a common term in German.

Thanks

KOAR

[2015-12-12 02:59] KOAR opened #4486 "Separation - services / works / items"
Hi there

I am not quite sure which positions between services, works and items can be distinguished when billing. Must every service or work really be recorded as item? If so, other solutions are needed!

Thanks

KOAR

[2015-12-12 03:28] KOAR opened #4488 "Print contains Head and Foot of Browser"
Hi there

If I print out a form, for example an order, on the print out appears the header and footer of the browser (Firefox).

Pleas correct this issue.

Thanks

KOAR

[2015-12-12 03:42] KOAR opened #4489 "Solution needed - amount in words: show or hide / unclear ending"
Hi there

On the forms the final amount is in words displayed. In the German language this text always ends with "nur." (example: "Dreitausendsechshundert nur.") That makes no sense. In Switzerland, a tendered amount is also mentioned with decimal fraction (example: "Dreitausendsechshundert 20/100").

I rather would prefere not to show this amount in words. Maybe you can add a function by default,

[2015-12-12 03:44] ccfiel commented on #4471
and it would be nice to group organization for reporting purposes like financial reports.

[2015-12-12 03:52] anandpdoshi commented on #4489
Hi Koar,

You can hide the Amount of Words in each form using Setup > Customize > Customize Form.

Here’s some help: https://frappe.github.io/erpnext/user/manual/en/customize-erpnext/customize-form

Best,
Anand Doshi

ERPNext

PS. Please close this issue if you think it is resolved.

[2015-12-12 03:53] anandpdoshi commented on #4488
Hi Koar,

This is a configuration in the browser and not part of ERPNext. Please go to Page Setup of the browser and remove the headers and footers.

Best,
Anand Doshi

ERPNext

[2015-12-12 03:54] anandpdoshi commented on #4485
Hi Koar,

You can contribute transactions at: https://translate.erpnext.com/view?lang=de

Best,
Anand Doshi

ERPNext

[2015-12-12 04:10] KOAR opened #4490 "Missing Networker"
Hi there

"Networker (lobbyists)" are also an important group of people who are besides the "Leads" mostly without any buying intentions. But especially this group of people can contribute significantly to customer acquisition. For example: politicians, business leaders, consultants, recruiters, working groups, research group, association, government, etc. This group of people should be preceded w

[2015-12-12 04:28] KOAR opened #4491 "Unbounded postions for offer an billing"
Hi there

In a offer, order and when billing it should be possible to insert unbound positions, which are not included in the items database. Especially with services and works that would be very helpful.

We ask for a solution.

Thank you

KOAR

[2015-12-12 04:29] KOAR opened #4492 "Browser tab - "E" should be blue"
Hi there

The icon "E" appears in the browser tab black, please change it to blue.

thank you

KOAR

[2015-12-12 04:39] anandpdoshi commented on #4490
Hi Koar

I think this is a rare use case and should be handled by creating a separate frappe app that extends ERPNext. You can get this done from a freelance developer. Check: community.erpnext.com

Sent from my phone

[2015-12-12 04:41] anandpdoshi commented on #4491
Hi Koar

Most of our reports use Item as a link that connects the transactions. What's preventing you from creating Items for services? It's item group can be Service and its inventory is not tracked.

Sent from my phone

[2015-12-12 05:59] rmehta commented on #4490
These can be tracked via  custom field

[2015-12-12 12:34] KOAR commented on #4485
Hi Anand

Yes I did it. But the following I could'nt correct (see attached). I have no authorization. Can you pleas do it for me?

Thanks

KOAR

[Uploading TranslateGermanLead.pdf…]()

[2015-12-12 12:35] #4485 closed

[2015-12-12 12:47] KOAR commented on #4488
Hi Anand

I understand. But normally I'd like to show in my browser header an footer. But for ERPNext this is not desired. Nobody is interestet, to toggel on an off the browser headers and footers wether they are working in ERPNext or browsing in the www. This is not userfriendly and has to be solved in my way of thinking, especially if I think of user, which are not so familyar with IT.

Do you t

[2015-12-13 01:33] #4039 closed

[2015-12-13 05:00] rmehta commented on #4180
@chafor what kind of budget do you have? Our ideal project is to work on a storage app with a nice dropbox like interface see this prototype

Would be awesome if you could sponsor a couple of weeks of work on this project https://www.youtube.com/watch?v=YksJBR9ly_Y

This could be a product on its own! Frappe Storage

[2015-12-13 05:02] rmehta commented on #4482
@brentglover yeah i agree a basic regression based forecast is an ideal next step (there is no end!) I am just thinking how to prioritize this over all the requests we have. Do you have a budget to sponsor this?

[2015-12-13 11:22] robertbecht opened #4493 "Price list des not contain salesprice"
The Price List report Under Stock contains the sales pricelist_name but not the sales price as such!!

[2015-12-13 15:49] KOAR commented on #4490
Yes, that's an idea. But in fact, the networkers are rather suppliers than customers. Because they may deliver new customers. In this sense, those in fact are supplier of services, but without financial claim.

Thanks for your hint.

KOAR

[2015-12-13 15:49] #4490 closed

[2015-12-13 22:31] robertbecht opened #4494 "Percentage Discount"
In the Sales Invoice Screen and POS, one can enter a discount as an absolute amounts. Adding a percentage would be an improvement.
One could thinks of different options:
1) A special field for % (con: again a field)
2) a % thick mark next to discount field, to change functionality of the input field (rel and abs)
3) Enter value as , say 5%. Con: users who do not read manual may not know this optio

[2015-12-14 04:51] justinlusg commented on #4491
Try creating an item called "non-inventory" item

[2015-12-14 04:54] justinlusg commented on #3495
@anandpdoshi i wonder is there any update on this? We are all so excited about this feature :D

[2015-12-14 04:55] Kickball commented on #191
How is this feature coming along?

[2015-12-14 06:06] nabinhait opened #4495 "Multi-currency accounting in Stock Entry and Reconciliation"

[2015-12-14 11:16] partzsch opened #4497 "Time Log only calculates based on Minutes rather then seconds"
Hi all,

due to request of neilLasrado I´m raising the following

https://discuss.erpnext.com/t/time-log-timesheet-only-calculates-to-minutes/8969/5

when filling in time logs the resulting hours only get calculated down to Minutes rather then seconds

had a look @ https://github.com/frappe/erpnext/blob/develop/erpnext/projects/doctype/time_log/time_log.py

as I understand with my limited knowledg

[2015-12-14 13:07] Ardi2016 opened #4499 "Need Total on filtered query / report"
Total row can display normally on unfiltered report like shown below :
![image](https://cloud.githubusercontent.com/assets/16289397/11781527/08b7d12e-a29d-11e5-8f23-138aca05c949.png)

But once it is filtered (in this example using "Expense" under Account column header)
then the Total row disappeared as shown below
![image](https://cloud.githubusercontent.com/assets/16289397/11781631/b8195dfe-a29d-

[2015-12-14 15:36] chafor commented on #4180
Ok, correct me if I'm wrong.
1. The goal is a dropbox like interface that can be add to ERP Next.  (Awesome!)
2. It's using zfs as a the base of your system
3. You can create snapshot trough the interface (It's great!)
4. The structure you create is reflected on you're file system. (Also great!)

Here some question for you :
1. Are you planning to add some other file system?  Like maybe S3 from am

[2015-12-14 16:04] oliverhurtig commented on #2524
Any news on this?

[2015-12-15 05:36] rmehta commented on #4180
@chafor ZFS is the ultimate technology for backup, data integrity and scaling storage. Check this: http://www.slideshare.net/Clogeny/zfs-the-last-word-in-filesystems

No plan to add Amazon S3 as of now. Since frappe already has REST API, this has potential to be S3 replacement.

[2015-12-15 05:44] anandpdoshi commented on #3495
Will work on this feature this week. Thanks for the push!

Best,
Anand Doshi

ERPNext

[2015-12-15 09:08] #2524 closed

[2015-12-15 15:45] DrTrills commented on #4492
@KOAR I think they just updated the favicon on purpose. If it's a big deal on your side, you could modify your version by changing the URL here to the favicon you prefer

https://github.com/frappe/erpnext/blob/cf3da35d675d17094ced40e2bde5d479c4c6f291/erpnext/hooks.py#L45

[2015-12-15 21:16] KOAR commented on #4491
I will do it with a Item called "Services". Thanks for your help.

[2015-12-15 21:16] #4491 closed

[2015-12-15 21:27] KOAR commented on #4492
No, it's not a problem, but I tought, the templet for new erpnext downloader could be corrected generally, so the color in the application would be the same as in the tab. Thank you anyway

[2015-12-15 21:27] #4492 closed

[2015-12-15 22:35] KOAR commented on #4489
Thanks for the hint. It works ;-)

[2015-12-15 22:35] #4489 closed

[2015-12-15 22:36] #4488 closed

[2015-12-15 22:37] #4486 closed

[2015-12-16 07:21] umairsy opened #4505 "[V7] Customer Portal: Website User cannot update image"
Website User doesn't have option to select/update an image.

![customer-user](https://cloud.githubusercontent.com/assets/910238/16730206/355364f4-478f-11e6-8a4a-175cf859748f.gif)

[2015-12-16 08:36] ruchin78 commented on #3260
Hi @nabinhait ,

Any update on this?

[2015-12-16 14:03] vjFaLk opened #4506 "Allow for no items/suppliers/customers in the Setup Wizard"
Currently you're forced to input data to proceed. Sometimes a user might want to input data later, or in a case where there are no "suppliers" .

Examples :

![Customer Page](https://i.imgur.com/BL2CnzH.png)

![Suppliers Page](http://i.imgur.com/k2F89Te.png)

[2015-12-16 14:31] chafor commented on #4180
@rmehta Your Frappe Storage is very cool!  Unfortunately it does not align with our current Business need.

Here what we need :

Create the folder structure on the file system, based on the Document (like in the above picture)
Add an option to choose the root folder location of the drop depot for attachement
Synchronise files between the file system and ERPNext (double syncing) (a nice to have)

O

[2015-12-16 14:41] rmehta commented on #4180
Your budget is too less. I don't think there would be anyone willing to work on those kind of prices and be able to deliver decent quality stuff.

[2015-12-16 14:43] chafor commented on #4180
What would be a good budget please?

[2015-12-16 14:48] vjFaLk opened #4507 "Have a dynamic number of items in the Setup Wizard"
Every step has a set number of items you can add in that category in the setup wizard. For eg :

![Person Page](http://i.imgur.com/ZNW175Z.png)

Suggested enhancement :

![Modded Person Page Example](https://i.imgur.com/MIZ1JNI.png)

Ignore the colours. It's a quick Photoshop.

[2015-12-16 15:11] rmehta commented on #4180
@chafor we moved away from the folder wise structure for each module, since attachments are already discoverable via the documents. Deleted my earlier comment (there are ways this could be done).

What is your use case for separate folder. The "site" folder works great for managing backups.

This is not in our immediate list. Do you want to contact someone from the community?

[2015-12-16 15:30] cgpurbaugh opened #4508 "Selecting link items ipad"
I am unable to select items from a link field on my ipad using the erpnext app, firefox, and safari.

[2015-12-16 15:35] MaxMorais commented on #4506
@vjFaLk I believe that this enforcement is because in the bottom of the Item page you can mark for the system to generate some demo data for you! without this the system can generate this information.

Maybe a good point to discuss here is:

Ask first for the user if him need some demo data, if the user say "Yes", so these 3 pages are showed for the user.

[2015-12-16 15:37] chafor commented on #4180
Our goal is to have access to the attach file (in read-only) inside our Document Management System (DMS) with a webdav mount.

To be able to do this we need to be able to specified the path because when we mount our webdav we can't put file in the root folder directly.

The folder wise structure is to be able to search via the DMS.  Having the structure would allow user to find the document easily

[2015-12-16 15:41] vjFaLk commented on #4506
If that is the reason, then maybe a cleaner solution would be to either disable or remove the checkbox for sample data in case the user has unconventional data (no supplier or customer), and notify the user of the same.

[2015-12-16 15:55] cgpurbaugh commented on #428
This does look like it would be a good feature to have.

[2015-12-16 18:58] cgpurbaugh commented on #2592
Can this be closed?

[2015-12-16 18:59] cgpurbaugh commented on #3288
Any update on this?

[2015-12-16 19:01] cgpurbaugh commented on #3018
Can this be closed?

[2015-12-16 19:12] cgpurbaugh commented on #4048
Has this issue been resolved?

[2015-12-16 19:14] cgpurbaugh commented on #1366
Has this been resolved?

[2015-12-17 04:37] rmehta commented on #3288
This seems fixed.

[2015-12-17 04:37] #3288 closed

[2015-12-17 04:38] #2592 closed

[2015-12-17 05:31] #771 closed

[2015-12-17 06:57] nabinhait commented on #3260
@ruchin78 sorry, could not manage time to develop it. To-do list is really tight.

[2015-12-17 11:35] shazasheik opened #4511 "user does not got the module"
actually in administrator i create the user in that user i click the access module in the name of "CRM, DESK , MARKETING , PROJECTS BUT I DONT GET THESE MODULES ON THE SPECIFIC USER
![error user](https://cloud.githubusercontent.com/assets/16335702/11868733/1b385270-a4e0-11e5-99d7-90941df7e306.png)
"
ONLY I GOT
![error user 2](https://cloud.githubusercontent.com/assets/16335702/11868769/5af4eef0-a4

[2015-12-17 13:00] ViktoriaFabbers opened #4512 "Problems with multicurrency entry"
![image](https://cloud.githubusercontent.com/assets/12729830/11870271/cd2c123a-a4ce-11e5-8ead-4b0898d53c43.png)

[2015-12-17 14:07] chafor commented on #4180
@rmehta Could it be possible to setup a skype/google talk/anything else meeting of a few minutes (5 maybe) to discus this development?  I know this is not a priority for you but is it possible to have a probable time table?

Thank you.

[2015-12-18 04:53] justinlusg commented on #4468
up

[2015-12-18 05:09] rmehta commented on #4512
@ViktoriaFabbers you will have to add a row for "Currency Conversion Expense" or adjust your currency coversion rate to match the values in your company currency.

[2015-12-18 05:13] rmehta commented on #4180
@chafor How soon do you want it? It does not seem a priority requirement. Can you try other community developers? Or contractors on upwork.com?

[2015-12-18 06:52] ViktoriaFabbers commented on #4512
Total debit and total credit are match, as you see - 6393.726 usd

[2015-12-18 07:00] ViktoriaFabbers commented on #4512
There was issue before this problem - currency exchange that system showed me was wrong, it didn't mach with anyone that have been all to the system. (1.13019usd=1 eur, and should be 1.1419 usd =1 eur) after a while system accept right  exchange rate, but gave me message on the screen.

[2015-12-18 07:04] rmehta commented on #4512
@nabinhait can you replicate?

[2015-12-18 07:08] nabinhait commented on #4512
@ViktoriaFabbers Can you try deleting the second row and adding a fresh row? Or may be after refreshing the system?

[2015-12-18 07:10] ViktoriaFabbers commented on #4512
![image](https://cloud.githubusercontent.com/assets/12729830/11891401/e89de08c-a566-11e5-80b2-bdbb47159be0.png)

Here is again. It first thing in the system today.

[2015-12-18 07:13] nabinhait commented on #4512
As per screenshot, "Credit in Account Currency" is wrongly entered. It should be less, so that Credit in Company Currency is equal to 6393.726

[2015-12-18 07:14] ViktoriaFabbers commented on #4512
![image](https://cloud.githubusercontent.com/assets/12729830/11891468/87332e5a-a567-11e5-8e4a-ae6c0989d999.png)

and exchange rate have been add 2 month ago

![image](https://cloud.githubusercontent.com/assets/12729830/11891475/a8962b42-a567-11e5-8700-1af793369cb3.png)

[2015-12-18 07:18] ViktoriaFabbers commented on #4512
amount in usd is wright, currency exchange is wrong. And it takes exch. automatically from somewhere.

[2015-12-18 07:19] nabinhait commented on #4512
Is it a bank account (Asset)? In that case, system takes average exchange rate as per available balance.

[2015-12-18 07:19] nabinhait commented on #4512
But you should be able to modify it manually.

[2015-12-18 07:22] ViktoriaFabbers commented on #4512
yes, it's Asset.  I modified, and it gave me an error in pic 1

[2015-12-18 07:23] nabinhait commented on #4512
Can you come on our chat support? We can continue a screen sharing session via Team Viewer.

[2015-12-18 07:39] ViktoriaFabbers commented on #4512
ok, min...

[2015-12-18 08:50] #4512 closed

[2015-12-18 12:51] robertbecht opened #4515 "Pick columns in the price list"
The Report: Item Price - Item-wise Price List Rate, under pick columns is missing some useful fields that allows filtering and sorting.
Status (active, depreciated)
Show in Webside
Brand
Item group
Supplier

A more fundemental approach would be a screen like used for eg the ledger, allowing the user to compose all sales, purchase, valuation , net & gross etc price/cost info, wit a set as fields (s

[2015-12-18 13:20] chafor commented on #4180
If possible by the end of January.  If you had name to suggest us if you don't have the time that could be great.

[2015-12-18 16:36] rmehta commented on #4180
Sure, do ping us then. Try posting your job on https://community.erpnext.com/jobs or upwork.com

[2015-12-19 19:40] robertbecht opened #4516 "Select Mode of Payment for POS"
Currently the POS can only handle CASH, not more modern ways of payment (cardreader etc)
To allow other payment modes to be handled by the POS, an extra field in the Doc Payment_Mode will define this: POS-Payment (y/n)

rgds robert

[2015-12-19 21:31] fderyckel commented on #2136
For us most and foremost, access for supplier to his related purchase invoice.  (exactly like customer have access to their sale invoice.)

[2015-12-20 01:57] Devens commented on #2136
+ 1
On 20 Dec 2015 03:01, "François" <notifications@github.com> wrote:

[2015-12-20 13:49] kardmode opened #4518 "UI : Spelling of 'Payable' in Chart of Accounts Template for UAE"
Small typo in the uae template for chart of accounts. In ae_uae_chart_template_standard.json

"Payables": {
                        "Advance Paybale to Suppliers": {
                            "account_type": "Payable"
                        },

[2015-12-21 05:11] justinlusg commented on #3495
@anandpdoshi just wondering if this would be ready before xmas? haha

[2015-12-21 05:56] #4468 closed

[2015-12-21 06:17] anandpdoshi commented on #3495
Yeah it should be :)

Best,
Anand Doshi

ERPNext

[2015-12-21 07:00] #4418 closed

[2015-12-21 08:34] ccfiel commented on #4372
@yashodhank any updates? :)

[2015-12-22 06:53] Ferohers opened #4522 "Links on emails do not work"
Link on email goes to:
http://hr.his.com.tr/Leave%20Application/LAP/00121

Traceback (innermost last):
  File "/home/altan/frappe-bench/apps/frappe/frappe/app.py", line 79, in application
    response = frappe.website.render.render(request.path)
  File "/home/altan/frappe-bench/apps/frappe/frappe/website/render.py", line 40, in render
    data = render_page(path)
  File "/home/altan/frappe-bench/a

[2015-12-22 09:11] bohlian opened #4523 "Price List Rate not selectable for Purchase and Sales Users in Documents"
Suggest to remove "Apply User Permissions" for the Price List doctype for Sales User and Purchase User.

[2015-12-22 15:31] partzsch opened #4527 "Sales Documents can be sent via email even if canceled"
Hi all,

just noticed that canceled documents can be sent via email.
printing is not permitted - wich is right
I recon it is not expected as email should do the same as printing

rgds

[2015-12-23 04:19] bohlian opened #4528 "Item Price not Permitted for Certain Roles"
Item Price, read permissions should be permitted for Sales Users, Purchase Users and Accounts Users. Without this permission they are unable to create Sales Orders, Purchase Orders, Invoices etc.

[2015-12-23 06:38] notagmo opened #4529 "Unread Message Counter"
The unread message counter in the upper right continues to show notifications even after the actions have been cleared. Is there a way to disable this, or manually clear it?

Thanks!

[2015-12-23 07:09] #4527 closed

[2015-12-23 07:16] rmehta commented on #4528
I don't think this is needed. Where do you face this problem?

[2015-12-23 07:17] rmehta commented on #4529
As of now, notifications get updated every minute or so, not instantly

[2015-12-23 07:17] #4529 closed

[2015-12-23 07:35] bohlian commented on #4528
Create a user with only Sales User role. Then try creating a Sales Order that has multiple price lists. the user will see a blank list when trying to select a price list.

[2015-12-23 07:41] bohlian commented on #4528
Actually after reading your comment I realised that I hit this problem when doing a frappe.call with get_list in a custom script. So its not a problem with the standard program (because I think you retrieve Item Price through a python program which maybe doesn't check for permissions?).

Question: shouldn't Sales Users, Purchase Users and Account Users be able to read Item Price information?

[2015-12-23 09:00] MartinEnder opened #4532 "German: Missing phrases in the translation table for module purchase"
Can anyone fix this?

![purchasing-1](https://cloud.githubusercontent.com/assets/15938497/11973546/d4b92efc-a95b-11e5-89c5-1b93609234aa.JPG)
![purchasing-2](https://cloud.githubusercontent.com/assets/15938497/11973548/d4c237c2-a95b-11e5-8ad9-8799d1e0057c.JPG)
![purchasing-3](https://cloud.githubusercontent.com/assets/15938497/11973551/d4c92992-a95b-11e5-85d0-ebbeb76afefc.JPG)
![purchasing-4](https

[2015-12-23 09:25] MartinEnder opened #4533 "German: Missing phrases in the translation table for module CRM"
Can anyone fix this please?

![crm-2](https://cloud.githubusercontent.com/assets/15938497/11973901/770aad18-a95f-11e5-915c-0eab3b6879f3.JPG)
![crm-3](https://cloud.githubusercontent.com/assets/15938497/11973902/770c217a-a95f-11e5-862e-02f2ade14fd8.JPG)
![crm-4](https://cloud.githubusercontent.com/assets/15938497/11973905/77133532-a95f-11e5-85e0-b4f9bc27edac.JPG)
![crm-5](https://cloud.githubuserco

[2015-12-23 09:32] partzsch commented on #4497
can be closed as solution merged with #4520

[2015-12-23 10:27] MartinEnder opened #4534 "German: Missing phrases in the translation table for modules Manufacture and Selling"
Would be great if anyone can fix it

![selling-2](https://cloud.githubusercontent.com/assets/15938497/11974802/fa52543e-a967-11e5-8cbc-a4c9dc717c74.JPG)
![selling-3](https://cloud.githubusercontent.com/assets/15938497/11974803/fa56887e-a967-11e5-8da8-a3bf21ccb3c4.JPG)
![manufacturing-1](https://cloud.githubusercontent.com/assets/15938497/11974804/fa59c4c6-a967-11e5-8d3b-6eddb21f7536.JPG)
![manufac

[2015-12-23 12:23] MartinEnder opened #4536 "German: Missing phrases in the translation table for modules Accounts, Filemanager, HR und Tools"
Please fix anyone :-)

![hr-2](https://cloud.githubusercontent.com/assets/15938497/11976401/4b5e693e-a978-11e5-81c3-5510d7dd1c57.JPG)
![hr-3](https://cloud.githubusercontent.com/assets/15938497/11976402/4b60cee0-a978-11e5-82b1-06df808759b4.JPG)
![hr-4](https://cloud.githubusercontent.com/assets/15938497/11976403/4b6637ea-a978-11e5-8c27-0bc952b08293.JPG)
![hr-5](https://cloud.githubusercontent.com/

[2015-12-23 13:51] MartinEnder opened #4538 "German: Missing phrases in the translation table - remaining issues"
Please check:

![knowledgebase-1](https://cloud.githubusercontent.com/assets/15938497/11977591/7a19ab2e-a984-11e5-8533-783a41e9228a.JPG)
![learn-1](https://cloud.githubusercontent.com/assets/15938497/11977592/7a1aef7a-a984-11e5-9ed6-a1d5f96cf6c9.JPG)
![project-1](https://cloud.githubusercontent.com/assets/15938497/11977593/7a1d7a1a-a984-11e5-8597-e3c5229846d0.JPG)
![project-2](https://cloud.github

[2015-12-23 14:48] anandpdoshi commented on #3495
@justinlusg :santa: has sent you a :gift: https://github.com/frappe/frappe/pull/1473

[2015-12-23 14:49] Devens opened #4539 "Product Bundle Item's SO should make PO for Packed Item and not for Product Bundle Itself"
On suggestion of @rmehta this issue is created here.

Here are few more suggestions on the same topic.

While creating PO, it should take care of current stock (Projected Qty) and Reorder Level.

Similar is the case for Manufacturing Item. It can create PO as per Exploded Items in BoM.

At this outset, just wondering, whether separate entity called "Product Bundle" is required? Product Bundle has

[2015-12-23 14:51] anandpdoshi commented on #3495
The patch will set the username value to `firstname` or `firstname_lastname` or blank depending on conflicts. Username is non-mandatory.

[2015-12-23 14:56] Devens opened #4540 "Few in-built messages should be cusomizable"
We come across many messages (Or alerts) coming from system (coded). Those should be customizable /editable.

For eg.
1. Verify your account
2. Auto Material Request Generated...
So on...

[2015-12-23 15:35] notagmo commented on #4529
Rushabh,

Thank you for the reply. However, the notifications are staying for days.

1) Is there a way to turn the notifications off completely? For my purposes, I don't need them.
2) Is there a way to clear them manually?
3) Is the information that places the notification counter on the task controlled somewhere in SQL? I can access the SQL and am more familiar with SQL than with Frappe and Linux

[2015-12-24 05:48] rmehta commented on #3495
36 comments and finally done. Great job @anandpdoshi

[2015-12-24 05:48] #3495 closed

[2015-12-24 06:00] nabinhait commented on #3495
:+1:

[2015-12-24 07:08] nabinhait commented on #4339
Fixed

[2015-12-24 07:08] #4339 closed

[2015-12-24 07:09] #4303 closed

[2015-12-24 07:09] #4494 closed

[2015-12-24 07:14] #4124 closed

[2015-12-24 07:16] #3951 closed

[2015-12-24 15:08] anandpdoshi commented on #4166
@justinlusg fixed. Facebook had changed its api

[2015-12-24 16:38] #4166 closed

[2015-12-25 13:50] gabtzi opened #4543 "Creating variants with Naming Series: Item Code is mandatory because Item is not automatically numbered"
Hello,

I'm trying to setup some items in ERPNext but I'd like the item code to be created based on Naming Series for better management.

In doing so I created the naming series called `SUP-` and the item code `SUP-00003` was automatically created just fine when I created the base/parent item. The bug came when I tried to create a variant for that item for one attribute. When I try to save the ite

[2015-12-25 16:23] robertbecht commented on #4494
much appreciated, best wished for 2016, rgds robert

On Thu, Dec 24, 2015 at 8:10 AM, Nabin Hait <notifications@github.com>
wrote:

[2015-12-25 18:03] peijiehu commented on #3132
Good thoughts @system19
I'm really interested in the POS setup in retail shop. Is `1: Automated cash drawer's` a standard scenario that people use a lot when using an ERP with POS software like ERPNext? If not, can you please share other popular approach that you are aware of, especially for setup that takes credit card payments? Thanks much!

[2015-12-26 11:18] robertbecht opened #4544 "Edit Item Report"
Item report double click to edit: original content is not copied for Description, Showinwebsite, disabled (and may be other) fields.

[2015-12-26 15:21] Devens opened #4545 "Reordering requirement for Production Order (Manufacturing Item)"
We have facility to create Auto Material Request on the basis of Reorder level for Purchase order. Similar facility should be available for Manufacturing Item also.

[2015-12-27 21:35] gabtzi commented on #4543
For anyone who might face the same issue as me

In my case and for my needs and inspired by Magento I worked around my issue by altering the code in file:
`erpnext/stock/doctype/item/item.py`

so that the code I added will handle the creation of the new code by appending to the parent product item code the concatenated attribute values with dashes.
[code]

So for product `SERIES-00003`  and for `N

[2015-12-28 02:33] MaxMorais opened #4546 "Setup Wizard Issues"
In the Setup Wizzard, we cant get autocreated the Bank Account filled in the company details.

[2015-12-28 02:35] habibbarakat opened #4547 "[Paid Development]"
My name is Habib Barakat, General Manager of LIV IT in Melbourne Australia.

I have been reviewing your product with an eye to implementing it in my business for 2016. You should be proud of producing an exceptional product.

Due to privacy concerns and protection of IP noted in my SLA's with my Clients *I can only consider the self hosted platform*. Please keep that in mind when reviewing my requ

[2015-12-28 05:20] justinlusg commented on #3495
@anandpdoshi Happy Xmas to you too!

[2015-12-28 05:25] #4544 closed

[2015-12-28 05:25] rmehta commented on #4544
@robertbecht thanks for reporting, fixed.

[2015-12-28 05:26] Devens commented on #3495
@anandpdoshi - This functionality already updated? How does it work?

[2015-12-28 05:34] rmehta commented on #4545
- [ ] In Production Order, convert Sales Order field to Dynamic Link
- [ ] Add material request type "Manufacture"
- [ ] In Production Planning tool, manufacture from Material Request or Sales Order
- [ ] Update status in Material Request
- [ ] Allow reorder for manufacturing item in `reorder.py`

[2015-12-28 06:09] rmehta commented on #4543
@gabtzi nice. I think the naming by naming series is ignored till now. Can you send a pull request for this? Please use `snake_case` instead of `camelCase` :smile:

[2015-12-28 06:13] rmehta commented on #4547
@habibbarakat Thank you for your kind words and encouragement :smile:

Can you consider https://erpnext.com/pricing/vip ? Maybe we can take any of these on priority

[2015-12-28 06:29] anandpdoshi commented on #3495
@Devens will be release to cloud customers this week

Here's a demo:

![@mention](https://cloud.githubusercontent.com/assets/836785/11978485/f0af9d0c-a9b1-11e5-8f3c-ae3c538c4a62.gif)

[2015-12-28 06:52] anandpdoshi commented on #4048
@cgpurbaugh this was an issue from Mandrill and not one of ERPNext. Closing this issue.

[2015-12-28 06:52] #4048 closed

[2015-12-28 06:55] habibbarakat commented on #4547
Hi Rushabh,

Thank you for your prompt reply. I hope I do not take you away from your family at this time of the year.

My initial reaction is that the VIP program would not suit as I do not think we will need any help in implementation or deployment. We have the skills in-house to cope with this. Please excuse me if I offend you with that comment.

However - I do have some thoughts regards to thi

[2015-12-28 07:14] rmehta commented on #4547
@habibbarakat thanks for your response, we are working today :). The VIP plan buys you 50 hours of our time, I am not sure there will be anything left-over from what your list looks like. Lets take this offline. You can mail us at hello at erpnext.com for more questions on the VIP plan.

I am sure you can also find other devs from the community who are happy to support you at a more more competiti

[2015-12-28 09:26] habibbarakat commented on #4547
Hi Rushabh,

Thank you for your reply. Please be advised that I have sent you an email at the specified email address.

As always, I look forward to your response.

Habib Barakat
General Manager
LIV Information Technology

w. www.livit.com.au

[2015-12-28 13:06] fderyckel opened #4551 "POS enhancement"
Hi all,
Following this conversation:
https://discuss.erpnext.com/t/pos-summary-my-user-experience-github-issues/9222

Hi,
I actively use the POS with a wireless barcode scanner.
All works fine :smile: although users wishes many improvements.

They can roughly be defined in 3 sections;
1) Improvement on the current POS screen.
2) More functionality
3) integrations.

An improvement has been made in

[2015-12-28 13:31] MaxMorais commented on #4546
Another detail, for currencies like BRL that use ',' instead of '.' for cents and '.' instead of ',' for thousands, the Item price defined in Setup is wrong parsed, if I defined a Item with the Price *34.40*, when I go to the desk and lookup the item price, I'm seeing '3440.00'

[2015-12-28 16:46] rmehta commented on #4551
@fderyckel thanks! Can you post your bounty to bountysource? https://www.bountysource.com/ Just paste the url of the issue.

Also can you edit your issue into clear actionable points so that it will be easy for anyone to claim the bounty.

[2015-12-28 20:15] noetico opened #4552 "speed up V4 pos screen by limiting pre-loaded item count"
Hello Sirs; some few weeks ago I made request for the ability to reduce the number of items that are pre-loaded on the POS screen to speed up the module and that was nicely sorted; thanks to rmehta and others who threw in suggestions.

I will like to do the same thing on the V4 inside the pos.py file; I have tried adding the 'limit' just before the 'where' line but it creates an error in the pos s

[2015-12-29 02:58] rmehta commented on #4552
Please post this on the forum

[2015-12-29 02:58] #4552 closed

[2015-12-29 10:35] anandpdoshi opened #4553 "Status of 0 value Purchase Order not changed to Completed and remains 'To Bill'"
![image](https://cloud.githubusercontent.com/assets/836785/12033152/e1269bcc-ae45-11e5-9ff0-14231be16aab.png)

[2015-12-30 04:18] ekpaxp opened #4555 "Latest update error setting po_no as unique in tabSales order"
When updating a deployment, the update throws the following error:-
frappe.exceptions.ValidationError: po_no field cannot be set as unique in tabSales Order, as there are non-unique existing values
The duplicate vaues arose primarily from Sales Orders that were cancelled after first creation so that they could be amended and re-submitted.  Therefore, the same po_no appears in both records.  After

[2015-12-30 09:00] nabinhait commented on #4546
Fixed the bank account issue.

@anandpdoshi Can you check the formatter issue?

[2015-12-30 09:20] rmehta commented on #4555
@ekpaxp You always allow multiple POs via Selling Settings

[2015-12-30 09:20] #4555 closed

[2015-12-31 08:14] bennaiqbal opened #4559 "Wrong Bank Balance in email Digest"
ERPNext doesn't show the correct bank balance, when there are two bank accounts, different currencies and when there is negative balance on one of them and positive on the other. It's fully wrong information.

Additionally, there is a delay of more than 20 minutes in emails that are being sent by the system.

[2015-12-31 10:37] #4471 closed

[2015-12-31 11:10] #4543 closed

[2015-12-31 13:01] cgpurbaugh opened #4561 "Import not working with Microsoft Edge"
Attempting to import records does not work in Microsoft Edge.  You can select the file, but you can't upload.

[2015-12-31 15:38] hhashiesh opened #4562 "Multi currency needed for Expenses Claim & Salary"
Dear Sir,

We need Multi currency for Expenses Claim & Salary urgently.

Thanks for your support.

[2015-12-31 16:05] hhashiesh opened #4563 "[Feature] Per hour calculation"
We need to calculate the attendance & salary on per hour basis.

Thanks

[2015-12-31 23:04] yashodhank commented on #4561
It is limitation of MS Edge browser itself, not that of ERPNext / Frappe.
Being very new Browser platform by MS, it is not officially supported by ERPNext / Frappe at present.

[2016-01-01 04:57] rmehta commented on #4561
@yashodhank if its from M$ we will need to support it whether we like it or not

[2016-01-01 04:59] rmehta commented on #4562
@hhashiesh if you need "urgent" support, you should hire a freelancer.

[2016-01-01 10:20] hhashiesh commented on #4562
Thanks Mehata and happy new year.

Would you please let me know the idea of this forum, and what is the relation between it and ERPnext ?
What is the differance between the support here and the support from ERPnext team, as I already paid for support with them..
Finally I am not a programer, so will your support need technical people to apply it, or will it be applied automatically as a new update

[2016-01-01 10:43] rmehta commented on #4562
@hhashiesh happy new year to you too!

If you have a paid account at erpnext.com, you can email at support@erpnext.com for paid support queries.

FYI, feature requests are not support queries though.

[2016-01-01 14:07] hhashiesh commented on #4562
I already did few days ago and they replied on some points, and asked me to post here the other points.
That is why I am asking, as I can't understand the procedures, and the differance between the 2 types of support.

[2016-01-03 03:16] kunalgoel1 opened #4567 "Batch ID Naming series"
Just like how we can select if we want to to have the Item Name by Item code or Naming series in Stock Settings, similarly should also have the same option for Batch ID. Batch ID should also have a automated naming series. It is a generic requirement for many as it will reduce the effort for manual creation of batches.

[2016-01-03 20:54] phpmathan opened #4568 "Chart of Accounts - tree listing not working"
ERPNext: v6.15.1
Frappe Framework: v6.16.4

In Chart of Accounts page, whatever folder clicked, related top level folder name only requested to the server.

ctype=Account&comp=Quality+Testing+Services&parent=Application+of+Funds+(Assets)+-+QTS&cmd=erpnext.accounts.page.accounts_browser.accounts_browser.get_children

![chart-of-accounts-bug](https://cloud.githubusercontent.com/assets/527140/1208072

[2016-01-04 04:26] Devens opened #4569 "Filter by User in List view"
We suggest to have Filter by Users for Activity List View.

[2016-01-04 04:53] rmehta commented on #4562
@hhashiesh support, by most definitions, is help on existing features.

[2016-01-04 05:35] nabinhait commented on #4568
Can't replicate it. Must be related to your customization.

[2016-01-04 05:35] #4568 closed

[2016-01-04 05:47] superlack opened #4570 "Default outgoing email sender name is "Notification""
When using the default email account for outgoing emails, and selecting "Always use Account's Email ID as Sender", the name appears as "Notification" on the sent email.

This user has looked into the reason, but to be editable in the account detail seems like a better solution:

https://discuss.erpnext.com/t/how-do-i-change-the-email-from-field-from-notification-to-the-account-name/8646/2

[2016-01-04 08:45] hhashiesh commented on #4562
So here I can ask for new features, am I right ?
How much will this cost us ? And the new features will be a new update or will you need a technical people to apply it ?
Sorry for bothering you by many questions, but this is the first time for us to use an open source.

[2016-01-04 09:18] rmehta commented on #4562
@hhashiesh Yes this is the place for asking new feature requests. For new feature requests the general process is this:

1. How many times this has been asked
2. How critical is it
3. How easy is it to implement it

If you are willing to sponsor and need this urgently, you can easily connect with someone in the community (https://community.erpnext.com/jobs) or (upwork.com) and they can build the f

[2016-01-04 12:23] Devens opened #4576 "to check stock balance of all BoM Sub-items together?"
It's very useful to know the stock of all sub-items of BoM together (In a report).

[2016-01-04 17:46] 403808 commented on #3018
yes

[2016-01-04 18:20] AdamVB commented on #3235
Hi, we had a similar Problem and solved it:

As well as enabling javascript you also need to enable Dom storage by adding in;

webView.getSettings().setDomStorageEnabled(true);

hope that answers your question

[2016-01-05 03:43] Devens opened #4577 "Filters for Newsletter List"
Newsletter is an excellent tool for Mass Mailing. We suggest that filters should be provided to select right segment for Newsletter List.

[2016-01-05 05:03] #3018 closed

[2016-01-05 08:21] Ferohers opened #4578 "draft icon dissappeared"
![d](https://cloud.githubusercontent.com/assets/14891349/12110563/28e5a912-b396-11e5-8203-339aa4e70243.png)

[2016-01-05 10:36] anandpdoshi commented on #4578
@Ferohers tried clear cache?

[2016-01-05 10:42] Ferohers commented on #4578
Hi it fixed the problem.

[2016-01-05 10:42] #4578 closed

[2016-01-05 13:11] #4532 closed

[2016-01-05 13:11] #4533 closed

[2016-01-05 13:11] #4534 closed

[2016-01-05 18:41] mahfiaz opened #4580 "Units of Measure need adjusting"
Units of Measure (UOM) names are slightly incorrect, Kg should be kg instead (it's a SI-system unit, where small k stands for kilo e.g 1000).

Use of "Nos" is strange as well. It probably should be pcs (as for pieces), therefore being usually the same as "Unit".

[2016-01-06 08:45] umairsy opened #4583 "ERPNext translation in Estonian"
One user is interested in translating ERPNext in Estonian.

[2016-01-06 09:24] kristjanka commented on #4583
I would be glad to support You in step-by-step to translate ERPNext in Estonian.

[2016-01-06 16:52] grainnewalsh commented on #897
This is a feature that we also require. Our use case is similar, we need to print out the delivery notes for each delivery route as we need to obtain a customer signature for proof of delivery. It is desirable to have the option to select a number of Delivery Notes and be able to issue a bulk "Print Selected" command that will either send a print command to print each delivery note, or generate a

[2016-01-06 17:00] grainnewalsh opened #4585 "Create invoices in bulk from selected delivery notes"
Hi
we have a workflow whereby we deliver to customers using delivery notes, and once the signed delivery note is received back in the office, we generate the invoices. To streamline this workflow, we would like to be able to select multiple delivery notes from the document list view, based on recently completed deliveries, and be able to select an option to "Create Invoice" in bulk.

We're current

[2016-01-06 17:54] cgpurbaugh commented on #4561
It's working now.

[2016-01-06 17:54] #4561 closed

[2016-01-07 03:55] jof2jc commented on #4182
@nabinhait any update on this? Tks

[2016-01-07 04:15] Devens opened #4586 "Delete in Menu Item for Material Request"
Delete should be shown in Menu Item for Material Request. (Deleting is feasible from list view, but by providing in Menu Item we can save two cursor stocks) .

[2016-01-07 04:49] rmehta commented on #4585
@grainnewalsh the ability to script list views exist (like closing To Dos in bulk)

Its a matter of scripting this. Do you have any developer to help you?

[2016-01-07 07:07] Devens opened #4587 "Material request - Status does not display "Pending" in report filter."
It is being displayed in List View. But the same is not being displayed in Report Filter for Status.

[2016-01-07 08:14] Spanraj opened #4588 "All user disappears"
Dear Sir,

Im not able to see any user, only i can see admin.

Please Advise.

[2016-01-07 08:18] grainnewalsh commented on #4585
Thanks for the quick response. Are we able to roll out scripts to hosted instances? I wasn't sure if this was possible.

[2016-01-07 08:36] rmehta commented on #4585
We are happy to accept contributions to the core product!

[2016-01-07 08:46] grainnewalsh commented on #4585
Aha, now I get you :)
Alas we do not have anyone in-house who could script this but we might be able to sponsor it depending on what it would cost, and it if it were deemed a useful feature for the core product!

[2016-01-07 09:54] rmehta commented on #4588
Please share full details.

https://github.com/frappe/erpnext/blob/develop/CONTRIBUTING.md

Post queries on https://discuss.erpnext.com

[2016-01-07 09:54] #4588 closed

[2016-01-07 12:18] alikhoja commented on #1981
+1 for multilingual support. For expanding business it's a must have.

[2016-01-07 13:02] umairsy opened #4589 "Account Type: Warehouse"
If Account Type is Warehouse, then user should not be able to edit it's Account Type or Warehouse value.

[2016-01-07 18:00] makeen opened #4590 "Unknown column 'tabItem._starred_by' in 'field list'"
Default site work fine but new site produces this issue:

Apps versions:
	"erpnext": "6.16.4",
	"frappe": "6.17.5"

Router:
List/Item and List/*

Error Report:
Traceback (innermost last):
  File "/home/citysound/frappe-bench/apps/frappe/frappe/app.py", line 69, in application
    response = frappe.handler.handle()
  File "/home/citysound/frappe-bench/apps/frappe/frappe/handler.py", line 77, in han

[2016-01-07 19:39] cgpurbaugh opened #4591 "Sales Order calendar view shows cancelled orders"
See above.

[2016-01-07 19:40] cgpurbaugh commented on #4591
Oops, this was fixed yesterday.

[2016-01-07 19:40] #4591 closed

[2016-01-07 20:11] cgpurbaugh opened #4592 "Sharing with everybody shows sharing with self."
![untitled picture](https://cloud.githubusercontent.com/assets/13136405/12181541/db920cb6-b550-11e5-86fd-40e65439dc5b.png)

[2016-01-07 20:25] makeen commented on #4590
browser cache issue

[2016-01-07 20:25] #4590 closed

[2016-01-08 06:25] #4592 closed

[2016-01-08 08:16] Devens opened #4593 ""Save As" sub-menu Item in Reports"
"Save As" menu item can be very handy to create another similar report

![image](https://cloud.githubusercontent.com/assets/10671911/12193422/3460a0ec-b60e-11e5-908f-81c836743ebb.png)

[2016-01-08 09:57] gabtzi opened #4594 "Bug: In sales invoice item, the "tab" character doesn't switch through all fields"
Here's a picture of the issue of between which fields I noticed it.

![capture](https://cloud.githubusercontent.com/assets/11225818/12195268/897e4da0-b5fe-11e5-8cab-20433f4b5f5b.JPG)

In my opinion not having to use the mouse to do data entry in an ERP is a must in most business environments and also for sales orders / invoices and most ERPs in the market also strive to do this via "TAB" or "ENTER

[2016-01-08 11:19] wuditex opened #4596 "POS Enhancement"
Hello
In regards to the payment mode in a POS transaction, currently we can only select any one payment mode to settle the transaction. Also in the POS Profile settings there is option for just one Cash/Bank Account to be selected for payments.

Instead, a new Mode of Payments section should be added in the POS settings page, which should have a Child Table form having the following fields.

1. Na

[2016-01-08 13:37] sbkolate commented on #3812
Hi,

I would like to develop this feature, Is there any design/feature requirements is ready so that we can implement?

Do we need to store separate copy of each RFQ and then build result to compare RFQ?
How we can make report builder easy for ERPNext User?
Do we provide supplier login for desk, or supplier portal outside desk?

Any ideas will be very helpful to implement this.

Thanks,

[2016-01-11 00:28] monojoker commented on #3695
Hi @rmehta, Happy New Year to you and the team, any progress or an ETA on this one? :)

[2016-01-11 04:32] anandpdoshi opened #4599 "Email Digest deadlock"
[code]

[2016-01-11 04:35] anandpdoshi opened #4600 "[every 5 mins vs erratic] -ERR [SYS/TEMP] Temporary system problem"
This error may appear erratically for a few sites, but every 5 mins for some. We need to track the errors via scheduler log and if they appear more than 30 times an hour, we disable email.

[code]

[2016-01-11 05:15] rmehta commented on #3695
@nabinhait might get it done this week :)

[2016-01-11 06:00] PrakashH opened #4602 "Disable Option for Terms and Conditions"
We have created multiple terms and conditions in our account. Some of them are not in use. They make confusion in selection. If we add disable option, it will help to disable unwanted terms and conditions. All users will get benefit of this.

[2016-01-11 11:32] anandpdoshi commented on #4594
@gabtzi I think we fixed this on Friday. It will be released tomorrow. Can you check again later?

[2016-01-11 11:34] gabtzi commented on #4594
Sure, I'll have a look next week.

[2016-01-11 16:52] woakes070048 commented on #4596
I agree. I have started to think that i might ripping out the POS part of the application and rewrite it in meteor. Odoo has a really nice product but I feel like it going to turn into a sugar crm and the coding behind it is terrible.

[2016-01-11 16:54] woakes070048 commented on #4547
Is this going to happen. I only ask because i was about to start a intergration between this and wso2. I want to be able to integrate with many platforms and that seamed the fastest route or at least a esb.

[2016-01-11 19:05] MaxMorais commented on #4547
@woakes070048 , me too!, but I started building a ESB to frappe, but given the number of the problems with oAuth Protocol, I stopped it!

[2016-01-12 05:00] rmehta commented on #4596
@woakes070048 awesome. Please share your branch, would love to learn / help :)
]

[2016-01-12 05:02] rmehta commented on #4547
@MaxMorais always start with something small and do-able and keep shipping. That's worked really well for us. This makes sure small changes get tested and you keep momentum.

Additional plus is you never know who will help you!

[2016-01-12 05:05] #4602 closed

[2016-01-12 11:30] rmehta commented on #4593
Edit report and duplicate?

[2016-01-12 11:31] #4583 closed

[2016-01-12 11:32] #4469 closed

[2016-01-12 13:23] jof2jc opened #4608 "Dynamic Total Row for Report View"
It will be useful for users if they can have total row on report view on each doctype without going to specific report.
https://discuss.erpnext.com/t/total-row-for-report-view/9563/7

[2016-01-12 13:30] cgpurbaugh opened #4609 "Automatic Material Request not generating"
Reorder Levels:
![reorder levels](https://cloud.githubusercontent.com/assets/13136405/12264706/96609748-b906-11e5-970e-e085f09e4302.png)

Stock Ledger of Transactions with this item:
![stock ledger](https://cloud.githubusercontent.com/assets/13136405/12264707/9662f9f2-b906-11e5-8413-30da8ffa85da.png)

No Material Request generated.

[2016-01-12 13:45] #4079 closed

[2016-01-12 13:47] #4168 closed

[2016-01-12 21:44] MaxMorais opened #4610 "Some issues in SMS Manager"
Hi guys, I'm seeing some issues, in SMSManager,
- [ ] Add i18n support in messages
- [ ] Add i18n support in fields-labels and dialog title
- [ ] Move `default_messages` to outside of the function to enable customization

[2016-01-13 01:55] woakes070048 commented on #4547
@MaxMorais do you have the code hosted on github and what problems did you start facing.

[2016-01-13 01:58] MaxMorais commented on #4547
@woakes070048 it's hosted here https://github.com/MaxMorais/programmer

PS: I dont remember the status of the last commit!

The major issue, is around the variance for get the user token and refresh it

[2016-01-13 14:31] #4609 closed

[2016-01-13 15:31] dottenbr commented on #3831
As discussed in the forum https://discuss.erpnext.com/t/multilingual-items-and-reports/9522/3 @rmehta this is a pretty hot feature.

[2016-01-13 19:33] sunrisecomadmin opened #4611 "Addresses not being saved under Sales Partners"
When entering all of our Sales Partners, we have the ability to add an address. We have done this for all of them. When adding the address the default “address type” is billing, which we keep as is. Once we have entered the address and saved, upon going back to that Sales Partner, it shows no addresses associated with them under Sales Partners. The only way to see the address is to go to “addresse

[2016-01-14 05:05] rmehta commented on #4611
Thanks for reporting. This is fixed, for your old sales partners, you will have to update the `sales_partner` property via data import.

[2016-01-14 05:05] #4611 closed

[2016-01-14 05:15] rmehta commented on #4610
@MaxMorais should be simple fixes for you :)

Or send the traces

[2016-01-14 05:20] wuditex commented on #4596
@rmehta can we expect to have the multi-mode payment in the next update ?

[2016-01-14 05:34] MaxMorais commented on #4610
@rmehta, I'll fix, I open it here for we discuss the points :smile_cat:

[2016-01-14 07:30] anandpdoshi opened #4615 "Text Editor: sometimes the bullet icon opens Image attachment dialog"
From @dottenbr

---
Hi Anand,

I have observed a weird bug in Chrome on Windows and in Safari on Mac OS X. When you go to the bullet points from the top and move in your mouse sometimes instead of changing its active state the background stays the same color and when clicking it opens an attachment window. This is super weird and slowing people down quote much. Can you look into this?

[2016-01-14 07:34] anandpdoshi opened #4616 "Awesomebar: 'SomeDocType in DocType' does not search when in DocType list"
From @dottenbr

---

consider this. I am in the Setup/DocType List and I want to search "Item in DocType". That actually wont work then and it will not give a result / wont do anything.

However in any other DocType list you can search this.

![image](https://cloud.githubusercontent.com/assets/836785/12318278/2bae2f04-babf-11e5-9f65-f7be5d4dc766.png)

[2016-01-14 07:35] anandpdoshi opened #4617 "Cannot open doctype when its instance is open"
From @dottenbr

---

Whenever I edit a DocType and then try to open an instance/entity I get an error, likewise whenever I want to edit the DocType and an instance was opened before I get an error.

I do not have concurrent tabs open so I dont understand. This always needs a refresh from me.

![image](https://cloud.githubusercontent.com/assets/836785/12318320/67d09030-babf-11e5-8a06-54fe81852ea1.p

[2016-01-14 09:32] rmehta commented on #4596
Not in our list, but we would love to help out contributors

[2016-01-14 11:00] anandpdoshi commented on #4522
cannot reproduce in latest version

[2016-01-14 11:00] #4522 closed

[2016-01-14 11:26] anandpdoshi commented on #4617
Fixed

[2016-01-14 11:26] #4617 closed

[2016-01-14 11:33] #4616 closed

[2016-01-14 11:38] #4615 closed

[2016-01-14 11:39] #1095 closed

[2016-01-14 11:40] rmehta commented on #4063
We kind-of :heart: GitHub. Maybe at a later point

[2016-01-14 11:40] #4063 closed

[2016-01-14 13:29] wuditex commented on #4596
I am willing to **pay** for this feature. Can you suggest me the costs.

[2016-01-14 15:56] dottenbr opened #4619 "Interactive Linking to DocType entities and DocType lists"
We are currently using ERPNext to document our quality critical work and process instructions such as "Incoming Goods Procedure" that lay out exactly what an employee must do and how. This is part of ISO 9001 certification and practically a company intranet or Wiki system of sorts. Ultimately we would like to move this into a Quality app within ERPNext with the Quality Report 8D that I have propos

[2016-01-15 04:11] rmehta commented on #4596
@wuditex Awesome, can you add this as a bounty here? https://www.bountysource.com/

[2016-01-15 04:21] wuditex commented on #4596
@rmehta sure I can, but I am not sure how much should the bounty be for

[2016-01-15 04:43] rmehta commented on #4596
Add what you think is reasonable. Maybe some one else can also pitch in. Also post on the forum so anyone can claim it!

Sent from phone

[2016-01-15 07:04] system19 commented on #4610
Hi All. I noticed that the ERPNext SMS API only works with http url's but not with https. Does the python httplib, url lib allow for https? If so where would I read up about how to fix/add this feature?

[2016-01-15 12:42] fikrut commented on #1095
Dear Umair
is this mean you have added cash flow statement on ERP next?
please say me yes it was my priority need.
thanks

On 1/14/16, Rushabh Mehta <notifications@github.com> wrote:

--
Fikremariam Teshome
Labora International Trading PLC
Software Development Expert
Addisababa,Ethiopia
fikerjayz@gmail.com

[2016-01-15 13:05] anandpdoshi commented on #1095
Yes cash flow statement has been released

Sent from my phone

[2016-01-15 13:58] fikrut commented on #1095
thanks so much..that is the great addition i was waiting for.thanks again

On 1/15/16, Anand Doshi <notifications@github.com> wrote:

--
Fikremariam Teshome
Labora International Trading PLC
Software Development Expert
Addisababa,Ethiopia
fikerjayz@gmail.com

[2016-01-15 14:52] dottenbr opened #4622 "Feature Request - BPMN 2.0 Charts"
In business we use BPMN (Business Process Model and Notation) to describe processes such as "receiving goods" or "printing an invoice". You can practically describe anything as a BPMN process.

![screencast](https://cloud.githubusercontent.com/assets/9136094/12355793/689fa29a-bb9f-11e5-9ea6-10596dc793e0.gif)

Now there is a project on GitHub https://github.com/bpmn-io/bpmn-js that you can try out

[2016-01-15 19:31] partzsch commented on #3001
would love to see that too

[2016-01-15 19:33] abdeldayem commented on #3001
what about Magento?

[2016-01-15 20:47] frehu01 opened #4623 "Round prices to nearest 0.05"
In Swiss Francs the lowest coin is a 5 cent piece. So a price like CHF 20.85 is common. A price like 20.86 should be rounded to the nearest 0.05,  i.e. 20.85 and not to the 21.00.

[2016-01-15 22:00] MaxMorais commented on #4622
@dottenbr, BPMN is not only about draw a workflow in the System, it's about a workflow integration

[2016-01-16 06:07] spiralni commented on #1008
Please, I need a feature like this too. Can somebody help me?

[2016-01-16 06:53] Devens opened #4625 "BoM Button in Item Header"
BoM header in item header to display following.
1. BoMs for selected item
2. BoMs in which selected item is used as Sub-item.

[2016-01-16 09:53] Devens opened #4626 "CC in Emails"
CC should be shown as per regular mail, so that when someone wants to send "reply to all" he can do it. By doing this, other persons in loop also can know about that reply. (If you have some other solution to this issue then also please suggest).

[2016-01-16 10:00] dottenbr commented on #4622
@MaxMorais it depends what you use it for. Of course you can model workshop processes in it without executing the workflows. That would be a major thing. My idea here is to implement a basic tool that can be used to model workflows or even better to also add flowcharts and organizational charts rather than drawing them and uploading them as an image file.

[2016-01-16 10:04] dottenbr commented on #4626
Absolutely on the same page here. Furthermore there should be an autosuggest for all CC that have been used in the company if you want to add an CC or a TO address. It should lookup in the customer database and in all emails sent and received.

[2016-01-16 10:11] Devens commented on #4626
I agree @dottenbr for auto-suggest also. It can save plenty of time.

[2016-01-16 12:00] MaxMorais opened #4627 "Unknown column 'tab{DocType}._starredby' in 'field list"
Hi guys, I updated a instance, and I'm receiving this error

The bench update process dont was failled, I cleared the cache and web-site cache, I tried to to clear the cookies, and the error still.

I can't share a error snapshot since I can't access it :worried:

[code]

[2016-01-16 12:07] #4627 closed

[2016-01-16 12:08] MaxMorais commented on #4627
Sorry, guys! I'm making a noobie profile here!

The build failed!

[2016-01-16 12:23] gabtzi commented on #4594
Sorry for the delay. I updated today and it's now working.

[2016-01-16 12:23] #4594 closed

[2016-01-16 12:49] dottenbr commented on #4626
autosuggest email addresses is really is an issue whenever one writes an email in erpnext

[2016-01-17 08:08] rmehta commented on #1008
@spiralni are you looking for help to develop?

[2016-01-17 09:52] dottenbr opened #4628 "Updating translations to German"
Since CWT contributed their cleaned up translation from English to German I was wondering how we could update to those translations in DocTypes. For example there is the Chart of Accounts which lists all accounts. Now in the old translation there were some really awkwardly translated accounts like "Gerechtigkeit" which means justice. There are a couple of other locations where there is bad transla

[2016-01-17 10:00] dottenbr opened #4629 "Feature Request – Default Warehouse and Is Sales / Manufacturing Item based on Item Group"
I believe that the default warehouse and wether or not an item is a manufacturing item should be configured automatically based on the Item Group that is selected. Let's say we have a company manufacturing bracelets from stones we would have the bracelet category be a manufacturing item with default warehouse "finished goods" while the stones that are used for the bracelets would be in "stores". L

[2016-01-17 10:09] Devens commented on #4629
It's logical and useful.

[2016-01-17 11:08] dottenbr commented on #4629
Thank you @Devens

[2016-01-17 16:01] anandpdoshi commented on #4628
We are going to release a Country-wise Chart of Account editor just like the translator portal, sometime this month

Best,
Anand Doshi

ERPNext

[2016-01-17 16:57] dottenbr commented on #4628
That's a great idea. I think it's not just in the financial accounting though but in all demo data. So I am wondering is one could overwrite that. But most of all proper accounting names would be important and having a way to easily update them when you have an instance running already. Will you consider that?

[2016-01-17 19:49] LifeP commented on #3394
Can you provide an example of custom script to fetch a default warehouse for sales order item, depending on customer/ company/ user?

[2016-01-18 02:49] venetanji commented on #3394
First you need to add custom field "default_warehouse" to customer,  then e.g. for Sales order you need to add something like:

[code]

[2016-01-18 03:10] venetanji opened #4631 "Precision rounding error when invoicing in foreign currency"
When creating an invoice in a foreign currency the amount in company currency is calculated by summing up each item's value in company currency. On default setting, each item in the invoice is rounded up to 2 digits before summing and yields to an incorrect total (different from the total amount in foreign currency \* exchange rate). When paying this invoice, the amount in foreign currency is clea

[2016-01-18 03:42] LifeP commented on #4629
Actually, if this could be generalized to all the fields in a form, it would add manifolds to the functionality of the ERPNext, making the workflow for end users much easier.

Sample use - In Sales order if a user puts in customer, defaults such as delivery warehouse for all items,accounts, cost centers, dates etc can be set. or if item and stock entry is selected to for manufacture, then then war

[2016-01-18 06:47] rmehta commented on #4629
You can add `customer.delivery_warehouse` in options and check, but this only works for read-only type fields.

[2016-01-18 08:53] anandpdoshi commented on #4628
Hi Dominik,

Which demo data are you referring to? Is it the one on demo.erpnext.com?

Best,
Anand Doshi

ERPNext

[2016-01-18 08:55] anandpdoshi commented on #4623
:+1:

[2016-01-18 12:38] #1475 closed

[2016-01-18 12:40] nabinhait commented on #4623
Fixed, sent a PR #4632

[2016-01-18 12:40] #4623 closed

[2016-01-18 14:43] Devens opened #4633 "Display of Suggested Qty in PO Item"
While creating PO, PO item can display a read only field called "Suggested Qty" (= Projected Qty + (Reorder Qty - if  Projected Qty < Reorder Level)

[2016-01-18 15:01] Devens opened #4634 "Suggestion for Sales Order Execution Methodology"
Current Sales Order Execution (for Manufacturing Item) is very lengthy and also lacks clarity upto certain extent. We have a suggestion as under.

![suggestion for sales order execution methodology 1](https://cloud.githubusercontent.com/assets/10671911/12394530/78314e72-be22-11e5-90b3-b0a2f318cf83.jpg)

[2016-01-18 15:46] frehu01 commented on #4623
Just to be clear: This is not only an issue of the POS module (because you pay by cash). It is also an issue of every summary. (Just mentioning this because @nabinhait s PR-description sais POS.)

[2016-01-18 16:16] anandpdoshi commented on #4623
Can you specify all the places you know where this change would be helpful?

Sent from my phone

[2016-01-18 17:28] nabinhait commented on #4623
@frehu01 I can't imagine any other scenario where this should be applicable.

[2016-01-18 19:28] LifeP commented on #3394
This works great! Thank You!

[2016-01-18 20:14] frehu01 commented on #4623
Well every Order and Quotation would be the scenarios. Independently of the payment mode.
I know it's theoretically possible to pay something like CHF 9.97 via bank transfer in Swiss Francs but you would never see that in Switzerland! You would always round to the next CHF 0.05. The only time you get that is when you're buying from a foreign company.

[2016-01-18 20:28] frehu01 commented on #4623
And of course: Invoices.

**Example**
![img_20160118_211753](https://cloud.githubusercontent.com/assets/15348100/12401887/b9c62040-be29-11e5-8316-074d60a75c37.jpg)
This is a picture of a purchase invoice I got from a delivery company to pay by bank transfer. As you can see the total (Rechnungstotal) is 523.88, the amount to pay (Zahlbetrag) is 523.90.

[2016-01-18 21:19] woakes070048 commented on #4622
@MaxMorais want you working on something like this?

[2016-01-18 21:29] MaxMorais commented on #4622
@woakes070048 yes.

[2016-01-19 04:39] Devens opened #4636 "Hyperlink from "Assigned To" field"
By clicking on "Assigned To" field, it should open the relevant ToDo.

![screenshot_011916_100804_am](https://cloud.githubusercontent.com/assets/10671911/12409870/8bd1cd5e-be94-11e5-969b-4f019fd31a09.jpg)

[2016-01-19 05:58] anandpdoshi commented on #4636
@Devens as an immediate workaround, click on the "Assigned To" comment in the timeline to go to the ToDo

[2016-01-19 06:08] Devens commented on #4636
Ok... Thank you.

Thanking you,

With Regards,
Deven Shah
Safeworld Systems Pvt Ltd
M - 09825060116

On Tue, Jan 19, 2016 at 11:28 AM, Anand Doshi <notifications@github.com>
wrote:

[2016-01-19 06:47] nabinhait commented on #4623
Makes sense, will apply same rounding methodology to calculate "Rounded Total" on all related documents.

[2016-01-19 08:12] dottenbr commented on #4628
Hi @anandpdoshi no I am talking about the data that is in the system if one has installed ERPNext before the translations have been fixed. We have updated to the lastest ERPNext but we still have messy account naming even though it has been translated, there hasnt been a patch.

[2016-01-19 10:15] pranjali0110 opened #4639 "Setting up item price"
There is an issue while setting up new item price (Add/Edit Price).

Currently you need to go through Menu - New item price, then do the required setting/changes needed.

Suggestion: New item price should be more visible button, similar to Refresh or Menu.

![selection_001](https://cloud.githubusercontent.com/assets/16775477/12415667/f6839c12-bec2-11e5-8b86-6809ff888937.png)

[2016-01-19 11:05] #4639 closed

[2016-01-19 13:24] cgpurbaugh opened #4646 "Attempting to use filter clears cache"
One of our users is experiencing this problem, when they attempt to add a filter to the item list in Google Chrome, the cursor jumps from the filter search bar to the awesome bar, and the cache gets cleared, sometimes multiple times.  I can't reproduce this on my computer, and it works in Microsoft Internet Explorer on his machine.  We are both running the same version of Chrome.

[2016-01-19 15:19] Devens opened #4647 "Reports for Stock"
Stock Balance: Missing Features

1   Customizable through report Builder
2   Filter for BoM (Main Item & Sub-items)
3   Filter by "Is Asset Item" (Providing "Is Asset Item" in Pick Columns list can serve the purpose)
4   Print with Filter selection (Filter selection does not stay when we give print command)
5   Filter by multiple value for a field
6.     Rearranging/removing/adding columns.
7.

[2016-01-19 16:22] dottenbr opened #4648 "Feature Request - Attachment type and File Manager folder structures"
I suggest every DocType has configurable attachment types that are in se selection list when a user uploads a new file.This would allow a clean structure within the DocType. Furthermore it would be ideal if the filemanager had a folder structure rather than a flat hirarchy. So for example if I uploaded a "certificate" type attachment into a supplier it should be stored under file manager folder st

[2016-01-19 16:55] woakes070048 opened #4649 "future intergrations"
@rmehta Hey i am looking to have a private conversation with you for integration and plugins that my team an i are looking to start building.

[2016-01-19 17:00] Kozlov-V commented on #3960
+1 pdf

[2016-01-19 17:04] woakes070048 commented on #4622
@MaxMorais is this the coreflow app or something else. It would be awesome to have something that was similar to cumonuda or activiti. We should talk.

[2016-01-19 17:59] MaxMorais commented on #4622
@woakes070048 `CoreFlow` is a draft of a Business Rule Engine, for Frappe. It's related with workflows, but it dont use the BPMN patterns, how I told, It's part of a private app, I'll work to share the integration for draw diagrams!

[2016-01-19 18:12] woakes070048 commented on #4622
@MaxMorais awesome I am hoping to do some great things with erpnext and the ecosystem really needs to be enriched. these are some indea's for now

[2016-01-19 18:24] MaxMorais commented on #4622
@woakes070048 if you are able to conversation ping me on gitter https://gitter.im/frappe/erpnext

[2016-01-19 18:28] dottenbr commented on #4622
@MaxMorais this is a super feature for us!

[2016-01-19 18:33] MaxMorais commented on #4622
@dottenbr, give me some days to create it, I'm on Nicaragua now! I'll return to Brazil on the next week, so I can work on this!

[2016-01-19 19:48] dottenbr commented on #4622
@MaxMorais awesome. Enjoy Nicaragua!

[2016-01-20 00:10] pifiu commented on #2731
what is the status of this?

[2016-01-20 04:46] rmehta commented on #4649
@woakes070048 awesome, you want to ping me on gitter?

[2016-01-20 04:53] rmehta commented on #4648
This was implemented in the first cut, but we scrapped it because the attachments are already discoverable via the document

[2016-01-20 06:24] ai-erp commented on #3738
Hi Nabin, i understand what @fderyckel  is trying to say. it would be helpful if in the LCV, instead of directly crediting the account "expense included in valuation", we can choose the the account of the service providers to be credited accordingly so that there will be no need to make another entry to create to establish payables to the service providers. Thank you..

[2016-01-20 06:32] nabinhait commented on #3738
@ai-erp In that case you will not be able to reconcile/link payment entry of the service provider. And The amount will always be shown as outstanding in Accounts Payable report.

[2016-01-20 11:24] dottenbr opened #4657 "Uploading private attachment doesnt work"
When I upload a private attachment it shows but is not accessible. What does private mean anyway? Shouldnt it be that any upload is private for thee whole company and a user should make a conscous decision to upload something public? Or does private mean that only that specific user can access?

![upload](https://cloud.githubusercontent.com/assets/9136094/12447473/ad0c8144-bf70-11e5-9362-9df4a11bc

[2016-01-20 11:33] anandpdoshi commented on #4657
Private means you need to be logged in and must've read permission on the document to which the file is attached

Sent from my phone

[2016-01-20 11:33] tareq07 commented on #428
i need feature.

[2016-01-20 11:39] dottenbr commented on #4657
OK thanks for clarifying @anandpdoshi. Then I believe private should be enforced, otherwise its a possible security breach. However it doesnt work on my setup, I dont know why.

[2016-01-20 11:45] anandpdoshi commented on #4657
Run
bench setup nginx
sudo service nginx reload

Sent from my phone

[2016-01-20 11:48] sbkolate commented on #4353
@Jammyinc  @rmehta  We can not update Submitted Invoice.
One way is to cancel and create revision of sales invoice with updated payment terms

Other way is to Add Payment Terms in Terms and Condition Box.
If customer do payment within 10-30 Days.
Create Credit Note against customer to give extra benefit of timely payment.

Also, one can issue monthly target xy billing amount for customer and give

[2016-01-20 11:51] dottenbr commented on #4657
su frappe rather than root?

[2016-01-20 11:58] anandpdoshi commented on #4657
All bench commands to be run using frappe user

Sudo commands can be root user if you don't have frappe user password

Sent from my phone

[2016-01-20 12:10] CWTGMBH commented on #4622
@dottenbr

Maybe we can help, what was the benefit for you drawing within ERPNext? We use activity for workflows which already come with alfresco, for the connector it works out of the box. Diagrams are normally drawn with a full spec solution like signavio. This diagrams can be overtaken within eclipse to be succeeded within a process engine. When they are just "painted" and don't come with corr

[2016-01-20 12:28] dottenbr commented on #4648
Yes absolutely @rmehta we are using ERPNext to document our products and to upload the customer specific manufacturing data. So when in an Item we would like to upload the "Customer Data" as one file type, "Amanded Documentation" or "Quality Requirements" or whatever we think of creating as specific upload types in doctypes. This allows us to use ERPNext as a data container but to at the same time

[2016-01-20 12:32] dottenbr commented on #4648
@rmehta and @anandpdoshi on another not I think the idea of "private" attachments is quite dangerous. I think you need to ensure that every attachment is "private" by default unless a user is allowed to upload a "pubic" attachment. Consider people are uploading invoices from suppliers or customer data, if someone made that "non private" or "public" that could be disastrous.

Also how do you ensure

[2016-01-20 17:55] DrTrills commented on #4626
I'd like to chime in and say it would be great to have ERPNext auto remove the default footer it adds to emails. Makes email communication not so clean in the system.

[2016-01-20 18:06] cgpurbaugh commented on #4384
I think that this is a valid idea as well.

[2016-01-20 20:20] bcornwellmott opened #4660 "BOM with Purchased Items"
It would be useful to have the material request form recognize the Purchased Part checkbox for items that have BOMs and treat them as single items instead of bringing in their sub-items.

A detailed explanation of the issue:

https://discuss.erpnext.com/t/boms-for-purchased-parts/7606/3

[2016-01-20 21:32] dottenbr commented on #4657
Thank you @anandpdoshi

[2016-01-20 21:32] #4657 closed

[2016-01-20 22:52] ccfiel opened #4661 "Cannot Undo Journal Entry in Bank Recon"
Hello @anandpdoshi @nabinhait

I want to submit a PR for this if the logic is acceptable in ERPNext.

The problem now in ERPNext is you cannot Undo a record in bank recon. Even you edit the clearance date.

My propose solution allow to set clearance date to blank again (None) the record will be back to unreconcilled state.

or is there a better way to undo reconciled journal entry

What do you thi

[2016-01-20 22:54] ccfiel commented on #4661
made a PR https://github.com/frappe/erpnext/pull/4662

any comments? :)

[2016-01-21 10:16] ccfiel commented on #4661
thanks! its now merge in dev.

[2016-01-21 10:16] #4661 closed

[2016-01-21 10:19] nabinhait commented on #4661
Thanks for the PR

[2016-01-21 10:23] Devens opened #4665 "Confirmation before Deleting comment"
One can click on delete comment by mistake. We suggest to have confirmation before permanently deleting the same.

![image](https://cloud.githubusercontent.com/assets/10671911/12473868/1c395e36-c03c-11e5-98f5-2e80578be38c.png)

[2016-01-21 10:40] towkir opened #4666 "Designation is not updated on Salary Slip"
I created an employee, with a designation of Executive.
Then I created a Salary Slip for him. the slip shows his designation as Executive which is correct.

Now I updated his designation from employee form. and made it "Manager"
Then I again created a Salary Slip for him which still shows his designation "Executive" on Salary Slip which is not correct.

I am not an advanced programmer or python co

[2016-01-21 11:38] sbkolate commented on #3813
@anandpdoshi
Today I have same suggestion when I am working on YYMM naming series, so I have searched for pull request.

1) We can set YYMM format, but lots of people don't know about this feature.
Today I have set this naming series.
 SBK-SINV.-.YY..MM.-.#####

If we add example on naming series form and kb, then it will helpful for developer and user.
cc @nabinhait @rmehta

[2016-01-21 12:12] adityaduggal commented on #3456
@umairsy This is the issue which is not yet fixed which I was talking about during our skype session for unique fields.

[2016-01-21 13:11] Devens opened #4667 "Description of To-Do in email sent for comment"
Can we have Desription of to-do in email sent for comment? (as it shows junk character ID code)

Or we can have title field for todo also and display title field in email for comment if alert set is generic one.

[2016-01-21 13:27] Devens opened #4668 "Filters for Sales Order Calendar"
Please see following screen. Need to provide Filter for Status (or if "Add Filter" button can be provided, it can be the best)

![unnamed](https://cloud.githubusercontent.com/assets/10671911/12481691/cc5e607a-c070-11e5-9e7f-e8c53d0d5365.png)

[2016-01-21 14:17] cgpurbaugh opened #4669 "Show Variants button in item master no longer works."
clicking creates a filter

Variant of=="."

which returns all items.

[2016-01-21 14:51] shuhailau opened #4670 "New Quotation not working"
while making new quotation itnot adding new item

[2016-01-21 15:06] Devens opened #4671 "Sending reports by email at a frequent (predefined) interval"
In absence of Dash-Board, this can be very handy.

- It will be very useful tool for receiving automated MIS at various levels.
- Certain reports can be sent to selected customers (already requested to filter for Newsletter List) like list of non moving stock to potential customers.
- Circulating revised price-lists
- So on...

### This can be achieved by following two options

**Email Alert**
- G

[2016-01-21 15:16] farhanayyaz1 opened #4672 "new sales invoice"
some issue in item not working.

[2016-01-21 16:03] anandpdoshi commented on #4670
We are very sorry for the problem. We just pushed a fix. Can you refresh and try again?

[2016-01-21 16:03] #4670 closed

[2016-01-21 16:03] anandpdoshi commented on #4672
We are very sorry for the problem. We just pushed a fix. Can you refresh and try again?

[2016-01-21 16:03] #4672 closed

[2016-01-21 16:09] farhanayyaz1 commented on #4672
Thank You Anand.

First Moon Electronics Trading.

SHIPPING
MARK:  MFB

TEL:00971-4-2284525

FAX: 00971-4-2242179

Mobile
Dubai: 00971-52-9291514

P.O.BOX: 86527,DUBAI-UAE

Address: SH#47,Baglaf
Bldg,Nakheel Road,Dubai-UAE

Date: Thu, 21 Jan 2016 08:04:01 -0800
From: notifications@github.com
To: erpnext@noreply.github.com
CC: firstmoondubai@hotmail.com
Subject: Re: [erpnext] new sales invoice (#46

[2016-01-22 03:08] rainersg opened #4673 "Task Notification popping at the web interface for all users"
Hi all,

I noticed that whenever I created tasks and assigned to one user, the rest of the users also get the same notifications. How will I set so that the user will get the notification for the task assigned to, not the rest of the users (including the system administrator)?

You can see the screenshot here. I am using the system administrator but I am getting all 150+ notifications even though

[2016-01-22 03:09] rainersg opened #4674 "Email configuration and alerts."

[2016-01-22 03:10] #4674 closed

[2016-01-22 03:19] rainersg opened #4675 "Email configuration and alerts."
Hi all,

The email account configuration is for only one account? What about other users? Right now, I set up email account for system administrator only, and I wanted to set the accounts for users too. When I allowed the user's access to the Gmail and saved it, it seems that the address was changed from the administrator to the intended address. How will I set so that all the users can allow acce

[2016-01-22 04:58] rmehta commented on #4673
@rainersg did you change permissions on tasks? You get notifications for your todos and todos you assigned (since you have to follow-up!)

[2016-01-22 04:59] rmehta commented on #4675
@rainersg  please post help queries on https://discuss.erpnext.com.

[2016-01-22 04:59] #4675 closed

[2016-01-22 06:18] rainersg commented on #4673
@rmehta which permission? Yes I know that we do have to follow up but, it is getting irritating.

 Let's say i have 4 users, A, B, C, D, I (system admin) assign a task to A, but user B, C and D get the notifications. It is supposed to be only A who is getting the notification, not the rest of the user (B, C, D).

So do i need to set it again in permission?

[2016-01-22 06:34] rmehta commented on #4673
No you should not get for all users, just go to User Permissions and reset permissions for ToDo

[2016-01-22 06:34] #4673 closed

[2016-01-22 15:07] Devens opened #4676 "Allowing negative quantity in BoM item list to record stock of by-product"
We use costly metal like GunMetal, Brass, etc for manufacturing items. The outcome at the end of machining process (boring/scrap) is also very costly and we need to record the same.

We suggest to allow for negative quantity to record such by-products in BoM item list.

![screenshot_012216_083606_pm](https://cloud.githubusercontent.com/assets/10671911/12514136/c43c530c-c147-11e5-8427-bdfd9f6626af.

[2016-01-23 05:20] adityaduggal commented on #4673
@rmehta Even we are experiencing the same behaviour see my permissions for reference below.

Let me explain the issue:
If user A assigns a task to user B, then only userA and user B should get the notification but since SYSTEM MANAGER are not limited to view only their tasks hence I think they are getting the notification for all the tasks. But please note that resetting the permissions would not

[2016-01-23 11:33] vivekck opened #4678 "Reports - Group by and Sub-Totals/Totals"
A very useful option in Reports will be to have an option to choose a field(s) for "Group by", so the numerical value columns get totaled based on the Group, i.e., sub-totals.

For e.g., Invoice Total with Group by a certain column, let’s say “Item group” or “Customer name", etc., this is just an e.g., we have many more such cases!

I am sure this would be an useful feature to many, we can go to E

[2016-01-23 11:41] VivekC-ICP commented on #4671
Yes I agree totally!  This will be a very useful feature.

[2016-01-23 13:42] Devens commented on #4678
I agree. This is something very important and basic, which is unfortunately missing in ERPNext.

[2016-01-23 17:52] jordsti opened #4679 "Review of the installation instruction"
The installation instruction seems deprecated, there's even some command for bench that doesn't exsists anymore in bench like install-app. You should redo the instruction, beacause it just doesn't works when you follow it. It works until the get-app and install-app.

[2016-01-24 07:48] Devens opened #4681 "Delete button in Menu for Delivery Note"
Delete button in Menu for delivery note

![image](https://cloud.githubusercontent.com/assets/10671911/12535085/dd6a5116-c29c-11e5-8783-7c3c8543f995.png)

[2016-01-24 13:41] frehu01 commented on #4623
That would be great! Thanks

[2016-01-24 13:43] nabinhait commented on #4623
The feature has been released, you have to set "Smallest Currency Fraction Value" in Currency master.

[2016-01-24 15:03] rmehta commented on #4679
@jordsti which page?

[2016-01-24 18:38] jordsti commented on #4679
frappe/bench README.md,

Setting Up ERPNext Section,

Install-app command doesn't even exists anymore.

[2016-01-25 04:26] Devens opened #4682 "Default Warehouse for Projects (and Default Project for Warehouse)"
For External Projects, material is required to be sent at Project Site. Hence, Project Site is required to be created as Warehouse. Every Project should have a default warehouse and vice-versa.

If project is selected it should populate Default Warehouse & Default Cost-center in all related Transactions. Similarly, if warehouse is selected, it should link with related project & cost Center.

![ima

[2016-01-25 04:29] ly0 opened #4683 "Does erpnext have API to create Purchase Order and Sales Order?"
I want to use some API to create PO and SO.

[2016-01-25 04:55] rainersg commented on #4673
@adityaduggal that's right! I even tried to reset the permission but it is default. And from what I see, it is more of user or role permission. But I dont see any step/guide to edit the permission so that those users whose tasks are assigned to, should be able to see the notifications only. But the rest of the users (not assigned to) should not see the notifications

[2016-01-25 05:00] rainersg commented on #4673
@rmehta not only I face this issue, but there are some users facing this too. Please explain how it works, at least, not reply to my question then close it abruptly. For your information, I did not change anything in the Task permission.

I get the impression that you are not friendly/helpful when a open source community is usually friendly and helpful.

[2016-01-25 05:03] rmehta commented on #4683
@ly0 Please post help questions on discuss.erpnext.com

[2016-01-25 05:03] #4683 closed

[2016-01-25 05:08] rainersg opened #4684 "Task Notification still popping in the web interface even when reset the User permission to default?"
First of all, I did not do anything to the Task/ToDo users and role permissions. But whenever I (the system admin) assign the task to one of the users, the rest of the users get the notifications.

And I see that it can be done in the Role Permission. However, there is no guide/steps available to adhere to, to get the ideal scenario. I would like to ask not to close it abruptly after saying how it

[2016-01-25 05:26] #982 closed

[2016-01-25 05:27] rmehta commented on #4679
What are you trying? It does exist. Try `bench --help`. Can you post details on discuss.erpnext.com

[2016-01-25 05:27] #4679 closed

[2016-01-25 05:28] #1605 closed

[2016-01-25 05:52] rmehta commented on #4440
Update: https://frappe.github.io/erpnext/user/manual/en/human-resources/leave.html

[2016-01-25 05:52] #4440 closed

[2016-01-25 05:53] rmehta commented on #4684
@rainersg maybe you are using a group email id, I cannot replicate it.

[2016-01-25 05:54] #498 closed

[2016-01-25 05:54] #1815 closed

[2016-01-25 06:25] rainersg commented on #4684
Hi @rmehta, can you explain what the group email id is? As far as I remember, I did not set anything in the ERPNext, other than adding the tasks/projects. Can you kindly point where the group email id is at? I will see if I am able to explain the issue.

[2016-01-25 06:51] rmehta commented on #3016
- [ ] Add menu item
- [ ] Write server side method to create attendance records

Reference: https://github.com/frappe/erpnext/blob/develop/erpnext/projects/doctype/task/task_list.js#L3

[2016-01-25 06:52] rmehta commented on #428
This system can be easily gamed (Employee can easily login from anywhere to get attendance marked). It is too cumbersome to track this via IP addresses.

[2016-01-25 06:54] rmehta commented on #4684
Must be something in your email setting, you may have set redirects. Make a trial account at erpnext.com and try and reproduce this.

[2016-01-25 06:57] rmehta commented on #3063
Make a report "Employees worked on a holiday". I think there should not be a validation as Employees can work on holidays.

[2016-01-25 07:00] #491 closed

[2016-01-25 07:01] #559 closed

[2016-01-25 07:01] #1014 closed

[2016-01-25 07:02] #1445 closed

[2016-01-25 07:14] rmehta commented on #1998
Fixed via HR Settings

[2016-01-25 07:14] #1998 closed

[2016-01-25 07:17] #2284 closed

[2016-01-25 07:17] #2587 closed

[2016-01-25 07:22] rmehta commented on #3448
Fixed via HR Settings

[2016-01-25 07:22] #3448 closed

[2016-01-25 07:23] #2447 closed

[2016-01-25 07:38] #3854 closed

[2016-01-25 07:40] rmehta commented on #1651
Fixed via Contact

[2016-01-25 07:40] #1651 closed

[2016-01-25 07:42] rmehta commented on #474
- [ ] Merge Is Frozen with "disabled"

[2016-01-25 07:44] #1476 closed

[2016-01-25 07:49] nabinhait commented on #4321
fixed

[2016-01-25 07:49] #4321 closed

[2016-01-25 09:05] rainersg commented on #4684
@rmehta i have signed up and did the email account setting. But nothing happened. Normally, when I set up the email account in the company erpnext using my email, it worked. However when I tried to set up using my email address in the trial erpnext, it did not work.

Anyway, what are the redirects about? As far as I remember, what I did was to set up the email account and then continued with the p

[2016-01-25 09:51] ShraddhaRanjane opened #4686 "while selecting "Mode of payment" other than Cash ,we can not paid .showing message pop up as "Missing Values Required Amount Paid""
Steps To Reproduce:-
1. Go to "POS" module
2.Select "Sales Invoice" and Start
3.select Customer and Item
4.click on "Pay"button
5.select 'Mode of payment' as- Credit Card,Bank Draft (i.e except "Cash")
6.click on "Pay" button again
7.Message showing -
Missing Values Required
"Amount Paid"

[2016-01-25 10:55] #4429 closed

[2016-01-25 10:59] #4219 closed

[2016-01-25 12:28] #3727 closed

[2016-01-25 13:02] anandpdoshi opened #4688 "Optionally prevent printing of DRAFT documents"
- [ ] Add option in Print Settings
- [ ] Prevent printing DRAFT document for a submittable DocType

[2016-01-25 16:11] frehu01 commented on #4623
Thanks! It works like a charm, great!

[2016-01-25 16:15] jordsti commented on #4679
I tried to see the help entry in bench --help, install-app is not in the list.

I just followed the entire setup walkthough and at the step, I just saw a full stack of python exception.

[2016-01-25 19:24] pdvyas commented on #4679
@jordsti Were you able to `bench init`? `install-app` is a framework command which appears when you're in a bench dir. Try,
[code]

[2016-01-26 07:31] chandutalluri commented on #4058
HI Request in POS
By user and shifts Ex:(morning shift and evening shift)
POS user opening and closing Amount

[2016-01-26 08:43] tkhamdan commented on #2090
Any updates here? On the roadmap for v7?

[2016-01-26 08:47] rmehta opened #4690 "Website Redesign"
The website needs to be "designed". Right now, its just a bunch of simple pages without much thought of standardization or consistency or aesthetics. There needs to be
1. Better Typography
2. Consistent layouts

I think we should go for one classical layout and let users play within that layout, like Medium. We are past the age of fancy layouts and letting users too much freedom is also not good.

[2016-01-27 03:51] Devens commented on #4690
I agree.

[2016-01-27 12:32] #953 closed

[2016-01-27 13:32] maheshengg opened #4698 "Make Default Warehouse Field Unmandatory"
Remove Mandatory "default warehouse" for all the items, that it should be blank ( item form)

Reason : So that in the sales invoice or delivery note, form field is made mandatory , and blank field will obviously force the user to select a warehouse so that effectiveness in transactions can be achieved.

[2016-01-28 06:54] rmehta commented on #4105
:+1: @anandpdoshi

[2016-01-28 10:38] anandpdoshi commented on #4324
Fixed!

[2016-01-28 10:38] #4324 closed

[2016-01-28 10:39] anandpdoshi commented on #3994
Fixed in PDF!

[2016-01-28 10:39] #3994 closed

[2016-01-28 11:23] CWTGMBH opened #4702 "Holiday Request"
A Holiday Request don´t consider existing Holiday Lists.

EG
Public Holiday on 15th August in Germany. Recorded in an Holiday List. When employee open new task for holiday from 14th August till 16th August, it should only subtract 2 Days from individual Holiday. For now it removes three days.

[2016-01-28 11:36] Devens opened #4703 "Email Alert for Child Table (Like Sales Order Item, PO ite"
WE need to have Item-wise alert for large Sales order (Project SO with many items).

[2016-01-28 13:26] cgpurbaugh commented on #1008
Our company is willing to sponsor, but we don't have the budget for the full $500.  If anyone else can help split, we can get this going!

[2016-01-28 15:44] pifiu commented on #4596
I agree that the POS interface should have a rewrite. Odoo does this very well, maybe take a hint from them? Yes splitting payment is a very basic function and really shouldn't be very difficult to implement.

[2016-01-29 05:36] anandpdoshi opened #4705 "Remove validation "An Item Group exists with same name, please change the item name or rename the item group""
[code]

---

To Do:
- [ ] Fix tree view generation in reports that have both Item Group and Item

[2016-01-29 08:55] vjFaLk commented on #4235
I cannot replicate this on my build.

[2016-01-29 14:39] Barbariandude opened #4708 "[Feature Request] Allow editing of visible columns on child tables"
On child tables of forms such as Material Request and Purchase Order, the child tables (items) have hardcoded columns. I would greatly appreciate being able to add arbitrary columns to it.

For example, I have a field added to the Material Request Item doctype called "Local or Overseas", which is of type Select and has "Overseas" and "Local" as options. I would like to add it to the child table in

[2016-01-29 19:30] graphskill opened #4709 "Incorrect quanitity discounts"
When creating the quote / order we add a quantity and the discount is applied. If you then manually change the quantity the discount is not recalculated.

So, 1 item added to the cart - no discount

![quantity 1 no discount](https://cloud.githubusercontent.com/assets/925619/12685895/ad106336-c6be-11e5-92c5-d453164da2a3.jpg)

Quantity changed to 100 and the 20% discount is applied

![quantity 100 d

[2016-01-29 23:10] bcornwellmott opened #4710 "[Bug] Pricing Rule price currency is not in Supplier Currency"
I noticed that when using pricing rules, the overwritten price is overwritten in the currency of the company, not the currency of the supplier listed in the pricing rule. I believe this is a bug.

To explain my set-up:

I have a number of suppliers that have quoted a part at various quantities. In the example I've taken screen shots of, there are two suppliers with the following pricing:

Item Cod

[2016-01-29 23:30] kariuki opened #4711 "[Paid Development] Customized Site design"
2 pages I would like customized to include an image slider, infographics and other interactive elements;

1. The customer login page.
2. Product listing page

Please quote.

[2016-01-29 23:35] kariuki opened #4712 "[Paid Development] SMS - Delivery Notice"
I would like the customer to receive an SMS notification anytime their orders are delivered to the designated delivery address.

[2016-01-29 23:44] kariuki opened #4713 "[Paid Development] Managing Addresses"
When the customer is creating new addresses under their login I would like to limit the number of countries listed.

[2016-01-29 23:45] kariuki opened #4714 "[Paid Development] Integrate shopping cart with paypal"
I would like to integrate my shopping cart with paypal so that customers have an option to pay for their orders online through paypal.

[2016-01-30 03:33] anandpdoshi commented on #4714
This is already done. It is under testing.

Sent from my phone

[2016-01-30 05:28] fderyckel opened #4717 "Issues at login"
After a bench update last night, I am not able to login to the desk anymore.  I am automatically redirected to the website with this error:

All I can do is to logout.

[2016-01-30 05:29] anandpdoshi commented on #4717
Can you do bench update again and check if you get any error?

Sent from my phone

[2016-01-30 05:33] fderyckel commented on #4717
No change.
The website works when I try "contact us", "blog", "Product".  I get the error when I click "switch to desk".

[2016-01-30 05:34] fderyckel commented on #4717
Also very strange, is that I update both my testing site and my production site and both are in develop branch.  But in this testing site, it got the new functionality with attendance, but not into production site.  very strange.

[2016-01-30 05:44] fderyckel commented on #4717
BTW Thanks so much for responding so quickly.

[2016-01-30 05:53] anandpdoshi commented on #4717
Try running

bench --site all clear-cache

Sent from my phone

[2016-01-30 06:11] fderyckel opened #4719 "issue with bench version"
As I typed bench version, I got this error.

[code]

What am I missing in my site_config.json?

[2016-01-30 07:30] kariuki commented on #4714
Great! Thanks.
Will be waiting for this eagerly!

[2016-01-30 08:09] anandpdoshi commented on #4719
You need to run bench command from frappe-bench folder

Sent from my phone

[2016-01-30 20:13] #4713 closed

[2016-01-30 20:14] #4712 closed

[2016-01-30 20:14] #4711 closed

[2016-01-31 16:30] fderyckel commented on #4719
Hi Anand,
I did that and I got the same error.

[code]

[2016-01-31 16:45] fderyckel commented on #4717
No change...

[2016-01-31 16:57] graphskill commented on #3740
This is an essential and should be top priority.  Many companies have shipping rates based on weight.

[2016-02-01 04:13] anandpdoshi commented on #4702
I think there is a checkbox in HR Settings to disable this behaviour. Can you check?

Sent from my phone

[2016-02-01 04:15] anandpdoshi commented on #4719
I think this was fixed. Can you update and check?

Sent from my phone

[2016-02-01 07:15] pumps opened #4722 "Barcode Required in Stock Reconcillation"
Please incorporate so that reconciliation becomes easy for us.
Many Thanks !

[2016-02-01 10:25] dottenbr opened #4725 "Adding School and Vocational Training to Educational Qualification."
Please add "School" for highschool etc. and "Vocational Training" for education outside of classic univesities to Employee -> Educational Qualification -> Level.

[2016-02-01 10:29] dottenbr opened #4727 "Assigning Numbers to Employees"
We have employee numbers such as "043" which is my number or "104" which is somebody in our romanian facility. I strongly believe we whould be able to give each employee a number manually when adding them. If no number is given we can autoassign. I am OK with the EMP/... notation we will just ignore the EMP for ourselves.

Please assign to @emakis

[2016-02-01 13:23] neilLasrado opened #4728 "Setting a Holiday list as default does not remove the default from other lists"

[2016-02-02 05:25] vjFaLk commented on #3063
[Fixed](https://github.com/frappe/erpnext/commit/1890c794d75ee394bc574a941630ea03baf95f4e)

[2016-02-02 05:26] vjFaLk commented on #3016
[Fixed](https://github.com/frappe/erpnext/commit/07364f5ece4764fc58df16c43d9d208896cead79)

[2016-02-02 08:07] Shak88 commented on #3960
+1 pdf

[2016-02-02 10:05] #3063 closed

[2016-02-02 10:38] pisethratanak commented on #4430
I have the exact same issue.

My company usually issue invoice to customer first before shipping. So when I go from Sales order to Invoice and then Delivery Note, the delivery note button is still there even after I have shipped everything.

[2016-02-02 16:45] jayants1-code commented on #1008
**We would be willing to pitch in to sponsor this change - assuming the change supports our requirements. **Here is what we need

1. Ability to create/define  multiple warehouses  where warehouse ID has a 2-level structure  for example
 geo-region-specifier/warehouseNum . Each warehouse is associated with a physical delivery address  AND we can assign managers,workers etc to a warehouse . This all

[2016-02-02 18:05] heepdog commented on #4351
I would second this request. I can get the Item name in using the customize forms, however it only works for manual entry not using get items from warehouse. Would be happy with a refresh button that would fill in the missing fields.

[2016-02-03 06:52] vrms commented on #4727
not sure why this is an issue (in the logic of ERPNext).
As I understand that matter so far (following since about a month) you'd just add a field from inside the GUI (add a custom field and Customize Form). So if anyone could explain what is the difference I'll help my understanding.

[2016-02-03 06:55] ftorreti opened #4734 "Quality Inspection"
In quality inspection it is possible to select a batch number associated to an item and select a different item in the inspection and still submit the report correctly.

For example:

QI document created for item 123 and in the batch number field you can select any batch numbers.

Recommend to implement a filter only for batch number that match the item selected in the QI document during creation.

[2016-02-03 08:18] whitezenith opened #4735 "ERP Next installation Error CentOS"
Hello community,
I'm trying to install ERPNext on a CentOS 7 Server. The server is new and everything is fine, except I have maria 10.x already preinstalled and the installation script won't work with it, it wants mariadb 5.5 and gives me following error code (German).

Is there a work around? I mean do I have to uninstall mariadb 10.x because ERPNext can only work with an old version of mariadb?

[2016-02-03 08:21] Devens opened #4736 "Shipping Rule by Volume/weight of shipment."
Generally shipping rates are based on Volume or weight (and not on the basis of rates). There should be provision to define shipping rules based on Volume/weight also.

[2016-02-03 10:25] dottenbr commented on #4727
@vrms most companies use employee numbers for various things like vending machines, time logging with punch cards or electronic systems etc. So these employees have a number. Of course we could do this it ha custom field but why do so if when creating the employee it would be possible to assign a number right away? I am not a big fan of duplicate and conflicting information if it can be applied in

[2016-02-03 10:25] dottenbr commented on #4727
@rmehta do you want to chip in and choose if this is something for everybody and if so assign it to @emakis?

[2016-02-03 10:31] rmehta commented on #4727
@dottenbr do you want to go with custom field for now? This does not seem such a common request.

[2016-02-03 12:27] system19 commented on #4735
@whitezenith please post this on the frappe forum and I will do my best to help.

[2016-02-04 00:07] mach-kernel commented on #2090
Hi,

I have a requirement for this for one of my clients and wish to pick up integrating this. My only barrier is that I cannot find a consistent way to run this locally, because every update to `master` breaks some miscellaneous CLI tool out of the 999 required to deploy `erpnext` and I can't make any progress.

Is there any stable snapshot branch?

[2016-02-04 02:17] yashodhank commented on #2090
@mach-kernel open new topic for your issues at https://discuss.erpnext.com

[2016-02-04 03:47] vrms commented on #4727
I agree with @dottenbr actually we have the same situation in our company. Still trying to understand the mechanics of how everything works in the ERPNext universe. Wouldn't it be an approach to make a custom field (which once you do it right results into a custom app if I am not mistaken) and then make this app (called "Employee Number" or so) publicly available in some way?
In case I am besides

[2016-02-04 04:09] Devens opened #4738 "Column for Total (amount) in Stock Reconciliation Item table"
When we update stock for multiple (many) items, it is very important to know that which item is contributing more to "Difference Amount". We suggest to have Total amount column similar to almost all child tables (like SO, PO, et al).

Alternatively, Formula field type also can be added (so that it can be customized without use of any code). You may also suggest if any simple alternative method.

[2016-02-04 05:03] rmehta commented on #4738
:+1:

[2016-02-04 05:29] vjFaLk commented on #4235
My bad, I was checking in the Leave Application form. I can replicate the issue.

[2016-02-04 06:17] Devens opened #4739 "Default "Tax and Charges" field for customer & Supplier"
A combination of Taxes & other charges is standard for each customer. (for eg. for all outside Gujarat (Local state - in India) customer would be required to apply CST 2%).

This would be very handy and time-saving. Moreover, it can reduce the errors at junior level.

[2016-02-04 12:20] anandpdoshi commented on #4727
Hi Dominik,

You can go to HR Settings and change Employee Naming by from Naming Series to Employee Number. Then specify whatever Employee Number that you want.

Best,
Anand Doshi

ERPNext

[2016-02-04 12:28] PrakashH opened #4743 "Bug in Employee Attendance Tool"
While updating attendance by Employee Attendance Tool. It marks as ''Absent for future dates.

[2016-02-04 13:26] dottenbr commented on #4727
Awesome! Thank you!

[2016-02-04 13:26] #4727 closed

[2016-02-04 20:11] sbkolate commented on #4734
did you submit PR before quality inspection?

[2016-02-04 20:16] sbkolate commented on #2136
+ 1

[2016-02-04 22:26] noetico opened #4745 "Critical - Sales invoice notification and not permitted popup error after setting "Read Permission" for Account User"
Hello Sirs; we have a small issue; we want to prevent cashiers from viewing sales invoices when they click the Sales Invoice link above; this is for security. Under Permissions; we have unchecked "Read" for the Account user role and yes it works; they can no longer view sales invoice list but there is a problem now; the POS module keeps randomly popping up "Not Permitted" and "Notifications for sa

[2016-02-05 01:55] vrms commented on #4727
@anandpdoshi would that really allow employee numbers as you want? I'd expect it to work as Invoice number (able to define a starting point from where the system starts counting but without the option to freely define any value.

[2016-02-05 02:14] anandpdoshi commented on #4727
that's how the default Naming Series option works

Sent from my phone

[2016-02-05 02:16] vrms commented on #4727
so, then @dottenbr can not use whatever Employee numbers he already has, right?

[2016-02-05 02:42] anandpdoshi commented on #4727
Yes

Sent from my phone

[2016-02-05 08:09] dottenbr commented on #4727
I switched to numbers which allows me assigning any number I have. I have to manually do the work but that's exactly what I wanted.

The auto naming series is good for most people but number did the trick for us.

Sent from my mobile

[2016-02-05 09:12] nabinhait commented on #4734
Fixed it, will be released next week.

[2016-02-05 09:12] #4734 closed

[2016-02-06 04:55] fderyckel commented on #4736
Quite a few threads were already done on this (here and on the forum)
https://github.com/frappe/erpnext/issues/3740

[2016-02-06 06:57] vrms commented on #4063
maybe [this ](https://github.com/github/developer.github.com/issues/994)might help

[2016-02-07 06:30] vjFaLk commented on #4743
Fixed! :dancer:

[2016-02-07 14:17] TanujW opened #4752 "Bug in Customize Form"
The following is the error I get when i try to update the form on Customise Form on my local machine.

[code]

[2016-02-07 17:48] dottenbr opened #4753 "Print margins of HTML preview and PDF significantly different"
The print margins on the HTML preview look very nice, however when saving it as a PDF it messes it up. could you resolve this to ensure it is consistent?

Preview HTML
<img width="861" alt="bildschirmfoto 2016-02-07 um 18 46 36" src="https://cloud.githubusercontent.com/assets/9136094/12873990/5bbb63c8-cdcb-11e5-8332-7fafd7f6b39d.png">

PDF
<img width="920" alt="bildschirmfoto 2016-02-07 um 18 46 4

[2016-02-07 17:52] dottenbr opened #4754 "Disable "In Words" for Grand Total"
The "In Words" like "EUR Three Thousand, Six Hundred only." for "€ 3.599,75" is a cool feature but I have never seen this used in Germany. We would need to be able to turn this off like "Disable Rounded Total" function in Setup -> Global Defaults.

[2016-02-07 18:01] dottenbr opened #4755 "Letter Heads for Companies"
We have multiple companies that are separate legal entities. We would love it if we could create letter heads that are automatically chosen when creating for example a quote from our company A located in Romania than if we create a quite from our company B located in Germany. They have different addresses and contact information.

[2016-02-07 18:16] dottenbr commented on #4753
Instead of doing the spacing with <br/> which I did first I now assigned padding-top and padding-bottom which seems to show consistent behavior. Somehow the <br> showed in HTML but got ignored int the PDF?

[2016-02-07 18:23] dottenbr commented on #4753
Unfortunately I have to report that the paddings are still significantly larger in HTML than in PDF :-(

[2016-02-07 18:32] dottenbr opened #4756 "Adding Text Alignment and Border thickness to Print Settings for Print Heading"
I would like to propose Setup -> Print Settings to get an addition to configure the border thickness and the alignment of the title such as "QUOTATION" to be left, center or right.

I find print-heading aligned left and a border of 1px much better for my company's design.

Default:
<img width="840" alt="bildschirmfoto 2016-02-07 um 19 30 16" src="https://cloud.githubusercontent.com/assets/9136094/

[2016-02-07 18:38] dottenbr opened #4757 "Spacing issue in Quotation"
Check this out, this is default ERPNext. The red space is awkwardly big while the green space is awkwardly small. I suggest both being the same somewhat in the middle.

Maybe this is also an issue in other documents and could be resolved for all.

<img width="1119" alt="spacing issue" src="https://cloud.githubusercontent.com/assets/9136094/12874329/4aeb3350-cdd2-11e5-8f97-fe07bea7bb35.png">

[2016-02-07 18:40] dottenbr commented on #4757
FYI this is in the PDF. For some reason its is not quite as dramatic in the HTML preview. Also the PDF has the text QUOTATION and the QTN-0008 black while the HTML has both in different shades of grey. There is something buggy there.

[2016-02-07 18:45] dottenbr opened #4758 "Feature Request: Small text in quotations"
Sometimes we quote things that need explanations for the customer to fully understand. It would be awesome if we could have a "small text" button to add or remove <small> so something like this is possible:
<img width="501" alt="small text" src="https://cloud.githubusercontent.com/assets/9136094/12874383/5752e70e-cdd3-11e5-8fed-7cda43a833d9.png">

This would be most helpful in quotes but I think i

[2016-02-07 19:45] fderyckel commented on #2136
I like that from @raveslave

Actually, we should have similar thing for customers.  They should be able to update their key information , then these changed have to be approved.

We had similar thing with our school ERP.  Parents were constantly asked to update their personal contact details , but any changes had to be approved by school administration for it to take place.

[2016-02-07 22:04] raveslave commented on #2136
Great to see many supporters. How do we take the next step and write up a detailed function-spec?

Not really related to this, but like I wrote in my post above from Mar 29, 2015. I think it's important that these forms and associated/needed data can live on a separate server (slave-install). Reason is that I assume many erpnext installs out there lives behind VPC's or IP-locks.

[2016-02-08 04:18] vrms commented on #4727
@dottenbr

can you elaborate how you achieved that. If you added a custom field as per my understanding that ideally (if you do not want that to be overwritten by any update) that is being added as a new app. If that's what you did, can you point me to it? There seems noting to exist in our github.

[2016-02-08 05:38] anandpdoshi commented on #4754
You can hide In Words field for now.

Best,
Anand Doshi

ERPNext

[2016-02-08 12:07] PrakashH opened #4767 "Oldest entries should appear on top in Bank Reconciliation"
Unable to sort order in Bank Reconciliation form via customization form.

[2016-02-08 14:42] jmatsushita commented on #3821
+1 for this feature!

[2016-02-09 01:09] Tropicalrambler opened #4771 "Keyboard shortcuts in Delete/Confirm Dialog: Y or N"
When the dialog confirming deletion of an account or item comes up, it would be fantastic to use the "Y" or "N" key on the keyboard to confirm the action, instead of using the mouse.  A setting to enable this would be much better.  Thanks!

[2016-02-09 01:43] ShashaQin opened #4772 "Hide special item on print layout"
Hi,
We created a special item called 'TITLE' which are used only to describe the doctype content. So this item just has description, don't have qty, amount and rate. We'd like to hide its qty, amount and rate on the print layout. Our solution is changing html code in item_table_qty.html and creating item_table_amount.html like item_table_qty.html etc.
The changed item_table_qty.html:
{% if (doc.it

[2016-02-09 02:17] rmehta commented on #3821
This requirement is pretty vague. Will be great if someone can come up with a more specific design (with mock-ups etc)

[2016-02-09 03:25] jmatsushita opened #4774 "[Feature Request] Improve Project based budget tracking"
Hi there,

I'm using ERPNext for the first time and trying to setup project based budget tracking. It would be good to be able to be able to see several years on the budget variance report. For instance adding 3-Years and 5 Years options on the Period filter.

Also it would great to be able to have totals per cost center (enabling "Add total row" works, but filtering by cost-center is hiding the t

[2016-02-09 04:45] vjFaLk commented on #3964
@robertbecht Hey, you can hit "Cancel" and then "Amend" on Expense Claim to cancel and change it respectively.

[2016-02-09 04:47] #3016 closed

[2016-02-09 04:50] #2382 closed

[2016-02-09 04:58] #3964 closed

[2016-02-09 06:34] anandpdoshi commented on #4772
@ShashaQin I think such questions are supposed to be discussed on forum: discuss.erpnext.com

Github issues are mainly for bugs and feature requests.

A simpler solution for this is to add the special item content in the description of the previous item or add a custom field below item table or just add it in terms and conditions.

[2016-02-09 06:34] #4772 closed

[2016-02-09 06:58] anandpdoshi commented on #4752
Hi,

Looks like the Custom Field of type ‘Dynamic Link' that you have added has wrong value in options. It should be a field name. You will have to correct it.

Best,
Anand Doshi

ERPNext

[2016-02-09 06:59] anandpdoshi commented on #4752
I am surprised that this error occurred, as there is a validation for this.

[2016-02-09 07:12] TanujW commented on #4752
Thanks for the reply Anand.

I realised the problem was with the field but i was unable to edit/delete the field, getting the same error that I posted. Finally, I had to delete the field from tabSingles in mysql, but forgot to close the issue.

The following is what I had done, incase you’d like to recreate the issue:

Created a field prevdoc_doctype as a Link field with option DocType, and a prev

[2016-02-09 07:16] TanujW commented on #4752
P.S- The reason I was doing this is because I realised there was no link between Quotation and Opportunity unless opportunity items are added. Not sure if the system was designed this way, or if its just been overlooked.

Thanks,
-Tanuj Wadhi

[2016-02-09 08:24] Spanraj commented on #3814
Dear Sir,

we Requested for a PO number in Reports, please advise for the further progress.
ASAP.

[2016-02-09 08:28] Spanraj opened #4776 "editing restrictions in sales order"
Dear Sir,

we need a restriction in previous month of the sales order,  meaning that sales person cannot do any modification on the previous.
Please Advise

[2016-02-09 10:30] #4752 closed

[2016-02-09 10:31] TanujW opened #4778 "Print and PDF format not same"
After the new enhancement, which allows footers, the print format does not show the print format, but the PDF does.

[2016-02-09 10:45] anandpdoshi commented on #4778
@TanujW can you share a screenshot? I didn't understand the issue.

[2016-02-09 11:13] TanujW commented on #4778
[Silicon Business Solutions Pvt Ltd.pdf](https://github.com/frappe/erpnext/files/122967/Silicon.Business.Solutions.Pvt.Ltd.pdf)
[Untitled.pdf](https://github.com/frappe/erpnext/files/122968/Untitled.pdf)

The first one is via print (Silicon....pdf)
Second via PDF (with footer) (Untitled.pdf)

The one via print has perfect margins, but the PDF margins are off.

The PDF one gets the footer, while th

[2016-02-09 11:14] TanujW commented on #4778
Print Button, and PDF button from Document

[2016-02-09 11:54] anandpdoshi commented on #4778
duplicate: https://github.com/frappe/erpnext/issues/4753

Also, footer appears only in PDF due to limitations of HTML print

[2016-02-09 11:54] #4778 closed

[2016-02-09 14:16] mkumar9699 opened #4779 "Delivery Note to be treated as GR and direct finance posting for delivery note itself"
It's transport company and please find below the requirement and suggest.

They received goods through GR (Goods Receipt/Bilty form) from Consignor and send to Consignee.
No Stock updation, because it is a service industry
There are Three types of GR (Paid / To Pay / To Be Billed)
In the case of Paid and To Pay GR- They want to post financial entries to directly
But in the case of To Be Billed, th

[2016-02-09 19:49] dottenbr commented on #4754
Can you assign this to Makis and have him fix it? It's quite similar to the
rounded values configuration he should fix it for everyone.

Am Montag, 8. Februar 2016 schrieb Anand Doshi :

--

Mit freundlichen Grüßen / All Best,

*Dominik Ottenbreit*
Geschäftsführer ESO Germany
Director of Business Development

Tel.: ​+49 6752 9112-55
Mobil: ​+49 160 90813466
Fax: ​+49 6752 1524998

www.eso-electron

[2016-02-09 19:58] dottenbr commented on #4648
Any Way i can convince you to do this? We are starting to use the system a lot more and this is really not ideal at the moment. I think the structure would be perfect.

[2016-02-10 02:13] dzulhelmi commented on #3001
This feature is highly requested, but only available only for Spotify

[2016-02-10 03:54] Devens opened #4780 "Displaying stock balance while creating quotation (In Quotation Item Line)"
It is very important that while creating quotation, sales user would know - what is the availability of stock (Displaying stock balance will further empower him by understanding total balance of stock in various warehouses).

We suggest that in Quotation Item (similar to Actual Qty, etc being shown in Sales order Item), stock balance should be displayed as read only field. By clicking on that stoc

[2016-02-10 06:49] rmehta commented on #4648
@dottenbr What is the use case? Attachments to documents are already visible via the document view.

[2016-02-10 07:09] anandpdoshi commented on #4754
@dottenbr makis can send a pull request

[2016-02-10 09:04] umairsy opened #4782 "[Website] Define parent in the Top Bar"
Suggestion is about adding a validation in the Website Setting, Top Bar section. As per our current design, in the Top Bar, we can set child Item Group to one level only. If user tries to add Child Item Group under another Child Item Group, there should be validation message.

As suggested by Robert Becht:

"For the user, it is easier to understand to just state that the product-root menu-item sho

[2016-02-10 09:57] TanujW opened #4784 "Quotation not linking to Opportunity without items"
When creating a Quotation from an Opportunity, the new document, Quotation does not add to "Linked With" in the source Opportunity, UNLESS the opportunity has items.

In case this is a functionality, and not a bug, is there any way I can Link the Opportunity to the Quotation without items?

Thanks!

[2016-02-10 13:28] mkumar9699 opened #4786 "New Doc Type does not save and it says atleast one permission row"
When I save New Doc Type  it says atleast one permission row. What is this?

[2016-02-10 13:30] anandpdoshi commented on #4786
scroll down and add a row in the permission table

[2016-02-10 13:30] #4786 closed

[2016-02-10 16:34] bradbendy opened #4787 "[Paid Development] Advanced standard replies/templates for CRM functions"
Hi,

We would like to see about adding some features to the "Standard replys" for the CRM functionality.

Once a lead/opportunity has been added we would like to be able to send a e-mail to them with a template/standard reply. In the template we would like to be able to pull doctype variables such as company name, first name, etc. The goal behind this is to create templates with some basic informa

[2016-02-11 00:23] drishak opened #4789 "POS Sales Invoice : Customer Selection Not Working After Selecting "New" Invoice ( 2nd onward invoice)"
Dear Expert ERPNext's Team Members,

I am doing testing on ERPNext using free 1 user account at gmc.erpnext.com

I realized that the Customer Field in POS view is not functioning on the second sales Invoice.
It works on the first invoice.

When add an item to cart. Message will display .."Please Select Customer First". and keep popping even though customer has been selected.

When I checked on the

[2016-02-11 04:11] Devens commented on #4787
+1 for fetching doctype fields as well as for attachment in template (Standard reply)

[2016-02-11 13:06] #4789 closed

[2016-02-11 23:00] monojoker opened #4793 "Cannot set custom email address using script for Sales Invoice correspondence"
Hi Guys, as mentioned in the chat to @rmehta recently I am trying to have the Sales Invoice email routine send to the Billing Contact Email address - rather than the Sales Order which is default. Script we (Maxwell M and I) tried to use is pasted below. However it appears even though the script works, email_doc is encapsulated in a context which means it's an unreplaceable reference - in other wor

[2016-02-12 03:15] anandpdoshi commented on #4793
This script won’t work because of its async nature.

I think once we were even discussing about removing the email field from “Address” doctype.

Why don’t you just change the value of “Contact” in the Sales Invoice? Maybe have a “Billing” checkmark in Contact or use the existing ’Is Primary Contact'. Fetch the right Contact and it will change the contact_email, and consequently the default To ema

[2016-02-12 03:20] monojoker commented on #4793
That is a good idea - a custom script to change Contact on Sales Invoice form to use the contact we prefer. I hadn't thought of that instead. Will give it a go, thanks @anandpdoshi

[2016-02-12 05:32] lakshhya opened #4794 "Remove Abbreviation from Accounts"
There is abbreviation option in Company Details which is good but this abbreviation is appearing behind every account numbers.  We have only one company and we have unique number to differentiate every account number, so there is no need for abbreviation. Isn't there any option to remove abbreviation.

![image](https://cloud.githubusercontent.com/assets/17191150/12999697/f634d43e-d177-11e5-91b8-fc

[2016-02-12 05:47] anandpdoshi commented on #4794
Solution: We should show Account Name instead of Name field

Sent from my phone

[2016-02-12 06:15] #4793 closed

[2016-02-12 08:37] Ferohers opened #4796 "Date and time translations are broken"
Hi,

Couldnt really come up with an idea to fix. Had to turn to you guys.

![1](https://cloud.githubusercontent.com/assets/14891349/13002091/69cd0ac8-d174-11e5-8fbd-df2be5283cbc.png)
![2](https://cloud.githubusercontent.com/assets/14891349/13002092/6a5da24a-d174-11e5-8821-bfe07394914a.png)
![3](https://cloud.githubusercontent.com/assets/14891349/13002093/6b4764c0-d174-11e5-9db6-8f4ad0bbac14.png)

[2016-02-12 09:12] PratibhaPatil opened #4797 "Manufacturing process with operations"
Suppose we are manufacturing one item .i.e lid. So we need to buy raw material as plastic, after that we are going to do some processes on it like melting, moulding.  and also the processes are done on outside vendors,we need to give purchase order So how we will know status of item in manufacturing process. For melting process, plastic will be raw material.

[2016-02-12 15:05] adgency opened #4798 "Recurring Invoice custom field value"
I have set up a monthly recurring invoice with a custom date field (tax_date).
Unfortunately every new recurring invoice just copies this date from the first one.
But I need this date to increment monthly OR just add TODAY.
In the Custom Field setup, I've selected NOCOPY and default value TODAY, but this doesn't seem to work for recurring invoice, only for a new invoice or a copy of a invoice.

Th

[2016-02-12 23:08] bfoxtrot opened #4799 "Error on update - master branch"
bfoxtrotfarm@instance-production-master:~/frappe-bench$ sudo bench update --patch
Traceback (most recent call last):
  File "/usr/lib/python2.7/runpy.py", line 162, in _run_module_as_main
    "__main__", fname, loader, pkg_name)
  File "/usr/lib/python2.7/runpy.py", line 72, in _run_code
    exec code in run_globals
  File "/home/bfoxtrotfarm/frappe-bench/apps/frappe/frappe/utils/bench_helper.py",

[2016-02-12 23:15] #4340 closed

[2016-02-13 01:38] #4799 closed

[2016-02-13 03:52] rmehta commented on #4797
@PratibhaPatil you can either make multi-level bill of materials and make production orders for each stage, or simpler, you can make custom fields for status and change the status after each process update.

Best to ask such questions at https://discuss.erpnext.com

[2016-02-13 03:53] #4797 closed

[2016-02-13 04:04] mkumar9699 opened #4801 "This webpage is not available"
https://sgsninfo.erpnext.com/login?redirect-to=/desk#login

Till 9:25 AM I was using now it says this web page is not available

Thanks
Mithilesh Kumar

[2016-02-13 04:06] anandpdoshi commented on #4801
Looks to be working fine. Go to https://sgsninfo.erpnext.com/login <https://sgsninfo.erpnext.com/login> and login.

Best,
Anand Doshi

ERPNext

[2016-02-13 04:09] mkumar9699 commented on #4801
Thanks. Now it's working.

________________________________
From: Anand Doshi <notifications@github.com>
Sent: Saturday, February 13, 2016 9:36 AM
To: frappe/erpnext
Cc: mkumar9699
Subject: Re: [erpnext] This webpage is not available (#4801)

Looks to be working fine. Go to https://sgsninfo.erpnext.com/login <https://sgsninfo.erpnext.com/login> and login.

Best,
Anand Doshi

ERPNext

-
Reply to th

[2016-02-13 04:15] #4801 closed

[2016-02-13 06:07] wuditex opened #4802 "Navigation Improvement"
@rmehta, @anandpdoshi I feel that the ERPNext navigation panel on the left can be further improved by renaming the categories and sorting the documents based on categories shown in navigation panel on left. For Eg. Accounts Module has categories as "Documents, Tools, Setup, Main Reports, Standard Reports, Help" whereas it should have been "Transactions, Masters, Tools, Reports, Setup, Help, etc."

[2016-02-13 08:37] Devens commented on #4636
@anandpdoshi - With new release hyperlink is not available from timeline also.

[2016-02-13 16:26] busyfritz commented on #4802
Totally Agreed. This is one of the biggest issues in getting some people in my company to try ERPNext

[2016-02-13 21:45] busyfritz commented on #4802
For example: http://www.cliptheme.com/demo/packet/LAYOUT-1/#/app/dashboard
This theme feels modern, cohesive and is easy on the eyes

[2016-02-14 19:48] mach-kernel commented on #2090
@yashodhank I managed to get it running. I'm implementing this in the `POS` app first so that cards can be used on the spot with ERPNext, but this feature will be something that can follow.

[2016-02-14 19:54] mkumar9699 opened #4805 "Want to add columns after rate in Sales Invoice Item like "Labour Charges" and "Green Tax" Calculation will be defined in sales order"
Our functionality is one item will Have two types of rate (i.e  No of Packs, Weight and Full Truck)

-Delivery not may have both kind of item.
- I delivered material to customer using five delivery notes and I want that  one delivery note will be one row in Invoice details with other columns like Labour charges and labour charges amount will be calculated based on rate defined in sales order. Othe

[2016-02-15 04:22] ramielian opened #4808 "Tracing invoices by mode of payment (exp. cheque / CC)"
it is a must in any accounting system to have a trace for the mode of payment and some information when paying in it, like (cheque number, bank, from, date....etc and same of the Credit cards as well).

these information being missing is making the work much harder for the accounting team....

thanks :+1:  :100:  :)

[2016-02-15 04:23] kamtex opened #4809 "Not able to add shortcuts to Dashboard"
In addition to the existing apps on the Dashboard, I would like to add shortcuts to my commonly used pages. too E.g. Invoices, Quotations, Delivery Note.

There is plenty of wasted screen real estate that can be properly used if I can add my own shortcuts. This will reduce clicks. I know the smart search is good but not fast enough compared to a direct click.

Maybe add a** "Pin to Dashboard"  **u

[2016-02-15 04:33] Devens commented on #4809
It would be really useful for each user.

[2016-02-15 04:53] Devens commented on #4593
Yes... It was suggested to Edit Report and duplicate the same.

[2016-02-15 05:24] fderyckel opened #4810 "HR - report once a employee leave"
Let's say Employee A has left the company on January 15th.
We have tagged him as left and indicated the date of his last day in the exit section.

Now I would like to review the attendance of December & January for Employee A (and today we are February 15th).

It is not possible to review the attendance of an employee that has left the company for a time when he was in the company.  Any chance, we

[2016-02-15 05:56] #474 closed

[2016-02-15 05:56] #1318 closed

[2016-02-15 05:57] #1453 closed

[2016-02-15 06:00] #1864 closed

[2016-02-15 06:00] #1824 closed

[2016-02-15 06:02] rmehta commented on #2011
You can set precision in each document

[2016-02-15 06:02] #2011 closed

[2016-02-15 06:03] #1908 closed

[2016-02-15 06:03] #1907 closed

[2016-02-15 06:03] #4743 closed

[2016-02-15 06:39] monojoker commented on #4793
@anandpdoshi I think your last sentence is what I already tried and didn't work. Or is there something I'm not thinking of? I am reluctant to create an entire new set of contacts when we have a Billing Address for every customer already. But if in the future the email_id from Address record may be removed then I guess I have no choice :)

[2016-02-15 06:52] kamtex commented on #4809
@Devens Glad that you agree.
Yup. That is why I think the ERPnext team should look into this for the next update. :)

[2016-02-15 06:55] anandpdoshi commented on #4809
We have had this in mind for a long time, but it will take some time and effort because:

1. Permissions decide which icons should be shown
1. Show Hide modules per User
1. Show Hide modules for the whole system
1. Good Desktop Icons for each DocType

[2016-02-15 07:10] kamtex commented on #4809
@anandpdoshi Glad to know that it is planned. I think you should keep it simple first. Implement a basic version and let users decide if they need other features you mentioned. It might be simpler than you think.

Stage 1
**1. **Only for Users. ****
No need for System wide options. The screen should be tailored for each user's own taste and preference. I don't want to see those that others pinned.

[2016-02-15 07:40] anandpdoshi commented on #4793
Use ajax to set the value of address email into `contact_email` on form load and on contact change

[2016-02-15 08:19] wuditex commented on #4802
@busyfritz I also like your idea for changing the navigation and further improve ease of use. But I am currently suggesting just redoing the category names and its items. UI Theme can be changed later too.

[2016-02-15 08:37] Devens opened #4812 "Modification in Stock analytics report"
1. Item Name should be displayed (either in place of Item Code OR in separate column)
2. search/filter by Item Name
3. Option to hide zero value rows
4. From report heading, it's not clear that the analysis is of what (Inword, Outword, balance or anything else?)
5. Option to filter by Company

![image](https://cloud.githubusercontent.com/assets/10671911/13042887/10d85256-d3ea-11e5-893e-cf44d2b4d00

[2016-02-15 08:49] samduff opened #4813 "10% tax calculation error"
I'm entering a purchase order, and 10% tax on $12.70 is being calculated as $1.28.

![image](https://cloud.githubusercontent.com/assets/668183/13043533/bf29d21c-d41c-11e5-82fc-282013905722.png)

Browsing with Chrome
ERPNext: v6.21.6
Frappe Framework: v6.22.7
Frappe Subscription: v0.0.1
Mandrill Integration: v0.0.1

[2016-02-15 09:18] rmehta commented on #3053
Year of passing can be in future (esp for internships)

[2016-02-15 09:18] #3053 closed

[2016-02-15 09:58] anandpdoshi commented on #4155
Seems to be fixed as per: https://github.com/frappe/erpnext/blob/develop/erpnext/hr/doctype/salary_slip/salary_slip.py#L83

[2016-02-15 09:58] #4155 closed

[2016-02-15 11:06] vjFaLk commented on #4320
Cannot recreate.

[2016-02-15 11:09] #4320 closed

[2016-02-15 11:11] rmehta commented on #4813
@samduff  what do you expect?

[2016-02-15 11:14] anandpdoshi commented on #4813
@samduff we will need to investigate this. Thanks for reporting it :+1:

[2016-02-15 11:24] busyfritz commented on #4802
Agreed,  the category thing is the biggest issue. As far as look and feel,  the complaint I've gotten is "where is everything"? Users feel lost in the whitespace.  But that could definitely be a step 2

[2016-02-15 11:29] mkumar9699 opened #4816 "Can I set one field value to Other field with some logic"
I want to add two columns in Invoice 1. Actual Weight 2. Charged Weight
If I enter 30 as actual weight then minimum charged weight should be 50 or 100 as defined in Sales Order and if it is greater than minimum  then charged weight should be Actual weight.

Please suggest

Mithilesh

[2016-02-15 11:48] mkumar9699 opened #4817 "Sum of Additional column Value other than Amount can be set in sales tax template"
I want to add sum charges column in sales invoice Item and post the sum of columns to their respective Account head or Sum of column Value other than Amount  can be set in sales tax template to post the account entries.

Please tell me how can be done.

Thanks
Mithilesh

[2016-02-15 13:10] anandpdoshi commented on #4636
Will release a fix this week

[2016-02-15 13:10] #4636 closed

[2016-02-15 14:37] mkumar9699 opened #4818 "Can Shipping rule used for quantity in Sales Invoice"
I want to use Shipping rule for  quantity in Sales Invoice

Mithilesh

[2016-02-15 17:34] mkumar9699 opened #4819 "Sales Tax Charges for Other charges can be calculate on charge_type Net Weight"
I want to calculate charges on Net Weight or Total no. of packs in Sales Invoice. Please help.

Thanks
Mithilesh

[2016-02-15 21:00] dottenbr commented on #4754
@emakis please work on this

[2016-02-16 01:08] rmehta commented on #4818
@mkumar9699  please post questions at discuss.erpnext.com

[2016-02-16 01:08] #4818 closed

[2016-02-16 01:19] rmehta commented on #4802
@wuditex @busyfritz A major revamp of the navigation is already under way, and should cover most of your points.

ps. No, the theme won't change as of now.

[2016-02-16 09:36] emakis commented on #4754
Whick DocType has "In Words" field?

[2016-02-16 10:34] gbayliss commented on #4648
My company also has a requirement for this, with an added option for specifying the path per module.  This is so that we can integrate the attachments into our existing Windows shared folder infrastructure, although the same would apply to FOSS implementations with a very large number of files.

Files should be upload into a path which follows the form:

**<module.settings.path>/<doctype.name>/<do

[2016-02-16 11:27] kamtex commented on #4809
@anandpdoshi Actually you can scrap no. 3 and not reveal counts at all.  I think we users will be contented with just the basics.

[2016-02-16 13:02] PratibhaPatil opened #4821 "Combine order for common item"
While placing the PO for the same item having more than 2 material request,must add additional quantity instead of adding same item in the Purchase Order.

[2016-02-16 13:19] sbkolate commented on #4070
As we can keep track stop/close of Sales Order in comment, this issue can be closed.

Also can deprecate close or stop since both are same.
https://discuss.erpnext.com/t/what-is-the-difference-between-stop-and-close-action-in-sales-order-and-purchase-order/9040

we can also add Stop button in Sales Invoice//Purchase Invoice to stop from making payment entry when user directly created Sales Invoice