[2022-05-28 14:20] MujtabaMohsin opened #31171 "Interview doctypes are not in the HR workspace"
### Information about bug

Hello I'm ERPNext: v13.29.0 (HEAD) and I noticed that the interview doctypes such as:

- Interview
- Interview  Round
- Interview Type List
- eg..
are not in the HR module workspace. I'm using frappe cloud so I can't change the workspace.
I hope you fix this bug in the next update.

![oz__646](https://user-images.githubusercontent.com/64940728/170829362-6038928e-2d47-48f

[2022-05-28 17:17] dj12djdjs commented on #31111
This is the condition that generates the list of receiptents.
https://github.com/frappe/frappe/blob/d193ea22d17ca40d57432040a8afad72287d9e23/frappe/email/doctype/notification/notification.js#L76-L78

The doctype must have a field of type Link with options as User, which every doctype has `owner` as you mentioned. Or a Data field with options Email.

[2022-05-28 17:21] dj12djdjs commented on #31106
The option to select default print format is not located in doctype view settings. It is located on all print formats for that doctype. If you wish to set a default, open the print format you want to be default and click "Set as Default"

![image](https://user-images.githubusercontent.com/29856401/170836067-bdbb704d-a0bf-49e0-bd86-81cdac677586.png)

[2022-05-28 19:21] #19272 closed, assigned to nobody

[2022-05-28 23:11] hameedacpa commented on #31044
Any update for this issue

[2022-05-29 00:52] #30274 closed, assigned to nobody

[2022-05-30 00:24] Audrey1010 opened #31172 "Stock balance - Queued"
### Information about bug

After the updatin the cpu in google cloud platform the stock balance response is too long too wait until the stock balance report was queued.

### Module

stock

### Version

ERPNext: v13.14.1 (HEAD)
Frappe Framework: v13.14.1 (HEAD)

### Installation method

_No response_

### Relevant log output / Stack trace / Full Error Message.

_No response_

[2022-05-30 01:11] Audrey1010 commented on #17368
Hello. this is issue in stock balance report already fixed? please help me to fix the problem in stock balance queued.

Thanks

[2022-05-30 01:53] SalahAddinAbdo opened #31173 "Page notification-settings not found"
### Information about bug

Page notification-settings not found
I can not access the notification settings page again? I was able to get it in the past but I do not know what is the problem now? I appreciate your help.

### Module

other

### Version

ERPNext: v13.30.0 (HEAD)
Frappe Framework: v13.29.2 (HEAD)

### Installation method

FrappeCloud

### Relevant log output / Stack trace / Full Error

[2022-05-30 02:29] dj12djdjs commented on #31172
Can you provide more information, System Spec, response time, how many items are generated in the report?

[2022-05-30 02:34] dj12djdjs commented on #31173
I'm able to access it via this route: /app/notification-settings

Also it is available by Desk
![image](https://user-images.githubusercontent.com/29856401/170906717-b514cf94-d3ca-413e-98b8-4de0272b38ba.png)

Although I was not able to access it from the Awesome bar

[2022-05-30 03:11] Audrey1010 commented on #31172
ERPFrappe
ERPNext: v13.14.1 (HEAD)
Frappe Framework: v13.14.1 (HEAD)

Then only 1 item planning to generate sir. And this saturday on 2022-05-28 we upgrade cpu in then started to **QUEUED** because we use google cloud platform.

thanks

[2022-05-30 03:46] ankush commented on #31173
It also accessible from notification pane's "gear" icon.

[2022-05-30 03:46] #31173 closed, assigned to nobody

[2022-05-30 04:29] ankush commented on #31172
Most likely background workers aren't working, tried restarting `bench restart`?

[2022-05-30 04:34] Audrey1010 commented on #31172
Hi. Sir Ankush, yes I already tried for this command **sudo /opt/bitnami/ctlscript.sh restart**

[2022-05-30 05:22] tjomtek opened #31176 "pull_from_email_account"
### Information about bug

Error after upgrade.Using dedicated domain and not gmail.

### Module

other

### Version

ERPNext: v13.30.0 (version-13)

Frappe Framework: v13.29.2 (version-13)

### Installation method

manual install

### Relevant log output / Stack trace / Full Error Message.

[code]

[2022-05-30 06:04] rjbharath1003 commented on #18504
client side script before_workflow_action not working in list view.

[2022-05-30 06:26] nihantra commented on #31147
Hi @asoral,

I have tested in erpnext hosting and also checked in the localhost system.
and does not duplicate appear in the company gstin filter.

so update/migrate your version. otherwise, check your code.
[code]

Thank You!

[2022-05-30 06:36] nihantra commented on #31106
Hi @sunilsmspl,

Adding @dj12djdjs answer, Otherwise, you can default print format set in customize form in view setting section.

![image](https://user-images.githubusercontent.com/99652762/170931378-117b5343-5176-4e93-b1a0-7d4aed643508.png)

Thank You!

[2022-05-30 06:51] #31106 closed, assigned to nobody

[2022-05-30 07:05] Craftint commented on #31161
Can anyone have a look into this

[2022-05-30 07:57] #31159 closed, assigned to ankush

[2022-05-30 08:04] FiloSpaTeam commented on #31111
Ok thanks for the info, but for this specific DocType i want to have an option to send this Subscription to the party too.
Actually i'm using an Email Template custom and manually send the print, but i would to send an automatic email on Submit/ Save.

[2022-05-30 10:38] sameer-mahendru commented on #31151
Any update on this issue?

I am presently unable to open Customer masters due to this error.

[2022-05-30 12:21] kanedai opened #31179 "Pricing change after change the date of doctype"
### Information about bug

1, New Quotation.
2, Use foreign currency price list.
3, Insert some items, (some items will fetch from the price list)
4, Change price for some items.
5, Save.
(So far everything is fine)
6, Change date of the quotation,  the price is changed. It seems it will refetch the price from the price list and overwrite the unit price of the item.

### Module

accounts, buying,

[2022-05-30 12:27] ayushcoc opened #31180 "Auto Payment Reconciliation Across ledgers"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-05-30 12:27] ayushcoc commented on #31180
We should Have a feature, a button which automatically adjusts payments across sales invoice in a fifo manner

[2022-05-30 12:56] #31171 closed, assigned to ruchamahabal

[2022-05-30 13:19] dj12djdjs commented on #31180
@ayushcoc This feature already exists. Just specify the date range and amount. This will automatically allocated the rows in a fifo manner.

https://docs.erpnext.com/docs/v13/user/manual/en/accounts/payment-reconciliation

[2022-05-30 13:21] dj12djdjs commented on #31179
Possibly related to: https://github.com/frappe/erpnext/issues/29840

[2022-05-30 17:18] muchai commented on #31151
Interesting. I somewhat know it's somewhat a data issue, since other sites are Ok. But with this similar issue, I wonder if it's a erpnext issue too.

[2022-05-30 17:21] ayushcoc commented on #31180
Hi, @dj12djdjs
Thanks for the update!
I was looking for the same over all the customers on a single go (Kind of similar to what update cost on all BOM button does)
Current feature is limited to a single customer in one go

[2022-05-30 17:53] sameer-mahendru commented on #31151
I recently upgraded from V12 to V13 and was receiving this error but was still able to proceed with opening the doctype. Now I updated to the latest frappe and ERPNext versions and I am unable able to open a customer master. Do you have any workarounds? Do you know how we can escalate this issue, as work is stuck at the moment?

[2022-05-30 18:22] muchai commented on #31151
It's related to the pr mentioned: https://github.com/frappe/frappe/pull/16863, which is from the latest release.

As for why it's affecting some sites, and not others, not sure yet.

[2022-05-31 02:39] Audrey1010 commented on #31172
Hello sir. please help me to resolve.

thanks

[2022-05-31 02:42] dj12djdjs commented on #31172
@Audrey1010 what is the output of `bench doctor` are there any background workers running ?

[2022-05-31 02:51] Audrey1010 commented on #31172
Hi @dj12djdjs I was not yet do the bench doctor, how can I figure that? inside of ssh/cloud google?
Because I was newbie here.

Thanks

[2022-05-31 02:55] dj12djdjs commented on #31172
@Audrey1010 Yes you must be logged on to your server in your bench directory. Then run `bench doctor`

[2022-05-31 04:10] hameedacpa commented on #31044
Please pay attention to this error

[2022-05-31 06:46] nextchamp-saqib opened #31189 "[India][E-Invoicing] Increase IRN cancellation time limit"
@nextchamp-saqib I will start testing soon meanwhile about that one problem that is unsolved I think we should do something like the below. this will increase the time limit to 72 hours and prevent accidental cancels. it should prevent all of the issues and provide better UX. what are your thoughts on this ?

![extend check time to 72 hours](https://user-images.githubusercontent.com/39730881/17065

[2022-05-31 09:01] sameer-mahendru commented on #31151
UPDATE

On my site, a user with limited role and user permissions is able to open an individual customer master, while my user account with full role and user permissions encounters this error.

Not sure of how to make sense of this.

[2022-05-31 09:34] nguyenrom opened #31192 "Unknown column 'enable_provisional_accounting_for_non_stock_items' when upgrade v12 to v13"
### Information about bug

- I'm upgrade ERPNext from v12 to v13
- I tried to run bench migrate but it not working.

### Module

other

### Version

ERPNext v12 latest

### Installation method

_No response_

### Relevant log output / Stack trace / Full Error Message.

[code]

[2022-05-31 10:20] nguyenrom commented on #31192
I have found solution, login to site database:

[code]

[2022-05-31 10:20] #31192 closed, assigned to nobody

[2022-05-31 11:01] rtdany10 opened #31193 "MultiCurrency - Can't invoice customer"
### Information about bug

On first invoice of a new customer, if the currency is different from the ledger currency, system throws error:
`Party Account <account name here> currency and document currency should be same`

Caused by https://github.com/frappe/erpnext/commit/80c85dd17cf0c0fdcf07d2e0c2151b2852a0c611

### Module

accounts

### Version

ERPNext: v13.31.1 (HEAD)
Frappe Framework: v13.30.

[2022-05-31 11:02] rtdany10 commented on #31193
@deepeshgarg007 please look into this

[2022-05-31 11:42] muchai commented on #31151
@hrwX seems to be related to this pr: https://github.com/frappe/frappe/pull/16863

[2022-05-31 12:52] ayushcoc opened #31196 "Website Page Filter based on custom field in Item Master"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-05-31 12:54] ayushcoc commented on #31196
Hi,
While trying to setup website filters from Item Group, I am unable to get custom fields created by me to allow viewers to filter the products based on the same!

[2022-05-31 14:18] #31167 closed, assigned to nobody

[2022-06-01 00:35] wojosc commented on #25663
Hey @nikhilponnuru our solution to this for the moment is a addon app that we have created:
https://github.com/phamos-eu/HR-Addon

You'll find the documentation here:
https://doku.phamos.eu/books/hr-addon

Hope it might help :)

[2022-06-01 05:56] ankush opened #31202 "create full version log when "update items" is used."
As of now changed items aren't appearing in the changelog which makes it difficult to track what change was made.

- Create and submit SO
- Add new item using "update items"
- check timeline, a version is created but it contains partial info.

[2022-06-01 07:54] megha0071994 opened #31207 "letter head is not visible in pdf when I'm sending purchase order in email."
### Information about bug

letter head is not visible in pdf when I'm sending purchase order in email, while I've done all the settings, what show I do?
It working previously, but when I install new bench and site on server, it is not working.

### Module

buying, selling

### Version

bench version : 5.8.1
ERPNext: v13.28.0
Frappe Framework: v13.28.0

### Installation method

manual install

###

[2022-06-01 10:02] maharshivpatel commented on #31189
This will also be applicable for e-way cancel status checks. I can also send PR for them if you like @nextchamp-saqib

[2022-06-01 10:56] suspatel opened #31211 "Same Batch numbers from different suppliers"
What if We received different Product with same numbers from supplier?  (ERP will not accept same batch numbers)

[2022-06-01 11:13] #30777 closed, assigned to nobody

[2022-06-01 13:44] dj12djdjs commented on #31207
I've had this happen when using multitenant dns. Here was my setup.

I had my primary site created with `bench new-site erp.SITE_NAME.com`

Then I had two addon domains pointing to the main site
`siteA.com` -> `erp.SITE_NAME.com`
`siteB.com` -> `erp.SITE_NAME.com`

We wanted to expire the `erp` subdomain extension but many people had this bookmarked.
So we setup a 301 redirect from `erp.SITE_NAME.

[2022-06-01 14:14] ankush commented on #23876
can't reproduce on latest v12/v13 versions.

[2022-06-01 14:14] #23876 closed, assigned to nobody

[2022-06-01 14:31] ankush opened #31213 "Clearning taxes makes order doc unusable"
### Information about bug

1. Open sales order
2. Sales tax template is loaded by default (if not add it)
3. Clear tax table rows.

Makes form almost completely irrecoverable broken.

https://user-images.githubusercontent.com/9079960/171429374-f28624a2-a238-4851-a2bb-e9283e684bbb.mov

### Module

accounts

### Version

develop

### Installation method

manual install

### Relevant log output / Sta

[2022-06-01 14:32] ankush commented on #31213
<img width="466" alt="Screenshot 2022-06-01 at 7 58 47 PM" src="https://user-images.githubusercontent.com/9079960/171429507-c62c7ce1-bdc8-4adf-87a6-e70110541444.png">

Most likely symptom, the tax table row has incorrect parent set for whatever reason.

[2022-06-01 14:36] dj12djdjs commented on #31213
I've experienced this as well. I thought it was some bug in frappe. Whenever developing on `develop` I save the document before clearing any child tables.

As long as the document is saved. It will clear just fine.

[2022-06-01 14:37] ankush commented on #31213
I am guessing this is specific to taxes since they are set by server side: https://github.com/frappe/erpnext/blob/720e8517aab617061a8c4a8315b16e44535d65fc/erpnext/public/js/controllers/transaction.js#L1702-L1713

I think we should fix both

- desk should be resilient to this
- parent should be correctly set.

[2022-06-01 14:43] ankush commented on #31213
Okay, I think I got it 😄 This is caused by https://github.com/frappe/frappe/pull/15411

@phot0n no good deed goes unpunished 😆

[2022-06-01 14:44] sunhoww opened #31214 "Trial Balance not considering Finance Book"
### Information about bug

_Opening(Dr)_ and _Opening(Cr)_ columns aggregates all entries with or without _Finance Book_ when this filter is left blank. Otherwise when, this filter is set, the resulting values are as expected.

The discrepancy can be observed when this report is compared against **Report: Balance Sheet**.

### Module

accounts

### Version

ERPNext: v13.32.0
Frappe Framework: v13.

[2022-06-01 16:31] #31213 closed, assigned to nobody

[2022-06-02 06:23] megha0071994 commented on #31207
I've not setup multitenant DNS.

[2022-06-02 07:22] Andriesvn commented on #30777
Could you please Backport this to v13 as well?

[2022-06-02 07:28] ankush commented on #30777
Doubt this can be backported, many internally incompatible changes are done to barcode scanning that this PR depends on. Also, we _usually_ don't port features to previous stable versions.

[2022-06-02 13:21] dj12djdjs commented on #31207
Is your letter head based on an image or is it generated through HTML ?

[2022-06-02 14:11] megha0071994 commented on #31207
generated through HTML
[code]

[2022-06-02 14:49] dj12djdjs commented on #31207
I have a feeling it's a problem with the image resource you're requesting. Can you test if you remove the image from your letter head. Just put something like "Hello World" then test the email. If the text will show up in the email?

Another thing you can try is make sure your site_config.json has a key `host_name` with a value of your host example
`sub-domain.domain.in`

[2022-06-02 15:37] melBoh commented on #30986
Hi !
I still have this issue :(
The answer I had on https://github.com/frappe/erpnext/pull/30363 sadly isn't working for me
Here you can see a simple sales order with 1 item which has a pricing rule that I want to ignore
![commande-6articles](https://user-images.githubusercontent.com/15611886/171658518-a2c49902-d666-46a8-99df-4ac419b82a73.png)
And here is the invoice generated
![Capture d’écran 2

[2022-06-02 16:57] muchai opened #31222 "frappe.core.doctype.doctype.doctype.UniqueFieldnameError: Sales Order: Fieldname accounting_dimensions_section appears multiple times in rows 18, 20"
### Information about bug

This happens during update to the latest release.

- I have seen this problem before. Should have learnt then.
- One, there already existed a custom field, in this case a section named accounting_dimensions_section, of late learnt it's best to preface custom fields names with a somewhat unique prefix.
- Now, in the latest release, there's a standard field named accountin

[2022-06-02 17:52] dj12djdjs commented on #31193
This looks intentional by this PR: https://github.com/frappe/erpnext/pull/26916

It makes sense to maintain separate accounts if the customer/supplier uses multi currency.

Example:
Customer A
This customer will be billed in the base currency. (CAD)

Customer A - USD
This customer will not use the default receivable account but a receivable account in the USD currency.

Is there a case this approa

[2022-06-03 00:44] guilmori commented on #31211
Such a common and sensible use case, all my clients complain about this unique constraint, implemented as one would expect in every other softwares I tried, yet blatantly ignored here.

[2022-06-03 00:45] guilmori commented on #30993
Hello? Is there anybody here ?

[2022-06-03 04:06] rtdany10 commented on #31193
Yes, it's an intentional change. Although I disagree to keeping separate accounts for multi-currency. Why the need?

You mean splitting the customer based on currency and setting defaults for each? I have customers who deal in 4 or 5 currencies. Splitting them would make reports like Accounts Receivable/Payable, General Ledger etc useless. ERP is meant to ease up things :disappointed:

This is a b

[2022-06-03 05:40] dj12djdjs commented on #31193
Since the beginning of using ERP we have a separate account for all customers/suppliers for each currency they bill or we bill them with.

I've not tried using a single party account to book invoices against multiple currencies, I'd like to test this out.
In my head I'm thinking it would be more difficult. My reasonings are:

Let's say the company base currency is USD and so is the receivables acc

[2022-06-03 06:04] megha0071994 commented on #31207
Both solution are not working ..

[2022-06-03 06:16] dj12djdjs commented on #31207
If the letter head isn't appearing with just some text on it. Possibly the print setting is configured to not display letter head.
Could you check?
![image](https://user-images.githubusercontent.com/29856401/171797755-e858e6cc-b079-4c5d-8f74-8940808d89de.png)

[2022-06-03 06:18] dj12djdjs commented on #31207
I'm on
Frappe Framework: v13.29.1 (version-13)
ERPNext: v13.30.0 (version-13)

and email pdf with letter head is working perfectly for me.

[2022-06-03 06:36] megha0071994 commented on #31207
Sorry still not working, all the settings are same as your screenshot.

[2022-06-03 11:26] asbasawaraj opened #31226 "GSTR-1 doesn't show credit notes"
### Information about bug

When a credit note is created against an invoice for a customer with 'Unregistered' GST Category, it should show up in the GSTR-1 report when 'Type of Business' filter is set to 'Credit/Debit Notes (Unregistered) - 9B'.

However, if the 'Place of supply of supply (GST State) of such unregistered customer is same as that company, the credit note doesn't show up in the rep

[2022-06-03 13:03] asbasawaraj commented on #31226
The exclusion of credit notes is as per the requirements of GST portal.

[2022-06-03 13:03] #31226 closed, assigned to nobody

[2022-06-03 13:13] GoldenScrew opened #31228 "Creating and editing schedules not useful. Make schedule repetition like in the Bittrix24."
**Is your feature request related to a problem? Please describe.**
Now, if we have chages of time or dates in the future, for editing schedule we need delete all next schedules.
Also if we need create schedule for different days of week we need create schedule for each days of week. And we need to use Course Scheduling Tool.

**Describe the solution you'd like**
You should to do connection between

[2022-06-03 13:20] agritheory commented on #31228
@GoldenScrew It is not clear from your request in what Doctype(s) you would like to see this UI. Can you also translate/ mark up the line graph interface at the bottom? What is it used for?

[2022-06-04 03:44] rtdany10 commented on #31193
Accounts Receivable report doesn't show currency, it shows only figures.

[2022-06-04 13:35] mn3m-cs commented on #31214
There's **Include Default Book Entries** checkbox, that may solve your problem
![image](https://user-images.githubusercontent.com/34791641/172002278-f7bf940a-9a5d-4196-aa6d-f5d408878510.png)

[2022-06-05 12:17] jukkis69 commented on #16025
Now have installed the UK VAT module by @Paul-STHL and the 'New VAT Return' does not seem to return any data on the test data.

First I have configure the tax categories as per the advice.

![image](https://user-images.githubusercontent.com/105164376/172049328-301a75d8-3bb2-4546-a738-54194ddf7c91.png)

Then created some Item Tax Templates. Initially I had each template linked to purchase and sales

[2022-06-05 15:36] basant-in commented on #29483
I still see this as an issue for tax setup at item group. Anyone can help how to fix this?

[2022-06-05 16:30] shibinrajumathew commented on #29483
Create tax template and assign tax template to item group.

[2022-06-05 16:34] shibinrajumathew commented on #29483
Create tax template with company, account head and then try too assign to group

[2022-06-05 16:34] shibinrajumathew commented on #29483
Create tax template with company, account head and then try too assign to group

[2022-06-05 16:35] #29483 closed, assigned to nobody

[2022-06-05 16:35] shibinrajumathew commented on #29483
Create tax template with company, account head and then try too assign to group

[2022-06-06 05:41] YogeshPatel2006 commented on #31170
![image](https://user-images.githubusercontent.com/100362716/172101737-69b6f7ee-6f4d-4179-8fe0-3c8fdbd87973.png)

[2022-06-06 05:43] YogeshPatel2006 commented on #31170
Here is a screen shot showing the problem:
![image](https://user-images.githubusercontent.com/100362716/172102052-1d640a73-e2d9-4d2d-bc49-33e8ff746f52.png)

I just hope this screen shot is sufficient to highlight the problem at hand. If you want more information please do ask.

[2022-06-06 06:14] Craftint opened #31239 "Mark attendance considers only joining month and date not year"
### Information about bug

Description of the issue
While marking the attendance from the "Mark attendance" button in attendance list, the unmarked dates coming are incorrect.
It compares the joining date of the employee to current month and put the starting date same as joining day if months are same. It is not checking the year of joining.

For example, if the employee has joined 22nd May 2021,

[2022-06-06 08:50] barredterra commented on #16025
@jukkis69 kindly post your question on discuss.erpnext.com or in the app that is causing your issue: https://github.com/software-to-hardware/erpnext-vat-mtd

[2022-06-06 09:50] sodhancha opened #31245 "Add Bikram Sambat Calender to ERPNext"
Feature request:
Bikram Sambat is the prevelant calender currently used in [Nepal](https://en.wikipedia.org/wiki/Nepal). Even though not ideal and legacy we still have to use it for doing business in Nepal including generating [Tax Invoices](https://nepal.gov.np:8443/NationalPortal/view-page?id=94), Filing Taxes, Registering a company and any kind of compliance, tax or financial matters.

Logic fo

[2022-06-06 09:52] ejaazkhan opened #31246 "Only 1 shift Attendance showing in Salary slip"
### Information about bug

- I have assigned 2 shifts to an Employee
![image](https://user-images.githubusercontent.com/67804911/172137561-25e7a1b9-5119-4589-8551-26747322fb42.png)
- Only 1 shift attendance is showing in Salary Slip
![image](https://user-images.githubusercontent.com/67804911/172137714-144624fb-ab14-415c-833c-9537a93c69c2.png)
- Same issue in Monthly Attendance Report (Summarised V

[2022-06-06 11:45] muchai opened #31252 "Support module dashboards"
Request for some default support module dashboards

[2022-06-06 12:54] vic-t commented on #29671
@ankush As discussed over in the forum, please reopen this report, even if there is no plan to work on it anytime soon. Thx.

[2022-06-06 17:31] Olawale1 commented on #28568
Hi @ruchamahabal

Trust you're doing well. I'm not sure if this is related to your patch but now there is a new error when updating

[code]
This happens even in sites that do not have any Leave Policy Assignment record! Kindly confirm if I should open a new thread for this

Thanks

[2022-06-06 23:10] nbhatti opened #31254 "Data import not working on develop branch"
### Information about bug

When click on Start Import the button disappears and worker.error.log troughs errors

[code]

### Module

accounts

### Version

erpnext 14.x.x-develop
frappe 14.x.x-develop

### Installation method

manual install

### Relevant log output / Stack trace / Full Error Message.

[code]

[2022-06-07 00:40] ibra2022 opened #31255 "The problem of the Hijri date Umm Al-Qura"
التاريخ الهجري   الاسلامي غير موجود بالنظام
تاريخ الهجري ام القرى
نريد يكون النظام متعدد التاريخ بحيث تختار نوع واحد للتاريخ او تختار نوعين نوع اصل والآخر مقابل يتم التعرف على التاريخ المقابل في اي وقت

-------------------

The Islamic Hijri date is not available in the system
Hijri date Umm Al-Qura
We want the system to be multi-date so that you choose one type of date, or you choose two types, o

[2022-06-07 04:54] ruchamahabal commented on #28568
@Olawale1 This patch has been removed completely now https://github.com/frappe/erpnext/pull/31097 since it was unnecessary. Not sure why was it added in the first place.

[2022-06-07 07:03] wojosc commented on #29644
keep open.

[2022-06-07 07:19] Olawale1 commented on #28568
Fantastic! I agree completely.  Hope this 'un-patch' will be released in production soon

Thanks a lot

[2022-06-07 11:48] DrZoidberg09 opened #31270 "Adding individual (weekly) working hours per employee"
Hi everyone,

I am currently setting up ERPNext for our company. One of the key features is tracking the time of employees based on working hours, as beautifully done by the report "Employee Hours Utilization Based On Timesheet".

However, this report (and ERPNext in general) only has one standard working hours parameter for the company. However, there are many different contract types with differ

[2022-06-07 23:06] dj12djdjs commented on #31254
I just tested with `Brand` doctype data import. Worked perfectly.

I think it may have been fixed with this: https://github.com/frappe/frappe/pull/17075

@nbhatti Could you pull latest update. It should be working.

[2022-06-07 23:09] dj12djdjs commented on #31207
@megha0071994 I'm not sure what it could be. Letter heads are working perfectly fine in emails for me on 13.30.0

Most likely there is a problem somewhere else. It will take some debugging and troubleshooting to figure it out.

[2022-06-07 23:44] dj12djdjs commented on #31193
I've setup a test where the base currency of the company is `USD` I've also setup a customer setup on the default receivable account. (Also USD)

I've added the below invoices exactly.

<body>

Invoice # | Currency | Exc. | Debit | Credit | debit_in_account_currency (USD) | credit_in_account_currency (USD)
-- | -- | -- | -- | -- | -- | --
0001 | EUR | 1.07 | 300.00 | 0.0 | 321.00 | 0.0
0002 | GBP

[2022-06-08 00:43] blewsky commented on #29649
Not sure why a feature request should become stale.

[2022-06-08 08:31] shivansh12 opened #31279 "Quantity difference showing in batch wise balance history and actual"
### Information about bug

Hi Team,

I am facing an unwanted scenario in which ;
case 1: When i took batch wise balance history balance qty is 772 for an item for a particular batch but while stock reconciliation the quantity is showing as 177.

and if i try to reconcile it with some quantity lets say 100 then the batch wise balance history report shows it 695 quantity for that particular batch…

[2022-06-08 09:27] TwinkleDamania opened #31281 "Accounts Receivable & Payable Report"
There are two checkboxes available in the Accounts Receivable Report - **'Show Future Payments'** and **'Group by Customers'** but the totals for them don't appear. (check screenshot 2)

![image](https://user-images.githubusercontent.com/96407484/172581701-90f1590c-2ecc-481e-bfcc-bd1098f52dc9.png)

![image](https://user-images.githubusercontent.com/96407484/172582360-f9c3c575-25cb-4bfd-b01f-38f03c

[2022-06-08 09:29] Solufyin commented on #31193
Hello @rtdany10,

As per your need we added generic solution for to segregated account receivable entries currency wise in Report.
See the Reference : #31278

@nextchamp-saqib  I hope it will be helpful for all ERPNext community.

Thanks

[2022-06-08 10:53] barredterra commented on #26177
I see the issue that this would make item entry more complicated. If we implemented this, we would need an option to toggle this behavior only for companies who really need it.

We have implemented “Rate UOM” in a private custom app for the time being. If anybody wants to contribute this feature, please get in touch for access to the existing code. Closing this issue for now.

[2022-06-08 10:53] #26177 closed, assigned to nobody

[2022-06-08 14:13] muchai commented on #31151
Hi frappe, mind reversing this, in one site, creation, or opening of customers and suppliers is not possible at all.

[2022-06-08 14:17] dj12djdjs commented on #31193
@Solufyin As per my understanding this won't solve the issue.

The account currency in @rtdany10 scenario will always be the company base currency for example INR. Therefor, filtering by currency on the accounts receivable report won't be effective as there is only 1 accounts receivable account.

I believe if we want to implement this, the accounts receivable report should show the document billed

[2022-06-08 16:12] this-gavagai opened #31288 "Bank Statement Import always fails due to type error (v14-beta)"
### Information about bug

The Bank Statement Import function seems to be completely unworking at the moment. I was unable to get it to work correctly, regardless of import method or data format.

The issue appears to be mismatched type assumptions for the variable `import_log`. In the doctype controller, `import_log` is defined as a list, whereas in the javascript frontend it is assumed to be a J

[2022-06-08 16:19] Usageunique opened #31289 "Console error when entering a new stock entry which is not for manufacturing purpose"
### Information about bug

Hi All,

To reproduce the issue:
- open new stock entry
- open browser console
- in 'stock entry type' select a non manufacture purpose

In the console some errors appear, pls see 3 errors in console log below.

Although it's still possible to submit the stock entry, this problem prevents me from running some client scripts relating to both stock entry and stock entry de

[2022-06-08 16:52] frewper opened #31290 "Documentation Link broken"
### Information about bug

Under this article [link](https://docs.erpnext.com/docs/v13/user/manual/en/selling/sales-taxes-and-charges-template#21-sales-taxes-and-charges-table), the first link which says, Check out this article, to know the difference; the link is broken

### Module

other

### Version

ERPNext Version - 13

### Installation method

_No response_

### Relevant log output / Stack t

[2022-06-08 17:49] dj12djdjs commented on #31290
This is also referenced at https://docs.erpnext.com/docs/v13/user/manual/en/accounts/articles#23-advanced

[2022-06-08 17:58] dj12djdjs commented on #31290
Fixed in:

https://docs.erpnext.com/docs/v13/user/manual/en/selling/sales-taxes-and-charges-template/edit?wiki_page_patch=957cd53223
https://docs.erpnext.com/docs/v13/user/manual/en/accounts/articles/edit?wiki_page_patch=1c9770ec56

[2022-06-08 18:34] dj12djdjs commented on #31279
Hello @shivansh12

I just wanted to check, have you referred to? https://docs.erpnext.com/docs/v13/user/manual/en/stock/stock-reconciliation#43-for-batch-items

I've tested for myself, it seems to be working correctly. Let's say we want to reconcile 60pc to 100pc
The batch # is `EXAMPLE`

1. Proof 60pc exists
![image](https://user-images.githubusercontent.com/29856401/172689912-2995d53a-ce33-4ec8-

[2022-06-09 03:22] this-gavagai commented on #31151
This is likely a frappe issue, so I've replied over there:
https://github.com/frappe/frappe/issues/17030

[2022-06-09 04:25] fkalpana commented on #21336
This issue is still not resolved.

[2022-06-09 04:25] rtdany10 commented on #31193
I am okay with this change and have no issues because I was able to convince my clients to change to the new flow of billing, but my concern arises of how such disruptive changes are pushed without communicating it with the community in prior.

When my client raised the issue, my support team couldn't understand the reason behind the issue, because it worked without any issue on their dev instance

[2022-06-09 04:54] Solufyin commented on #31281
Hi @TwinkleDamania,

As per your requirement, we added subtotal and total for account receivable report and also added a feature of future payments in account payable report.
See the Reference : #31286

@deepeshgarg007, I hope it will be helpful for all ERPNext community.

Thanks.

[2022-06-09 06:06] iamejaaz opened #31293 "Employee field should fetch Employee code(HR-EMP-XXXXX) instead of Employee name in Employee checkins"
### Information about bug

![image](https://user-images.githubusercontent.com/67804911/172775513-46a0dfa8-39cb-416a-a56d-31a0ef850646.png)
Since there is another field that displays Employee name, the Employee field should fetch Employee code instead of Employee name.
![image](https://user-images.githubusercontent.com/67804911/172775624-371ff5d6-5237-4446-a003-d9b5506eb00e.png)

![image](https://u

[2022-06-09 11:34] #30960 closed, assigned to marination

[2022-06-09 12:09] gavindsouza opened #31300 "Use Redis-py client over deprecated redisearch"
### Information about bug

![](https://user-images.githubusercontent.com/36654812/172842821-f3134069-35f6-4339-93aa-0de46aa6a54d.png)

Frappe `develop` uses Redis 3.5.3. I tried upgrading it to use 4.3.3 (latest) but couldn't. Essentially we can't upgrade the Redis client because the redisearch library was deprecated and merged into redis-py but the APIs are not added as is - equivalent APIs exist

[2022-06-09 12:37] nidhipurohit11 opened #31415 "Discount and Margin section open-close issue"
## Description of the issue -
"Discount and Margin" section once opened, gets closed automatically again. Also when entering any percentage/amount then it gets closed immediately, so to see the change have to open the section again.

## Steps to reproduce the issue

1. Ensure that item price exists for an item (if not then add from Item Price list doctype)
2. Open any form like quotation/sales ord

[2022-06-09 14:38] Codeaview commented on #24619
Same bug too. ERPNext: v13.0.0-beta.14 (version-13-beta) Frappe Framework: v13.0.0-beta.12 (version-13-beta).
Has it been fixed in new versions?

[2022-06-09 15:04] #31214 closed, assigned to nobody

[2022-06-09 15:20] shivansh12 commented on #31279
@dj12djdjs thankyou for your response ... but the current system i am working on having this scenario...

I am attaching you for the reference.

1. batch wise balance history for a particular batch:

![batch wise balance](https://user-images.githubusercontent.com/36820016/172882398-7d9825be-ad4d-498d-ac85-6891f0eba02b.PNG)

2.batch quantity showing 177 (it should show as per report)before reconcil

[2022-06-09 15:51] jorgeastiazaran commented on #30547
Thanks for commenting.

I hope this issue is given some priority.

Thanks!

[2022-06-09 16:39] SalahAddinAbdo commented on #31173
Dear, I did not find this page at all. When I click on notification pane's "gear" icon, the below is appear.

![Screenshot 2022-06-09 193741](https://user-images.githubusercontent.com/96741326/172899285-5aaaf62f-28b9-4725-84ef-0ab71bcf8c2a.png)

[2022-06-09 16:55] SalahAddinAbdo opened #31309 "Page notification-settings not found"
### Information about bug

This is related to  issues #31173,

I did not find this page at all. When I click on notification pane's "gear" icon, the below is appear.

![Screenshot 2022-06-09 193741](https://user-images.githubusercontent.com/96741326/172901538-eb6e87b3-e8c8-4298-9861-b540b7c6ce7d.png)

On the other hand, from doctype gate when I click on **"Go to notification list"** it is also not

[2022-06-09 16:59] zuron7 commented on #24619
Yes. I am not facing this issue anymore in the latest stable version as of 9th June, 2022.

[2022-06-09 22:28] c0db1nar10 commented on #30547
Thanks for bringing this up Jorge…This behavior contradicts the aforementioned expectation from the documentation. We’ve been puzzled by this and some of our customers also.

Please fix as ERPNEXTs reputation is being damaged by this…Regards!

[2022-06-10 04:41] nihantra commented on #31309
Hi @SalahAddinAbdo,

I have also found an issue in this version so please update your version.
It's will resolve your issue.

Thank You!

[2022-06-10 05:33] #31293 closed, assigned to nobody

[2022-06-10 06:50] SalahAddinAbdo commented on #31309
Many thanks @nihantra,

I have update my version as your recommendation. I found the notification-settings page now.

Thank you again

[2022-06-10 06:50] #31309 closed, assigned to nobody

[2022-06-10 07:30] #31290 closed, assigned to nobody

[2022-06-10 08:29] deepeshgarg007 commented on #31193
@dj12djdjs Thank you for explaining the issues exactly in a detailed manner. To add to it as you have already pointed out ERPNext is not yet designed to handle multiple currencies for the same account, all the financial reports are built based on GLEs, and when invoicing is done in the company's account currency that multicurrency value with that exact exchange rate never goes to the GLE

This was

[2022-06-10 11:11] shariquerik commented on #31415
@nidhipurohit11 @Komal-Saraf0609

I am not able to reproduce this

This I am able to reproduce.

[2022-06-10 11:44] Komal-Saraf0609 commented on #31415
@shariquerik the first issue is replicable on my end as well. We can discuss if you can connect.

[2022-06-10 12:14] amecreate commented on #31108
Can confirm this issue is still present in v13. There is a discussion thread from 2020 on this issue [link](https://discuss.erpnext.com/t/issue-with-reply-and-forward-emails-from-communication-option/60507/8).

[2022-06-10 14:07] vishw-a opened #31324 "Backup integrations for S3 or dropbox or google are not working."
### Information about bug

Oops, your automated backup to Amazon S3 failed.

Error message: Traceback (most recent call last): File "/home/frappe/frappe-bench/apps/frappe/frappe/integrations/doctype/s3_backup_settings/s3_backup_settings.py", line 80, in take_backups_s3 validate_file_size() File "/home/frappe/frappe-bench/apps/frappe/frappe/integrations/offsite_backup_utils.py", line 103, in valida

[2022-06-10 14:35] Usageunique commented on #31289
I've reproduced the error on a local docker instance on a fresh db using various versions to detect which ones trigger this bug and which don't.

 Here's the outcome:
- as experienced and explained above, Frappe v13.32.0 + ERPNext v 13.33.0 => bug appears
- Frappe v13.32.0 + ERPNext v 13.32.0 => bug appears
- Frappe v13.31.0 + ERPNext v 13.31.1 => no bug
- earlier versions => no bug

I believe it'

[2022-06-10 18:32] Codeaview commented on #24619
Ok, thank you so much! I will upgrade my ERPNext. @muchai, the issue can be closed.

[2022-06-11 04:25] klw-sc opened #31326 "erpNEXT v13.32.0 serial number not being saved when generating sales invoice"
### Information about bug

1. Create a new item and select option it has both serial number and batch.
2. Allocate stock to a warehouse (it doesn't matter which warehouse is selected, as long as the stock is created, the batch assigned and the various serial numbers are created).
3. From a customer configured on the erpnext system, create a sales invoice for this item, ensure that you select the c

[2022-06-11 05:33] yadavyk commented on #31326
@klw-sc , unable to replicate this on the same version as yours i.e ERPNext 13.32.0 & Frappe 13.31.0. Can you check if you're consuming items from the same warehouse against which the batches and serial numbers are created through stock entry ?

[2022-06-11 05:54] #31079 closed, assigned to nobody

[2022-06-11 06:49] #31289 closed, assigned to nobody

[2022-06-11 06:49] klw-sc commented on #31326
Hi Yadavyk, please see screenshots. I created a dummy item and have left it only in the default warehouse, so only one warehouse is being used. I still have the same issue, the serial number can be inserted in step 3 shown below, but when I go to the next step and press save, the serial number is blank when I go and check the value again, and I cannot submit the form as it needs a serial number.
!

[2022-06-11 10:07] MujtabaMohsin opened #31328 "Currency data align to right in the print format"
### Information about bug

Hello, I face a common issue in the print format (Format Builder) when I try to print the document and it has currency or a number data. As you see in the photo the data align to the right. This might be due to the currency.

![oz__659](https://user-images.githubusercontent.com/64940728/173183389-98cc4f0e-b7be-4ff2-aa28-6d5e8b2f35e5.png)

### Module

other

### Version

[2022-06-11 17:37] dj12djdjs commented on #31328
Hello @MujtabaMohsin

You can create a custom print format, then left align the values you want. See attached GIF for example.
![change-currency-align](https://user-images.githubusercontent.com/29856401/173198752-63ffa583-9536-4074-bbb4-1ccc45743d51.gif)

[2022-06-11 18:06] dj12djdjs commented on #31172
Closing, I cannot reproduce this and lack of response.

[2022-06-11 18:06] #31172 closed, assigned to nobody

[2022-06-11 18:22] dj12djdjs commented on #31254
I've tested data import with and without child items. I'm not able to replicate this. It seems fixed.. @nbhatti Please advise if you still have this issue after updating. Thanks

[2022-06-11 18:22] #31254 closed, assigned to nobody

[2022-06-11 19:26] supersnapp opened #31329 "Guidance Next Button unresponsive"
### Information about bug

Very simply in 14 the Next button is not working when the guidance is activated.
![Locked_Walk_Through_Screen_Shot](https://user-images.githubusercontent.com/37027367/173202131-f6498b71-70c9-4fcd-abbd-541427550001.png)

### Module

other

### Version

This is for version 14.

### Installation method

FrappeCloud

### Relevant log output / Stack trace / Full Error Message

[2022-06-11 20:14] dj12djdjs commented on #31329
Hi @supersnapp,

This seems to be working fine for me. Can you check the browser console for any errors when you click the "Next" button?

[2022-06-11 21:16] supersnapp commented on #31329
Thanks.
I just did that. Here is what I got.

Deprecation warning: value provided is not in a recognized RFC2822 or ISO
format. moment construction falls back to js Date(), which is not reliable
across all browsers and versions. Non RFC2822/ISO date formats are
discouraged and will be removed in an upcoming major release. Please refer
to http://momentjs.com/guides/#/warnings/js-date/ for more info

[2022-06-11 22:19] dj12djdjs commented on #31329
This is only reproducible on frappe cloud. Manual installation this doesn't occur. I've checked the diff between beta 3 and develop. Didn't see anything that might have fixed this.

[2022-06-11 22:21] dj12djdjs commented on #31329
Interestingly, it works via the console, but not by DOM click
![driver](https://user-images.githubusercontent.com/29856401/173206738-05c26999-1170-4d52-901d-0f763e3b488a.gif)
.

[2022-06-11 22:36] supersnapp commented on #31329
Ok. Is there a solution? Is there something I can do?

On Sat, Jun 11, 2022 at 4:21 PM Devin Slauenwhite ***@***.***>
wrote:

[2022-06-12 04:20] jhouxzirrus opened #31331 "Default File Uploads to Private"
### Information about bug

This is a bug because it was fixed in June 2017 and then a regression returned the old behavior.
https://github.com/frappe/frappe/pull/3521

File uploads should absolutely NOT default to public. This is unacceptable security practice.

Its possible that the regression may have been impacted by the introduction of another feature which allows setting public/private defaul

[2022-06-12 13:19] azeemanwar opened #31332 "Point Of Sales Not Allowing Selection of POS Profile"
### Information about bug

On Opening the Point of Sales Screen, system is asking to select the following:

1. Company
2. Profile
3. Default Mode of Payment

However, the filter applied for Profile is "Company = empty" and POS profile can't be created without Company as it's a mandatory field. Looks like you can't use Point of Sales Screen.

### Module

selling

### Version

Frappe Version: 13.22.

[2022-06-12 16:09] williamjmorenor opened #31333 "Data too long for column 'remarks' at row 1" when importing journ entries"
### Information about bug

Eve if the template do not have a remark there is a traceback because the database do not accept the data for the column remark.

[11. Plantilla deducciones 11 2022.xlsx](https://github.com/frappe/erpnext/files/8886217/11.Plantilla.deducciones.11.2022.xlsx)

### Module

accounts

### Version

Installed Apps
ERPNext: v12.30.1 (version-12)

Frappe Framework: v12.27.0 (vers

[2022-06-12 18:15] williamjmorenor commented on #31333
I really can not find where does the "remark" data come from.

Even BLOB can not handle de data, where I can just set the remark to "None" to get the template up?

[2022-06-13 01:33] dj12djdjs commented on #31332
This should be caused by
https://github.com/frappe/erpnext/blob/d87dcb756bb921db3ad795a6ab27ab31686f4ef8/erpnext/selling/page/point_of_sale/pos_controller.js#L104-L107

The filter is set when the page initializes, and doesn't get modified if the `company` field changes.

https://user-images.githubusercontent.com/29856401/173264282-27e3f8dc-5730-483f-b5d6-102bf50b84b5.mp4

[2022-06-13 01:38] dj12djdjs commented on #31328
The above GIF should solve this.

[2022-06-13 01:38] #31328 closed, assigned to nobody

[2022-06-13 05:49] talitaMangolin commented on #8353
Hi, would you have an update on this duplication problem for version 13?
There is no 'filter.renderer' folder, and it is happening in the customer portal

[2022-06-13 07:14] nidhipurohit11 commented on #30986
When I checked, the custom prices are followed, but yeah the checkbox "Ignore Pricing Rule" remains unchecked on SO.

[2022-06-13 08:09] p-andreas commented on #16388
Any updates on this?

What I've also noticed is that as soon as a user has the `select` permission for any document type, the user can query all data via the rest-api. The rest-api calls `get_list` which only checks if the user has either `read` or `select` permission and then returns the entire data.

In the docs (see: https://docs.erpnext.com/docs/v13/user/manual/en/setting-up/users-and-permissi

[2022-06-13 08:13] Usageunique commented on #31289
Works great in the new Frappe v13.32.1 release, many thanks for the quick fix!

[2022-06-13 08:14] ZhenWang-Avant opened #31338 "Feedback for KB articles is broken"
### Information about bug

Clicking `Was this article helpful?` on KB articles does not work and shows error in console

### Module

other

### Version

ERPNext: v13.33.0 (version-13)
Frappe Framework: v13.32.1 (version-13)

### Installation method

docker

### Relevant log output / Stack trace / Full Error Message.

[code]
[code]

[2022-06-13 08:17] melBoh commented on #30986
Thank you @nidhipurohit11 !
Here prices follow as long as I don't have pricing rules available for them. If there is, the pricing rule IS applied (probably because the checkbox is not checked)
For now I override the "make" functions that I need, but if it is replicable, then maybe it can be tagged as a bug ?

For those who are interested, here is my hack
in hooks.py
[code]
then in <your vendor>/<y

[2022-06-13 09:14] megha0071994 commented on #31207
I'm on the version 13.29. How can I properly update ERPNext without any trouble, Please guide me complete steps.

[2022-06-13 09:18] megha0071994 opened #31339 "Sendgrid smtp not working"
### Information about bug

I’ve set all smtp settings for sendgrid but it doesn’t work. It is showing error "Invalid outgoing mail server or port", so that system is not saving this account.
But when I’m checking “Awaiting password” this checkbox, It is saving account detail. but account is saving as inactive.
But when I’m checking “Enable Incoming” it is saving as active but I am unable to select

[2022-06-13 11:07] Atul1413 opened #31340 "Server Error:pymysql.err.ProgrammingError: ('DocType', 'Whatsapp Notification')"
### Information about bug

Dear Team,
I installed WhatsApp Notification on our site a few days ago for free through the marketplace.
I recently received an email with the subject [FC Marketplace]. Because WhatsApp Integration is a paid app, I have removed it from our website. But now I’m getting an error message that says Server Error ** pymysql.err. (‘DocType’, ‘WhatsApp Notification’)** Programm

[2022-06-13 11:47] nihantra commented on #31340
Hi @Atul1413,

Please migrate your site and then check it.

![image](https://user-images.githubusercontent.com/99652762/173346793-442fdf2b-e10a-4c00-9f47-4a0c45b0d523.png)

Thank You!

[2022-06-13 13:00] Atul1413 commented on #31340
@nihantra ,
thank you so much and support. it's worked fro me.
Thanks Again..!
Regards,
Atul S

[2022-06-13 13:51] #31340 closed, assigned to nobody

[2022-06-13 14:09] ankush opened #31342 "Chunk GLE reposts"
- If you have >10K transactions to reposts then fetching all GLes might cause OOM. Chunk it in batches of vouchers.
- warn about making backdated transaction that it will repost X future transactions

[2022-06-13 14:47] dj12djdjs commented on #31333
@williamjmorenor I believe the `remarks` field is automatically generated when inserting the row.

If you specify a custom remark, it should by-pass this.

[2022-06-13 14:54] dj12djdjs commented on #31329
@supersnapp I've not been able to test this, but I think updating to Beta 4 might solve the issue.

You can ask Frappe Cloud team to update, or create a private bench and select the exact version you want to install.
https://frappecloud.com/docs/creating_a_new_bench

[2022-06-13 15:46] dj12djdjs commented on #31338
This is valid, the whitelisted method references columns that don't exist in `help_article.json`: `helpful`, and `not_helpful`
https://github.com/frappe/frappe/blob/6dfbf7b19ea735d45a61c3e3a3e70be540827b60/frappe/website/doctype/help_article/help_article.py#L112-L119

https://github.com/frappe/frappe/blob/develop/frappe/website/doctype/help_article/help_article.json

[2022-06-13 17:15] supersnapp commented on #31329
Ok  great. What is the email I should use to contact the Frappe Cloud team?

On Mon, Jun 13, 2022 at 8:54 AM Devin Slauenwhite ***@***.***>
wrote:

[2022-06-13 19:42] dj12djdjs commented on #31329
@supersnapp When you're logged into Frappe Cloud, at the top right there is "Support" from there just create a ticket.

Most likely they will just give a time frame when it will be updated. Once it's updated we can see if it's fixed. (For some reason I'm unable to install the betas on my local bench 🤷)

[2022-06-13 19:48] supersnapp commented on #31329
Ok, will do. Thanks.

On Mon, Jun 13, 2022 at 1:42 PM Devin Slauenwhite ***@***.***>
wrote:

[2022-06-13 23:11] dj12djdjs commented on #31207
@megha0071994 You can update by running `bench update` in your bench directory.

However, if the PDF's were generating correctly on the previous server, it's most likely a server configuration issue.
It's nearly impossible to figure out the exact problem without having access to debug it.

[2022-06-13 23:22] dj12djdjs commented on #30981
Hello @megha0071994,

Please take a look at https://docs.erpnext.com/docs/v13/user/manual/en/accounts/subscription

I've tested on my end, invoices are getting generated.

If it's still not working, please provide all the steps you've followed.

[2022-06-13 23:24] dj12djdjs commented on #31339
This looks related to: https://discuss.erpnext.com/t/sendgrid-smtp-not-working/90898

[2022-06-14 03:25] koplingganda opened #31346 "Random string for warehouse naming if user include company abbr when inserting new warehouse"
### Information about bug

Hi guys,

First, I want to thank all of you for this framework and ERP software we can use.

In this opportunity, I want to report a bug when inserting a new warehouse in ERPNext. It occurs when I insert the company abbreviation in the New Warehouse Name field.

For example, TCMB is the company abbreviation. When I insert 'TEST' in the New Warehouse Name field, it is fin

[2022-06-14 05:59] shivansh12 commented on #31279
@dj12djdjs @yadavyk  as i describe the above scenario if you ever face this type of scenario please guide me how to solve this.
please help me with your solution or any suggestion will be appreciated.

[2022-06-14 06:11] nihantra commented on #31346
Hi @koplingganda,

Please check it.
https://github.com/frappe/erpnext/pull/31348#issuecomment-1154758168

Thank You!

[2022-06-14 07:05] megha0071994 commented on #31339
But this also have no solution..

[2022-06-14 07:55] koplingganda commented on #31346
Hi @nihantra

Thank you!

[2022-06-14 07:55] #31346 closed, assigned to nobody

[2022-06-14 09:58] #30672 closed, assigned to marination

[2022-06-14 09:59] marination commented on #30672
inactive/inconclusive/invalid

[2022-06-14 12:35] marination commented on #31202
Same issue with BOM Replacement, if new rows are added via replacement.
Tried adding a label but framework does not support labels like (row added **via X**) for adding and removing type timeline items

[2022-06-14 12:37] marination commented on #31196
@ayushcoc Hi, you will have to make sure the custom field and it's data is in the Website Item Doctype as all the querying happens from here.

[2022-06-14 12:50] #31342 closed, assigned to ankush

[2022-06-14 15:02] yingjiegau opened #31357 "Customer Group in Quotation can not be displayed"
### Information about bug

i noticed recently Customer Group in Selling Quotation Form can not be displayed after i have selected the Customer
Label: Customer Group
Type:Link
Name:customer_group

permission
Depends on seems OK
eval:doc.quotaion_to=='Customer' && doc.party_name;
<img width="1042" alt="Screen Shot 2022-06-14 at 19 16 10" src="https://user-images.githubusercontent.com/66231137/173609

[2022-06-15 02:54] dj12djdjs commented on #31357
This is caused because `Hidden` is checked. According to:

https://github.com/frappe/frappe/blob/562499609c27c1b42a50b4197eef0f789ab3ecb2/frappe/public/js/frappe/form/controls/base_control.js#L50-L58

Since, `Hidden` checkbox is evaluated first, the `Display Depends On` field is ignored. Should be an easy fix just uncheck the `Hidden` option.

[2022-06-15 02:59] dj12djdjs commented on #31279
@shivansh12 Thank you for sharing, as of now I haven't tested and looked into it. Maybe someone who has more experience with batch qty can check this out?

[2022-06-15 05:35] nihantra commented on #31339
Kindly information purpose, which email server do you use?

[2022-06-15 06:29] nihantra commented on #31357
Spelling mistakes in depend on condition eval:doc.**quotaion_to**=='Customer' && doc.party_name;
Set it like : eval:doc.**`quotation_to`**=='Customer' && doc.party_name;

See the Reference: #31362

Thank You!

[2022-06-15 07:32] #31357 closed, assigned to nobody

[2022-06-15 07:39] marination commented on #31338
Don't know why but the helpful fields were removed via https://github.com/frappe/frappe/pull/10723/commits/02ddaa5ee7c101fb2ca40d6c0ac5982bcc88a982

[2022-06-15 08:15] Hollowiman opened #31366 "Shortcut filter can't save more than 2 filters?"
### Information about bug

If I try to add more than 2 filters to it, won't those be saved?
![image](https://user-images.githubusercontent.com/21259292/173777225-ff3052be-96f5-4e73-9177-f5d453495759.png)

### Module

other

### Version

Frappe Framework: v13.30.0 (version-13)
ERPNext: v13.31.1 (version-13)

### Installation method

manual install

### Relevant log output / Stack trace / Full Error

[2022-06-15 08:15] pujanthakkar commented on #31211
As per my opinion, In that case a simple identification can be added in the batch name to differentiate. Mixing them up will be issue in both stock and accounting ledger, if both suppliers have supplied the batches at different rates then valuation can be a issue.

PS: Batch-wise valuation is a issue on which devs should work.

[2022-06-15 08:28] sammish opened #31367 "SAUDI QR code VAT amount not showing along with QR code"
### Information about bug

https://discuss.erpnext.com/t/saudi-qr-code-vat-amount-not-showing-along-with-qr-code-some-site/90907

### Module

accounts

### Version

![image](https://user-images.githubusercontent.com/12432802/173780755-c70f02e5-d76c-401f-9b41-dd5e9c664e52.png)

### Installation method

FrappeCloud

### Relevant log output / Stack trace / Full Error Message.

_No response_

[2022-06-15 08:39] nihantra commented on #31366
Hi @Hollowiman,

Yes, you can use it to add a number of filters.
Check the below image.
![image](https://user-images.githubusercontent.com/99652762/173782769-111259e1-4205-4abc-93bb-dabfcf4e9ed2.png)

![image](https://user-images.githubusercontent.com/99652762/173782920-15c556ba-6057-457a-aa09-ddf5f86769af.png)

Thank You!

[2022-06-15 08:58] Hollowiman commented on #31366
Is it related to Link To "Task"? Or version? I can't save more than 2 filters...

[2022-06-15 09:07] #30655 closed, assigned to marination

[2022-06-15 09:07] Hollowiman commented on #31366
Ok i can save more, but it save's really only 2...

[2022-06-15 09:27] nihantra commented on #31366
Hmm :thinking:

I tested in Version:
`ERPNext: v13.33.0 (HEAD)`
`Frappe Framework: v13.32.0 (version-13)`

Please check the below video.

https://user-images.githubusercontent.com/99652762/173793491-55b0630c-83ec-4895-a19f-153b3994d8d3.mp4

Also, check in another doctype.

Thank You!

[2022-06-15 09:37] Hollowiman commented on #31366
Ok, I was making that shortcut filter wrong. I used 2 times Status filter, and that's not the way... I managed it with "Not In" parameter, and now i got it right.

Sorry and thanks.

[2022-06-15 12:06] SalahAddinAbdo opened #31370 "Losing some of my changes after Update"
### Information about bug

I have made some changes to form  for my convenience. Such changes include adding a new field. To do this I go to “Customize” from Lead Doctype. I also changed some naming serine for basic Doctype such as Pouches Order. Also, permissions granted of many documents for some users. Unfortunately, after every updating I lose these changes and customization.

Can you help me

[2022-06-15 13:22] ravi854 opened #31375 "Partial Return in Point of sale"
### Information about bug

After making sale of 2 Item in Point of Sale , if a customer return 1 item,
and while processing return of 1 item in Point of Sale , it stops at Total payments amount can't be greater than "48.0"
In this example 48.0 is the total value  of the item to be returned.

If i return all item in the POS receipt it works fine.

### Module

selling

### Version

Frappe version 13

[2022-06-15 13:58] megha0071994 commented on #31339
sendgrid service.

[2022-06-15 14:06] muchai opened #31376 "TypeError: get_items() missing 1 required positional argument: 'item_group'"
### Information about bug

![image](https://user-images.githubusercontent.com/1822868/173846907-aff36cfc-a3e6-4bb9-bccd-49eaa8f5c7e2.png)

### Module

accounts

### Version

ERPNext: v14.0.0-dev (HEAD)
Frappe Framework: v14.0.0-dev (HEAD)

### Installation method

FrappeCloud

### Relevant log output / Stack trace / Full Error Message.

[code]

[2022-06-15 18:57] Nicolas-Che opened #31378 "Integration with shopify, when I click the shopify setting, there no actions"
### Information about bug

Administration->Integration -> Shopify setting, when I click the shopify setting, there no actions, the other integration is work well.

<img width="1894" alt="image" src="https://user-images.githubusercontent.com/63996872/173903038-b3c04d42-99b8-4764-aaa9-b99dcfcfb597.png">

### Module

integrations

### Version

Frappe Framework
frappe/frappe:version-13
[v13.33.0](http

[2022-06-15 23:09] tukutela opened #31379 "method `has_sales_order()` has been removed, cannot use `declare_enquiry_lost()`"
### Information about bug

Removing the method `has_sales_order()` from `selling/doctype/quotation.py` has caused issues when using `declare_enquiry_lost()`, as it references it. Changes made in (#31347|https://github.com/frappe/erpnext/pull/31347/commits/37ba5503987b55e41a174437bca9c99232d256b1).

### Module

selling

### Version

v13.34.0

### Installation method

_No response_

### Relevant log

[2022-06-16 01:57] SalahAddinAbdo commented on #31370
For more clarification, the customization after update back to the default values.

[2022-06-16 05:35] nihantra commented on #31378
Hi @Nicolas-Che,

Please migrate your site and then check it.

![image](https://user-images.githubusercontent.com/99652762/173998538-de48bbe5-7d1a-45eb-81bd-dcbe86cb7729.png)

Thank You!

[2022-06-16 07:04] nihantra commented on #31370
Hi @SalahAddinAbdo,

Please create a support ticket on [Frappe Cloud](https://frappecloud.com/support/tickets).

Thanks.

[2022-06-16 07:15] SalahAddinAbdo commented on #31370
Hi @nihantra,

Unfortunately, at once,I made a support ticket on Frappe Cloud, seven days and no one reply me. But, I will try this time.

Thank you too

[2022-06-16 08:28] Craftint commented on #6189
@PawanMeh
![image](https://user-images.githubusercontent.com/67686213/174027609-513074fb-be1c-4b7a-95ea-1d629a47d7fe.png)

@nabinhait
It is not related to particular doctype. It is the permission to read 'Doctype' doctype itself.
One of the columns in this report is a link field to doctype.
columns = [
    {
      "label": _("Payment Document Type"),
      "fieldname": "payment_document_type",

[2022-06-16 10:04] casakthiveln opened #31382 "Bulk Edit Work Order - Can't edit the fields with tick mark"
### Information about bug

While editing the work order in bulk, the fields which requires tick marks are not working but other fields apart from tick marks are working fine. The following video will show elaboratly
![Work order bulk edit](https://user-images.githubusercontent.com/63579207/174046778-86c9884f-8428-4b66-9824-6d4d1e2b0c23.gif)

### Module

manufacturing

### Version

ERPNext: v13.34.

[2022-06-16 10:10] Nicolas-Che commented on #31378
Hi, @nihantra ,
I did the migrate, and check it again. And seem the same problem.
![image](https://user-images.githubusercontent.com/63996872/174047816-f6831de2-a483-42f0-9e82-8eb969d18563.png)

[2022-06-16 10:14] Nicolas-Che commented on #31378
And, can this message from chrome will help you to define the problem?
![image](https://user-images.githubusercontent.com/63996872/174048510-7d2711aa-0267-405f-bd9e-33d0004732b7.png)

[2022-06-16 10:15] Olawale1 opened #31383 "Error: Value missing for Version: DocType"
### Information about bug

Hi ,

After the last update, we are encountering this error when trying to Save or Submit any record

[code]

Please help resolve urgently as this almost completely hinders use of the system

Thanks

### Module

other

### Version

ERPNext: v13.34.0 (version-13)
Frappe Framework: v13.31.0 (version-13)

### Installation method

_No response_

### Relevant log output / Sta

[2022-06-16 10:16] #31366 closed, assigned to nobody

[2022-06-16 10:18] nihantra commented on #31378
Hi @Nicolas-Che,

It's working on my side on the frappe cloud.

![image](https://user-images.githubusercontent.com/99652762/174048589-82e55fa4-c312-410c-a5c1-580672f49218.png)

Please try like: https://vansuns.frappe.cloud/app/shopify-settings

If did not work then please create a support ticket on [Frappe Cloud](https://frappecloud.com/support/tickets).

Thanks.

[2022-06-16 10:21] D-e-v-Sr opened #31384 "My timesheet timer in the Draft which already saved is still running."
### Information about bug

Because of some date issues, I can't complete some of the timesheets. Now most of the timesheet in the draft is still running the timer. I can't fix it at any point. What could be the reason. Hope You'll deliver a possible solution
![Capture](https://user-images.githubusercontent.com/100205879/174040881-7c0ba798-a10f-4bd7-b038-a1b0ec3d9f8e.PNG)
.

### Module

projects

#

[2022-06-16 10:38] djapou opened #31385 "ERPNext User Interface ERROR"
### Information about bug

Hi all

please need your help
For a few days I have been getting this error that persists when I try to access certain pages or when I try to create new records in ERPNext.

the error is an empty page that displays without content.
How to solve this problem?

the problem started after an update of ERPNext/Frappe to version v13.33.0/v13.32.0 on the online production envir

[2022-06-16 10:46] Solufyin commented on #31385
Hi @djapou,

Please update a new version on Frappe Cloud.
[code]
Then after check you site.

Thanks.

[2022-06-16 10:49] Solufyin commented on #31384
Hi @D-e-v-Sr,

Please update a new version on Frappe Cloud.
[code]
Then after check you site.

Thanks.

[2022-06-16 11:21] djapou commented on #31385
thank sir

[2022-06-16 12:01] Olawale1 commented on #31383
This was fixed after a system reboot

Thanks

[2022-06-16 12:01] #31383 closed, assigned to nobody

[2022-06-16 12:57] peterebCMG commented on #29006
Any progress/time frame on this issue?
Thank you

[2022-06-16 13:24] ioweb-gr opened #31386 "Error after upgrading to latest version ailed to get method for command frappe.desk.desktop.get_wspace_sidebar_items with module 'frappe.desk.desktop' has no attribute 'get_wspace_sidebar_items'"
### Information about bug

I upgraded the system normally and when I'm trying to log in to the backend I see this error

[code]

The request in inspector shows

[code]

I would expect everything to work normally.

### Module

other

### Version

bench --version
`5.11.0`

bench version
[code]

### Installation method

easy-install

### Relevant log output / Stack trace / Full Error Message.

[code]

[2022-06-16 16:48] guilmori commented on #30424
Can I have some answer ?

[2022-06-16 23:32] dj12djdjs commented on #31376
@muchai I'm unable to reproduce this. What steps did you take setting up POS before you got this error?

[2022-06-16 23:37] dj12djdjs commented on #31384
@D-e-v-Sr Also, could check if there are any error messages in the browser console when you try to complete the timer,

[2022-06-16 23:41] dj12djdjs commented on #31385
@djapou Did updating solve the issue?

[2022-06-16 23:54] dj12djdjs commented on #31382
This is a framework bug. Just tested, It's broken for all doctypes.

[2022-06-17 00:02] dj12djdjs commented on #31329
This is working on frappe cloud nightly build. So once frappe updates the beta it will work.

[2022-06-17 00:02] #31329 closed, assigned to nobody

[2022-06-17 00:07] dj12djdjs commented on #31385
This is most likely a cache problem from frappe cloud after the update. If updating/clearing the cache didn't fix the issue. Re-open the issue in https://github.com/frappe/frappe/issues

[2022-06-17 00:07] #31385 closed, assigned to nobody

[2022-06-17 02:09] jayfiro opened #31388 "Bank Clearance Summary Filter for Amount Column Not Working"
### Information about bug

The Bank Clearance Summary has an Amount column by default. When entering values in the filter for this column, it does not filter out any of the rows.

![Screen Shot 2022-06-16 at 10 06 13 PM](https://user-images.githubusercontent.com/23268734/174208806-7bccea69-a130-4cf3-a2fe-64f5705f6ade.png)

However, this is the only column  for which filtering does not work. If you

[2022-06-17 05:31] Craftint commented on #29619
Getting same error on many sites. Is it related to network speed

[2022-06-17 06:22] ioweb-gr commented on #31386
I'd love to provide it but I noticed that today when my user logged out for inactivity I'm getting an internal server error on login page. So I can no longer log in to get the previous error.

I updated from 13.x-develop

[code]

[2022-06-17 07:48] muchai commented on #31376
@dj12djdjs just a pos profile.

This is on the nightly/dev version release on FC

[2022-06-17 10:51] shivansh12 opened #31394 "BOM Cost & Stock Transfer Valuation Rate doesn't have same rate"
### Information about bug

[nabinhait](https://github.com/nabinhait)
 Hi sir,
I made one Bom and i got cost of bom after that i make a work order for some quantity. I start the work order and i do the 1st stock entry i.e from store to WIP. then i finished the job card process... after that when i am finishing the work order and getting the product ,i got the difference in rate of finished good ite

[2022-06-17 13:13] nihantra commented on #31388
Hi @jayfiro,

As per your requirement, we set the amount filter in Bank Clearance Summary.
See the Reference: #31395

Thank You!

[2022-06-17 15:31] szufisher commented on #31333
per the code from journal_entry.py

	def create_remarks(self):
		r = []

		if self.user_remark:
			r.append(_("Note: {0}").format(self.user_remark))

		if self.cheque_no:
			if self.cheque_date:
				r.append(_("Reference #{0} dated {1}").format(self.cheque_no, formatdate(self.cheque_date)))
			else:
				msgprint(_("Please enter Reference date"), raise_exception=frappe.MandatoryError)

		for d in s

[2022-06-17 21:13] dj12djdjs commented on #31370
@SalahAddinAbdo  Can you please confirm if this is how you make your customizations?

Please advise if you're using a different method of customizations, as that could be the cause of your loss of data.

Adding Custom Field: (Any custom field should be highlighted yellow, and will not be deleted after updating)
![create-custom-field](https://user-images.githubusercontent.com/29856401/174401780-906

[2022-06-17 21:25] dj12djdjs commented on #31386
It seems to me the migration didn't perform successfully. Did you receive any errors during the `bench migrate` process?

[2022-06-17 23:38] supersnapp commented on #31329
Can I get a password reset for ***@***.***? The password reset
through the web is not working for me as no email arrives. I checked
the spam folder.

On Thu, Jun 16, 2022 at 6:04 PM Shaun Snapp ***@***.***> wrote:

[2022-06-18 00:16] dj12djdjs commented on #31329
@supersnapp you can login as administrator from frappe cloud. Then change your password from User DocType.

![Screenshot_20220617-201432](https://user-images.githubusercontent.com/29856401/174414547-be88e87a-b3d0-443c-91c6-e5f2a38336a0.png)

[2022-06-18 04:18] ioweb-gr commented on #31386
That is the confusing part. During bench migrate all patches executed successfully

[2022-06-18 04:35] SalahAddinAbdo commented on #31370
Hi @dj12djdjs,

Thank you for your reply. About my customization I will give you more details to know how.

1- On the Doctype no problem with adding new fields. Only of I make any change for the default fields such as "Hidden" or "Read Only" ...etc. These change back to default after bench updating.
![Screenshot 2022-06-18 0714220](https://user-images.githubusercontent.com/96741326/174422675-ee4f6

[2022-06-18 09:40] ioweb-gr commented on #31386
I've managed to get past the login error by using this patch

[code]

[2022-06-18 09:43] ioweb-gr commented on #31386
Could someone point me out where this "app_logo" key is stored in the database so I can update it in the database as well for future updates?

[2022-06-18 09:49] ioweb-gr opened #31398 "Cannot backup my websites after upgrading"
### Information about bug

After upgrading from v13-develop my bench is failing to backup the sites

`bench backup` will say

`Backup failed for Site extranet.example.com. Database or site_config.json may be corrupted`

I've checked the JSON but it's not corrupted

[code]

### Module

other

### Version

bench_manager 0.0.1
erpnext 14.x.x-develop
frappe 14.x.x-develop

### Installation method

eas

[2022-06-18 10:06] ioweb-gr opened #31399 "I can no longer modify item names in sales orders item list"
### Information about bug

When modifying an item name, the item name will reset itself to the one saved in the product. I can no longer modify it.

Here's a video

Whenever I try to type my custom name, it will reset it.

https://user-images.githubusercontent.com/20220341/174433032-79b307f8-d041-48bb-87e3-23aefbec268d.mp4

### Module

selling

### Version

bench_manager 0.0.1
erpnext 14.x.x-devel

[2022-06-18 13:18] mark17000 opened #31400 "Too many keys specified; max 64 keys allowed error"
### Information about bug

I receive this message when trying to change the project form:

Error: pymysql.err.OperationalError: (1069, ‘Too many keys specified; max 64 keys allowed’)

I also cannot update erpnext in Frappe Cloud because of the same error.

### Module

projects

### Version

13.28.0

### Installation method

FrappeCloud

### Relevant log output / Stack trace / Full Error Message.

[2022-06-18 13:20] kid1194 opened #31401 "Side bar over modal box"
### Information about bug

Hello everyone,

I have seen this display issue and I thought about informing the ERPNext team. I have also noticed that the side bar behaves in the same way with RTL layout.

The modal box seems to be displayed under the side bar. This probably CSS z-index issue!.

I’m using v13 through ERPNext free account and the browser I’m using is Opera mobile for Android v69.3.360

[2022-06-18 13:32] kid1194 opened #31402 "Translation Improvement"
Hello everyone,

I would like to suggest that ERPNext translation be based on full string and not based on words. Like for **Company List**, in the translation it can't be found because the translation is a combination of **Company** & **List** and that makes it hard to provide exact translation. Although I think that's possible by creating custom translations in the **Translation List**, but sinc

[2022-06-18 13:39] kid1194 opened #31403 "Date fields based on default fiscal year"
Hello everyone,

If would like to suggest that the date fields be based on the default fiscal year to reduce the error of adding entries with a date that doesn't belong to the default active fiscal year. I managed to modify that using the **Client Script** but I had to create scripts for a lot of forms like sales, purchases, etc..

Best regards.

[2022-06-19 10:38] SalahAddinAbdo commented on #31370
Hi @dj12djdjs,

Can you help me? Please.

[2022-06-19 17:20] supersnapp commented on #31329
Where am I logging in? What is @supersnapp? Thank link goes to GitHub.

On Fri, Jun 17, 2022 at 6:16 PM Devin Slauenwhite ***@***.***>
wrote:

[2022-06-20 07:53] rakshitsukanta commented on #30583
I am experiencing similar problem in manual installation v13. Every time I have to delete all the taxes from purchase invoice and again add the correct one from Purchase Taxes and Charges Template. Please test and look into this matter.

[2022-06-20 14:05] ankush commented on #31409
looks like done intentionally for whatever reason: https://github.com/frappe/erpnext/pull/27112

[2022-06-20 14:05] #31409 closed, assigned to nobody

[2022-06-20 14:08] ankush commented on #29720
fixed via https://github.com/frappe/frappe/pull/16890

[2022-06-20 14:08] #29720 closed, assigned to nobody

[2022-06-20 14:11] ankush commented on #29990
@shariquerik any way to trigger link fields that are auto-populated? If not let's remove auto-populating of fields because current behavior is worse than having to type it manually 😓

[2022-06-20 14:13] ankush commented on #29722
duplicate of https://github.com/frappe/frappe/issues/17247

[2022-06-20 14:13] #29722 closed, assigned to nextchamp-saqib

[2022-06-20 17:49] guilmori commented on #30424
Is there anyone who can help on how to update actual valuation rate ?

[2022-06-20 20:27] dj12djdjs commented on #31399
I tried in Sales Order and it seems to work fine. Which doctype are you displaying in the video ?

[2022-06-20 20:28] dj12djdjs commented on #31398
Related: https://github.com/frappe/frappe/issues/17142

[2022-06-20 20:30] dj12djdjs commented on #31398
Related: https://github.com/frappe/frappe/issues/16728

[2022-06-21 04:00] SamiHajbi commented on #31403
This is one of bigest problems in erpnext also you will have problem with serial if you do script like how you will fix serial if user delete some entry

[2022-06-21 04:12] #28740 closed, assigned to s-aga-r

[2022-06-21 06:15] ioweb-gr commented on #31399
This is in sales order items list

[2022-06-21 08:13] deepeshgarg007 commented on #31379
Fixed via https://github.com/frappe/erpnext/pull/31396

[2022-06-21 08:13] #31379 closed, assigned to nobody

[2022-06-21 08:52] Ponyooooo commented on #29546
on the V13 the salary component with Statistical Component is not showing. Can the system still computes the formula even though it is not encoded in the salary structure?

[2022-06-21 08:56] Ponyooooo commented on #24407
on the V13 the salary component with Statistical Component is not showing. Can the system still computes the formula even though it is not encoded in the salary structure?

[2022-06-21 09:55] barredterra commented on #29546
@Ponyooooo try posting your question on discuss.erpnext.com

[2022-06-21 11:18] #30182 closed, assigned to nobody

[2022-06-21 12:16] nihantra commented on #31399
Hi @dj12djdjs,

@ioweb-gr is right.
when the item name clicked then it reset when opened the table.

Please check the below video.

https://user-images.githubusercontent.com/99652762/174796427-d82d82aa-c641-44f7-98db-9b8f332fd6ea.mp4

Thanks.

[2022-06-21 16:00] kid1194 commented on #31403
@SamiHajbi That's true. They need to make dates and naming series work based on the default fiscal year in every part of ERPNext.

[2022-06-21 16:27] s-aga-r commented on #24167
I think this issue has been resolved. @faisal-zahoor Let me know if I do something different.

**Checked-in:**

[Sales Order](https://user-images.githubusercontent.com/63660334/174848931-67358950-4d37-41dc-8de6-f286ba8da888.mov)

[Quotation](https://user-images.githubusercontent.com/63660334/174849097-32ca8e8b-a65e-448f-b7a7-c313033e1d7c.mov)

[Purchase Order](https://user-images.githubusercontent

[2022-06-21 16:27] #24167 closed, assigned to s-aga-r

[2022-06-21 17:14] jorgeastiazaran commented on #30547
@deepeshgarg007
Thanks!!!!!

[2022-06-21 17:18] enoy19 commented on #31109
Is there any progress here?
I may implement this fix myself, but I'd like to know if that behavior is wanted.

[2022-06-21 17:21] enoy19 commented on #30981
I have the same issue. I have to press "Fetch Subscription Updates" on all subscriptions for it to create Invoices.
I couldn't find anything odd in the Error Log.

[2022-06-21 17:28] mtntrekker01 opened #31419 "Can't "Reject" a MR"
### Information about bug

Rather than "Approve" an MR, I would like to use the "Reject" option from the dropdown and have the MR go back to working status. When I select "Reject" nothing happens and the MR stays on "Pending Approval"

![image](https://user-images.githubusercontent.com/97990211/174855964-e25e2c16-339a-45f2-b1da-1d1c2fc01235.png)

### Module

ecommerce

### Version

ERPNext: v12.28

[2022-06-21 23:03] dj12djdjs commented on #31419
@mtntrekker01 Please check your workflow, and update your system. I've tested on
[code]

It's working, please see attached.
![workflow](https://user-images.githubusercontent.com/29856401/174910717-a823f324-d8e8-4229-8d1c-009d41728987.gif)

[2022-06-21 23:04] #31419 closed, assigned to nobody

[2022-06-22 01:57] dj12djdjs commented on #31370
@SalahAddinAbdo I've setup a custom bench on Frappe Cloud to test this. (I've only tested Naming Series so far) My customization has been retained. Have you reached out to frappe cloud support team as @nihantra suggested.

[2022-06-22 05:41] SalahAddinAbdo commented on #31370
Thank you @dj12djdjs for your interest. Of course, I have with them, unfortunately, six days and still no reply.

![Screenshot 2022-06-22 084008](https://user-images.githubusercontent.com/96741326/174952119-7b32c825-72eb-46a1-8d21-e10f3cd47dc3.jpg)

What should I do?

[2022-06-22 08:09] nihantra commented on #31400
Hi @mark17000,

Please create a support ticket on [Frappe Cloud](https://frappecloud.com/support/tickets).

Thanks.

[2022-06-22 10:40] TurkerTunali commented on #31245
For a workaround you can try to edit
~/frappe-bench/apps/frappe/frappe/public/js/frappe/form/controls/datepicker_i18n.js file to add you custom calendar.

[2022-06-22 10:46] binitdot opened #31427 "TypeError: as_json() got an unexpected keyword argument 'separators'"
### Information about bug

I get this error when trying to submit any DocType. This is intermittent issue.

The stack track below I have provided for sample submission of Payroll -> Employee Tax Exemption Proof Submission

### Module

other

### Version

Frappe version: 13.34.0
Erpnext version: 13.31.0

### Installation method

_No response_

### Relevant log output / Stack trace / Full Error Mess

[2022-06-22 14:49] #31035 closed, assigned to ankush

[2022-06-22 14:57] centaur78 opened #31428 "Wrong entries when using the refactored Payment Reconciliation tool and Payment Entry using Payment Ledger entry"
### Information about bug

While using the Payment reconciliation tool, when pulling the unreconciled entries..... the value shown in the outstanding column is the value in company currency which are in OMR ... whereas the purchase invoice are in Euro

for example the below image ,,if we take the PINV19-00001 ...Actual Invoiced amount is € 256.00  and the value in company currency is RO 107.52....

[2022-06-22 18:04] johnlongland opened #31430 "Item detail on RFQ (from item-master) not auto-completing"
### Information about bug

When generating an RFQ from within an Item, not all the Item details are auto-completing in the RFQ. I have attached some screen-shots. The first 3 pictures shows when I generate an RFQ from within an item-master.

The last 2 pictures shows when an RFQ is generated by selecting "Request for quotation" from the awesome-bar.

Problem : Item detail not auto-completing.

Des

[2022-06-22 23:34] supersnapp commented on #31329
I never received a response to my last question. The password reset does
not work. I do not know how to get in as my password is not working. And I
do not understand the instructions of where I can log in at @supersnapp
<https://github.com/supersnapp>.

On Sun, Jun 19, 2022 at 11:20 AM Shaun Snapp ***@***.***> wrote:

[2022-06-23 01:50] treasuryesc commented on #31382
Yes, we also have seen that it applies to all fields with type = Check

[2022-06-23 11:23] alosh088 opened #31435 "Notification for Mentions and Assignments not working how"
### Information about bug

Notification for Mentions and Assignments not showing for all users

### Module

other

### Version

12

### Installation method

manual install

### Relevant log output / Stack trace / Full Error Message.

_No response_

[2022-06-23 15:13] enoy19 commented on #30981
I worked around my problem by creating a scheduled `Server Script` (hourly):

[code]

[2022-06-23 16:09] nihantra commented on #31388
Hi @jayfiro,

Please closed the issue because the pull request merge to develop branch and version-13-hotfix.
The upcoming update will set this issue in stable version 13.

Thank You!

[2022-06-23 21:01] viveking commented on #29161
Seems your Quickbook connection not working.
Check the API Endpoint if its **https://quickbooks.api.intuit.com/v3**
Use Client Id and Secret from Production & Not fron the Sandbox/Development.

[2022-06-24 04:25] dj12djdjs commented on #31329
@supersnapp is your GitHub username. I just add it when replying. I don't understand what you're trying to login to? If it's your ERPNext site and you haven't setup email yet. Just login to Frappe Cloud, from there you can open your site as Administrator user, then change the password to your user.

[2022-06-24 07:10] #30234 closed, assigned to s-aga-r

[2022-06-24 08:15] ajiragroup opened #31441 "PDF generation error in General Ledger"
### Information about bug

When creating a PDF from General Ledger, a file with name "pdf" gets downloaded. There is no extension of file. If renamed to "abc.pdf", the file opens all right.

Also, the title of the pdf has no margin on the top.

![image](https://user-images.githubusercontent.com/108009061/175493529-90395717-1535-41a3-9d8b-76f4f1ddcbf8.png)

### Module

accounts

### Version

Frappe

[2022-06-24 12:40] mark17000 opened #31444 "Process deferred accounting is not processing all deferred expense entries"
### Information about bug

Here is my deferred expense account. Between 03/01 and 03/31 there are 11 entries.
![image](https://user-images.githubusercontent.com/107757929/175537021-8e0435b2-c5ad-4ee6-8aef-45dceb1f4893.png)

When I process manual accounting, like so:
![image](https://user-images.githubusercontent.com/107757929/175537176-9fe5fbc1-315d-4006-b417-b828a0229f21.png)

The result is that

[2022-06-24 12:44] Hafnianusha commented on #29192
has this fixed? i am getting the same error

[2022-06-24 13:59] kid1194 opened #31445 "Support For Sole Proprietorship And Partnership"
Hello ERPNext.

I would like to suggest that you provide support for **Sole Proprietorship** and **Partnership** business structures, besides **Corporation** that ERPNext currently supports.

These three structures have small differences in the **Chart of Accounts** in terms of recording **Capital**, **Withdrawals** and **Distribution of Revenue**. I think that only **Partnership** needs a separat

[2022-06-24 14:12] #31444 closed, assigned to nobody

[2022-06-24 14:13] mark17000 commented on #31444
disregard. Needed to change in deferred accounting settings from based on "months" to "days"

[2022-06-25 18:42] JasonFu06 opened #31450 "Customer Item can't save with stock --> item"
### Information about bug

In the stock - item, when adding a customer item, when it is added to the 11th, there is an error in saving. The reason is that the sum of all customer item strings exceeds the length of 140.
![6024145](https://user-images.githubusercontent.com/93484850/175786526-c26f4ce7-b107-40bb-9425-4df2de217d67.png)

### Module

stock

### Version

Frappe Framework: v113.33.1
ERPNex

[2022-06-26 14:06] husbas commented on #30082
The issue persists.

[2022-06-26 15:59] szufisher commented on #31450
it is a bug caused by this new function

![image](https://user-images.githubusercontent.com/12823863/175822999-f4dba5b8-d2a9-4053-8c1a-e16fa56d012a.png)

quick fix, create one line server script for Item doctype before save event.

`doc.customer_code = doc.customer_code[:140]`

![image](https://user-images.githubusercontent.com/12823863/175822914-1b7f1b79-c80d-4a32-ac81-e70da8f600a5.png)

[2022-06-27 00:01] Ponyooooo opened #31452 "Party Account 2110 - Creditors currency and document currency should be same"
### Information about bug

![image](https://user-images.githubusercontent.com/60758795/175839078-2a084ee1-d794-46bc-8013-c1b6fe98722c.png)

Not sure when was this bug occurred but we are experiencing it right now for the newly created suppliers but for the past years and for the old suppliers we can still create invoices for AP that has different document Currency. For example, the document curren

[2022-06-27 05:39] #29582 closed, assigned to surajshetty3416

[2022-06-27 07:20] #25435 closed, assigned to nobody

[2022-06-27 07:37] centaur78 commented on #31428
Hi @ruthra-kumar

Could you have a look on this issue ?

[2022-06-27 11:02] asamawi opened #31458 "Customer and supplier name by naming series has their name missing in ledger report"
### Information about bug

Customer and supplier name by naming series has their name missing in ledger report

### Module

accounts, buying, selling

### Version

ERPNext: v13.33.0
Frappe Framework: v13.32.0

### Installation method

_No response_

### Relevant log output / Stack trace / Full Error Message.

_No response_

[2022-06-27 11:06] error-id opened #31459 "V13.34.1 sales order and sales invoice amount different"
### Information about bug

1: create a sales with pricing rule for example 5 percent off ,
Submit the sales order
2: change the pricing rule to 10%
3: if the customer happy with the sales order  and the job has been finished we want to create a sales invoice
4: the new sales invoice amount does not equal to the sales order

### Module

accounts

### Version

V13.34.1

### Installation method

manu

[2022-06-27 13:41] fkalpana opened #31461 "KSA VAT report, Total invoice amount not considering Currency."
### Information about bug

KSA Vat report calculation has a  bug. If the invoices are made in other currencies, VAT total does not consider the currency valuations.
We have found the issue in this file apps/erpnext/erpnext/regional/report/ksa_vat/ksa_vat.py

and corrected in our instance with the following changes  - Please include the same changes in the main code

[code]

### Module

regional

#

[2022-06-27 15:10] guilmori commented on #30424
More info:
https://discuss.erpnext.com/t/how-to-update-actual-valuation-rate/91106

Please tell me what is missing to get an answer here.

[2022-06-28 00:17] #31388 closed, assigned to nobody

[2022-06-28 06:04] ankush commented on #28793
This was resolved long time back

[2022-06-28 06:04] #28793 closed, assigned to ankush

[2022-06-28 06:07] #17883 closed

[2022-06-28 06:29] #22969 closed, assigned to nobody

[2022-06-28 06:31] #20052 closed, assigned to nobody

[2022-06-28 06:34] #18873 closed, assigned to nobody

[2022-06-28 07:55] #21757 closed, assigned to nobody

[2022-06-28 09:05] #19954 closed, assigned to nobody

[2022-06-28 09:08] TurkerTunali opened #31468 "Selecting Batch in DN alters price"
### Information about bug

Selecting a batch in DN, changes the item price although "Maintain same rate through sales cycle" enabled. Related: https://github.com/frappe/erpnext/issues/30540

To Reproduce:
Create an item with batch tracking.
Add a selling price as 1,3 USD.
Create a sales order with 1 USD.
Convert it to DN. Rate will be shown as 1 USD. Selecting a batch will make rate as 1,30 USD. I

[2022-06-28 12:17] #31367 closed, assigned to nobody

[2022-06-28 13:22] kid1194 opened #31470 "Journal Entry Automation"
Hello ERPNext Team,

I would like to suggest that you provide **Journal Entry Automation** to handle future entries (one time & repeated). Future entries like **Insurance** that might be paid for the year in advance at the beginning of the year, then the **Insurance Expense** is recognized at the end of every month, as used,  by posting an entry that increase expenses and reduce the prepaid amount

[2022-06-28 18:12] YamanQD opened #31472 "Multi currency error on "Submit Salary Slip" from Payroll Entry"
### Information about bug

## Steps to recreate the bug

1. Create accounts with a currency different than the company's currency
2. Create salary components, salary structure, and salary structure assignments, using those accounts and currency
3. Create a Payroll Entry with that account and currency
4. Press "Create Salary Slips" button. (It works, and the salary slips are draft).
5. Press "Submi

[2022-06-28 21:19] dj12djdjs commented on #31452
@Ponyooooo This was done intentionally. Please refer here for the explanation https://github.com/frappe/erpnext/issues/31193

[2022-06-28 21:19] #31452 closed, assigned to nobody

[2022-06-29 02:08] gn306029 opened #31474 "map_current_doc options the "child_fieldname" misspelling"
### Information about bug

When I allow map_current_doc select child table
Like:
[code]
I got error:  Cannot read properties of undefined (reading 'options')
<img width="784" alt="截圖 2022-06-29 上午10 04 02" src="https://user-images.githubusercontent.com/20434666/176335286-1e568c61-d037-4b54-8a2b-64c2b722d3f9.png">

So I check source code,
In https://github.com/frappe/erpnext/blob/develop/erpnext/pu

[2022-06-29 05:10] nihantra commented on #31474
Hi @gn306029,

Please create the pull request for it.

Thanks.

[2022-06-29 09:15] #31474 closed, assigned to nobody

[2022-06-29 09:21] muchai opened #31478 "Have Sales Person as one of the options on the Tree Type filter, on Sales Analytics Report"
Have Sales Person as one of the options on the Tree Type filter, on Sales Analytics Report

This would display data in tree view. I.e. Say, there's a manager with sales persons under them, then they can see their sales, and totals.

[2022-06-29 11:23] ankush commented on #31430
merging with https://github.com/frappe/frappe/issues/16401 (same root cause)

[2022-06-29 11:23] #31430 closed, assigned to nobody

[2022-06-29 11:23] ankush commented on #29990
tracking at https://github.com/frappe/frappe/issues/16401

[2022-06-29 11:23] #29990 closed, assigned to ankush

[2022-06-29 11:25] ankush commented on #31450
You can convert customer code fieldtype to "Small text" from customize form. (better fix than stripping values, if you do indeed routinely need to store longer codes)

[2022-06-29 12:44] ravi854 opened #31479 "Buy 1 Get 1 Free Pricing Rule Not working"
### Information about bug

Creating a Procuct Discount Scheme, for buy 1 get 1 free is not working
![erp](https://user-images.githubusercontent.com/85276497/176469991-b3d37b15-60ee-4af9-bf7c-8ddc6e003805.gif)

![ERPNext](https://user-images.githubusercontent.com/85276497/176439248-f84b4309-9c83-478f-9e83-22a9ecd4d669.jpg)

### Module

accounts

### Version

Frappe Version - 13.34
Erpnext Version -

[2022-06-29 13:12] nidhipurohit11 opened #31480 "Getting error while running automation scripts"
### Information about bug

While running test automation scripts, getting errors -

1. On exchange_rate_revaluation getting error - "pymysql.err.OperationalError: (1054, 'Unknown column " in "field list"')"

![Screenshot 2022-06-29 at 5 44 30 PM](https://user-images.githubusercontent.com/82337328/176443997-43d2ed49-c5b4-4ba6-b6f0-9d82c7025efc.png)

2. On delivery_sales_return script - "pymysql.err

[2022-06-29 13:37] muchai opened #31481 "Promotion Scheme - Pricing Rule bug"
### Information about bug

Create a promotion scheme as below, i.e. with min and max amounts
![image](https://user-images.githubusercontent.com/1822868/176449747-ac442bb7-4afc-4d40-af43-df57fcf7ac5e.png)

The resulting pricing rule, does not have min and max amounts updated, hence rule applies on any amount
![image](https://user-images.githubusercontent.com/1822868/176450109-90201cc2-a29e-461a-aab

[2022-06-29 13:45] muchai opened #31482 "Apply discount on item group/item code based on transaction amount"
Not sure if this is a bug/omission

Say, you wanted to apply a discount on a certain item group for sales above 1,000.00

Following/Using Pricing Rule

- Under **Apply On**, you would pick **Transaction**
- Issue is this hides **Discount on Other Item** section, where one would pick **Apply Rule On Other**

[2022-06-29 14:22] muchai opened #31483 "Pricing rules Threshold for Suggestion doesn't work as expected"
### Information about bug

Say you set a **Threshold for Suggestion** of 9,000.00
The expectation is the system will notify you at this stage? Is it?
All in all, the system notifies you regardless of amount on the transaction.

![image](https://user-images.githubusercontent.com/1822868/176460437-4f8f6ff8-c1ef-4892-96cb-7104a6d08064.png)

### Module

selling

### Version

ERPNext: v13.34.1 (HEAD)
F

[2022-06-29 14:47] muchai opened #31484 "Pricing rule is not unset when condition is met, then unmet in a transaction"
### Information about bug

Steps

1. Create a pricing rule as below

![image](https://user-images.githubusercontent.com/1822868/176463973-d8706661-de1f-44d8-8645-7dfb660bfe4c.png)

1. Create a sales order with two items, one falling in the item group to apply discount on based on pricing rule
2. If amount is say less than 10,000, then pricing rule doesn't kick in (as expected)
3. Adjust the qty/ra

[2022-06-29 14:52] jere55304 commented on #31378
@Nicolas-Che,

Try removing the "s" from 'settings' in your url address bar.... https://***.frappe.cloud/shopify-setting_s_
-or-
try accessing from the ERPNext search box by typing "shopify settings"

[2022-06-29 15:35] muchai opened #31485 "Pricing Rule/Promotion Scheme - Selection of multiple on Discount on Other Item section"
Currently, this section allows only selection of one item group/item code
![image](https://user-images.githubusercontent.com/1822868/176476653-a554ee75-d799-4d4b-9987-60c7985f8067.png)

Request is to have it enhanced to allow selection of multiple, same as one can do on the **Apply On** section
![image](https://user-images.githubusercontent.com/1822868/176476969-7417f655-b080-40d3-9dd3-cf361868e27

[2022-06-29 15:46] KHALED-SAILAN opened #31486 "t"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-06-29 16:09] dj12djdjs commented on #31486
There is not information in this. Look's like it was accidently submitted.

[2022-06-29 16:09] #31486 closed, assigned to nobody

[2022-06-29 16:32] barredterra commented on #31193
@deepeshgarg007

Good intentions, but this means that staff will need to remember at what point in time a party was created to choose the correct procedure. To do this change in a major release would have been more appropriate.

Apart from that, I don't see the problem that “had to be stopped”. We've been entering Purchase Invoices in foreign currencies for a while now. Accounting happens in our c

[2022-06-29 22:42] flortsch opened #31488 "Strange text outputs in generated PDFs of sales invoices"
### Information about bug

With the recent update to ERPNext 13.34.2, I get strange text outputs in generated PDFs of my sales invoices.
The generated PDFs contain the words "Drucken" (print in German), and "Get PDF" (as a link to my ERPNext instance).
Note that these strings don't show up when viewing the web/online version of the sales invoices.
I am using a custom sales invoice print format tha

[2022-06-30 05:44] swapniljariwala commented on #30583
@deepeshgarg007 Any updates on this?

[2022-06-30 10:17] #31480 closed, assigned to ankush

[2022-06-30 14:13] dineshpanchal93 opened #31492 "Wrong RM Consumption in Stock entry ( Manufacture )"
### Information about bug

![image](https://user-images.githubusercontent.com/21578167/176698083-37a2c86e-881f-42f8-ba20-9db9f7501c8d.png)

![Error](https://user-images.githubusercontent.com/21578167/176699624-a0eac99f-c9e6-4edf-9bd9-3ac63b3bd5d4.gif)

### Module

manufacturing

### Version

ERPNext: v13.34.2 (HEAD)
Frappe Framework: v13.34.0 (HEAD)

### Installation method

FrappeCloud

### Relev

[2022-06-30 15:52] mro-admin commented on #25846
Can confirm this is still happening on
ERPNext: v13.34.1
Frappe Framework: v13.33.1

Seems like it is an issue with the dashboard for the item.

[2022-06-30 17:09] Epdecking opened #31494 "TypeError: unsupported operand type(s) for *: 'float' and 'NoneType'"
### Information about bug

Error when saving purchase invoice. It just started to happen this week, never encountered this issue in the past.

### Module

buying

### Version

ERPNext: v13.34.2 (HEAD)

Frappe Framework: v13.34.0 (HEAD)

### Installation method

_No response_

### Relevant log output / Stack trace / Full Error Message.

_No response_

[2022-07-01 03:57] centaur78 commented on #31428
hi @ruthra-kumar

Any update on the above issue ?

Thanks in advance

[2022-07-01 08:14] ruthra-kumar commented on #31428
@centaur78 thanks for reporting this.
There are 2 issues here.
1. `account_currency` column is not populated on payment ledger entry creation due to incorrect column name.
2. Reconciliation tool using outstanding amount in company currency instead of account currency.

Should be fixed by #31499

[2022-07-01 10:37] ankush commented on #31494
when this happens "copy error to clipboard" and share the error. Else it's not really simple to identify what is the problem.

Share that extra info and we can reopen the issue.

[2022-07-01 10:37] #31494 closed, assigned to nobody

[2022-07-01 11:52] yadavyk opened #31502 "Items table appears blank in Pricing Rule"
### Information about bug

In the pricing rule form the items table against ( Apply Rule on Item Code ) appears blank without any rows

![Untitled 8](https://user-images.githubusercontent.com/32797974/176889501-ac310697-226c-404a-8463-e297fbdae8ce.png)

Version :

ERPNext: v13.34.2 (HEAD)
Frappe Framework: v13.34.0 (HEAD)

### Module

accounts

### Version

ERPNext: v13.34.2 (HEAD)
Frappe Framewor

[2022-07-01 14:09] ankush commented on #31468
@TurkerTunali can you see if https://github.com/frappe/erpnext/pull/31503 solves your problem?

I didn't see any other field triggering price list apart from batch no. (Others that do are valid triggers - like changing customer, price list itself)

[2022-07-01 14:38] #30540 closed, assigned to nobody

[2022-07-01 14:38] #31468 closed, assigned to nobody

[2022-07-01 16:17] Epdecking opened #31505 "TypeError: unsupported operand type(s) for *: 'float' and 'NoneType'"
### Information about bug

Error message when trying to save purchase invoice, it just started this week, never happened in the past.

### Module

buying

### Version

ERPNext: v13.34.2 (HEAD)

Frappe Framework: v13.34.0 (HEAD)

### Installation method

_No response_

### Relevant log output / Stack trace / Full Error Message.

[code]
### Route
[code]
### Trackeback
[code]
### Request Data
[code]

[2022-07-01 16:37] kid1194 commented on #31403
I have modified the **ControlDate** javascript file to solve the problem of the date fields, but it is still not tested.

[ERPNext Fiscal Year Based Date Related Fields](https://github.com/kid1194/ERPNext-Fiscal-Year-Based-Date-Related-Fields)

[2022-07-01 19:05] codefazt commented on #24195
someone find a solution for this error ?

[2022-07-02 14:23] danielchalmers commented on #23575
don't think this is a problem anymore

[2022-07-02 14:23] #23575 closed, assigned to nobody

[2022-07-02 16:18] TurkerTunali commented on #31468
Thank you @ankush . I will check it.

[2022-07-02 23:11] carmagu commented on #30766
Confirmed

ERPNext: v13.34.2 (version-13)
Frappe Framework: v13.34.0 (version-13)

The error appears to be caused by the "get_delivery_notes_to_be_billed" script, which does not properly create the fcond string variable...

[2022-07-03 05:45] tespheakdeyesoftix opened #31509 "Redeem loyalty point with full amount of sale invoice amount"
Hi Team,
First thank for awesome erp.
I use loyalty point program feature in erpnext and it working perfect for earning point and my customer is happy with it.
But when redeem all customer need to redeem full amount of sale invoice amount when they have enough point.
Now we cannot do that because redeem accept only int number and cannot enter over max point.

Most of sale invoice amount always hav

[2022-07-03 08:44] EigenSolver opened #31511 "Negative Expense in Balance Sheet"
### Information about bug

I added a Freight and Forwarding Expense in a material transfer between two warehouse.
Ideally, the expense should be counted positive in the balance sheet and decrease the profit.
Yet, negative expense is counted in the balance sheet, which caused an increase of profit.

The expense I added in the stock entry.
![image](https://user-images.githubusercontent.com/20223932/

[2022-07-03 13:50] #31428 closed, assigned to ruthra-kumar

[2022-07-04 06:43] johnlongland opened #31512 "Fixing issue 31439 creates another issue"
### Information about bug

Good day devs
I have just upgraded my servers ( multi-tenant, sub-domain) from 13.27.1 to 13.34.2 and directly after that I wanted to do the
month-end journals for the previous month and noticed that there is no longer a "Finance Book" field available in the Journal Entry.

I made a post in the forum..
https://discuss.erpnext.com/t/finance-book-in-journal-entry-v13-34-2/

[2022-07-04 09:19] ravi854 commented on #31479
Good Day,
Steps to reproduce
I creating 2 Items, Item1 and Item2 both stock Item.Bri
![ERPNext_040722](https://user-images.githubusercontent.com/85276497/177124005-cb6f90b9-b5c6-478b-8bb4-cfe4357cc8c9.gif)
ng Stock in for both Items.
Created Pricing Rule on Item Code for Item1 . Under product Discount Scheme, under free Item added Item2.
Qty =1, Rate=0, recursite enabled.
While Making Sales, Free

[2022-07-04 14:11] chlarsen opened #31517 "Clinical Procedure Template Customizations do not reflect, when a Clinical Procedure is created"
### Information about bug

**Situation:** Advanced status of ERPNext (Healthcare) running on a Raspberry Pi4 with 8 GB RAM and external SSD for database access.

**Desired modification:** _Clinical Procedure Templates_ should be created for a series of antenatal care visits, designed as standard packages, which can be called up as procedures during patient encounters at the appropriate time for th

[2022-07-05 06:47] kvikster commented on #27511
it's an issue for me too. please consider to fix or provide workaround.

[2022-07-05 10:30] fkalpana commented on #31461
Any update on this .

[2022-07-05 13:54] marination opened #31528 "perf: Report Stock Balance"
With almost 1.1 million SLEs the background job `run_background` prematurely terminates
Seems like its a memory issue.

SLEs could be queried and looped over in batches. Build the resultant data incrementally
<img width="1397" alt="Screenshot 2022-07-05 at 7 10 58 PM" src="https://user-images.githubusercontent.com/25857446/177343954-2037300f-1b6e-4d52-a1c5-d299ef30f0e9.png">

Or bump up the memory

[2022-07-05 16:27] nidhipurohit11 opened #31532 "Errors from regional separation"
### Information about bug

Many accounting and selling scripts are breaking due to taxes.js file missing error. Also, many flows are not working like the quotation page is not getting loaded and throwing error -

![image](https://user-images.githubusercontent.com/82337328/177685538-bce22a8a-60c7-4e81-9235-3996a7107ae1.png)

Getting the following error -
FileNotFoundError: [Error 2] No such file or

[2022-07-05 16:48] dj12djdjs opened #31533 "Creating Sales/Purchase Return with Negative Rate"
### Information about bug

### Overview
When creating a return with a negative rate, the transaction is treated as an invoice instead of a credit.
This can happen if operator gets confused when adding negative quantity and also adds a negative rate.

### Observed Behavior
The transaction is submitted as an invoice.

### Expected Behavior
A validation error should be thrown similar to when positive

[2022-07-05 17:02] Olawale1 commented on #31193
We just encountered this today and have spent some time trying to figure out the issue. Thank God I searched the forums and found this reference! I absolutely agree with @barredterra and @rtdany10 that this should have been done in a major release (like V14) and should also be optional

[2022-07-05 19:36] mro-admin opened #31535 "Received Validation on Purchase Order not working properly"
### Information about bug

If an item in a purchase order is overreceived and the qty of the overreceived item is equal to the qty of the other items yet to be received ERPNext marks the purchase order as fully received. For example you have a purchase order with 3 line items for 1 each
and for the first line there is an over receipt of 3 qty. It will mark the purchase order as completed even if t

[2022-07-05 21:59] billy995 opened #31536 "translation mistake on new-employee-checkin"
### Information about bug

Can't find file to change german translation  IM to EIN

![grafik](https://user-images.githubusercontent.com/48571007/177422779-a0a738a0-0386-4f49-9d68-07639acfd1e5.png)

### Module

HR

### Version

Frappe Framework: v13.29.1 (version-13)
ERPNext: v13.30.0 (version-13)

### Installation method

manual install

### Relevant log output / Stack trace / Full Error Message.

[2022-07-06 08:12] Rakeshsivaji65 commented on #22398
Is this issue resolved? @heyberting @V-PATURKAR @ioweb-gr @121tech-dev

[2022-07-06 08:40] koplingganda opened #31539 "Include Accounting Dimension Fields when clicking Submit Salary Slip Button in Payroll Entry"
Hello everyone, thank you for this opportunity and this amazing framework. In this opportunity I would like to raise a feature request in HR module.

* **Is your feature request related to a problem? Please describe.**
I want to raise a feature request related to Payroll Entry and Accounting Dimensions. In my case, I have an accounting dimension called Unit that I set mandatory in Journal Entry. B

[2022-07-06 08:50] Rakeshsivaji65 opened #31540 "frappe.exceptions.ValidationError: A field with the name 'customer_group' already exists in doctype Sales Order."
### Information about bug

frappe.exceptions.ValidationError: A field with the name 'customer_group' already exists in doctype Sales Order.

when i try to restore the db from v12 to v13 and give bench migrate, this issue occurs.

### Module

selling

### Version

v13
v13

### Installation method

manual install

### Relevant log output / Stack trace / Full Error Message.

This is not the recommend

[2022-07-06 13:44] batonac commented on #13991
Please reopen. This is an outstanding feature request.

[2022-07-06 16:34] elan-k commented on #17615
Great Work

[2022-07-06 17:51] Suprazz commented on #31193
This new update is really annoying. We've been using erpnext for many years and now after an update we need to search and figure out what is the problem because everything was working fine until now. You should clearly indicate the issue in the releases notes or on the forum because those kinds of problem are really annoying for non developer users that just want to use the software like it was.

[2022-07-06 19:57] elan-k opened #31545 "Connect to Multiple WooCommerce Sites from ERPNext for Omni Channel Experience"
### **Is your feature request related to a problem? Please describe.**

When we have multi-location businesses, we use POS profiles to manage the billing configuration like price list, warehouse, cost centre, and accounting settings.

**We no longer handle the online website as an added location in our multi-location environment.** We need to support the Omni channel experience for our customers f

[2022-07-07 03:44] ChipwizBen commented on #31505
Happening to me too. Here's my output (some entries replaced with "nope" for privacy:

`### App Versions
[code]
### Route
[code]
### Trackeback
[code]
### Request Data
[code]
### Response Data
[code]

[2022-07-07 04:03] ChipwizBen commented on #31505
To clarify, no purchase invoices can be saved. It's quite a problematic issue.

[2022-07-07 06:06] sjain17 opened #31547 "Incorrect data populated in HSN-wise-summary of outward supplies"
### Information about bug

Double Total amount and Total Taxable Amount getting populated in the report if Sales Invoice has more than tax applicable. For example - If a sales invoice is having an item with an item tax template of GST 18% which is the combination of CGST 9% and SGST - 9% then the qty, total amount, and the total taxable amount is showing double value in HSN-wise-summary of outward

[2022-07-07 06:09] sjain17 commented on #31147
When you have multiple addresses in the same state with the same GSTIN then it shows multiple GSTIN in the dropdown of the GSTR -1 report.

For example - I have a GST number of Maharashtra and billing is done from Mumbai and Pune then while seeing GSTR-1 it shows the dropdown of GST number twice.

[2022-07-07 07:11] heterocyclics commented on #31505
I have the same issue too. Unable to create Purchase invoices at all. Just to add, I am creating a line item with the Item name and description only, not an existing item.

[2022-07-07 08:41] #29982 closed, assigned to nobody

[2022-07-07 08:41] ankush commented on #29982
https://github.com/frappe/erpnext/pull/30820

[2022-07-07 08:43] ankush commented on #31505
https://github.com/frappe/erpnext/pull/31529

[2022-07-07 08:43] #31505 closed, assigned to nobody

[2022-07-07 08:52] ankush commented on #31399
This is just because the item_code field is getting focused and on losing focus it's refetching item details.

[2022-07-07 08:54] ankush commented on #31532
@deepeshgarg007 @sagarvora Item doctype also doesn't open because of missing GST code doctype

<img width="1301" alt="Screenshot 2022-07-07 at 2 23 58 PM" src="https://user-images.githubusercontent.com/9079960/177733540-85a45ead-4b73-4e07-9804-15ab871bb103.png">

Edit: I think it's because I have other company with India as country.

Anyway... HS codes can be part of default setup, they are largel

[2022-07-07 09:06] ankush commented on #31532
https://github.com/frappe/erpnext/pull/31546

[2022-07-07 09:06] #31532 closed, assigned to deepeshgarg007

[2022-07-07 09:19] ioweb-gr commented on #31399
which wasn't happening in previous versions and it's a bug.

[2022-07-07 10:28] sagarvora commented on #31532
Existing test sites will fail, unless GST HSN Code is re-created I guess.

- They weren't so far (?)
- "GST HSN Code" additionally encompasses SAC codes designed and used only in India.

[2022-07-07 10:44] sagarvora commented on #31532
We could update the patch to "unlink" existing HSN Code fields. What do you think @deepeshgarg007 @ankush?

Or just remove them (without removing related DB column).

[2022-07-07 12:11] f-9t9it commented on #12846
@umairsy
Can we know what happened to this issue ?
It is marked as completed but against which PR it was marked completed or maybe you can point me the solution

https://discuss.erpnext.com/t/allocate-credit-note-debit-note-to-another-sales-invoice-purchase-invoice/29329/29?u=fkardame
I have posted in forum but no one have replied on it so cross posting it here.
Apologies for cross posting.

[2022-07-07 13:28] melBoh commented on #21239
Hi ! same issue here ;)
ERPNext: v13.35.0 (version-13)
Frappe Framework: v13.35.0 (version-13)

[2022-07-07 14:37] nadarvinod commented on #31193
I am using ERPNext through API, so my frontend needs to change to accommodate this which would take time and i have already updated ERPNext to this version.

I have bypassed below functions in the production code to fix this issue temporarily. Will it impact anywhere else?

https://github.com/frappe/erpnext/blob/228f10bf30b0c9e304927b5a877cc0730a66ab7c/erpnext/controllers/accounts_controller.py#L1

[2022-07-07 19:22] danielchalmers opened #31554 "Copy assignments with Auto Repeat"
Feature request: Copy `Assigned To` from the `Reference Document` and use them in the auto created document automatically without having to resort to Assignment Rules.

[2022-07-07 19:24] ritwikagrawal1228 opened #31555 "Import Data doesnt work correctly for LMS Quiz"
### Information about bug

I am not able to get Import Data work right on LMS Quiz. I need to upload multiple questions for 1 Quiz Title.

It seems to show an error that title is mandatory, when first one is filled and rest is left blank.
It also shows an error when all the titles are same.

Please suggest a way to do this, because this would be the case every person migrating to Frappe LMS.

I gu

[2022-07-08 02:13] dj12djdjs commented on #31540
Can you provide the stack trace?

[2022-07-08 06:26] #29683 closed, assigned to s-aga-r

[2022-07-08 06:53] Rakeshsivaji65 commented on #31540
[https://www.yogile.com/3gu7bdtaehl#21t](url)

@dj12djdjs

[2022-07-08 07:11] marination commented on #31505
A workaround now is to make sure the UOM is the same as the Stock UOM. Wont matter since it is a non-item purchase.

This is if you cannot update your instance immediately
@Epdecking @ChipwizBen @heterocyclics

[2022-07-08 07:44] hans-permana commented on #27431
hi @nextchamp-saqib , I saw that this issue is being fixed in v13, is there any chance that this fix is also ported back to v12? We have encountered the same issue in v12.

[2022-07-08 09:33] sengho777 opened #31557 "Change Value Maintain Stock Error"
### Information about bug

on Edit item then change value Maintain stock
<img width="923" alt="image" src="https://user-images.githubusercontent.com/65536015/177962936-4135874f-7abe-4337-b230-72a1dcaadf8e.png">

### Module

stock

### Version

Version 13

### Installation method

manual install

### Relevant log output / Stack trace / Full Error Message.

[code]
{
	"email_delivery_service": "0.0.1

[2022-07-08 09:51] #29604 closed, assigned to s-aga-r

[2022-07-08 11:58] flortsch commented on #31488
I managed to fix this issue. It's not an ERPNext bug, it's related to the Docker setup with the assets volume that has to be removed before upgrading ERPNext so it can be re-populated. Also see: https://github.com/frappe/frappe_docker/issues/790

[2022-07-08 13:51] prononext commented on #29658
It would be really nice to see this project template improvements.
Espacially so that it is not needed to ceate real task which have a influence on reporting. Template Tasks for the Template Project is needed.

Also a planning functionality like Tree-View ang Ghant and some timing functionality for the Project-Template Tasks is needed so that this does not have to be set manually after creating fr

[2022-07-08 13:53] prononext commented on #29658
**Please reopen this.**

[2022-07-08 17:40] Epdecking commented on #31505
In fact, my UOM is the same as Stock UOM and I have been doing the same thing. All of sudden have error.

[2022-07-08 19:37] nihantra commented on #31557
Hi @sengho777,

As per your requirement, the PR has been raised.
Please check this reference #31560

Thank You!

[2022-07-08 20:51] madappally commented on #25910
The future is already exist in erpnext.
You get students from batch if you select Program Enrollment in 'Get students from field'. See screenshot for reference

![Screenshot (32)](https://user-images.githubusercontent.com/15837910/178068569-cc72ddf9-c16d-4bfa-adf0-e0557510a4e8.png)

[2022-07-08 22:11] klw-sc commented on #31326
Hi, identified the problem, and a quick background on what I want to do in case there is a better way to configure the items.

Client buys rolls of carpet, these come in a batch, we may receive 20-40 rolls of the same batch. Each roll has a roll number, we need to record this roll number in case we have a faulty roll and link this to the sale. I enter the roll number as the serial number in the sy

[2022-07-09 17:52] blewsky commented on #26746
The problem still persists even with the @nextchamp-saqib 's PR.
The abbreviation is added automatically after the cost center. ERPnext still adds the old abbreviation it must have still stored somewhere.

[2022-07-09 18:05] blewsky opened #31562 "Renaming cost center automatically adds old company abbreviation"
### Information about bug

ERPnext automatically adds the company abbreviation after each cost center.
After a company abbreviation was changed, renaming a cost center does not work properly. ERPnext still adds the old company abbreviation. It is impossible to remove this part of the name, since ERPnext handles it internally (only the front part of the cost center is editable - not the abbreviatio

[2022-07-09 20:06] prononext opened #31563 "When duplicating Document New Custom Translations are not working anymore"
### Information about bug

I noticed the following when I duplicate items with existing custom translations:

- Custom Translations of course are not existent anymore when the field is changed
- When adding new custom translations to a field on the duplicated item, this translations do not work anymore in other doctypes
- they are shown inside the duplicated one, but
- When trying to use them insi

[2022-07-09 22:01] silvio3105 commented on #29160
Can someone port this back to v12?

[2022-07-10 06:16] exar888 commented on #12236
hi we have the same issue here. is it solved? @olamide2

[2022-07-11 03:29] #31539 closed, assigned to nobody

[2022-07-11 03:30] koplingganda opened #31564 "Mandatory Error on Accounting Dimension Fields when clicking Submit Salary Slip Button in Payroll Entry"
### Information about bug

Hello everyone, thank you for this opportunity and this fantastic framework. I want to raise a bug report in the HR module in this opportunity.

This is actually not a bug in a normal case, but I have a mandatory accounting dimension field called Unit in Journal Entry and it makes us cannot submit salary slips in Payroll Entry even though the Unit field is filled. It wil

[2022-07-11 06:50] Rakeshsivaji65 commented on #31540
@dj12djdjs  any solution?

[2022-07-11 09:17] venetanji opened #31569 "Payment entry tax recorded in foreign currency generates wrong GL entry"
### Information about bug

When I:

1. create a new payment entry in a foreign currency and
2. add bank charges as tax in foreign currency and
3. save the document

the tax amount displayed and the related GL entry report an incorrect amount, it seems the exchange rate is applied twice.

Before saving:
![image](https://user-images.githubusercontent.com/36767/178230417-bad7dbab-3cf2-48a6-bbb7-34f26

[2022-07-11 10:06] akurungadam commented on #31517
Thanks for reporting. Just checked this, looks like the Clinical Procedure is not currently mapped from the Template, only the consumables are copied to the related procedure. We'll need to push a fix to correct this.

We'll speed this up, but until we have a fix ready and merged, as a work around you can have a server script written to populate the custom fields from the template.

[2022-07-11 10:17] megha0071994 opened #31570 "how to create attendance with working hours and calculate salary on the basis of working hours"
### Information about bug

how can I mark employee attendance with employee checkins and outs and how can I calculate salary on the basis of that working hours in a month.

### Module

HR

### Version

Installed Apps
ERPNext: v13.28.0

Frappe Framework: v13.28.0

### Installation method

manual install

### Relevant log output / Stack trace / Full Error Message.

_No response_

[2022-07-11 13:45] chlarsen commented on #31517
Dear Anoop,
Thank you so much for the clarification! And, of course, for your tremendous help and support!
I will see what I can do in the meantime.
Hugely appreciated!
Chris

On 11 July 2022 10:06:35 UTC, Anoop ***@***.***> wrote:

[2022-07-11 13:58] Rakeshsivaji65 commented on #31540
This is not the recommended mode of installation for production. Instead, install the package from PyPI with: `pip install frappe-bench`

Migrating mamba01_v13_dev03
Executing erpnext.patches.v13_0.create_accounting_dimensions_in_orders in mamba01_v13_dev03 (_63c0cd6bf0b2e87f)

Traceback (most recent call last):
  File "/usr/local/lib/python3.7/runpy.py", line 193, in _run_module_as_main
    "__ma

[2022-07-11 21:11] dj12djdjs commented on #31540
The problem might be related to custom fields. Do you have any custom fields setup for Sales Order?

[2022-07-11 21:16] dj12djdjs commented on #31536
Hello @billy995,

Here is the file location for German translations.
https://github.com/frappe/erpnext/blob/0b822dade01c16a0f8319744113885f6b53bdcf4/erpnext/translations/de.csv#L6006

[2022-07-11 21:26] dj12djdjs commented on #31535
I have a purchase order with two items. One of the item is over received, the other is not received. The Purchase Order is still marked as To Receive.

![image](https://user-images.githubusercontent.com/29856401/178361164-feaff132-dd3b-4c0c-a3ee-6ecb3cf1f433.png)

![image](https://user-images.githubusercontent.com/29856401/178361327-b5ed1e05-f99a-4583-b6a3-640ab0f569a5.png)

[2022-07-11 21:46] dj12djdjs commented on #31512
I don't use Finance Books or Asset management in ERPNext. I'm not familiar on this topic.

The Finance book field in Journal Entry was only added for the purpose of single Asste depreciations via multiple methods as a compliance requirement for some companies. Many users end up using that without having proper knowledge or context about it and later end up having issues while reporting

@deepeshga

[2022-07-11 21:58] dj12djdjs commented on #31482
@muchai I believe this feature already exists, just chose to apply on Item Group or Item Code instead of Transaction.

![apply discount on greater than 1000](https://user-images.githubusercontent.com/29856401/178365454-aed64606-82b5-4bab-a731-b06399e9fff6.gif)

[2022-07-12 06:28] muchai commented on #31482
Applying on Item Group or Item Code is there. Used this.

The case though was, for every transaction of 10K and above, give a discount on all items falling under a certain item group.

[2022-07-12 07:58] mohsinalimat opened #31575 "Apply discount on Batch"
Apply discount on Batch in Promotional Scheme

![Screenshot 2022-07-12 at 1 25 22 PM](https://user-images.githubusercontent.com/973676/178439225-2d130bbd-29d3-43a4-9d1e-0945ee2f2bcf.png)

[2022-07-12 15:58] dj12djdjs opened #31578 "Incorrect Stock Ledger Balance after Landed Cost Voucher Submission"
### Information about bug

### Overview
The stock ledger shows incorrect stock balance after submission of LCV.

### Steps to Reproduce
1. Receive 10pc of Demo Item .
![image](https://user-images.githubusercontent.com/29856401/178535222-e91ca9cf-c889-47de-a4d0-2eae4fdd2b5c.png)

2. Invoice 1pc of Demo Item.
![image](https://user-images.githubusercontent.com/29856401/178536282-fb708fc3-b79f-4004-b3

[2022-07-12 17:50] muchai commented on #26577
https://github.com/frappe/frappe/pull/17417

[2022-07-12 17:50] #26577 closed, assigned to nobody

[2022-07-12 22:12] dj12djdjs commented on #31570
Hello @megha0071994,

Please refer to the docs: https://docs.erpnext.com/

For community support use: https://discuss.erpnext.com/

[2022-07-12 22:12] #31570 closed, assigned to nobody

[2022-07-13 01:17] looeee opened #31585 "Rate limit on frappecloud.com/erpnext/signup triggers even when I have not created any trial accounts"
### Information about bug

I am attempting to create a demo account from `https://frappecloud.com/erpnext/signup` as linked in the GitHub readme.

I have not yet successfully made any accounts (as far as I know at least) however I'm getting the message `You have hit the rate limit for trial accounts`.

![rate limit](https://user-images.githubusercontent.com/5307958/178627227-59fdabd8-048d-4b00-afe

[2022-07-13 06:22] ishanloya commented on #31193
This is exactly the issue that we are facing now.

[2022-07-13 06:33] yadavyk commented on #31533
@dj12djdjs , a validation is thrown when positive qty is entered in return.

![Untitled 11](https://user-images.githubusercontent.com/32797974/178666111-509ac1a9-558d-407b-9c7b-c218e744fade.png)

This is on :

ERPNext: v14.x.x-develop () (develop)
Frappe Framework: v14.x.x-develop () (develop)

Could you confirm on which version are you facing this or the exact steps you're using to reproduce this

[2022-07-13 06:41] dj12djdjs commented on #31533
@yadavyk I should re-write the issue more clearly. I mean if you specify a negative rate and a negative qty it will be submitted as an invoice.

What I ment when refering to the negative qty is that a negative price (rate) should throw a validation error similarly how a positive qty would.

[2022-07-13 09:24] megha0071994 commented on #30981
I have checked all the settings and follow the following link:
https://docs.erpnext.com/docs/v12/user/manual/en/accounts/subscription

[2022-07-13 11:35] dineshpanchal93 commented on #31492
Anyone is facing the same issue

[2022-07-13 14:47] szufisher opened #31590 "[bug] erpnext version 13.35.1 create sales order from inter company purchase order is not possible with error message"
### Information about bug

start from version 13.35.1, create sales order from inter company purchase order is not possible due to error message
"exception": "UnboundLocalError: local variable 'target_detail_field' referenced before assignment"

which may introduced by this [#31493](https://github.com/frappe/erpnext/pull/31493)) fix: Internal PI link in Sales Invoice

### Module

buying, selling

[2022-07-13 16:18] alkuhlani commented on #3473
+١

[2022-07-14 01:24] Ponyooooo commented on #29612
@muchai I am also confused with this. have you confirmed it with any of the ERPNEXT? If it is true that stock reconciliation can already be used for opening stocks that are serialized or with batch numbers?

[2022-07-14 07:29] ruchamahabal commented on #23294
This issue doesn't persist anymore.

[2022-07-14 07:29] #23294 closed, assigned to nobody

[2022-07-14 07:30] ruchamahabal commented on #26821
Resolved with: https://github.com/frappe/erpnext/pull/31074

[2022-07-14 07:30] #26821 closed, assigned to pushkarjsh88

[2022-07-14 07:31] zenicolas opened #31592 "Server Error pymysql.err.DataError: (1406, "Data too long for column 'name' at row 1")"
### Information about bug

Trying to create a purchase receipt without any link to a purchase order.

Receive the error in subject. Still investigation but no luck yet.

Found the below discussion regarding this issue without being able to fix it myself.

Discussion from Feb seems to have found a resolution although, I wasn't able to replicate the fix.

from Feb 2020 : https://discuss.erpnext.com/

[2022-07-14 07:33] ruchamahabal commented on #30116
Introduced in https://github.com/frappe/erpnext/pull/24362

[2022-07-14 07:33] #30116 closed, assigned to nobody

[2022-07-14 07:33] ruchamahabal commented on #16260
Payroll allows employee/department wise cost-center assignment

[2022-07-14 07:33] #16260 closed

[2022-07-14 08:18] zenicolas commented on #31592
Same issue with Purchase invoice and Purchase receipt

[2022-07-14 08:20] zenicolas commented on #31592
Same issue with Sales invoice and Purchase order

[2022-07-14 08:48] onlinebizsoft opened #31593 "Payroll can't generate salary slip for when salary structure asignment start from middle of a month"
### Information about bug

Related to https://github.com/frappe/erpnext/issues/26821

When I click on the button "Create salary slips" from Payroll there is a progress bar which look like creating salary slip for every employee but it seems to stop at 70% progress and when I reload the page, there is no salary slip created at all. I have confirmed that there is no salary slip for past months alrea

[2022-07-14 08:49] onlinebizsoft commented on #29465
Can you open this?

[2022-07-14 12:26] yadavyk commented on #31592
Fixed with [17508](https://github.com/frappe/frappe/pull/17508). @zenicolas Can you update and confirm ?

[2022-07-14 14:04] billy995 commented on #31536
Thanks dj12djdjs, is it possible that you will fix this bug in the next version? Otherwise there could be translation mistakes for  German-speaking users

[2022-07-14 14:05] #31536 closed, assigned to nobody

[2022-07-14 14:34] xickomesquita opened #31597 "[Improvement] Supplier Scorecard - Calculate only with active transactions on period"
There isn't a way to evaluate suppliers only when it have active transactions.

when we use this calculation:

({total_accepted_items} / {total_received_items})*100
if {total_received_items} > 0
else 100

the 'else' its a poor workaround.

The supplier X had some transactions with my company only in months 1,2,4 and 7. The system is actually generating these scores:

![image](https://user-images.g

[2022-07-14 15:17] gpanasco opened #31598 "Missing "archived columns" option in Kanban View"
### Information about bug

Hello.

I am trying to understand where the "archived columns" option is when opening a Kanban view for any DocType on ErpNext version 13. It is entirely possible I might just be really stupid not seeing it anywhere and missing the option (sorry if that is the case).

In the official documentation for version 13 this option also does not appear when looking at the animat

[2022-07-14 15:38] #31592 closed, assigned to nobody

[2022-07-14 15:39] zenicolas commented on #31592
Thanks you very much guys, works like a charm.

[2022-07-14 17:26] kid1194 commented on #31403
This is a plugin that achieves that.

[ERPNext Fiscal Year Based Date Related Fields](https://github.com/kid1194/ERPNext-Fiscal-Year-Based-Date-Related-Fields)

[2022-07-14 17:26] #31403 closed, assigned to nobody

[2022-07-14 18:47] johnlongland commented on #31046
Good day to the team
Is there any chance this may be attended to some time soon ? I do realise you are all running around attending to many things but I have just hit my head again against this inconsistent display of information.

Many thanks

[2022-07-14 21:22] aakvatech opened #31600 "Expected value after useful life must be greater than or equal to"
### Information about bug

Try this combination to see if this precision is appropriate:
Existing asset
Gross Purchase Amount: 38233774
Date of purchase and available for use: 06-May-2022

Check both of these:
1. Calculate Depreciation
2. Allow Monthly Depreciation

Finance Book child:
Depreciation Method: Written Down Value
Total Number of Depreciations: 7
Frequency of Depreciation (Months):  12

[2022-07-15 03:46] j0rgan commented on #31095
Same here...

[2022-07-15 06:18] Namekkural commented on #31095
I haven't gotten these emails lately, has this been fixed?

[2022-07-15 06:18] Namekkural commented on #31095
@longGr @j0rgan what versions are you on?

[2022-07-15 08:11] ankush opened #31604 "Client script for reports"
Client scripts can be added in form, list view right now.

Customizing the report is not as simple right now. Adding report client scripts would simplify a lot of customization needs.

[2022-07-15 08:34] hpotabatti opened #31605 "Display Document Status and Billing/Delivery Status in List View"
Currently, in List View of doctypes, the Billing & Delivery Status are displayed as Statuses.
![Screenshot 2022-07-15 at 14 01 42](https://user-images.githubusercontent.com/92014378/179185530-c41f3f8a-3a67-4cab-b52f-b468577773e6.png)

But it's useful if the user has the ability to view the Document Status along with the Billing & Delivery Status, as in the above example, the mentioned Purchase Rec

[2022-07-15 13:11] dj12djdjs commented on #31193
Closing as https://github.com/frappe/erpnext/pull/31572 is merged.

[2022-07-15 13:11] #31193 closed, assigned to nobody

[2022-07-15 18:29] johnlongland commented on #31046
Good day to the team
I have just entered a rather complex project structure where there is 4 levels of child-tasks. To manage the view of these tasks, I
have enabled " In standard Filter" on the "Parent Task" field of the "Task" form. This works very well to help make the display more manageble. This works well in "List view" but Calander view does not respect the filters that has been set up.

[2022-07-15 21:43] dj12djdjs opened #31607 "Payment Ledger Entry `get_voucher_outstandings` doesn't consider reconciliations before filter posting date."
### Information about bug

Given the filters posting date from 2022-01-01 to 2022-07-15 "Get Outstanding" will produce only 1 invoice as shown below:

![example 2022-01-01 to 2022-07-15](https://user-images.githubusercontent.com/29856401/179314386-60cac2b2-9ad6-45db-940f-367d9646769a.png)

If we reduce the filter to only 1 month instead of the full year, for example 2022-06-15 to 2022-07-15 magica

[2022-07-16 08:01] j0rgan commented on #31095
@Namekkural btw i am not using dockerized version like yourself. My versions:
erpnext 13.30.0
frappe 13.29.1

[2022-07-17 07:12] Govind-Jangid opened #31610 "E-commerce searching enhancement"
While searching an item code or any searchable fields contain "-" then it not able to search that item. Redisearch is also installed.
eg. if a website item is laptop with model no. Lenovo G50-70 and when we search this model with G50-70 on /all-products or if via Item Code i.e. ITEM-00001 then it not searchable due to containing "-" in between.

This is bcoz of below code; located at  (erpnext/tem

[2022-07-17 13:12] Altizo opened #31611 "PDF cannot be created (wkhtmltopdf reported an error)"
### Information about bug

Expected:
After you click the button, a new tab with the pdf file will open

Result:
After clicking the button, a new empty tab opens and nothing happens.

Details:
ERP is served by a third-party proxy server (Nginx Proxy Manager).
I was able to get the log from frappe.log inside the docker container.

### Module

other

### Version

ERPNext: v13.35.0
Frappe Framework: v

[2022-07-17 19:41] moroslantia commented on #30840
**Version**
**ERPNext**: v13.34.2
**Frappe Framework**: v13.34.0

It seems that the URI is not correct, after making a selection with the drop down the URI changes and the **/view/** part is removed.

Adding view part manually back to the URI is a ugly workaround.

[2022-07-18 06:32] hadeeld7 commented on #30547
Is there any update to this issue ?

[2022-07-18 12:20] deepeshgarg007 opened #31620 "List of V14 features & enhancements"
<details>
<summary>Performance</summary>

- perf: Add indexes in stock queries and speed up bin updation ([#27758](https://github.com/frappe/erpnext/pull/27758))
- perf: BOM Update Tool ([#31072](https://github.com/frappe/erpnext/pull/31072))
- perf: don't query unless required ([#26175](https://github.com/frappe/erpnext/pull/26175))
- perf: GLE reposting with progress and chunking ([#31343](https

[2022-07-18 14:39] arcadio-nseng commented on #23060
was this bug fixed?

[2022-07-18 20:26] dj12djdjs commented on #23068
Ignore previously linked PRs. Unrelated.

[2022-07-19 08:09] #31578 closed, assigned to nobody

[2022-07-20 03:46] yadavyk opened #31635 "V14 CRM Issues"
### Information about bug

1. There is no direct listing of Prospect under Masters and CRM Settings under Settings on the CRM Onboarding page. Both can only be accessed through the awesome bar : https://github.com/frappe/erpnext/issues/29739
2. Connections section for Prospect is missing : https://github.com/frappe/erpnext/issues/29245
3. The Save Button doesn't work appropriately in Lead, Opportu

[2022-07-20 04:52] hpotabatti opened #31636 "Payment Request based on Payment Schedule."
Currently, when the user creates a Payment Request on any doctype (Purchase Order in the below example), the entire Order value is being picked in the Payment Request.
![image](https://user-images.githubusercontent.com/92014378/179899473-edc777e0-32ff-4b0d-95ee-65204559135f.png)
![image](https://user-images.githubusercontent.com/92014378/179899513-6407b3f7-6d1a-4b69-8934-6220688443f5.png)

However

[2022-07-20 06:41] Mohd200 opened #31638 "Workflow Email Alerts Feature"
Good Day All

**Is your feature request related to a problem? Please describe.**

In Workflow Doctype, more importantly in the Workflow State table, we have the option of activating the box "Is Optional State".
The "Send Email Alert" checkbox is also activated.
![Screenshot 2022-07-19 152044](https://user-images.githubusercontent.com/32062135/179911427-f4db2573-107d-4653-a06b-c59c3377ddcb.png)
Fro

[2022-07-20 07:53] TripathiSK1967 opened #31640 "Forecasting in Manufacturing module"
### Information about bug

I observed errors in the results  of monthly forecast qty, for forecasting based on the sales orders. Results are not matching with manual calculations based on the  formula in the ERP Next documentation .

### Module

manufacturing

### Version

ERPNext: v13.0.0-beta.4

Frappe Framework: v13.0.0-beta.5

### Installation method

manual install

### Relevant log output /

[2022-07-20 10:08] Darshit-Vadadoriya8 opened #31641 "non-profit module"

[2022-07-20 10:09] #31641 closed, assigned to nobody

[2022-07-20 11:07] nidhipurohit11 opened #31643 "UX: "More" button gets displayed twice on PO>> get item from Material Request modal"
### Information about bug

1. Visit purchase order and click "get items from" > Material Request
2. On modal, the table shows a "More" button
3. Check "Select Material Request Item" once and uncheck it, it will then show 2 "More" buttons.

https://user-images.githubusercontent.com/82337328/179966891-726ef6f7-e65f-4c5c-8e9b-df1ad47a8f68.mov

### Module

buying

### Version

ERPNext: v14.0.0-dev (HE

[2022-07-20 11:41] nidhipurohit11 opened #31645 "Unable to save Purchase Order"
### Information about bug

1. On the test site, simply select a supplier, and an item and try to save the order
2. it is throwing an error to fill the title.

![photo_2022-07-20 17 09 11](https://user-images.githubusercontent.com/82337328/179973040-70af80a2-609c-435a-95e9-aac6a468bd31.jpeg)

### Module

buying

### Version

ERPNext: v14.0.0-dev (HEAD)

Frappe Framework: v14.0.0-dev (HEAD)

### Ins

[2022-07-21 04:33] ishanloya opened #31653 "Subcontracting receipt date is being set to "Today""
### Information about bug

Regardless of the selected posting date, the Subcontracting Receipt date is being reset to "Today"

### Module

other

### Version

ERPNext: v14.0.0-beta.6 (version-14-beta)
Frappe Framework: v14.0.0-beta.5 (version-14-beta)

### Installation method

manual install

### Relevant log output / Stack trace / Full Error Message.

_No response_

[2022-07-21 06:10] yadavyk opened #31655 "Healthcare : Unable to get option to create new under some fields"
### Information about bug

Reference : https://github.com/frappe/erpnext/pull/26557

The option to create new doc is missing under certain fields such as Lab Test Template, Practitioners, complaints etc. on the Treatment Plan Template form

![create new option missing](https://user-images.githubusercontent.com/32797974/180141592-fabb7766-87bc-46c0-a342-06a10921bf25.gif)

### Module

other

### Ver

[2022-07-21 06:48] #31655 closed

[2022-07-21 08:08] nidhipurohit11 opened #31663 "PR >> PI, if currency exchange is changed in latter then also the item rate is not getting updated"
### Information about bug

While checking - https://github.com/frappe/erpnext/pull/25970

1. Created a PR with currency exchange at 80.01, the item rate is then $25. Submitted it.
2. Creating PI from this PR, and changing the currency exchange rate, the item rate in the child table is not getting updated according to changes in currency exchange. (If exchange rate is changed to 85, the item rate s

[2022-07-21 09:03] TripathiSK1967 commented on #31640
In correct calculation by ERP.

[2022-07-21 09:31] nidhipurohit11 opened #31668 "Payment terms not fetched in Sales Invoice, DN from order. Also not in PR from PO"
### Information about bug

As per this - https://github.com/frappe/erpnext/pull/26397 the payment terms should -
- be fetched in PR from PI or PO
- be fetched in SI from SO or DN

Currently, if the payment term template is set in SO, then on creating SI/DN from this order the payment term template is not getting fetched.

Same in the purchase cycle.

### Module

accounts

### Version

ERPNext: v14

[2022-07-21 14:20] yadavyk opened #31670 "Error on setting holiday reminder frequency"
### Information about bug

Reference : https://github.com/frappe/erpnext/pull/25735

Upon setting holiday reminder frequency under HR Settings --> Reminders section, an error is thrown

![error on setting holiday reminder frequency](https://user-images.githubusercontent.com/32797974/180237250-9c260a1c-f643-450c-9ec1-d66f47a8794c.png)

### Module

HR

### Version

V14 beta2

### Installation method

[2022-07-21 15:54] michalls01 opened #31671 "Customer Language is not applied for attachments in email notifications"
### Information about bug

In Settings / Notification, when sending attachments with email notification (Attach Print, Print Format), corresponding customer language is not applied to the attachment. In contrary, in Print Preview, the language is correctly applied.

This leads to having a separate print template with default language only for "Email Notification" agenda and separate template witho

[2022-07-22 02:45] gpanasco commented on #31598
Just solved it myself, it is NOT a bug, Simply accessing app/kanban-board brings up all created kanban boards and from there it is possible to unhide the columns. Strangely, I did not find this doctype link in any module, and had to create a shortcut on one of the apps to access it.

[2022-07-22 02:45] #31598 closed, assigned to nobody

[2022-07-22 03:51] yadavyk opened #31672 "Leave colour isn't reflected in Leave Application's calendar view"
### Information about bug

In reference with : https://github.com/frappe/erpnext/pull/27246,  the leave is still reflected in blue colour

![Uploading leave color.png…]()

### Module

HR

### Version

V14 Beta2hr

### Installation method

_No response_

### Relevant log output / Stack trace / Full Error Message.

_No response_

[2022-07-22 04:23] charleslcso opened #31673 "Minimal hardware config to test frappe/erpnext"
### Information about bug

Hello,

We have been stress testing frappe/erpnext v13.21.0 for quite a while now. Mainly use it as an API server, and see if it is suitable for production.

We use python 3.10, supervisor, nginx, mariadb on 1GB RAM with 1 CPU.

It runs pretty decently on fresh boot. As we develop (creating DocType, Docs, changing DocFields, using Notifications, sending emails, logging i

[2022-07-22 07:20] iMoshi opened #31675 "Can not confirm appointment"
### Information about bug

When a customer creates an appointment booking through the portal and tries to verify his/her email (from the email sent by ERPNext) portal breaks with the following traceback:

### Module

CRM

### Version

Frappe version: v14 Beta 5
ERPNext version: v14 Beta 6

### Installation method

manual install

### Relevant log output / Stack trace / Full Error Message.

[code]

[2022-07-22 09:50] vishdha commented on #23432
https://github.com/frappe/frappe/pull/17591

[2022-07-22 09:51] vishdha commented on #15998
https://github.com/frappe/frappe/pull/17591

[2022-07-22 10:09] nidhipurohit11 opened #31677 "Search fields not working on print format builder"
### Information about bug

- Visit Sales/purchase invoice/order >> Print
- Click "Try the new Print Format Builder" on top
- The sidebar shows a "Search Field" option
- This works only for options visible in the view, searching any other option present in the list is not working.

![Screenshot 2022-07-22 at 3 26 48 PM](https://user-images.githubusercontent.com/82337328/180417239-8fc6d929-0df3-4340

[2022-07-22 11:49] nidhipurohit11 opened #31679 "TypeError: 'NoneType' object is not iterable on saving JE of type credit note"
### Information about bug

While checking - https://github.com/frappe/erpnext/pull/27451

- Creating a new journal entry >> type "Credit Note"
- Checked the "Apply Tax Withholding Amount" checkbox, and filled required details in the child table (as shown in screenshot below)
- Saving the JE is showing an error - "TypeError: 'NoneType' object is not iterable"

![Screenshot 2022-07-22 at 5 13 43 PM]

[2022-07-22 12:09] nidhipurohit11 opened #31680 "Gross Profit >> Groupby "Payment Terms" is throwing an error"
### Information about bug

- Visit the Gross Profile report
- From the filters, select "Payment Terms" in the group_by field
- It is throwing an error - "TypeError: unsupported operand type(s) for *: 'NoneType' and 'int'"

![Screenshot 2022-07-22 at 5 30 32 PM](https://user-images.githubusercontent.com/82337328/180435495-2348f6d2-c9c7-4892-b593-2955c07deb56.png)

### Module

accounts

### Version

[2022-07-22 12:49] yadavyk opened #31682 "Error while loading Patient Appointment doctype"
### Information about bug

The following error appears while loading Patient Appointment doctype

![erro while loading patient appointment doctype](https://user-images.githubusercontent.com/32797974/180442373-1249310e-c395-4627-8c0e-77fcd0304ab0.png)

### Module

other

### Version

V14 Beta2

### Installation method

_No response_

### Relevant log output / Stack trace / Full Error Message.

[cod

[2022-07-22 12:52] ruchamahabal commented on #31682
https://github.com/frappe/health/pull/115

[2022-07-22 13:04] yadavyk opened #31683 "Capacity for service unit missing in Quick Entry for Healthcare Service Unit"
### Information about bug

The capacity for service unit is missing in Quick Entry for Healthcare Service Unit. So after filling in all details when a user tries submitting through quick entry it throws appropriate validation error and redirects to full form view

Expected :

![110899620-741db800-8327-11eb-9a81-3a329ec39921](https://user-images.githubusercontent.com/32797974/180444917-ede51eff-faa

[2022-07-22 13:13] nidhipurohit11 opened #31684 "UI issue : Payment Entry Transaction ID section"
### Information about bug

![Screenshot 2022-07-22 at 6 31 40 PM](https://user-images.githubusercontent.com/82337328/180446073-bfe3f1c4-2ca6-48ea-82d9-bbd07d156b83.png)

### Module

accounts

### Version

ERPNext: v14.0.0-dev (HEAD)

Frappe Framework: v14.0.0-dev (HEAD)

### Installation method

FrappeCloud

### Relevant log output / Stack trace / Full Error Message.

_No response_

[2022-07-22 13:19] kaienmanalo opened #31685 "Tracking the number of times a form is printed"
Feature Request: A counter or label that would display how many times the "Print" button was clicked on a specific form. This is mainly to validate the printing count of a form and ensure/restrict that they are only printed once.

Reference:
![image](https://user-images.githubusercontent.com/109737779/180447119-3226ea22-f5b7-46a0-8fb0-0fb2f4eac8ab.png)

[2022-07-22 15:08] nidhipurohit11 opened #31688 "Bank Statement Import - Unable to import, throws an error"
### Information about bug

Bank Statement Import - When downloaded the template, edited it, saved it in the correct format, and tried to import then it's throwing an error - "Value for Import Log cannot be a list"

![Screenshot 2022-07-22 at 8 24 59 PM](https://user-images.githubusercontent.com/82337328/180468242-5c2d136d-f54b-4533-a410-218d099af768.png)

### Module

accounts

### Version

ERPNext

[2022-07-23 03:10] rjbharath1003 opened #31689 "not able to create credit note /return with einvoice"
### Information about bug

for sales return and credit note.
einvoice details getting carried to new form.
needed below cs to make it work.
please do the needfull

frappe.ui.form.on('Sales Invoice', {
	onload: function(frm) {
 if(cur_frm.doc.name === cur_frm.doc.return_against + "-1")
	    {

	    }
	    else{
          if(cur_frm.doc.is_return === 1)

        {
        cur_frm.set_value("irn","")

[2022-07-23 12:04] mohsinalimat commented on #31575
This feature is good for batch processing industry like as Pharma.

[2022-07-23 22:17] littlebunyip commented on #27340
Is still an issue on version ERPNext: v13.36.1 (version-13)

[2022-07-25 11:09] muchai commented on #31222
All one need to do is got to Custom Field, and delete the custom fields. Then after a patch/update, frappe handles the rest.

[2022-07-25 11:09] #31222 closed, assigned to nobody

[2022-07-25 11:13] muchai opened #31693 "Pricing Rule/Promotion Scheme Include Batch as an option in Apply On selection"
![image](https://user-images.githubusercontent.com/1822868/180764477-b3903e97-4af3-4c49-ba04-2a264d141300.png)

In some cases, e.g. pharmaceutical industry, you may want to create a promotion for certain batches.

[2022-07-25 12:10] mohsinalimat commented on #31693
https://github.com/frappe/erpnext/issues/31575

[2022-07-25 13:21] ruchamahabal commented on #31670
Looks like the test site wasn't migrated properly so the scheduled job type didn't get created. Should be fine now. Reopen if issue persists

[2022-07-25 13:21] #31670 closed, assigned to ruchamahabal

[2022-07-26 03:55] gpRabie commented on #7059
Hi! Is there a way to make the added columns in GL permanent?

[2022-07-26 03:56] gpRabie commented on #7059
Hi! Is there a way to make the added columns in GL permanent?

[2022-07-26 06:24] singh0834 opened #31697 "Wrong Day Calculation of payment days for employee when I entered relieving date in employee master."
### Information about bug

Wrong Day Calculation of payment days in the salary slip for the employee when I entered relieving date in employee master.

### Module

HR, other

### Version

Frappe Version 13

### Installation method

manual install

### Relevant log output / Stack trace / Full Error Message.

_No response_

[2022-07-26 07:24] IcedQuinn commented on #7538
this still has an active bounty listed, which should probably have something done with it.

[2022-07-26 08:06] ruchamahabal commented on #31697
Closing as duplicate of https://github.com/frappe/hrms/issues/25

[2022-07-26 08:06] #31697 closed, assigned to nobody

[2022-07-26 08:07] #31682 closed, assigned to nobody

[2022-07-26 08:15] ruchamahabal commented on #27340
https://github.com/frappe/erpnext/pull/31699

[2022-07-26 08:15] #27340 closed, assigned to nobody

[2022-07-26 09:07] ishanloya opened #31701 "Journal entry against invoices not updating outstanding amount"
### Information about bug

Sometimes when a sales invoice is paid using a journal entry, the outstanding amount doesn't get updated. Moreover, when the linked Journal Entry is cancelled, the invoice gets updated with the reverse entry.

So, for e.g. if an invoice amount is Rs. 3,000, on JV submission outstanding amount remains Rs. 3,000. When the JV is cancelled, the outstanding amount becomes Rs.

[2022-07-26 09:21] yadavyk opened #31702 "Healthcare Issues"
### Information about bug

1. The spelling of "skipping" and "overlapping" is incorrect in validation message thrown for overlapping appointment check

![spelling mistake in validation error helathcare](https://user-images.githubusercontent.com/32797974/180970673-fa3fcfcc-2266-47dd-be76-9bc4a791d9d6.png)

2. When you select healthcare practitioner first and then select department, the selection ma

[2022-07-26 09:33] ishanloya commented on #31701
I can confirm that this issue arose twice. In both cases, I had renamed the journal entry after submission. I wonder if this had something to do with the linking of the GL entry with the journal entry since as per my understanding the GL entries are renamed later.

If so, maybe we need to restrict journal entry renaming somehow until the linked GL Entry renaming is completed?

[2022-07-26 11:05] ishanloya commented on #31701
Same thing is happening with purchase invoices paid via journal entries as well. Even when the journal entry isn't renamed, the issue is still present. Seems to be happening randomly.

[2022-07-26 12:15] yadavyk commented on #29901
@nextchamp-saqib @ankush  this is still pending. Anyone fixing it?

[2022-07-26 12:28] nidhipurohit11 opened #31703 "Quotation : Unable to open item details, getting console error"
### Information about bug

Open quotation >> select any customer and item and try open item details

![Screenshot 2022-07-26 at 5 54 42 PM](https://user-images.githubusercontent.com/82337328/181005367-27e3b0b1-0c5b-4acd-8c69-d14ebfa5c76e.png)

### Module

selling

### Version

ERPNext: v14.0.0-dev (HEAD)
Frappe Framework: v14.0.0-dev (HEAD)

### Installation method

FrappeCloud

### Relevant log o

[2022-07-26 12:54] EricGadbin opened #31704 "The item {1}, quantity must be positive number"
In **erpnext/sotck/doctype/sotck_entry/stock_entry.py** at **_line 279_**, with have this condition:
[code]

Recently, we updated from V11 to V13, and we noticed this little change that bothers our stock team since we sometimes need to have negative stock on our items when we click on the "add" button.
<img width="466" alt="Capture d’écran 2022-07-26 à 14 40 21" src="https://user-images.githubus

[2022-07-26 13:38] yadavyk opened #31705 "Error in Income Tax Computation Report"
### Information about bug

The below error pops up when you try to set up Payroll Period in  Income Tax Computation Report :
![income_tax](https://user-images.githubusercontent.com/32797974/181019471-850cef70-a0e5-4626-81e2-052fa6d34337.gif)

### Module

other

### Version

V14 Beta2

### Installation method

_No response_

### Relevant log output / Stack trace / Full Error Message.

_No response_

[2022-07-26 18:27] Olawale1 commented on #31701
We had previously encountered the issue with Invoices not getting update via JV... thought it was fixed. Hope this can be resolved soon

[2022-07-26 18:45] Olawale1 opened #31707 "Payroll Entry not linked with Accrual Journal Entry"
### Information about bug

Hi ,

Upon Submission of Salary Slips via Payroll Entry, an accrual entry JV is automatically created. This Journal Entry is however not linked to the Payroll Entry and makes it difficult to track which entry was generated against which Payroll

![Payroll Accrual Entry Issue 01](https://user-images.githubusercontent.com/9269337/181086493-adacf601-4ef6-4a3a-a7c5-f8c6ad5da

[2022-07-26 19:57] dj12djdjs commented on #31707
Hello @Olawale1,

The accrual journal entry is linked with the individual salary slips.

The journal entry associated with the  payroll entry is the Bank Entry transaction.

[2022-07-27 08:16] yadavyk opened #31712 "Multi round interviews Issues"
### Information about bug

In reference with : https://github.com/frappe/erpnext/pull/25482

1. Upon trying to submit the feedback without rating skills, the UI scrolls appropriately towards the skills assessment child table but no validation message such as "Please submit ratings for skills" is thrown. 2.

![interview_feedback](https://user-images.githubusercontent.com/32797974/181196720-d82f97b9

[2022-07-27 10:14] Olawale1 commented on #31707
Hi @dj12djdjs , trust you're doing great. Yes, the journal entry is linked with salary slips but more important is the link with Payroll Entry. When you open the Payroll Entry, you must be able to easily identify both journals that were automatically generated from it. You shouldn't have to first navigate to the Salary Slips before finding a link back to the journal... that's not very good UX

Che

[2022-07-27 11:20] #31635 closed, assigned to nabinhait

[2022-07-27 11:20] #29739 closed, assigned to nobody

[2022-07-27 11:20] #29245 closed, assigned to anupamvs

[2022-07-27 11:21] maharshivpatel commented on #31689
Please share the issue in detail and steps to reproduce it. preferably attach screenshots to convey your message and then if you know the solution raise Pull Requests against it.

How to : https://github.com/frappe/erpnext/wiki/Issue-Guidelines

[2022-07-27 11:22] Mohd200 opened #31714 "Sort Field in Task List Feature"
Good Day All

In the Task Doctype, the docfield {priority} is one of the Sort fields that can arrange the List of Tasks.

![Screenshot (149)](https://user-images.githubusercontent.com/32062135/181235007-8825c5bd-a1f3-4817-b9d5-11e0a0c2b23e.png)

However, the arrangement that occurs when we select the {priority} Sort Field, it is done in an alphabetical order instead of the degree of Priority.

![S

[2022-07-27 11:30] kennethsequeira commented on #7059
@gpRabie Adding the column via the UI and saving the report as a new one should work. This will be adding on top of your GL report. You can always keep on making changes to this report rather going back to standard GL report.

[2022-07-27 11:51] Mohd200 opened #31715 "Creation Date in List View Feature"
Good Day All

In all of the Doctypes in ERPNext, the List View of the Doctypes displays on the far right, just before the number of comments, of each Doctype file the Time span between current time and Last modified time.

![Screenshot 2022-07-27 142603](https://user-images.githubusercontent.com/32062135/181236170-3cedd8a0-73e1-46fd-b768-4c6242a83adc.png)

The feature is, to display the Time span

[2022-07-27 12:28] dj12djdjs commented on #31707
CC: @ruchamahabal

[2022-07-27 15:20] THEOSKaris commented on #26154
This issue is still not fixed. We set default valuation method to 'FIFO' in Stock Settings. But system adopts an average valuation rate to value outgoing items instead of valuing them in a first-in-first-out manner.

![image](https://user-images.githubusercontent.com/67414153/181284344-e01239d8-9f44-4e26-85ba-faf5ceefa65e.png)

This is a basic accounting feature, and customers/propsects will be ve

[2022-07-27 15:54] meenara14 opened #31718 "Gross Profit PDF and Print Issue"
### Information about bug

I found a bug in the PDF and Print option in ERPNext Gross Profit Report. There is issue an issue with the js file.  I  made few changes in the js file then it's working now. These are the changes that I made in "/frappe-bench/apps/erpnext/erpnext/accounts/report/gross_profit/gross_profit.js" file:

Thanks
![grossprofiIssue](https://user-images.githubusercontent.com/1021

[2022-07-28 04:54] tailorraj opened #31719 "Not able to record the Purchases Invoice in Version 14 Beta 6 as getting the Error as GST Category is a Mandatory Fields"
### Information about bug

While recording the Purchase Invoice we are getting the below error and also we have done all the checklist in the Customer Masters and also in the GST Settings we have defined the GST Category but still it is giving the error

![image](https://user-images.githubusercontent.com/30833692/181423473-a9ff25b4-04e1-404d-b7b2-f72f0dfb4acd.png)

### Module

buying

### Version

[2022-07-28 07:01] yadavyk opened #31722 "Error on clicking Job card list view item"
### Information about bug

The following error appears when trying to click on an item in the list view of Job Card :

![job_card](https://user-images.githubusercontent.com/32797974/181441508-1d2ba11c-b1be-415e-889e-5c3a35a4d468.gif)

### Module

manufacturing

### Version

V14 Beta2

### Installation method

_No response_

### Relevant log output / Stack trace / Full Error Message.

_No response_

[2022-07-28 07:14] vamagithub commented on #31562
https://github.com/frappe/erpnext/pull/31619

[2022-07-28 07:25] nidhipurohit11 opened #31723 "Error on cancelling process deferred accounting entry"
### Information about bug

- Created sales and purchase invoices for an item with deferred income and expense enabled.
- Created process deferred accounting manually (should get created automatically, but to check 1 scenario created manually)
- Canceling these entries is throwing server error - "TypeError: make_gl_entries() got an unexpected keyword argument 'gl_entries'"

![Screenshot 2022-07-28

[2022-07-28 12:32] smmitc commented on #31488
I have the same problem with new ERPNext deployments using the official helm charts (4.0.47). There are no problems with versions v13.29.2, v13.30.0 and v13.31.1. But starting from v13.32.0 I can confirm the above described strange output.

For testing, I used the following procedure for each version from v13.29.2 to v13.36.1 and v14.0.0-beta.6:
[code]

The quotation has been generated with
[code]

[2022-07-28 12:54] flortsch commented on #31488
I am not familiar with Helm, but does it use volumes / caches for the Assets directory? If so, clearing that before re-deploying ERPNext might help, similar to the Docker setup.

[2022-07-28 13:02] smmitc commented on #31488
Hi flortsch, thanks very much for answering that fast! The [Helm chart](https://artifacthub.io/packages/helm/erpnext/erpnext) uses the official erpnext docker images and deploys it in Kubernetes. In my described testing, I never did an upgrade but always a clean installation for each ERPNext version. As I understand, there is nothing to clear in that case or do I get something wrong?

[2022-07-28 13:45] flortsch commented on #31488
I am not familiar with Kubernetes either, have always tried to avoid it so far due to its complexity. But I see it has a concept of volumes similar to Docker. It could be that Helm/Kubernetes sees the volume declarations in the Docker images of ERPNext and creates persistent Kubernetes volumes. So even if you do a clean install, you might have some old Asset volumes on your machines (which Kuberne

[2022-07-28 13:54] smmitc commented on #31488
Yes, `helm -n beta uninstall frappe-bench` does remove all pvcs/volumes but the pvc of mariadb. However, I did that manually before doing new fresh installation by issuing the command `kubectl -n beta delete pvc data-frappe-bench-mariadb-0`. So I think we can rule that out. In my opinion, that leads to the conclusion that the problem is not only related to upgrades. Could you please re-open this i

[2022-07-28 14:10] smmitc commented on #31488
Thx! How did you fix this issue with docker? You did a `docker volume rm <name of the volume>` and after that you used the new image version? Or did you a `rm -r  /home/frappe/frappe-bench/sites` inside the container before the upgrade?

Have you installed a new ERPNext instance >= v13.32.0 successfully?

[2022-07-28 14:19] flortsch commented on #31488
So I have a `frappe-assets` volume that is mounted into `/home/frappe/frappe-bench/sites/assets` and shared between the ERPNext containers. And yes, before I upgrade ERPNext, I just stop/remove all containers and remove the volume with `docker volume rm frappe-assets`. Then I redeploy the containers with the new image version and that's it. I don't remove any folder inside the containers.

Yes, we

[2022-07-28 14:24] flortsch commented on #31488
It could also be that you only have a sites volume that sits on `/home/frappe/frappe-bench/sites`. If so, you would have to remove the content of the assets folder within that volume.

[2022-07-28 14:30] smmitc commented on #31488
Strange. Maybe the issue is related to my k3s environment using containerd instead of docker. Kubernetes dropped the docker support since version 1.20. Or there might be a problem with the chart or the way I'm using it.

[code]

I'm going to do a clean installation with docker and post the results. Thanks again for the help!

[2022-07-28 14:49] tbe commented on #30005
We have the same issue. This is very annoying for us and our customers.

[2022-07-28 17:16] meenara14 commented on #31718
Hi,
When I click on the print screen then new window opens but there is no option to print the report. Do you have any idea?

[2022-07-28 17:55] smmitc commented on #31488
That's interesting, I've reproduced the same error in docker using the installation instructions documented [here](https://github.com/frappe/frappe_docker/blob/main/docs/setup-options.md):
[code]

After that I used the commands mentioned above to setup the example quotation:
[code]

[code]

And just in case the first attempt didn't work and the asset volume is damaged, I did a `docker compose --pr

[2022-07-28 19:21] johnlongland commented on #31046
Good day to the team

If I may ask ... is it not possible for the team to look at this issue please? I use project/task a lot and it is a big issue not to be able to view data in a proper way.

Thank you very much

[2022-07-29 04:40] Solufyin commented on #31718
https://github.com/frappe/erpnext/pull/31721#issuecomment-1198872599

[2022-07-29 08:17] revant opened #31734 "/api/method/erpnext.templates.pages.product_search.get_product_list not working on develop and version-14"
### Information about bug

Automated tests for frappe_docker for develop and version-14-beta branches tries to test erpnext by requesting `/api/method/erpnext.templates.pages.product_search.get_product_list` endpoint

https://github.com/frappe/frappe_docker/blob/5c74ff9407620741448b14b8c00f546d1c19bd83/tests/test_frappe_docker.py#L138

The tests are failing for develop and v14 since 2 days.

Loggi

[2022-07-29 08:37] nidhipurohit11 opened #31735 "Asset Repair >> Unable to auto-fetch serial stock quantity. Also not inserting serials properly from pop-up manually"
### Information about bug

Ref Issue - https://github.com/frappe/erpnext/pull/28349

**Issue 1 -**
- On the Asset Repair page >> Serial no pop-up >> Select a warehouse that contains serial nos.
- Clicking "Auto fetch" >>  its not fetching the required no of serials and throwing a console error.

Required - It should auto-fetch the correct number of consumed quantities mentioned.

**Issue 2 -**
- S

[2022-07-29 09:23] flortsch commented on #31488
So is this a complete clean install with a new site, or do you run the containers with the data of your existing site?

[2022-07-29 10:01] smmitc commented on #31488
It's a complete clean install with a new site.

[2022-07-29 10:09] smmitc commented on #31488
In the setup, I enter some data about language, company etc. After that I've injected the Customer, article and a quotation using the above shown four curl commands so that it can be easily reproduced by anybody. FYI these are the installed versions:
[code]

[2022-07-29 10:16] Solufyin commented on #31281
Hi @TwinkleDamania,

Please close the issue because PR is Merged.

Thank You!

[2022-07-29 11:37] nidhipurohit11 opened #31738 "Asset >> Calculate Depreciation is unchecked, but getting message to fill "Depreciation Posting Date""
### Information about bug

- Creating a new asset, entered valid values but kept "Calculate Depreciation" unchecked
- This should allow saving the asset but its asks to enter "Depreciation Posting Date"

![Screenshot 2022-07-29 at 4 57 00 PM](https://user-images.githubusercontent.com/82337328/181750433-6b63bcbb-0f45-4080-bda4-5d96f6c1b943.png)
![Screenshot 2022-07-29 at 4 57 12 PM](https://user-im

[2022-07-29 11:57] GoldenScrew commented on #2922
I have now same problem in v13.

[2022-07-29 13:13] melanieroedel opened #31739 "Field % Completed in DocType Task updates when field Actual Time (in hours) is updated"
**Problem:**
I tested the project and task functionality in Frappe and I think it's well integrated with one another and the workflows are very useful. I was just confused, why my project wouldn't update its "% Completed" value, when I logged time on a task.
The time was logged correctly in a time sheet and the field "Actual Time (in hours)" in the task was updated accordingly. However the "% Comp

[2022-07-29 15:04] meenara14 commented on #31718
Hi,
Thank you for the quick response. There is no need to press ctrl+p for print, now it will automatically print when you click print :)
Here is the code you can put it in this file : /frappe-bench/sites/assets/frappe/js/frappe/microtemplate.js

![image](https://user-images.githubusercontent.com/102170258/181788650-a8d4a7d9-5204-4532-93fa-e34037062af5.png)

Thanks,
Meena

[2022-07-29 15:05] meenara14 commented on #31718
Hi,
Thank you for the quick response. There is no need to press ctrl+p for print, now it will automatically print when you click print :)
Here is the code you can put it in this file : /frappe-bench/sites/assets/frappe/js/frappe/microtemplate.js
![image](https://user-images.githubusercontent.com/102170258/181788835-38349356-2c7b-4198-bfcf-134a38ba068a.png)

Thanks,
Meena

[2022-07-29 16:42] MaxMorais commented on #31673
Hi @charleslcso!

I do have some instances running with minimal hardware dependencies!

For example, I got the system working on 512Mb Raspberry's
Or VPC's 1gb, 1vcpu, but, due the amount of resources taken by frappe it's challenging!

1 important think to note:

IO is they key

On a 512 Memory raspbery pi, processes was lagging due I/O, so I moved the installation to an SSD NVMe, but still the pr

[2022-07-29 19:09] hieutrluu opened #31740 "Client Script does not work for doctype Job Card"
### Information about bug

Client Script does not work for doctype Job Card
I tried 2 approaches:
1. Create Client Script for doctype JobCard
2. Using Custom App hooks to specify doc_type_js

### Create Client Script for doctype JobCard
client scritp used:
[code]

### Using doc_type_js in custom-app hooks.py
Hooks.py
[code]
I tried to apply the override job_card.js is similar to the client script

[2022-07-29 22:18] dj12djdjs commented on #31740
@hieutrluu Client Script and `doctype_js` hook is not designed to override the JS of a doctype. It extends the functionality of the existing doctype js.

From what I can see is you're trying to customize the `prepare_timer_buttons` trigger to modify the prompt dialog when the `Complete Job` button is clicked.

Let's explore why this doesn't work and how to overcome it.

### Basic Example

[code]

[2022-07-29 22:20] dj12djdjs commented on #31740
I've added documentation label, because I think this will be useful to add to the Client Script docs.

[2022-07-29 22:55] dj12djdjs commented on #31734
@revant I'm able to reproduce the 417 error when erpnext is not installed.

I believe this is caused in frappe_docker tests because erpnext now requires https://github.com/frappe/payments to install. Without this app in the bench erpnext won't install.

[2022-07-30 01:40] dj12djdjs commented on #31673
This should go to https://discuss.erpnext.com/ I think this topic will get some more interest on the forum.

[2022-07-30 11:24] hieutrluu commented on #31740
@dj12djdjs Wow that is such a detail explainations.
Thank you so much with for help and amazing illustrations <3

[2022-07-30 11:24] #31740 closed, assigned to nobody

[2022-07-30 16:17] raveslave opened #31742 "Next gen files & attachments features"
I'd like to see some UX and functional updates and more advanced features to the attachment feature of erpnext.

## feature wish-list

- configurable file storage type
   * S3/MinIO/etc which brings support for redundancy, encryption, history etc
   * disk/volume with os-level encryption
- key based encryption incl. filename scrambling
   * important for sensitive files and data
   * key for a spe

[2022-07-30 16:44] kaienmanalo opened #31743 "Additional checkbox to "Uncheck All""
Client would like to have an additional checkbox in the Mark Attendance form that will "Uncheck All" of the selected attendance records.
Please see attached image for the sample/mock up of the request.

![Uncheck All ](https://user-images.githubusercontent.com/109737779/181929155-c6758cb2-0e30-4e5e-8cb6-0405a089a578.png)

[2022-07-30 22:03] balabofficial opened #31744 "Italy xml supplier invoice import issue"
### Information about bug

When import xml invoice from supplier, the system keep the quantity only from first item and put this on all items of invoice. For example if I have item1 x4, item2 x1, item3 x2 after import we find all items (item1,item2,item3) with quantity x4.
Other issue, the import not check if invoice is already import.

thank you

### Module

buying

### Version

13.36

### Instal

[2022-07-31 08:21] muchai opened #31745 "Some Salary Components marked Statistical Component and Do Not Include in Total are displayed on the Salary Slip"
### Information about bug

- Initially, Salary Components marked **Statistical Component** and  **Do Not Include in Total** were not being displayed on the Salary Slip.
- With the latest update, they have started to be displayed on, which shouldn't be the case.

**Salary Component**
![image](https://user-images.githubusercontent.com/1822868/182017090-05db58a3-d019-44d4-83d0-79eb69fdff56.png)

**Sa

[2022-07-31 08:28] #26395 closed, assigned to pateljannat

[2022-07-31 08:28] #25340 closed, assigned to nobody

[2022-07-31 08:28] #24619 closed, assigned to nobody

[2022-07-31 08:28] #24423 closed, assigned to nobody

[2022-07-31 08:28] #24407 closed, assigned to nobody

[2022-07-31 08:29] #24396 closed, assigned to nobody

[2022-07-31 08:29] #24386 closed, assigned to nobody

[2022-07-31 08:29] #23437 closed, assigned to nobody

[2022-07-31 08:29] #23909 closed, assigned to nobody

[2022-07-31 08:29] #23196 closed, assigned to nobody

[2022-07-31 08:29] #23154 closed, assigned to nobody

[2022-07-31 08:29] #23085 closed, assigned to nobody

[2022-07-31 08:29] #23074 closed, assigned to nobody

[2022-07-31 08:29] #23058 closed, assigned to nobody

[2022-07-31 08:29] #22837 closed, assigned to nobody

[2022-07-31 08:29] #22588 closed, assigned to nobody

[2022-07-31 08:29] #22548 closed, assigned to nobody

[2022-07-31 08:29] #22495 closed, assigned to nobody

[2022-07-31 08:29] #22321 closed, assigned to nobody

[2022-07-31 08:30] #19235 closed, assigned to nobody

[2022-07-31 15:34] mohamadosama commented on #8874
+1

[2022-08-01 05:16] romeoantony53 opened #31747 "Bug on pricing rule with quantity"
### Information about bug

Pricing rule with min Quantity or min Amount Working as expected (Min Quantity : 10 Min Amount: 360) apply 10% discount

So any quotation, sales or purchase orders with min quantity 10 or Min amount on ITEM A successfully apply 10%

But when change the item quantity or amount, such as if quantity is less than 10 or amount is less than 360, pricing rule not reapplied

I g

[2022-08-01 06:20] Mohd200 commented on #31715
@harshit-30
Could you please assist in this matter?
Thank you

[2022-08-01 06:21] Mohd200 commented on #31714
@harshit-30
Could you please assist in this matter?
Thank you

[2022-08-01 06:22] Mohd200 commented on #31638
@harshit-30
Could you please assist in this matter?
Thank you

[2022-08-01 06:45] #31745 closed, assigned to nobody

[2022-08-01 07:10] revant commented on #31734
Is there anywhere I can watch for these changes? requirements.txt or package.json like anything? It'll be easy to install dependencies if they are declared somewhere.

No it is not getting installed. We'll install it for v14.0.0-beta.7 onwards.

[2022-08-01 08:17] nadarvinod opened #31749 "Incorrect Profit and Loss Report when filtered by date range"
### Information about bug

Financial Year Set to Apr-Mar Cycle

But when profit loss statement fetched for Jan-Dec, the report is incorrect when periodicity set to "Yearly". But when set to "Monthly" the report is correct.

PFB the related screenshots

When set to "Yearly"
![image](https://user-images.githubusercontent.com/34533457/182104136-6d9a7e44-6763-40d2-98e3-f3613d632c3d.png)

When set to "

[2022-08-01 10:17] joni1993 opened #31752 ""Fetch Timesheet" completed whole Timesheet despite containing multiple projects"
### Information about bug

If a timesheet contains entries for multiple projects (for different customers), on creation of a Invoice when you "Fetch Timesheets" the whole timesheet is "consumed" - i.e. it links all timesheet entries to the invoice but only bills for the ones relevant for ONE customer/project.

## Reproduce
- Create two customers (C1, C2)
- Create one project for each (C1Project, C

[2022-08-01 13:27] Twiga79 opened #31753 "Automatically Posting Depreciation"
### Information about bug

Despite ticking the box " Books asset depreciation automatically " on the settings page,
Depreciation is not automatically posting as I have to do manual journals. Please assist.

### Module

assets

### Version

ERPNext: v13.27.0 (version-13)

ERPNext Support: v0.2.1 (master)

Frappe Framework: v13.26.1 (version-13)

### Installation method

_No response_

### Relevant

[2022-08-01 15:23] blewsky opened #31754 "Global System Settings overwrite Currency format"
### Information about bug

In a multi-currency/multi-company setup, there might exist the need for differing currency format settings. Currently, the global number format overwrites the currency format rendering the currency format unusable.
Example:
This is the setting in the currency doctype:
<img width="496" alt="image" src="https://user-images.githubusercontent.com/87971956/182183029-271dfde2-

[2022-08-02 03:39] ChipwizBen opened #31758 "False "Row 1: Conversion Factor is mandatory" message"
### Information about bug

When trying to save a Sales Invoice, erpnext complains that there is no conversion factor set. There is:

![image](https://user-images.githubusercontent.com/7927875/182285937-485e8e98-4907-4d1c-85ae-ff582fd6edbe.png)

I have tried clearing this field, setting it to 0, 1, 1.0, and various other things but it refuses to proceed.

This occurs with new invoices, previously s

[2022-08-02 07:01] Xuquansheng opened #31760 "I'm not sure why i cannot get the project id when i create a PO from connections of a project"
### Information about bug

get project id like SO

### Module

projects

### Version

ERPNext 13 & 14

### Installation method

docker

### Relevant log output / Stack trace / Full Error Message.

_No response_

[2022-08-02 10:05] magic-overflow commented on #27847
Same issue on V14 in background job

[2022-08-02 10:10] magic-overflow commented on #27847
File "apps/frappe/frappe/model/document.py", line 895, in _validate_links
    frappe.throw(_("Could not find {0}").format(msg), frappe.LinkValidationError)
      self = <Contact: unsaved>
      invalid_links = [('user', 'abc@gmail.com', 'User Id: abc@gmail.com')]
      cancelled_links = []
      d = <ContactEmail: unsaved>
      result = ([], [])
      msg = 'User Id: abc@gmail.com'

[2022-08-02 12:00] infinity-sys commented on #30766
I confirm for the bug
anybody found a solution

[2022-08-02 12:11] revant commented on #27847
@defnotjonas for frappe_docker it was discussed here: https://github.com/frappe/frappe_docker/issues/751

[2022-08-02 15:34] #31673 closed, assigned to nobody

[2022-08-02 20:48] Grolaf opened #31762 "Keyerror "Name_of_module" when printing with a custom print format depending on the doctype module"
### Information about bug

Hello !

ERPNext: v13.36.1
Frappe Framework: v13.36.3
Production instance on a remote VPS.
Installation : with frappe-docker following this tutorial : https://github.com/frappe/frappe_docker/blob/main/docs/single-server-example.md

I was trying to print one of my custom doctype with a custom print format. I get a "Server error" :

`KeyError: 'NAME_OF_MODULE_DEF'`

The bu

[2022-08-02 20:49] ChipwizBen commented on #31758
Have some related logs from the auto creation failure, which failed for the same reason:

`Traceback (most recent call last):
  File "apps/frappe/frappe/automation/doctype/auto_repeat/auto_repeat.py", line 184, in create_documents
    new_doc = self.make_new_document()
  File "apps/frappe/frappe/automation/doctype/auto_repeat/auto_repeat.py", line 199, in make_new_document
    new_doc.insert(ignor

[2022-08-02 22:04] dj12djdjs commented on #31760
As you can see in the GIF, project is linking with PO just fine. The reference is stored in the items table.

![test-project](https://user-images.githubusercontent.com/29856401/182481305-773ebfcc-b33f-4e0e-a145-739670b9044c.gif)

[2022-08-02 22:18] dj12djdjs commented on #31749
@nadarvinod In the first screen shot you are looking at the total income. In the second screen shot you are looking at "Profit for the year" that would be total income - total expenses. That is why those two values don't match.

In the first screen shot, if you scroll all the way to the bottom of the report, you will see "Profit for the year" this figure should match the value circled in the secon

[2022-08-02 22:29] dj12djdjs commented on #31758
@ChipwizBen  I'm unable to reproduce this issue. Could you please attach a GIF or some extra steps to reproduce your error.

![factor](https://user-images.githubusercontent.com/29856401/182484390-934926b5-4c3c-4e7a-9af5-ddd5243a6c5c.gif)

[2022-08-02 22:49] ChipwizBen commented on #31758
https://user-images.githubusercontent.com/7927875/182486529-f8f09fb2-64a5-4151-b594-1def1535de7d.mp4

[2022-08-02 23:41] Xuquansheng commented on #31760
Your pic is showing correct from PO point of view, having correct project id link and item based project id, as i can get these ids like you. but, when you come back to the project connections, POs connections is not correct as SOs connections.

![图片](https://user-images.githubusercontent.com/82086188/182494822-2ebea1b9-19e7-4265-92b3-b49a42349fec.png)

[2022-08-03 00:06] Xuquansheng commented on #31760
I checked Accounting Dimensions on PO, there are two accounting dimenstion, one is PO wise, another item wise. I need PO wise which is empty now,unlike SO.
![图片](https://user-images.githubusercontent.com/82086188/182496873-f5fcb17b-0872-488e-be59-7c945a1597f0.png)

[2022-08-03 00:39] dj12djdjs commented on #31758
@ChipwizBen If you don't need any conversion factor, if you make the Stock UOM and the UOM value the same. In your example it should be Nos, and Nos instead of Nos, and Unit. You won't receive this error.

[2022-08-03 01:18] ChipwizBen commented on #31758
@dj12djdjs Thanks for your help, this did allow me to save, however I don't have any stock items entered as it's a consultancy company and we don't have any "stock" as such. We sell consultancy hours and data, and the rates for these vary between each system and customer. We rely heavily on auto-repeated invoices rather than prescribed stock values.

I chose "Nos" as an example but in reality we'r

[2022-08-03 08:29] j209 opened #31769 "Could not find app "payments" when install erpnext-v14"
### Information about bug

Could not find app "payments" when install erpnext manually

![image](https://user-images.githubusercontent.com/18129232/182561819-4722bc80-ece8-466b-90de-6e416e44e25b.png)

### Module

accounts

### Version

frappe 14.0
erpnext 14.0

### Installation method

manual install

### Relevant log output / Stack trace / Full Error Message.

[code]

[2022-08-03 08:34] tuphuc commented on #31769
same to me

[2022-08-03 08:39] smmitc commented on #31488
This issue has been [solved](https://github.com/frappe/frappe_docker/issues/865#issuecomment-1203506025) by Byju Abraham.

[2022-08-03 13:45] erpwala commented on #31769
Alternative Solutions for this, Download app payments

And install it on site

[2022-08-03 14:28] Xuquansheng opened #31775 "Stock in simplied chinese should be "库存“， not ”股票”"
### Information about bug

All of words "Stock" should be translated into "库存“， not "股票“

### Module

stock

### Version

ERPNext 13 & 14
![图片](https://user-images.githubusercontent.com/82086188/182633525-07b96742-57f1-4cb3-a39b-811ef876071b.png)

### Installation method

docker

### Relevant log output / Stack trace / Full Error Message.

_No response_

[2022-08-03 15:07] Jishnu-Epics commented on #31769
same issue

[2022-08-03 16:12] dineshliyanage0 commented on #31769
Same issue here.

[2022-08-03 16:44] mohsinalimat commented on #31769
Before install erpnext in your site, you have to install payments app in your site.

[2022-08-04 08:37] #31607 closed, assigned to ruthra-kumar

[2022-08-04 13:02] linuxipho commented on #31769
Hi, do `bench get-app payments` before `install-app erpnext` in your site.

[2022-08-04 13:16] saivineeth100 commented on #31749
As per screenshot it seems , Total is not calculated correctly
First row is only taken into account while calculating total
![182104333-8a27ba47-39ff-4d9a-9196-5441612baada](https://user-images.githubusercontent.com/64919520/182855953-5417a272-1389-44e7-9c64-1b27d79722b3.png)

[2022-08-04 14:10] BelalShatara opened #31781 "Discount Percentage on Sales Invoice"
### Information about bug

Hi

In Sales Invoice Document, in some scenarios, we need to add a discount percentage per item in the sales invoice item as decimal values like 16.83, if consider the rate is equal to 250, the calculation will be 16.83/100 * 250 which equals 42.075,
after rounded will be 42.08, but the system shows 42.07.

The Screenshot shows that.

![Capture](https://user-images.githu

[2022-08-05 06:07] ChipwizBen commented on #31758
Is this likely to be fixed any time soon? Or is there a way that I can introduce a workaround? Just trying to consider my options.

[2022-08-05 10:00] Donferarri92 opened #31782 "Print Setting option respective to doctype"
Currently, Print Settings are global. Example, Allow print for draft. If this is true, the print option get invisible for all documents irrespective of doctype. This should be doctype specific.

My Case: I need to stop draft printing in Payment Entry but allow in Purchase orders.

[2022-08-06 08:14] JingerTea opened #31785 "Invalid or unexpected token prevent accessing ERPNext Desk"
### Information about bug

After upgrading to Frappe-bench V14, ERPNext Desk is stocking at LOGO in production mode. I have looked up others who were also experiencing same issue when they were using Frappe-bench V13 before.

Reference link: https://discuss.erpnext.com/t/erpnext-desk-stuck-at-logo-in-production/81143

[code]
<img width="1175" alt="Screen Shot 2022-08-06 at 3 37 25 AM" src="https:/

[2022-08-06 10:40] rtdany10 opened #31786 "[Gross Profit Report] Wrong calculation of buying amount"
### Information about bug

Purchase Invoice:
![image](https://user-images.githubusercontent.com/52111700/183244857-85f8d606-e5d8-4853-b010-11558a792f2a.png)

Sales Invoice:
![image](https://user-images.githubusercontent.com/52111700/183244912-8921292b-79fc-4010-a94d-a3e1033fdf82.png)

Delivery Note:
![image](https://user-images.githubusercontent.com/52111700/183245022-e15fd21a-6bd2-4ee9-978d-4b87a

[2022-08-06 10:48] rtdany10 commented on #31758
You can create non-stock(service) items in ERPNext.
You just have to untick the `Maintain Stock` checkbox when you create them.

I think that would be a better solution for you as you'll be able to generate item-wise reports as well.

[2022-08-06 13:33] rtdany10 opened #31787 "[Stock] Duplicate Serial No allowed in Purchase Receipt"
### Information about bug

Steps to reproduce:
1. Create a Purchase Receipt with a serial number
2. Create a Delivery Note against that serial number
3. Create a Purchase Receipt against the same serial number again

https://user-images.githubusercontent.com/52111700/183251124-59917452-92a1-4823-89ac-a9b0c192597d.mp4

### Module

stock

### Version

ERPNext: v13.20.1 (HEAD)
Frappe Framework: v13.2

[2022-08-06 13:57] nadarvinod commented on #31749
Its Not Income - Expense, its only Income. Please see below

![image](https://user-images.githubusercontent.com/34533457/183251993-23d90b8e-632d-471c-87db-507dd9a7fd5a.png)

[2022-08-06 13:58] nadarvinod commented on #31749
The first row is a group, so the first row is same as last row. Its not an issue.

I am not able to send screenshot of full table, that is creating confusion.

[2022-08-07 11:15] jingerpie opened #31790 "Shareholder module error- issue stock on 01 but goes to 02"
### Information about bug

When I issue share to shareholder001, the share did not goes to shareholder001. The system creates shareholder002 and issue shares under it. Is this behavior normal? Or is this a bug?

### Module

accounts

### Version

Installed Apps
Email Delivery Service: v0.0.1 (HEAD)

ERPNext: v14.0.0-dev (HEAD)

ERPNext: v0.0.1 (HEAD)

Frappe Framework: v14.0.0-dev (HEAD)

### Inst

[2022-08-07 12:43] Grolaf commented on #4622
Hello ! Little UP here, just to know if the bpmn_editor app still works with version 14.

Because I cannot access the BPMN editor page due to permissions issues ...

[2022-08-07 12:47] valignit commented on #31512
https://docs.erpnext.com/docs/v13/user/manual/en/accounts/finance-book
clearly states that 'You can also use this to post alternate balance sheets for your internal reporting' which contradict the latest explanation  'only added for the purpose of single Asste depreciations via multiple methods as a compliance requirement'. So there is no question of 'proper knowledge' in this case. So please do t

[2022-08-07 16:28] Abdo2021-a opened #31791 "how i can customize side bar"
### Information about bug

![1](https://user-images.githubusercontent.com/82307815/183301013-d69f8715-d931-4c54-a66a-43fa704cf9d4.png)

### Module

stock

### Version

v - 14

### Installation method

manual install

### Relevant log output / Stack trace / Full Error Message.

[code]

[2022-08-07 16:29] Abdo2021-a commented on #31791
i need add another data in this side bar how can do that

[2022-08-08 09:07] dgehriger commented on #31785
I'm experiencing the exact same issue.

[2022-08-08 10:14] ankush commented on #31785
@JingerTea can you rebuild assets? Can you click on the first error message to see from where the error message is originating?

[2022-08-08 10:36] #31590 closed, assigned to ruthra-kumar

[2022-08-08 13:23] cmanzoni opened #31800 "notes for leads created in V13 generate exception after upgrade to V14"
### Information about bug

All leads created with the version V13  containing a note generate a exception after the upgrade to V14 and are inaccessible.
New Leads work fine but the Notes field is missing in the frontend even if in the tabLead table there's the "notes" column filled with the original note.

As I can see Notes have a dedicated tab in V14 but all the notes in the V13  have not been c

[2022-08-09 08:30] EvaDigital opened #31803 "Send JSON array by API"
Hi! How i can send json array with post request by rest api?

[2022-08-09 09:42] ankush commented on #31803
https://discuss.erpnext.com/

[2022-08-09 09:42] #31803 closed, assigned to nobody

[2022-08-09 09:42] #31791 closed, assigned to nobody

[2022-08-09 09:43] #31769 closed, assigned to athul

[2022-08-09 10:41] shinzuco commented on #31785
@ankush https://a.tmp.ninja/wEGASpBM.js
the file attached is desk.bundle.js

[2022-08-09 10:56] ankush commented on #31785
@shinzuco

Some incorrect syntax in built asset files 🤔

<img width="714" alt="Screenshot 2022-08-09 at 4 16 57 PM" src="https://user-images.githubusercontent.com/9079960/183630317-0d450aea-f01b-492d-90ea-616d2637d423.png">

Can you share node version and esbuild versions? @shinzuco

`node -v`

Also your exact commit of frappe and yarn.lock will help. Cause at present I am unable to reproduce the

[2022-08-09 11:32] shinzuco commented on #31785
node : v14.19.0
 "esbuild": "^0.14.29",

@ankush

I tried copying the package json from the latest dev and version 14 builds and rebuilding node_modules after deleting it. Did not help.

 Tried bumping the editorjs version to 2.24.0(from 2.20.0) did not help

 Here are the files you requested. https://a.tmp.ninja/WuMnGJUQ.json
 https://a.tmp.ninja/lyOGwJfi.lock

[2022-08-09 11:37] shinzuco commented on #31785
@ankush Sometimes when i run bench build with or without force, it works. But as soon as i clear cache(ctrl+shift+r) the same exact error returns.

[2022-08-09 12:13] WebsiteDeveloper opened #31810 "Hooks for Updates are not called when the status of a sales order is changed"
### Information about bug

When you open a sales Order and change its Status via the menu Bar the on_update or on_update_after_submit hooks are not called.
This is due to the status updater code using db_set and not invoking hooks.
It seams like this is by design although this prevents our usecase which needs a notification of status changes.

### Module

selling

### Version

v14.0.2
v.14.0.0

##

[2022-08-09 12:14] WebsiteDeveloper commented on #31810
One current Workaround for this is adding a self.save call in the status updater which makes the events work but may have unintended sideeffects

[2022-08-09 21:01] dgehriger commented on #31785
Again, very same issue here. Node version is 16.16.0.

[2022-08-09 21:13] dgehriger commented on #31785
I've managed to work around the issue for now by hand editing _apps/frappe/node_modules/@editorjs/editorjs/dist/editor.js_, and replacing `s=1..toFixed,c=Math.floor` by `s=1..toFixed()`, and then rebuilding bench.

[2022-08-09 21:56] DrZoidberg09 opened #31819 "Fetch timesheet in sales invoice not loading correctly"
### Information about bug

Hi there,

when I am fetching timesheets into the sales invoice nothing is happening until I save the invoice and reload the webbrowser.

Seems the fetching works generally correctly but will not be loaded and shown correctly.

Seems to be an issue with the .js and/or handling with the browser. (happens with firefox and chrome).

Any ideas?

Thanks!

### Module

accounts

[2022-08-10 06:32] saintstarrow opened #31820 "Add department manager as workflow state users"
In many workflow scenarios,  the department manager of the user who initiates a workflow instance  needs to approve the instance.   This type of approvers cannot be set using roles.
 Added this feature can also eliminate the current fields  that are used to set the HR workflow approvers, e.g. leave application approvers,  and make more custom workflows possible.  In such HR workflows,  the first l

[2022-08-10 06:40] JasonFu06 opened #31821 "Can not edit vendor's invoice date to save"
### Information about bug

Invoice have been submit, I want to change invoice's date to save, the system show this error,

Not found
Payment Schedule 82715d3549 not found
The resource you are looking for is not available

### Module

accounts

### Version

Frappe  :13.37
Erpnext : 13.36.3

### Installation method

_No response_

### Relevant log output / Stack trace / Full Error Message.

[code]

[2022-08-10 07:41] shinzuco commented on #31785
@dgehriger rebuilding via bench/yarn seems to temporarily load the desk, but using ctrl+shift+r presents the same error

I am using cloudflare, disabled caching and all js optimisations, and now the issue is gone (both this and editing editor.js had to be done)

[2022-08-10 11:10] rtdany10 opened #31823 "[Manufacturing] No variant raw materials fetched into SE"
### Information about bug

While creating BOM, if template items are used in raw material table, none of it gets loaded into the Stock Entry.
The variant items are correctly specified while creating Work Order and the raw materials are correctly listed in the Work Order, but when Finish button is clicked to create Stock Entry, it loads without the variant raw materials.

https://github.com/frappe/

[2022-08-10 13:35] dgehriger commented on #31785
@shinzuco : I'm also using Cloudflare. Let me disable it for this site to see if it helps.

[2022-08-10 15:21] ankush commented on #31810
Another alternative is to use `on_chage` which is fired on db_set too, but you'll have to modify code to check docstatus too.

[2022-08-11 07:47] MIrani0822 commented on #20645
Same issue with the report card. But there are no marks...
[Report_Card_EDU-STU-2022-00002.pdf](https://github.com/frappe/erpnext/files/9307022/Report_Card_EDU-STU-2022-00002.pdf)
@ankush, will it take long to validate this issue?

And once validated, how long do you think it might take to troubleshoot and resolve it?