[2022-08-11 07:48] MIrani0822 commented on #20645
The issue is also being discussed on: [https://discuss.erpnext.com/t/student-report-generation-tool-doesnt-display-student-results-on-report-printing/57999]

[2022-08-11 08:09] citybirdman opened #31824 "general ledger give wrong results"
### Information about bug

when i use the filter "group by voucher (consolidated)" with check on "consider Accounting Dimentions" then it gives me wrong results although the gl entries are all right
and it gives me the right reults in the following acts:
1- use any group filter except "group by voucher (consolidated)"
2- filter results by the project if gl entries are linked to projects
the matter

[2022-08-11 11:59] tjomtek opened #31829 "DROPbox Integration : Access Token Error"
### Information about bug

When setting up dropbox backup integration in ERPNExt , all steps are followed , however a "access token is required". I can generate one in dropbox its self , however in erpnext there is no field on the front end to popluate the access token:

Looking at the doctype "dropbox settings" I can see three extra fields which are hidden , one of them is the access token , is t

[2022-08-11 15:04] Jimmy-Newtron opened #31831 "Wrong breadcrumb module for selling DocTypes"
### Information about bug

![image](https://user-images.githubusercontent.com/24460646/184165207-f8510f7c-f1d0-4eec-9f1e-4115dee0699f.png)

### Module

selling

### Version

Frappe 14.0.0
ERPNext 14.0.0

### Installation method

docker

### Relevant log output / Stack trace / Full Error Message.

[code]

[2022-08-11 19:31] vbartosik opened #31833 "Website portal issues"
### Information about bug

Web portal not displaying sidebar.

After loggin in with website user (I tried Customer), the sidebar is not visible in Portal. I can access i.e. customers /quotations directly but the sidebar is not loading, so it is not possible to get there without manual typing of URL.

Also the profile of the user is not updateable for some reason.

### Module

other

### Version

F

[2022-08-11 23:26] jingerpie opened #31834 "Plaid Sync does not support Credit Card"
I would like to know if Plaid supports credit card transactions. I connected with my Chase account under development, I only see options for syncing  checking and saving. Base on plaid support, it seems like ERPNext is limited to ACH account only.

Below is the response I got from Plaid support:

[code]
Thanks for reaching out to Plaid Support!

Upon reviewing the logs on our side, it looks like l

[2022-08-12 08:16] gamusinhunter commented on #25544
Facing this same issue on Frappe v14.0.2
Did anyone find out the cause or how to solve it?

[2022-08-12 11:47] dhawal-mahajan opened #31836 "Asset Sale Process"
### Information about bug

On submission of Sales Invoice for Sale of Asset, A JV for Depreciation is passed. The Depreciation amount should Ideally be the pro-rata depreciation amount for the last depreciation date and disposal date. But the automatic JV passed on sale of asset passes a Depreciation A/c to Accumulated Depreciation A/c entry for a higher amount. This results in Accumulated Depreci

[2022-08-12 12:23] michalls01 opened #31837 "On Sales Invoice, Project link on Item is not working"
### Information about bug

**Sales invoice item project has to be the same as in the sales order header**

Business case:
Customer requests us to send 1 invoice for all projects at the end of each month.

Scenario:
I got customer with projects A and B. I created Sales Order for project A and another Sales order for project B. When I fetch SOs in the sales invoice and fill Project on Item (header p

[2022-08-13 12:40] lvr26 opened #31844 "Discount Accounting unable to submit multi-currency invoice"
### Information about bug

I am unable to submit multi-currency invoices that has Additional discount on Grand Total. Company currency is in IDR, while my supplier currency is in USD.
I had set up:
- Supplier currency: USD
- Payable account currency: USD
- Discount account: USD

All I did, I create purchase order with discount. then I received the order. Then I create purchase invoice which only a

[2022-08-14 02:27] Perkapz404 commented on #31611
Run the below command on your terminal.
sudo apt-get install xvfb libfontconfig wkhtmltopdf
Then try to generate PDF.

[2022-08-14 12:40] alaahariri opened #31845 "A new customer is getting created for each and every login activity on Web Portal"
### Information about bug

Installed Apps

ERPNext: v13.35.3 (version-13)
Frappe Framework: v13.35.2 (version-13)

Whenever we use the login page on website, the system creates a new customer that is linked to the same user that we are logging in with.

For example, if you login using user@example.com, the system creates User customer. A new login will create User 1 Customer a third Login it will

[2022-08-14 20:30] Golive-solutions opened #31846 "ERPNext for Import Export Business( Logistics Module)"
Logistics module in ERPNext

Deal start with customer contact and ask for price.

We must know the incoterms he wants

He wants CFR, cost and Freight only with insurance

Now we need to contact two parties which are really 4 parties. a. Supplier of raw material or goods. b. Forwarder. i. Forwarder contact 1. Carrier 2. Custom clearance 3. Transporter agency

We need cost of goods, cost of trucking

[2022-08-15 14:32] #30756 closed, assigned to nobody

[2022-08-16 06:02] Hafnianusha opened #31854 "json.decoder.JSONDecodeError: Expecting value: line 1 column 1 (char 0) : Bug in POS"
![Screenshot from 2022-08-12 18-46-58](https://user-images.githubusercontent.com/100829201/184834367-7b6c390b-6337-47f5-bf64-5f915d586d76.png)
### Information about bug

After selecting item in Point of sale and Clicking button 'Check out' , Pop up message showing error
 "json.decoder.JSONDecodeError: Expecting value: line 1 column 1 (char 0) "  and then  POS invoices are not submitting , it going

[2022-08-16 07:30] dufani1 opened #31855 "Stock entry not work for issuance the expired products"
Hello,
Stock entry not work for issuance the expired products.
How can dispos the expired products from system.
![11133](https://user-images.githubusercontent.com/23026263/184822770-f5706e2c-76d8-471e-a534-cfdc6fdab25f.jpg)

[2022-08-16 19:24] blewsky opened #31858 ""Party Type" cannot be added"
### Information about bug

This bug is known since several years (2018): https://discuss.erpnext.com/t/add-new-party-type/41993/

When the user wants to add/edit a party type, there is no option to do this.
<img width="1303" alt="image" src="https://user-images.githubusercontent.com/87971956/184963732-931ded48-66dd-44c0-b8de-3b2a9e1f996d.png">

There were several solutions suggested in the forum.

[2022-08-16 22:33] Abdo2021-a opened #31859 "Hello can i show here a calendar view fetched from patient appiontments ?"
### Information about bug

![1](https://user-images.githubusercontent.com/82307815/184996543-a9a5d102-64e6-4086-b494-a1f2f5583485.png)

### Module

other

### Version

frappe 14
erpnext 14

### Installation method

_No response_

### Relevant log output / Stack trace / Full Error Message.

_No response_

[2022-08-17 07:22] ajlaaghazali commented on #28297
Up

[2022-08-17 07:32] ajlaaghazali commented on #31636
Up

[2022-08-17 08:20] rohitwaghchaure commented on #31855
Fixed https://github.com/frappe/erpnext/pull/31863

[2022-08-17 08:25] mohsinalimat commented on #31575
@ankush Batch wise Promotional Scheme is really good feature.

[2022-08-17 09:26] #31855 closed, assigned to rohitwaghchaure

[2022-08-17 10:48] ruthra-kumar commented on #31786
@rtdany10
I wasn't able to replicate the issue. Creating the same kind of test data gives me the correct output of 99100 in gross profit.
<img width="1186" alt="Screenshot 2022-08-17 at 4 13 54 PM" src="https://user-images.githubusercontent.com/3272205/185100190-3f7f9144-79be-4bf8-9e58-d383c0d52b15.png">

What is the Stock Ledger posting for the Purchase Invoice? Can you post a screenshot?

[2022-08-17 10:56] megha0071994 opened #31872 "Whatsapp Notification Error"
### Information about bug

I have integrated twilio for using whatsapp notification and I'm getting this error. What I'm doing wrong. Please help me.
Thank you..

### Module

integrations, other

### Version

ERPNext: v13.28.0

Frappe Framework: v13.28.0

Twilio Integration: v0.0.1

### Installation method

manual install

### Relevant log output / Stack trace / Full Error Message.

[code]

[2022-08-17 11:18] rtdany10 commented on #31786
In your case, the valuation rate is 9, which isn't my case. Did you exactly replicate the test data including two warehouses?

https://user-images.githubusercontent.com/52111700/185105480-03de75fe-99d2-4daa-8f56-cbe01538b294.mp4

[2022-08-17 11:22] rtdany10 commented on #31786
@ruthra-kumar The way ERPNext calculates buying amount is valuation rate times qty, which isn't really accurate at all. Please find the video regarding stock ledger entries of the purchase invoice.

[2022-08-17 11:43] rasos commented on #31742
We also should have a look at handling of e-mail attachments frappe/frappe#18615

[2022-08-17 17:28] imadelakhaldev commented on #31854
Hello,
I am facing the same problem, with the same output and error message, using POS AWSOME.

[2022-08-17 19:44] balabofficial opened #31876 "E-invoice import error"
### Information about bug

When import xml e-invoice the quantity is not correct, there is an issue on for cicle but we try to solve without results

### Module

regional

### Version

14

### Installation method

manual install

### Relevant log output / Stack trace / Full Error Message.

[code]

[2022-08-18 06:41] TheHomekitWayFinder commented on #31445
+1 Would also love to see this

[2022-08-18 07:17] fadilsiddique commented on #31854
Gettin same error while checking out the items from pos

[2022-08-18 08:44] ruthra-kumar commented on #31786
@rtdany10
Multiple warehouses wasn't mentioned in the original post and isn't clear from the screenshots as well. But, I am able to replicate with that now.
<img width="1186" alt="Screenshot 2022-08-17 at 6 56 37 PM" src="https://user-images.githubusercontent.com/3272205/185349091-2a12f1f3-944f-47a6-b248-642d668539df.png">

Depending on how you order the items in the Purchase Invoice, you can get

[2022-08-18 10:14] rtdany10 commented on #31786
My bad, should've given a better description. Thank you for validating tho :)

Gross Profit is a highly required and sensitive report and values like these in the report just makes it completely useless.

Average buying amount isn't the answer. Suppose I bought 2 qty of same item, one free of cost and other at 10INR. My average buying rate is 5INR. I sold my FOC item at 30INR, and my profit is 30I

[2022-08-18 10:38] #30529 closed, assigned to ruthra-kumar

[2022-08-18 11:29] tjomtek opened #31885 "installing v13 manual"
### Information about bug

**Installing v13 , with python 3.8.10**

bench get-app branch version-13 erpnext https://github.com/frappe/erpnext
Getting erpnext
$ git clone https://github.com/frappe/erpnext  --depth 1 --origin upstream
Cloning into 'erpnext'...
remote: Enumerating objects: 4867, done.
remote: Counting objects: 100% (4867/4867), done.
remote: Compressing objects: 100% (4121/4121), don

[2022-08-18 12:04] Solufyin commented on #31885
Hi @tjomtek,

[code]

Please apply one by one command and check it.
Maybe it helps you.

Thank You!

[2022-08-18 13:04] techomniflo opened #31887 "Debit and Credit not equal for Payment Entry"
### Information about bug

Submitting Payment Entry shows an error **Debit and Credit not equal for Payment Entry #ACC-PAY-2022-00000. Difference is 24856.0.**
Bill amount is 12428 and It is showing double the difference.

![Screenshot from 2022-08-18 18-17-38](https://user-images.githubusercontent.com/86599018/185398549-01ca447a-1fab-4009-b8e0-8f60709ab5a6.png)
![Screenshot from 2022-08-18 18-28-

[2022-08-18 13:24] blewsky opened #31888 "Wrong valuation of foreign currency accounts after change in exchange rates"
### Information about bug

The Chart of Accounts shows wrong valuations in the company currency after changes in exchange rates. It seems the way how multi-currency transactions are treated internally needs to be rewritten. The current implementation makes it difficult  to impossible to use multi-currency in ERPnext.

### Example:
Company currency: MXN (e.g. used in cash account)
Foreign currency:

[2022-08-18 15:25] rioshaz commented on #9333
i want to be pdf to b downloaded not opening in new tab

[2022-08-18 16:52] balabofficial commented on #31744
hi, I discovered the bug: the variables in file "import_supplier_invoice.py" are out of the loop and if the logic does not enter in this if:

`if rate and flt(line_total) / rate != 1.0 and line.find("Quantita"):
`
it returns the previous variables.
to solve it, just move the variables from here:

	def prepare_items_for_invoice(self, file_content, invoices_args):
		qty = 1
		rate, tax_rate = [0, 0]

[2022-08-18 16:54] balabofficial commented on #31876
hi, I discovered the bug: the variables in file "import_supplier_invoice.py" are out of the loop and if the logic does not enter in this if:

`if rate and flt(line_total) / rate != 1.0 and line.find("Quantita"):
`
it returns the previous variables.
to solve it, just move the variables from here:

	def prepare_items_for_invoice(self, file_content, invoices_args):
		qty = 1
		rate, tax_rate = [0, 0]

[2022-08-18 19:06] Altizo commented on #31611
I tried to do it.
After installing these packages into the container, the dependencies will stretch by about 500 MB.
After installation, the server returns error 500 instead of 502

#### Error 500:
[code]

[2022-08-19 08:14] gamusinhunter opened #31895 "Opportunity's Event full display not translated"
### Information about bug

With language set as Spanish of German (for testing purposes) both in system and user settings, the full date for Open Events html inside Opportunity doctype in ERPNext shows it in the British format:

![event_display](https://user-images.githubusercontent.com/97673308/185574192-79410b4b-9a8e-46a4-ac56-e5b3087dcebf.jpg)

The expected output should be a full date format t

[2022-08-19 08:23] Altizo commented on #31611
Thanks, it solved the problem.
Together with these packages, 500 MB dependencies are installed

[2022-08-19 08:24] Altizo commented on #31611
Thanks, it solved the problem.
Together with these packages, 500 MB dependencies are installed

[2022-08-19 08:24] #31611 closed, assigned to nobody

[2022-08-19 08:37] tjomtek commented on #31885
Thanks Solufyin , this helped, appreciated :)

[2022-08-19 08:37] #31885 closed, assigned to nobody

[2022-08-19 08:50] ravi854 opened #31896 "POS Return not Working"
### Information about bug

POS return not working,
When doing pos return, it shown a message "Total payment amount cant be greater than (invoice imount)"
![pos (2)](https://user-images.githubusercontent.com/85276497/185581425-8d438f1d-7200-4611-a476-f5d8613ba671.gif)

### Module

accounts

### Version

Frappe Framework: v14.0.2 (version-14)
ERPNext: v14.0.0 (version-14)

### Installation method

_

[2022-08-19 19:58] blewsky opened #31901 "Wrong currency symbol in "Exchange Rate Revaluation" form"
### Information about bug

The `exchange rate revaluation` doctype shows by default a "$" sign and not the symbol of the base currency in the `Balance In Base Currency`, `New Balance In Base Currency` and `Gain/Loss` fields. This is wrong and very confusing.

In this example, the base currency of the company was e.g.  INR and the foreign currency account "Test USD" was USD. The form shows wrongly

[2022-08-20 01:24] rpgresearch opened #31902 "How to share/send/find the link to just ONE SPECIFIC Job Opening instead of all Job Openings listed on the /jobs page?"
As per discussion here, it was suggested to create this as an issue to discuss if there are any workarounds or easy tweaks that could be made to achieve this goal: [https://discuss.erpnext.com/t/how-to-share-send-find-the-link-to-just-one-specific-job-opening-instead-of-all-job-openings-listed-on-the-jobs-page/93555](https://discuss.erpnext.com/t/how-to-share-send-find-the-link-to-just-one-specifi

[2022-08-20 05:08] blewsky commented on #31901
Possibly duplicate of https://github.com/frappe/erpnext/issues/17525

[2022-08-20 09:49] ketandoshiaps opened #31904 "Unit Rate changes to 0(zero) automatically in item table when clicked edit(Sales Order , Delivery Note , Sales Invoice )"
### Information about bug

Unit Rate changes to 0(zero) automatically in item table when clicked edit(Sales Order , Delivery Note , Sales Invoice )

### Module

accounts, selling

### Version

frappe:version-13.38.0
erpnext:version-13.36.4

### Installation method

FrappeCloud

### Relevant log output / Stack trace / Full Error Message.

_No response_

[2022-08-21 05:12] precihole opened #31908 "Unit Rate changes to valuation rate automatically in item table when clicked edit in (Purchase Order,Supplier Quotation, Purchase Receipt)"
### Information about bug

After Clicking on edit, Unit Rate changes to valuation rate also changing the description to default item description and HSN code to blank in the item table automatically in (Purchase Order, Supplier Quotation, Purchase Receipt).

### Module

buying

### Version

Frappe Version - v13.38.0 (HEAD)
Erpnext Version - v13.36.4 (HEAD)

### Installation method

FrappeCloud

##

[2022-08-21 05:54] precihole commented on #31904
Hey,
We are facing the same issue, Do let us know if you have any solution to it. thanks.
(issue link):  https://github.com/frappe/erpnext/issues/31908

[2022-08-21 13:33] zaqoutabed opened #31911 "Error in Company Creation"
### Information about bug

When Create new company and the user language not English, will accord error when create departments tree and the tree will not be created.

![Screenshot from 2022-08-21 16-28-28](https://user-images.githubusercontent.com/26047413/185793347-a2cb5b2e-b8a0-444f-b396-b53820db6d5d.png)

### Module

other

### Version

ERPNext Version - 13

### Installation method

manual ins

[2022-08-21 13:37] zaqoutabed commented on #31911
fixed =>

https://github.com/frappe/erpnext/issues/31911

[2022-08-22 01:05] ahmedbahgattt opened #31913 "POS MODULE"
1-ADD  ****RETURN  BUTTON.****   THEN  SEARCH BY ITEMS NOT ONLY TRANSACTION NUMBER

2- ADD  **EXPRESS CHECKOUT BUTTON**  THEN  PRINTING DIRECTLY

3-ADD **POS APPEARANCE SETTING**
     A- HIDING THE ITEMS LIST OR CARD
        ONLY SEARCH BAR FOR SCANNING OR SEARCHING  AND ITEM CARD
    B- ITEMS ADDED AS ONE LINE  AND CHOOSING WHICH
        INFORMATION APPEAR (  AMOUNT,BATCH,SERIAL,DISCOUNT,NET TOTA

[2022-08-22 07:46] techomniflo commented on #31858
Same issue

I found there is no option to write in this **Party Type** doctype.
Party Type doctype is empty and has no data in it so I am not able to submit a payment entry because
In the code of payment_entry.py
dr_or_cr = ( "credit" if erpnext.get_party_account_type(self.party_type) == "Receivable" else "debit )
dr_or_cr is always **Debit** if Party Type doctype is empty. and on submission of pa

[2022-08-22 07:54] YamanQD opened #31920 "Documents with insufficient permissions still appear in "Report View""
### Information about bug

We have a user with restricted access to "Customer Group A" only. This has been done using "user permissions", with "Apply to all document types" = true.
That's why when the user opens for example "Sales Invoice List", the only sales invoices that appear are those which are linked with customers who belong to / are descendants of "Customer Group A" .
But, when the same u

[2022-08-22 08:10] fecoderchinh opened #31921 "Job Openings have not been set when click on "Apply Now""
### Information about bug

Hello ERPNEXT Team,
I am trying to use ERPNEXT at my localhost and i found that when i clicked on "Apply Now" to redirect to Job Application.
The job_title of "Job Openings" was seem not set.

### Module

HR

### Version

Frappe version - 14
Erpnext version - 14

### Installation method

docker

### Relevant log output / Stack trace / Full Error Message.

[code]

[2022-08-22 08:24] hameedacpa opened #31922 "ImportError: cannot import name ‘get_translated_doctypes’"
### Information about bug

When importing customers, this error happened

### Module

buying, other

### Version

ERPNext: v13.36.4 (version-13)
Frappe Framework: v13.38.0 (version-13)

### Installation method

_No response_

### Relevant log output / Stack trace / Full Error Message.

[code]

[2022-08-22 09:12] celevra opened #32169 "Update failure while migrating loan refund"
Hi,

i'm trying to update my installation
from
FRAPPE_VERSION=v13.35.1
ERPNEXT_VERSION=v13.35.2

to
FRAPPE_VERSION=v13.38.0
ERPNEXT_VERSION=v13.36.4

and get following failure:

[code]

what can i do to successfully tun the migration?

regards

[2022-08-22 16:01] mayanknahata007 opened #31928 "Stock ledger report issue: It does not open from Item dashboard"
### Information about bug

Steps:
Click on - This is based on stock movement. See [Stock Ledger] - https://sitename/app/item/Coffee%20Beans#query-report/Stock%20Ledger -  for details

URL which the report breaks on - https://sitename/app/%23query-report/Stock%20Ledger

<img width="1303" alt="Screenshot 2022-08-22 at 9 29 55 PM" src="https://user-images.githubusercontent.com/88381410/185966182-4850

[2022-08-22 23:01] trustedcomputer commented on #31831
I am also seeing this behavior in a manual install upgraded from v13 to v14 on Ubuntu 22.04. Customer, Quotation, and Sales Order are all under the retail breadcrumb, which is not enabled (and never has been) in my install. They should all be under selling.
![Customer](https://user-images.githubusercontent.com/75872475/186033479-b2c05e8d-decc-46c9-9874-ab7036545c4a.png)
![Quotation](https://user-i

[2022-08-23 05:23] Samweli opened #31933 "Save button doesn't immediately save timesheet"
### Information about bug

When saving the information entered in the timesheet clicking the `Save` button doesn't always save the timesheet. In some cases  to save the timesheet you need to click the button more than twice.

### Module

projects

### Version

Frappe Version: v13.38.0 (HEAD)
ERPNext: v13.36.4 (HEAD)

### Installation method

_No response_

### Relevant log output / Stack trace / F

[2022-08-23 07:10] Solufyin commented on #31928
Hi @mayanknahata007,

As per your requirement, we added a PR: #31935
If will convenient for the changes then they will go ahead with the process.

Thank You!

[2022-08-23 10:47] rtdany10 opened #31941 "Issues caused by focusing on child table field on row form render"
https://user-images.githubusercontent.com/52111700/186138975-644a07cd-9e56-4b6b-9190-8de65ad11b79.mp4

Fields often have triggers and focusing on a particular field while opening the edit page of rows can cause those triggers to activate and run client script. Focusing on the field shouldn't be a feature or at least avoid the trigger in such cases.

[2022-08-23 12:18] ankush commented on #31941
More importantly, these triggers should be idempotent. calling them multiple times shouldn't result in different values 😅

The reason why it's focused is for UX: you can start editing the first field directly and move around by tabbing after that.

FW part fixed here: https://github.com/frappe/frappe/releases/tag/v13.38.1

ERPNext part doesn't seem easily fixable as item code trigger once fired wi

[2022-08-23 12:22] #31941 closed, assigned to nobody

[2022-08-23 13:01] #31920 closed, assigned to nobody

[2022-08-23 20:17] dj12djdjs commented on #31829
@tjomtek The only reason those fields would be hidden is if they are already set in the site_config.json

If they exist in the site_config.json, you can ether modify the keys there. Or remove them from site_config.json and set them in the dropbox settings form.

For example:
[code]

[2022-08-24 08:41] mastewalm opened #31947 "Expire Carry Forwarded Leaves (Days)"
### Information about bug

the Expire Carry Forwarded Leaves (Days) is not working as expected, in my opinion. I think, if I insert 365 days as a value, it should carry forward the allocated amount or the remainder after the leave application for that number of days, and those leaves that are allocated but have already passed 365 days should be expired. but in my case, if I put 365 as a value, all

[2022-08-24 10:17] Solufyin commented on #31928
Hi @mayanknahata007,

Please close the issue because PR is merged.

Thank You!

[2022-08-24 10:17] Andriesvn opened #31948 "Multiple Blank and Non-Trimmed Barcodes allowed per item"
### Information about bug

Barcode field of Item Barcodes is not Mandatory nor Trimmed. This allows for multiple blank barcodes and barcodes with spaces before and after to be added to the database.

![image](https://user-images.githubusercontent.com/13392355/186392534-e794e323-5514-4f0d-b69b-3a286a157443.png)

This also happens on Supplier Items.

### Module

stock

### Version

Tested same probl

[2022-08-24 19:17] war20ck commented on #31492
I have the exact same issue. When inputing balance production quantity by clicking “Finish” in WO, the RM used qty is actually multiple of Total Finished goods Qty of WO and not Balance production.
Really Need help with this as I’m trying to implement this in my company.

[2022-08-24 21:18] moroslantia opened #31956 "BOM "Update latest price in all BOMs" does not complete / does not work"
### Information about bug

- Initiating `Update latest price in all BOMs` in BOM Update Tool starts to update the BOMs
- Progress Child table shows
No. = 1
Level = 0
Batch No. = 1
Status = Completed

- Status of "BOM Update Log" keeps stating 'In Progress'

- Some BOM's are updated, some not

### Module

manufacturing

### Version

Frappe Version: v14.4.0
Erpnext Version: v14.0.1

### Installation

[2022-08-24 23:36] #31928 closed, assigned to nobody

[2022-08-25 09:52] #31904 closed, assigned to nobody

[2022-08-25 09:59] dhawal-mahajan opened #31976 "Material Transferred against Planned Quantity"
### Information about bug

A workorder has 10 RM used to create FG.  For testing, we have kept weights per unit for all items as 1 UOM. When we create multiple 'Material Transferred for Manufacturing' stock entry transferrring one RM at a time, Material Transferred for Manufacturing cannt be greater than planned quantity error pops up. This MTM Quantity increases in multiples with each transfer st

[2022-08-25 12:42] awrapk opened #31981 "total_net_weight in New Purchase Order not showing exact value"
### Information about bug

Hi,
   I have set precision 9 to weight_per_unit in Item. Whenever I select Item in Items Table in Purchase Order, it calculates using precision 3 of weight_per_unit. Result of 0.155098875 x 2579 should be 400. But, unfortunately it is showing 399.745000000

### Module

stock

### Version

Frappe Version 13.39.0
ERPNext Version 13.36.5

### Installation method

FrappeClo

[2022-08-25 13:23] guilmori commented on #30993
Bump

[2022-08-25 13:24] guilmori commented on #30424
Bump

[2022-08-25 13:28] guilmori commented on #27692
Thanks stale bot !

[2022-08-25 19:07] Asteliks opened #31983 "ERPNext support in TrueCharts"
**Is your feature request related to a problem? Please describe.**
I like running my server programs as simple as it gets that is why I'm using TrueNAS SCALE. Yea I know that this perhaps is not a pro solution but it is simple and that is enough. In order to use ERPNext in TrueNAS SCALE with ease it would be great if you guys could add it to the TrueNAS SCALE apps catalog. One of such app Catalogs

[2022-08-26 02:04] fecoderchinh commented on #19272
Hello, do we have any update for this issue?

ERPNext: v14.0.0-dev (version-14)
Frappe Framework: v14.0.0-dev (version-14)

[2022-08-26 06:37] shashankshirke opened #31986 "[Proposed Improvements] in CRM Module & Lead Conversion Process"
Hi guys :raised_hand_with_fingers_splayed:

I have having been testing out the CRM module in ERPNext as part of a client implementation project. It seems the process flow is very confusing (buggy at times) and it is not clearly documented. I have worked with various CRM products (Zoho, Salesforce, NetSuite, HubSpot, etc.) in the past 12+ years and from my experience I can say that ERPNext's CRM mo

[2022-08-26 06:39] rmehta commented on #31986
++ @nabinhait

[2022-08-26 07:03] YamanQD commented on #30790
Same issue when upgrading to v14

[2022-08-26 07:06] YamanQD commented on #30738
Same issue when upgrading to v14

[2022-08-26 07:34] shashankshirke opened #31987 "Issue with renaming Item Code and Item Name"
### Information about bug

Hi guys :raised_hand_with_fingers_splayed:

In Item master, when trying to rename the item name as well as the item code, there are 3 issues faced:

### Issue 1 : The field labels on item rename pop-up are confusing
  * When creating a new item, the field labels are "Item Code" and "Item Name"
  * When renaming the item (by clicking the item title), the labels are "New I

[2022-08-26 09:57] megha0071994 commented on #31872
Now I'm getting this error.

HTTP 400 error: Unable to create record: The 'From' number whatsapp:+12056064440 is not a valid phone number, shortcode, or alphanumeric sender ID.

[2022-08-26 10:59] Solufyin commented on #31718
Hi @meenara14,

The issue has been resolved by #31756
Please closed the issue.

Thank You!

[2022-08-26 13:06] #31718 closed, assigned to nobody

[2022-08-26 13:06] meenara14 commented on #31718
resolved

[2022-08-26 23:38] dj12djdjs commented on #31933
The timesheet document saved on the first click of the save button for me.

How many rows of timesheets are you trying to save?

Also could you provide some screen capture of the provided behavior?

[2022-08-27 00:24] dj12djdjs commented on #17525
Closing as this was in version-11 and is now documented in version-13

https://github.com/frappe/erpnext/issues/31901

[2022-08-27 00:24] #17525 closed

[2022-08-28 03:27] AlaaBadry opened #31997 "Deferred Revenue Invoice Submit Error V14"
### Information about bug

![msg-776876865-2143](https://user-images.githubusercontent.com/26534497/187056059-41679207-c72d-4504-a076-48299014563a.jpg)

a bug in the v14 when submitting invoices for deferred revenue item

### Module

accounts, selling

### Version

Frappe Version 14
Erpnext Version 14

### Installation method

FrappeCloud

### Relevant log output / Stack trace / Full Error Message

[2022-08-28 08:35] hpotabatti opened #31998 "Consolidated Profit and Loss Report- required option with and without Period Closing Entry"
We passed Period Closing Entry for company - Excel Telesonic India Pvt Ltd (ETIPL) as on 31-3-2022, when we are generating the Consolidated Profit and Loss statement report for last year for ETIPL all GL Accounts ledger amounts are showing ZERO, we require option for viewing the same report with and without Period Closing Entry

When the user passes a Period Closing Entry for a Company and then ge

[2022-08-29 01:23] aakvatech commented on #30790
Same issue with v14

[2022-08-29 04:49] AlaaBadry opened #31999 "Submit sales invoice Debit not Equal Credit error when applying additional discount V13.36.5"
### Information about bug

Submit sales invoice Debit not Equal Credit error when applying additional discount V13.36.5 its working normally in the previous version

![screenbud-7a85eb37-132b-4e20-bd7b-6f7cc25795bb](https://user-images.githubusercontent.com/26534497/187125217-64f4a1a8-ff96-4e04-91f1-5b66089afddb.png)

### Module

accounts

### Version

ERPNEXT : 13.36.5

### Installation method

_

[2022-08-29 05:00] umairsy commented on #31997
@maharshivpatel can you please review this once?

[2022-08-29 06:50] JitendraSAW opened #32002 "Error in Version 14 - GST Category is a mandatory Field"
### Information about bug

While creating any transaction for the Sales Invoice, Purchase Invoice and most of the transaction we are getting an error as below after saving the Document .We have done all the settings and address with GSTNo in the Address of the Party but still the issues persist

GST Category is a mandatory Field for Non-GST Transaction. Lease ensure it is set in a Party and/or Add

[2022-08-29 09:57] umairsy commented on #31997
@AlaaBadry In Debit To account the user has to use a normal Debtors account

Why are they using a deferred account there?

Ensure in the item master, Deferred in enabled... and Deferred about (non-receivable type) is selected there.

[2022-08-29 09:57] #31997 closed, assigned to maharshivpatel

[2022-08-29 11:09] ishanloya opened #32010 "Error when creating subcontracting order from Purchase Order"
### Information about bug

When I try to create a new subcontracting order from Purchase Order, I get the following error:

`AttributeError: 'SubcontractingOrder' object has no attribute 'set_missing_values_in_additional_costs'`

### Module

buying, manufacturing

### Version

ERPNext: v14.0.1 (version-14)
Frappe Framework: v14.4.0 (version-14)
India Compliance: v0.0.1 (develop)

### Installation

[2022-08-29 12:43] ishanloya commented on #32010
Fixed - Tried bench clear-cache and bench clear-website-cache. Then restarted bench.

[2022-08-29 12:43] #32010 closed, assigned to nobody

[2022-08-29 14:13] michalls01 opened #32012 "Migration from 13 to 14 Date Format is not preserved"
### Information about bug

After migration to v14 (to Branch Daily), the Date Format (in Settings / System settings), is not preserved and from dd.mm.yyyy is changed to the dd-mm-yyyy.

### Module

other

### Version

Frappe - 13.39.0
Erpnext - 13.36.5

### Installation method

_No response_

### Relevant log output / Stack trace / Full Error Message.

_No response_

[2022-08-29 14:35] ankush commented on #30738
duplicate https://github.com/frappe/erpnext/issues/30790

[2022-08-29 14:35] #30738 closed, assigned to nobody

[2022-08-29 15:20] #30790 closed, assigned to nobody

[2022-08-29 21:38] dj12djdjs commented on #31999
Possible duplicate of: https://github.com/frappe/erpnext/issues/31844

[2022-08-29 23:31] ahmadRagheb opened #32019 "salary structure don't see statistical component"
### Information about bug

when you create a salary component and select :
statistical_component = 1
this will automatically affect the account table: in this table, we add the company
...
so if i want to create a statical component it won't be able to use in salary structure since salary  structure filter components by company
---

one work around is to add companies to accounts table then select

[2022-08-30 03:22] dj12djdjs commented on #31999
This looks like it's caused because there is no Discount Account specified. There is a PR https://github.com/frappe/erpnext/pull/31931 that makes this field required when is cash or non trade discount is checked.

I've tested locally, specifying the discount account fixes the problem. Please apply this patch, or wait for it to get released. If the issue continues re-open it.

[2022-08-30 03:22] #31999 closed, assigned to nobody

[2022-08-30 11:20] revant opened #32029 "Migration Error: erpnext.accounts.doctype.cost_center_allocation.cost_center_allocation.WrongPercentageAllocation: Total percentage against cost centers should be 100"
### Information about bug

Error during migration of a site used to create demo companies and records. Error happens during migration

### Module

accounts

### Version

[code]

### Installation method

docker

### Relevant log output / Stack trace / Full Error Message.

[code]

[2022-08-30 13:20] FiloSpaTeam commented on #27617
Need to reopen. After upgrade to version-14 the problem came back! :(

[2022-08-30 16:12] maveezmh opened #32033 "Issue in internal customer/supplier with Multi company setup"
### Information about bug

Create 2 Companies with different Currencies
Company A. : USD
Company B. : AED

Create an Item for example example Rubik’s Cube
 With a Pricelist  name (sell-buy USD) in USD currency  (buying and selling Checked)
 Add item price as 100 USD

Create internal Customer I.e., CITY TRADERS in Company A
 Represents Company B
 Allowed to transact with Company A
 Assign Currency

[2022-08-30 16:40] thida-bcn commented on #31836
we are facing same issue

[2022-08-31 00:45] dj12djdjs commented on #32029
@revant I wasn't able to replicate this from a blank installation of version-13 -> version-14.

Could you supply the cost center data prior to version-14 migration?

[2022-08-31 01:06] dj12djdjs commented on #32033
I've tried to replicate.

1. Create company A
Country: United States
Currency: USD
![image](https://user-images.githubusercontent.com/29856401/187569818-8ca5cf0f-11fa-4e78-846b-4cc875930661.png)

2. Create company B
Country: United Arab Emirates
Currency: AED
![image](https://user-images.githubusercontent.com/29856401/187569886-94665b58-9c02-4002-80e3-934165d930f9.png)

3. Create item price for De

[2022-08-31 01:30] dj12djdjs commented on #32019
@ahmadRagheb This is defiantly a bug rendering statistical components unusable.

[2022-08-31 01:45] dj12djdjs commented on #32012
@michalls01 I set the default date format to dd.mm.yyyy in version-13 then migrated to version-14. The date format stayed the same.

Could you show the version log of System Settings? It should provide more information how the value got changed.
Example:
![image](https://user-images.githubusercontent.com/29856401/187574534-3a30b8ea-8f79-4091-9355-669b5f3315d5.png)

[2022-08-31 01:56] dj12djdjs commented on #31947
@mastewalm Could you provide more information, I'm trying to understand this problem. I'm unsure what 365 is being assigned to.

Could you provide a full example? Creating: leave type, leave allocation, etc.. Expected results, and actual results?

[2022-08-31 02:12] dj12djdjs commented on #31908
@peciholesports I tried testing this on
[code]
I wasn't able to replicate the issue. Can you try on latest version? let us know if this is still an issue for you.

[2022-08-31 03:13] Ponyooooo commented on #32019
this is my concern too. In version 12 all statistical components can be added to the salary structure and when you submit the salary slip, the system does not ask for the accounts since the statistical components should not be included in the journal entries. In the version 13, this process is not applied. Until now I cant find any workaround

[2022-08-31 03:26] Ponyooooo opened #32034 "No permission to read DocType"
### Information about bug

a pop up message of No permission to read DocType is constantly appearing. We just wanted to give the accounts manager role an access to view and navigate the Bank Clearance Summary.
<img width="952" alt="image" src="https://user-images.githubusercontent.com/60758795/187585664-f26bd39f-a515-4830-b84c-4b38cdc5a7f4.png">

### Module

accounts

### Version

ERPNext: v13.36.

[2022-08-31 05:10] mastewalm commented on #31947
Thank you for your response

In my company, leaves are carried forward for 2 years. I was testing the
ERPNext system with 1 year carry forward, which is 365 days. So if I use a
number of days less than a year, it works.
But if the number of days is 365 (which as I said is 1 year) or more, it
doesn't work as expected. To clarify:
for example I created 3 leave allocation.
period 1 from july 1, 2020

[2022-08-31 08:30] maveezmh commented on #32033
Have you assigned same pricelist to both the internal customer and supplier? @dj12djdjs

[2022-08-31 09:26] aakvatech commented on #22789
Was this completed already?

[2022-08-31 09:42] maveezmh commented on #32033
I tried on V14 same issue is there

Item price is 150

![image](https://user-images.githubusercontent.com/112148467/187649256-ab188274-2fe5-4611-a742-d1d049bbf251.png)

[2022-08-31 09:48] THEOSKaris commented on #22789
No, it's not completed! It was not even considered before it was closed.

[2022-08-31 11:36] #31300 closed, assigned to ankush

[2022-08-31 12:44] muchai opened #32037 "Move Company address on sales order to the right to match other sales documents"
Company address on sales order is before the column, hence appears on the left, unlike other sales documents(DN, and SI), where company address appears on the right.

**On Sales Order**
![image](https://user-images.githubusercontent.com/1822868/187680956-e5e1cabb-3a4f-4045-ae77-2fe110b7aeac.png)

**Sales Invoice**
![image](https://user-images.githubusercontent.com/1822868/187681089-888a4cdd-eabe-4

[2022-08-31 12:45] muchai commented on #32037
Well, this can easily be handled using a print format.
This applies for the Modern Print Style.

[2022-08-31 13:00] michalls01 commented on #32012
@dj12djdjs  Thank you for the follow up. The log in the System Setting is without any changes in the version 14. Below is the screenshot of the 13 and 14 for the reference. Thanks!

V13
![erpnext-13](https://user-images.githubusercontent.com/79514229/187684170-111aeda2-c368-4ff5-af6a-4247a9f66bfc.png)

V14
![erpnext-14](https://user-images.githubusercontent.com/79514229/187684221-fa7460df-f151-4c8

[2022-08-31 14:07] FHenry opened #32038 "Incorrect Buying Price into Purshase Order From Material Request"
### Information about bug

Version 13 14 and Develop

**Supplier**
Name: Supplier 1

**Customer**
Name: Customer 1

**Item**
Name : Item 1
Default Supplier for the only Company = Supplier 1

**Item Price**
Item : Item 1
Price List: Selling Standard
Rate : 150

Item : Item 1
Price List: Buying Standard
Rate : 50

Item : Item 1
Price List: Buying Standard
Supplier : Supplier 1
Rate : 20

**Sales Ord

[2022-08-31 14:10] FHenry commented on #32038
https://user-images.githubusercontent.com/1050053/187699062-a0c8a3f7-6212-4a28-b4d4-8b83f9a8b3bf.mp4

[2022-08-31 14:28] franciscobuendiao opened #32039 "Subcontracting Receipt "set_missing_values_in_additional_costs""
### Information about bug

Subcontrating Receipt can't not be saved

![Captura de Pantalla 2022-08-31 a la(s) 9 26 18](https://user-images.githubusercontent.com/25084259/187703212-4cea2d09-9358-49b6-be85-1c526a1ec9e5.png)
![Captura de Pantalla 2022-08-31 a la(s) 9 26 39](https://user-images.githubusercontent.com/25084259/187703219-28822c12-e612-4a5b-8fe8-c94b45d0eb7f.png)

### Module

buying, manu

[2022-08-31 16:55] Rgottsch1 opened #32040 "Journal Entry Template"
### Information about bug

If I create the first Journal Entry Template - it goes in fine - (see first screen shot)

![Journal Entry Template created fine](https://user-images.githubusercontent.com/29579531/187734840-67d21ea6-ef19-4b13-8573-a7e4ccb5b943.png)

If I then create another one - it doesn't populate the Series and one cannot choose a series from the drop down.  Only way around it is to r

[2022-08-31 22:06] hameedacpa commented on #31758
I have the same issue

[2022-08-31 23:04] ahmederp commented on #25023
I am facing the same issue.

[2022-08-31 23:05] ahmederp commented on #25023
### App Versions
[code]
### Route
[code]
### Trackeback
[code]
### Request Data
[code]
### Response Data
[code]

[2022-08-31 23:51] ahmadRagheb commented on #32019
@dj12djdjs I will start working on PR for v13 and link it with this issue.
@Ponyooooo I will look at v12 too and try to fix it, I think v12 is still supported by the frappe release.

[2022-09-01 01:26] dj12djdjs commented on #32033
@maveezmh It looks like the currency of this document is in AED

According to your post

Represents Company B
Allowed to transact with Company A
Assign Currency as USD
Assign pricelist sell-buy USD
Assign Default Receivable account in USD

Represents Company A
Allowed to transact with Company B
Assign Currency as USD
Assign pricelist sell-buy USD
Assign Default Payable account in USD

The billing

[2022-09-01 01:41] dj12djdjs commented on #32019
I think @Ponyooooo is saying it works in version-12, in version-13 a bug was introduced that wasn't backported to v12.

[2022-09-01 01:44] dj12djdjs commented on #32012
@michalls01 Thank you, I'll try a few things to try to replicate the bug.

Quick, do you have any other apps installed that ran patches during the migration to version-14 ?

[2022-09-01 01:49] dj12djdjs commented on #32034
This should be "DocType"

https://github.com/frappe/erpnext/blob/11b04acf8ba522e330ce06d964cbf4a71757b453/erpnext/accounts/report/bank_clearance_summary/bank_clearance_summary.py#L26

[2022-09-01 05:11] pra17shant opened #32041 "Data mismatch while upgrading V13 to V14 site"
### Information about bug

I have two site in frappe cloud (V13) and (V14).
once we data restore v.13 to v.14 all entry gets restored successfully, but GL report shows Posting Date 1 day prior to actual date in financial year, which is not acceptable to financially point of view.
![Version13](https://user-images.githubusercontent.com/99401472/187835771-cf3808fa-b647-4db3-8a52-896e3b83f262.png)
![V

[2022-09-01 05:13] devmiguelpereira opened #32042 "create_salary_slips_for_employees"
### Information about bug

After adding an adicional salary to an employee, when i try to create the salary slip i get the following error

Message

Error in formula or condition: unsupported operand type(s) for +: 'float' and 'NoneType'

### Module

HR

### Version

ERPNext: v13.37.0 (version-13)
Frappe Framework: v13.40.0 (version-13)

### Installation method

easy-install

### Relevant log outp

[2022-09-01 06:42] michalls01 commented on #32012
@dj12djdjs On V13 we have Wiki, on V14 HRMS, nothing more. Thanks!

[2022-09-01 06:43] pra17shant opened #32044 "Maintain to user Permission"
i have problem or maintain to restrict same user to assign multiple restriction in live server.
i have end user more than 500 and each user have different access and restrictions.
solution to that marked those field convert as "child table" and apply multiple restriction in one screen under targeted user. no need to make duplicate entry, apply new restriction and all think.
so we can maintain easi

[2022-09-01 07:29] maveezmh commented on #32033
yeah for me it was reverse Pricelist and customer was in AED, and other company was in USD
item price was 150AED

[2022-09-01 07:32] tjomtek commented on #31829
Thanks dj12djdjs
After trying a couple of methods i get the follow error on trace back :

Traceback (most recent call last):
  File "/home/erpnxtadmin/frappe-bench/env/lib/python3.7/site-packages/urllib3/connectionpool.py", line 706, in urlopen
    chunked=chunked,
  File "/home/erpnxtadmin/frappe-bench/env/lib/python3.7/site-packages/urllib3/connectionpool.py", line 382, in _make_request
    self

[2022-09-01 09:29] mhbu50 commented on #29619
I am also facing the same issue with many sites in frappe cloud:

### App Versions
[code]
### Route
[code]
### Trackeback
[code]
### Request Data
[code]
### Response Data
[code]

[2022-09-01 11:21] maveezmh commented on #32033
**Company A AED
Company B USD
Internal Customer/Supplier currency : AED
Pricelist Currency : AED Assigned to Internal Customer/Supplier**

Below you can see AED price list rate :

![Screenshot 2022-09-01 at 15-16-35 Report Item Price](https://user-images.githubusercontent.com/112148467/187901654-e1e99560-06a9-404d-8a50-ac6a2f0c5346.png)

Below is the sales order screenshot with currency and price

[2022-09-01 18:12] muchai opened #32051 "TypeError: 'str' object does not support item assignment opening old leads and opportunities"
### Information about bug

Pops up when

### Module

CRM

### Version

ERPNext: v14.0.0-dev (HEAD)
Frappe Framework: v14.0.0-dev (HEAD)
HRMS: v0.0.1 (HEAD)
Frappe Insights: v0.1.0-beta (HEAD)

### Installation method

FrappeCloud

### Relevant log output / Stack trace / Full Error Message.

[code]

[2022-09-01 18:34] amecreate commented on #29381
Issue is still present on ERPNext v13

[2022-09-02 10:36] maveezmh opened #32056 "Bank Clearance Summary is Accessible only to System Manager"
### Information about bug

error is causing due to one of the column in report is link field to Document “Doctype”

gives Error “No permission to read Doctype”

https://discuss.erpnext.com/t/bank-clearance-summary-is-accessible-only-to-system-manager/91212

![image](https://user-images.githubusercontent.com/112148467/188121575-8199309a-4b22-4c26-a22a-3e552bfd5627.png)

Same issue with Lost Opportu

[2022-09-02 11:19] sagarvora commented on #32051
@muchai This issue is happening because you have a column for one of the child tables in the parent doctype ( **Lead / Opportunity** )

Since https://github.com/frappe/frappe/pull/16540, `doc.extend` accepts all iterable values, not just `list`. I think in your case, the column in the parent doctype has a string value, hence the issue.

[2022-09-02 11:45] hameedacpa commented on #31758
I tried to replicate the error and I found that the issue coming when user relies on the item name when entering it in the invoice
The user should rely on Item code when selecting the item, not the item name
![2022-09-02_15-38-32](https://user-images.githubusercontent.com/84820402/188132580-ccfb9943-615b-4889-a535-0a960aa52a61.jpg)
I think this field named "Item" should be clear for the user by ch

[2022-09-02 12:11] sagarvora commented on #31675
Similar to https://github.com/frappe/erpnext/issues/31800

[2022-09-02 12:12] sagarvora commented on #31800
It looks like even though the `notes` field was changed from `Text Editor` to `Table` in https://github.com/frappe/erpnext/pull/31311, it wasn't patched.

[2022-09-02 12:41] Komal-Saraf0609 opened #32062 "Creation of multiple item variants doesnt work"
### Information about bug

Steps to reproduce:

1. Create item attributes.
2. Create an item template.
3. Try creating multiple variants for the item. It gives an error stating "Item code is required" and it doesn't let me create the variants.

Have a look at the SS for the same:

![Screenshot 2022-09-02 at 6 09 23 PM](https://user-images.githubusercontent.com/81952590/188146378-bed7f065-c6a4-4b62

[2022-09-02 19:26] akhashogji opened #32064 "Loan Repayment not deducting in salary slip"
### Information about bug

I have an employee with a loan and the repayment is through his salary. This was working fine, till the last update.
Now, the loan is showing on the salary slip, but not actually deducting anything.
![ScreenShot_2022-09-02_22 20](https://user-images.githubusercontent.com/52230109/188222854-bc31964b-d96c-49f6-b02e-cdb7cf11f054.png)

### Module

HR

### Version

ERPNext: v

[2022-09-03 06:22] #32062 closed, assigned to rohitwaghchaure

[2022-09-03 11:36] tsmanagers opened #32067 "Employee Leave Balance Report is not working - V13"
### Information about bug

When I click on Employee Leave Balance Report at that time following error come.

App Versions
{
	"erpnext": "13.36.5",
	"frappe": "13.39.1",
}
Route
query-report/Employee Leave Balance
Error Report
Traceback (most recent call last):
  File "apps/frappe/frappe/app.py", line 69, in application
    response = frappe.api.handle()
  File "apps/frappe/frappe/api.py", line 55,

[2022-09-03 23:29] katmaterials opened #32069 "Wrong calculation on salary slips in payroll module"
### Information about bug

Any deductions added to the salary slips are not reduced from total amount..... The slips are successfully saved and submitted but changes made to the deductions section are not reflected in the total amount..... Very frustrating problem that could result in big money loss....

### Module

other

### Version

I do not know

### Installation method

_No response_

### Rel

[2022-09-03 23:42] #32069 closed, assigned to nobody

[2022-09-03 23:42] katmaterials commented on #32069
I was wrong ..... sorry for that.....

[2022-09-04 04:09] #31908 closed, assigned to nobody

[2022-09-04 10:42] thida-bcn opened #32075 "POS Closing is not working"
### Information about bug

POS Closing got error
![image](https://user-images.githubusercontent.com/62122640/188309428-5c269e61-d36b-4505-8720-43f893f64e79.png)

### Module

other

### Version

Frappe Framework: v14.0.2 (version-14)
ERPNext: v14.0.0 (version-14)

### Installation method

manual install

### Relevant log output / Stack trace / Full Error Message.

[code]

[2022-09-04 11:10] deepeshgarg007 commented on #32064
@akhashogji There has been a slight change in the workflow. The total paid amount has to be repaid manually before submitting the salary slip. It is added to handle cases where the employer doesn't want to deduct loan repayment in a specific month or do partial deduction.

[2022-09-04 11:10] #32064 closed, assigned to nobody

[2022-09-04 11:10] #32040 closed, assigned to nobody

[2022-09-04 11:17] deepeshgarg007 commented on #32002
@JitendraSAW I tried replicating the issue but couldn't. You might be using an older installation where once this error was there, hence closing the issue now, if you are still facing this issue please add proper steps to replicate

[2022-09-04 11:17] #32002 closed, assigned to nobody

[2022-09-04 11:45] akhashogji commented on #32064
@deepeshgarg007 I tried doing that, it still not showing in the salary slip. Or do I have to manually deduct in the slip?

[2022-09-04 17:37] SalahAddinAbdo opened #32083 "I could not submit salary slip from Payroll Entry"
### Information about bug

I could not submit salary slip from Payroll Entry. An error faced me like the below photo. I do not know how can I solve it. Could anyone help me please.

![Screenshot 2022-09-04 202946](https://user-images.githubusercontent.com/96741326/188326148-bb89d2ac-a122-44aa-b432-27b47a8240fb.jpg)

### Module

other

### Version

ERPNext:  v13.37.0 (HEAD)
Frappe Framework:  v13.4

[2022-09-05 06:55] #31675 closed, assigned to nobody

[2022-09-05 12:00] RachealNeli opened #32092 "addition of fees table on program so that fees are auto picked on enrollment of students"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-09-05 13:05] mastewalm commented on #31947
![6](https://user-images.githubusercontent.com/47661230/188456004-088d788d-2403-450a-a66b-8c0047c101d5.jpg)
![7](https://user-images.githubusercontent.com/47661230/188456062-e8b85600-6a4f-4e69-a3de-0b9ebc15519e.jpg)
![8](https://user-images.githubusercontent.com/47661230/188456079-687998e4-f851-4c25-8298-55579785acb2.jpg)
![9](https://user-images.githubusercontent.com/47661230/188456087-cba1dfa3-3

[2022-09-05 13:24] PITPL-Kaushal-Khute commented on #3667
same problem i am facing @cgpurbaugh  can you shared custom scripts.  i am also duplicate sales order and delivery note but in my doctype Billing and Delivery status not updated plz help me

[2022-09-05 14:54] carstenblt opened #32093 "Pricing rule is applied even if UOM doesn't match"
### Information about bug

We have a pricing rule that applies to item groups. Some of the assigned item groups also have a UOM set. Documentation says:

However, the pricing rule is applied to any item from these item groups, even though the UOM in the Sales Order does not match the UOM assigned to the item group. E.g. we created a pricing rule for "Bag (10 kg)" and create a Sales Order with an i

[2022-09-05 21:35] andy-irl opened #32094 "Error: Value missing for Module Onboarding: Documentation URL"
### Information about bug

Hi, I've started to get this error on my Frappe Cloud hosted site. Can you advise what the issue is?

### Module

stock, selling, HR

### Version

Frappe Framework
v13.40.0
frappe/frappe:version-13
ERPNext
v13.37.0
frappe/erpnext:version-13

### Installation method

FrappeCloud

### Relevant log output / Stack trace / Full Error Message.

_No response_

[2022-09-06 06:34] tjomtek opened #32098 "Education Fees Not updating Correctly After - Disocunt allowed or Write Off"
### Information about bug

Case Scenario:
Student (A) has total fees of 10000(example) and pays 2500(example) , the school gives a discount of 2000 , so in total the system sees it as a 4500 in payment in the student ledger , however on the fees doctype , the system only takes into account the paid amount of 2500 and shows total owing as 10000-2500=7500 but in the student ledger the total owing is

[2022-09-06 10:17] hpotabatti opened #32100 "Quotations against Converted Leads"
There is no point in creating new Quotations against existing Converted Leads.
In case we are approaching these Converted Leads for a new line of products or new products and need to send a Quotation, the user can create a New Lead/Opportunity based on the same.

[2022-09-06 14:20] fproldan commented on #29595
👍🏻

[2022-09-06 15:24] kingsleyuk2003 commented on #31193
![image](https://user-images.githubusercontent.com/1262044/188674321-1b88df27-8681-4a34-99b5-0fe85404a17c.png)

[2022-09-06 15:42] AMNdungu opened #32105 "expense claims not creating"
### Information about bug

error message  "Expense Claim HR-EXP-2022-03313 already exists"
When users create a new expense claim that error message emerges, we tried cancelling the claim referred to but the problem persists

### Module

HR

### Version

ERPNext: v13.21.0 (version-13)

### Installation method

manual install

### Relevant log output / Stack trace / Full Error Message.

_No response

[2022-09-06 18:56] aei-gt opened #32108 "CRM (V14) Error/bug Customer Group and Default Price List (Opportunity) Trasfer to Quotation"
### Information about bug

i have a problem when in a Opportunity when try to create a Quotation and the client have a Default Price List assigned because always assign the ‘Standard sales price list’. This is a bug/error? because the users never can change price list assigned to a client and erpnext use always standard price list.  how resolve this problem. If add items in opportunity again show

[2022-09-07 02:20] kittiu commented on #24199
Setting published is one way, but I think the proper way is to add permission for comment to the portal group user (i.e., in this case Innovation User)

![Selection_117](https://user-images.githubusercontent.com/1973598/188774235-c82e8bf8-7b7f-40a4-8cd2-113dabdeedf8.png)

[2022-09-07 07:29] #31948 closed, assigned to dj12djdjs

[2022-09-07 09:52] #31288 closed, assigned to ruthra-kumar

[2022-09-07 10:32] GoldenScrew opened #32116 "I can't rename Report"
### Information about bug

In menu of Report doesn't exist possibility to rename Report.
But in List view of Reports you can edit Report Name.
But when you do it nothing changes.
![QIP Shot - Screen 252](https://user-images.githubusercontent.com/3992823/188857159-9192cd2f-b9d2-4807-be4d-5f39b33fcb07.png)

### Module

stock

### Version

ERPNext: v13.35.0 (version-13)
Frappe Framework: v13.35.0 (ve

[2022-09-07 11:59] ruthra-kumar commented on #31688
fixed on https://github.com/frappe/erpnext/pull/32110.

[2022-09-07 11:59] #31688 closed, assigned to ruthra-kumar

[2022-09-07 17:37] sumeetagra opened #32121 "Bench Update Stuck on migrate_remarks_from_gl_to_payment_ledger"
### Information about bug

Bench update stuck on executing the new patch erpnext.patches.v14_0.migrate_remarks_from_gl_to_payment_ledger

### Module

accounts

### Version

Frappe version - 14.1
ERPNext version - 14.1

### Installation method

manual install

### Relevant log output / Stack trace / Full Error Message.

_No response_

[2022-09-07 19:52] daraul commented on #5998
I thought so, too. The documentation promises that it will.

https://frappeframework.com/docs/v14/user/en/testing

[2022-09-07 21:41] webbosolutions opened #32122 "Arabic language Route Mistake"
### Information about bug

Trying to add new webform with arabic language name and
arabic route but after publish it was wrong permalink and not showing form give me
http://172.104.238.17:8000/&#1588;&#1607;&#1575;&#1583;&#1577;-&#1586;&#1608;&#1575;&#1580;/new
but in version 13 it was normal
![154465](https://user-images.githubusercontent.com/48894929/188987387-5ab6c706-0fda-46c5-8807-3c07aac7442

[2022-09-08 06:40] rmehta commented on #31511
We are giving an option to choose the account.

Also expenses should be P&L accounts, not balance sheet accounts.

[2022-09-08 07:43] Vaybl opened #32125 "Cost Center under Subcscription not changing if we select a new one. Always goes back to default one."
### Information about bug

Cost Center under Subcscription not changing if we select a new one. Always goes back to default one. We want to have different cost centers for each client, so that we can follow individually costs for each one of them.

### Module

accounts, selling

### Version

Frappe Framework: v13.33.1 (version-13)
ERPNext: v13.34.1 (version-13)

### Installation method

_No respon

[2022-09-08 08:03] BenCTBG opened #32126 "TVA ISSUE"
### Information about bug

Hello Everyone
I'm using the version:

ERPNext: v7.0.42

Frappe Framework: v7.0.30

I have a issue with my 20% VAT that not longer activates properly can tell me how i could reactivate it , if ever a mishandling has been done

Thanks you

### Module

selling

### Version

ERPNext: v7.0.42

Frappe Framework: v7.0.30

### Installation method

_No response_

### Relevant lo

[2022-09-08 12:16] ravi854 opened #32129 "Delivery Trip"
Hi,
Under delivery Trip, if the status is In-Transit, Vehicle and Driver should be unavailable to be selected for another delivery trip,
Once the status changed to returned, the Vehicle and Driver should be available again for next delivery.
Thanks

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated w

[2022-09-08 13:34] hatimohsin commented on #30082
Still same.

[2022-09-08 16:20] Olawale1 commented on #30547
Hmmm... actually I think a lot of people would prefer it to work the way it currently does. Cancelling a doc usually means you are trying to reverse it's effect from the point of inception. If you want the effect only reversed from the date of cancellation then you might be better off using a Journal Entry for that purpose

Kind regards,

[2022-09-08 16:35] sagarrgarg opened #32136 "DateTime Box not displayed In Webform On iOS"
### Information about bug

I am Trying to setup the book appointment page on v13 ,

The page is set and everything works on - domain/book_appointment including formats , date picker etc , but only on non ios mobile phones and laptops/pcs
On Any latest iOS device the date selection shows invalid date to invalid date.

<img width="1416" alt="Screenshot 2022-09-08 at 10 04 49 PM" src="https://user-im

[2022-09-08 16:55] Olawale1 opened #32138 "Cannot delete or cancel because Purchase Order is linked with GL Entry"
### Information about bug

Hi ,

GL Entries with 'Is Cancelled' checked are preventing associated documents (like Purchase Order) from being Cancelled. This shouldn't be so. Please see associated thread below:

https://discuss.erpnext.com/t/cannot-delete-or-cancel-because-purchase-order-is-linked-with-gl-entry/78615

Kindly help fix asap

Thanks

### Module

accounts

### Version

ERPNext: v13.36.

[2022-09-08 17:42] Jerrill opened #32140 "Deadlocks in POST operations related to `tabActivity Log` INSERT operations"
### Information about bug

I just started working on unit testing and ERPNext api client and I'm just four unit tests into it. I am seeing frequent deadlocks in POST operations. The deadlock don't occur every time and when they do they don't occur in the same unit test. They appear to be related to `tabActivity Log` INSERT operations.

[erpnext_deadlock_info.txt](https://github.com/frappe/erpnext/

[2022-09-08 20:00] johnlongland commented on #31512
Good day. I see the "valid" label has been removed and the "discussion" label added. Not sure why this was done, but if there is to be a discussion about this then perhaps I should open it ....
As you can see by my first post higher up, this change has left me stranded. I only have one finance book currently but in the event of a change in the way I operate later, I am now left without that option

[2022-09-09 10:24] MinaSafwatWDX commented on #31786
We are facing same issue, is there a resolution yet?

[2022-09-09 10:34] satapathy1999 opened #32149 "Please 'Assigned To' synced with 'user permissions'. Then user can access that task only which is assign to them."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-09-09 12:37] maharshivpatel commented on #31901
@blewsky @dj12djdjs It is showing correct symbol on the latest version-13 please update to the latest version and let me know if it is still showing incorrect symbol.
![SYMBOL](https://user-images.githubusercontent.com/39730881/189345014-900765f0-f384-4220-af1b-a1ee9b001d1e.png)

[2022-09-09 15:07] khb250 opened #32151 "Payment entry"
### Information about bug

I have created purchase invoices and made the payments but until now they are still marked as overdue and i can not figure out why. Please fix it as soon as possible

### Module

accounts, buying, other

### Version

ERPNext: v13.28.0 (version-13)
Frappe Framework: v13.28.0 (version-13)

### Installation method

_No response_

### Relevant log output / Stack trace / Full

[2022-09-09 18:23] dj12djdjs commented on #32151
@khb250 Can you provide more information? Please see attached as it's working as expected.

![pe](https://user-images.githubusercontent.com/29856401/189418534-dd78107f-94f8-4265-80c2-9af036ac9151.gif)

[2022-09-10 04:34] s-aga-r commented on #28897
Hi @sowndharya998

I tried this in v13/14 and the results are different when I submit the Work Order only 3 Job cards get created as I have 3 Operations in the BOM. Please let me know if I missed something.

- BOM

  ![image](https://user-images.githubusercontent.com/63660334/189468613-f13f783c-ac6b-4c62-a241-9534287f4bba.png)

- BOM Operations and Items

  ![image](https://user-images.githubuserc

[2022-09-10 09:54] ruthra-kumar commented on #31723
Fixed on #32054

[2022-09-10 09:54] #31723 closed, assigned to ruthra-kumar, deepeshgarg007

[2022-09-10 18:01] rohitwaghchaure commented on #31502
@yadavyk When you change the Apply On and save it and again select the same Apply On then it disappears otherwise it won't. Could you share steps to replicate the issue?

[2022-09-10 22:05] FiloSpaTeam commented on #27617
Bump

[2022-09-11 00:14] revant commented on #32169
If you open this issue in Frappe or ERPNext repos it might get some attention from developers.

I don't know if this is related to containerized setup.

[2022-09-11 05:31] celevra commented on #32169
It is related to Container setup because there is no other way to update when you are using the docker setup

[2022-09-11 10:58] muchai opened #32159 "Purchase Receipt and Stock Entry renamed to S13 Voucher and S11 respectively"
### Information about bug

![image](https://user-images.githubusercontent.com/1822868/189523791-8cabddd8-b1d1-4a52-a266-cfd795ec23fd.png)

### Module

stock

### Version

ERPNext: v14.0.3 (HEAD)
Frappe Framework: v14.5.0 (HEAD)

### Installation method

FrappeCloud

### Relevant log output / Stack trace / Full Error Message.

_No response_

[2022-09-11 11:14] muchai opened #32160 "AttributeError: 'ReceivablePayableReport' object has no attribute 'customer'"
### Information about bug

This happens when one selects the territory filter on the report.
Also, the territory column on the report, shows territory as per the data in the customer doctype not as captured on the sales invoice.

### Module

accounts

### Version

ERPNext: v14.1.0 (HEAD)
Frappe Framework: v14.6.0 (HEAD)

### Installation method

FrappeCloud

### Relevant log output / Stack trace /

[2022-09-11 14:22] sumeetagra opened #32163 "CRM 'str' object does not support item assignment"
### Information about bug

### App Versions
[code]
### Route
[code]
### Trackeback
[code]
### Request Data
[code]
### Response Data
[code]

### Module

CRM

### Version

	"erpnext": "14.1.0",
	"frappe": "14.6.0",
	"frappeauth_app": "0.0.1",
	"hrms": "0.0.1",
	"india_compliance": "0.0.1",
	"payments": "0.0.1"

### Installation method

_No response_

### Relevant log output / Stack trace / Full Erro

[2022-09-11 17:59] ahmedbahgattt opened #32164 "translation not work erpnext v14.1.0"
### Information about bug

after make item translatable and publish it

the arabic translation of items names  not appear when changing the language in website or inside item list or website item list

<img width="838" alt="Screen Shot 2022-09-11 at 8 52 14 PM" src="https://
<img width="684" alt="Screen Shot 2022-09-11 at 8 54 22 PM" src="https://user-images.githubusercontent.com/84731009/18954220

[2022-09-11 18:01] devmiguelpereira commented on #32138
Go to the Accounting Settings > Select the following option: Delete Accounting and Stock Ledger Entries on deletion of Transaction

I hope it helps...

[2022-09-11 18:04] ahmedbahgattt commented on #32164
<img width="892" alt="Screen Shot 2022-09-11 at 9 04 07 PM" src="https://user-images.githubusercontent.com/84731009/189542414-67020c15-1c7d-4ffb-a35d-3b377d182298.png">

[2022-09-12 04:12] muchai commented on #32159
An update on this.
Seems far-fetched, but it happened. Someone Changed Label (via Custom Translation) of Purchase Receipt and Stock Entry in in one site, say **Site A**, but this label updates happened in another site **Site B**.

The person doing the label updates has no access, and doesn't know of **Site B**

[2022-09-12 06:53] rohitwaghchaure commented on #31502
@yadavyk since we are not able to replicate the issue, closing this ticket. If you still facing the issue on latest v13 version then create a new ticket with proper steps

[2022-09-12 06:53] #31502 closed, assigned to rohitwaghchaure

[2022-09-12 07:18] revant commented on #32169
I am able to update to latest v14.

Update means:

1. Replacing the container images with new ones and restarting them
2. Running `bench --site {sitename} migrate` from containers running with new image.

If there is a patch failure I can't help much. Keep the issue open if someone else can help.

[2022-09-12 10:32] ruthra-kumar commented on #32160
Fixed on #32175

[2022-09-12 10:32] #32160 closed, assigned to ruthra-kumar

[2022-09-12 10:56] khb250 commented on #32151
@dj12djdjs  Hello in the video below you can see that i made the payment but the invoice is still tagged as OVERDUE can you please help me with it
https://user-images.githubusercontent.com/113194770/189636516-3e53f507-07f4-4475-b76c-57cb1c988d74.mp4

[2022-09-12 11:18] #31450 closed, assigned to rohitwaghchaure

[2022-09-12 12:24] asoral opened #32182 "Pos Closing Not Working"
### Information about bug

While doing a POS closing entry. Found the below mentioned error.

### App Versions
[code]
### Route
[code]
### Trackeback
[code]
### Request Data
[code]
### Response Data
[code]

### Module

stock

### Version

Frappe-version=14.1.0
Erpnext-version=14.6.0

### Installation method

manual install

### Relevant log output / Stack trace / Full Error Message.

_No response_

[2022-09-12 12:49] asoral commented on #32182
Solution :
In TIMESTAMP('2022-09-05',16:21:01) Time Written in int It should be Str

[2022-09-12 13:00] #31481 closed, assigned to rohitwaghchaure

[2022-09-12 13:07] rohitwaghchaure commented on #32159
It seems that you have made changes in the Public workspace directly therefore it's applying to all sites. Have you enabled developer mode?

[2022-09-12 13:13] muchai commented on #32159
Not sure if developer mode is enabled. Both of these sites are on FC, public benches.
Had reported this here, after the customer of site B raised the issue on Saturday, then when I realized what had happened, I reported it on FC.
It's resolved now, after update of the sites to the latest v14 releases.

[2022-09-13 04:19] gn306029 commented on #31775
Hi, @Xuquansheng , translation files are mostly created using machine translation like google translate.
Maybe you can update translate and create the pull request for Simplified Chinese.
This is simplified chinese translation file.
https://github.com/frappe/erpnext/blob/develop/erpnext/translations/zh.csv

If you want using custom translate file, you can create a new app and make translate file i

[2022-09-13 05:28] kartikkamdar21 commented on #14094
Hello, is there any update on this? We are facing this issue and ERPNext still does not seem to have any provision for this.

[2022-09-13 06:50] #31800 closed, assigned to nobody

[2022-09-13 10:29] jigneshpshah commented on #32064
in v13.
Any solution on this @akhashogji  ? , could @deepeshgarg007 please share a screenshot on how to  put the paid amount in loan repayment via Salary Slip .
For me it reverts to 0.0 on save of salary slip.
<img width="1244" alt="Pasted Graphic 2" src="https://user-images.githubusercontent.com/4900815/189878616-eaa08fdb-2a25-47a2-b0e3-13c284aa2d50.png">

[2022-09-13 13:42] YamanQD opened #32202 "Activities and comments datetime not showing up in safari, version-14"
### Information about bug

After upgrading to version-14, a bug appeared that hides the date and time of comments and activities at the bottom of any doctype
The bug shows up in Safari browser only, here is a screenshot taken from Safari:
![image](https://user-images.githubusercontent.com/58234003/189916681-214df9f2-a495-4761-963c-23f7fc4c53aa.png)

And here is one taken from google chrome:
![imag

[2022-09-13 14:05] tsothun opened #32203 "Export File from Stock ledger and Stock Balance to excel problem"
### Information about bug

1. When I try to remove Date or any column from stock ledger and export to excel those remove column still exist in excel.
 2. The Title Stock Ledger Report or Stock Balance didnt show up in excel file but show up in Print or PDF file with header too if I choose header.
 3. There is not column when excel file into excel like pdf or print. Please help to have table too.

[2022-09-14 02:44] #31557 closed, assigned to nobody

[2022-09-14 03:15] edwardleehl7097 opened #32207 "Payment Entry Party Filter Not Working"
### Information about bug

Party filter is not showing a list of party after select customer.

<img width="1445" alt="image" src="https://user-images.githubusercontent.com/25194385/190051295-4d00358a-64c7-4c51-87bb-9957ac990dbe.png">

### Module

accounts

### Version

ERPNext: v14.1.0 (version-14)

Frappe Framework: v14.6.0 (version-14)

Frappe HR: v0.0.1 (develop)

Payments: v0.0.1 (develop)

##

[2022-09-14 04:50] Solufyin commented on #32207
Hi @edwardleehl7097,

We have the same version but do not have any make problem found in the party.
![image](https://user-images.githubusercontent.com/34390782/190061110-3d35a555-912f-455d-a9d4-82ad0ce532b7.png)

If you have not apply command then apply it.

// if any changes in base doctype and base code then apply the below command. but make sure first take a backup.
`bench update --reset`
[code

[2022-09-14 05:30] edwardleehl7097 commented on #32207
yes, found it. Thank you.

[2022-09-14 05:30] #32207 closed, assigned to nobody

[2022-09-14 08:45] wildman-web commented on #6246
Project Filter on js file:
               {
			"fieldname": "project",
			"label": __("Project"),
			"fieldtype": "Link",
			"options": 'Project'
		},

Account Receivable Report Python File:

Line:357(approx.)
project field is fetching from sales invoice
def get_invoice_details(self):
		self.invoice_details = frappe._dict()
		if self.party_type == "Customer":
			si_list = frappe.db.sql(
				"""

[2022-09-14 09:34] rohitwaghchaure commented on #31987
@shashankshirke
Issues 2 and 3, I've tried multiple times to replicate the issue but issue is not replicating. Please check below GIF

![item_rename_issue_not_replicate](https://user-images.githubusercontent.com/8780500/190118289-2d52258e-9967-45ad-9283-f5c6d3c57f9a.gif)

[2022-09-14 09:38] rohitwaghchaure commented on #31987
@shashankshirke
For issue 1

We need to make a changes in the design, currently it's not that easy to change the label from New Name to New Item Code.

[2022-09-14 10:00] rohitwaghchaure commented on #31987
@shashankshirke

Issue 1 : Fixed (https://github.com/frappe/frappe/pull/18125)
Issue 2: Not able to replicate, please provide the steps
Issue 3: Not able to replicate, please provide the steps

[2022-09-14 10:21] #31987 closed, assigned to rohitwaghchaure

[2022-09-14 12:03] AliShaatani commented on #32164
the Arabic language is not supported in version 14, use Ver13 is the latest stable release

[2022-09-14 12:05] AliShaatani commented on #32122
Ver14 is Beta, so try to use 13 for production releases

[2022-09-14 12:10] maveezmh opened #32212 "Column Break is not showing up in child table on Webforms"
### Information about bug

Below is the child table doctype details which has column break
![Screenshot 2022-09-14 at 15-59-31 Crew Application Experience Detail](https://user-images.githubusercontent.com/112148467/190149658-1ea8a7b4-b972-4691-ac80-a6ff8553a5ff.png)

below is the screenshot of webform child table
Child table is not properly configured on web forms. Even an editable name field is c

[2022-09-14 18:40] amecreate commented on #25646
Experience the same issue in v13, would like to know the snippet where it gets fixed.

[2022-09-15 04:55] rtdany10 commented on #25646
Reopening this due to above comments. Unverified from my side on the latest version tho.

[2022-09-15 05:14] FiloSpaTeam commented on #32163
Same here! This break upgrade too.

[2022-09-15 05:39] mastewalm commented on #31947
should I expect a solution? because I really need one.

[2022-09-15 06:04] rohitwaghchaure commented on #20259
It seems that you have set the backflush based on the Material Transfer and not BOM, closing issue

[2022-09-15 06:04] #20259 closed, assigned to rohitwaghchaure

[2022-09-15 06:09] #32034 closed, assigned to nabinhait

[2022-09-15 06:14] nabinhait commented on #31511
As you are using perpetual inventory, while transferring the stock the freight and forwarding expenses will be counted in the landed cost of the item, hence will increase Stock-in-hand value. And expenses will be booked when the item will be consumed or delivered later.

Closing the issue.

[2022-09-15 06:14] #31511 closed, assigned to nobody

[2022-09-15 06:39] #31562 closed, assigned to nobody

[2022-09-15 06:54] dj12djdjs commented on #31947
I'll try CC the code owner for this module since this issue is still open.
CC: @ruchamahabal

Do you have any comment for this: https://github.com/frappe/hrms/issues/45#issuecomment-1233622086

[2022-09-15 06:59] nabinhait commented on #32163
Can't replicate the issue. When are you getting the issue?

[2022-09-15 07:01] nabinhait commented on #15897
charts.erpnext.com has been deprecated, hence closing

[2022-09-15 07:01] #15897 closed

[2022-09-15 07:02] dj12djdjs commented on #32151
@khb250 It looks like the purchase invoice is showing as overdue because the invoice is not fully closed.
As shown in the screen shot from your video out of the 89,244,220,00 RWK only ~44,622,110,00 RWK is getting paid toward the invoice, therefor leaving it open.

![image](https://user-images.githubusercontent.com/29856401/190336365-e3211f18-047d-4e52-bc22-07aee0ed086f.png)

It looks like the col

[2022-09-15 07:03] nabinhait commented on #16420
Quick entry form does not support JS script, hence it does not work. Closing the issue

[2022-09-15 07:03] #16420 closed

[2022-09-15 07:06] FiloSpaTeam commented on #32163
In a first moment, clicking a Lead to open the Lead page, so i tried to upgrade Erpnext (a message popup shown a new version).
During the upgrade stuck here:
[code]

[2022-09-15 07:14] dj12djdjs commented on #31901
@maharshivpatel Please see attached video for procedure.

https://user-images.githubusercontent.com/29856401/190338910-affa4c96-bf39-480b-aa2e-0c1d677584f2.mp4

1. Initial Setup:
     Created "Demo Company" in currency CAD
2. Create another company "Company A" in "AED"
3. Set session defaults to "Company A"

Even after setting session defaults and resetting cache. All currency fields use the origi

[2022-09-15 07:16] dj12djdjs commented on #32033
Hi, sorry for the delay. I should be able to look further into this by next week.

[2022-09-15 07:17] umairsy opened #32223 "Error in Subcontracting Flow"
### Information about bug

Steps:

1. Tried making a subcontracting, but it asks for Purchase Order made for the same subcontracting doc. Is this the intended flow?
2. When I tried making a PO for subcontracting, it says the item to be selected must be a service item. The subcontracted item in all possibilities will be a stock item.

<img width="1079" alt="Screenshot 2022-09-15 at 12 46 39 PM" src

[2022-09-15 07:22] dj12djdjs commented on #31829
@tjomtek During what process does this error occur? I don't see any reference to frappe dropbox integration in this traceback.

[2022-09-15 07:23] nabinhait commented on #31512
As you have only a single finance book in your system, there is no need to create a finance book record. Keeping the finance book field blank means it's the default finance book.

Still, if you want to set the finance book in Journal Entry, you can set the default value in the finance book field from Customize Form. Closing the issue.

[2022-09-15 07:23] #31512 closed, assigned to nobody

[2022-09-15 07:24] umairsy opened #32224 "Error in Dunning Flow"
### Information about bug

Steps:

1. Created a Dunning Type
2. Created a  Dunning for some old invoice
3. Save and submitted dunning
4. Came to sales invoice and tried creating Dunning again from the "Create" button, though already linked Dunning can be seen. Wanted to see if there is an automated way to create this entry.

The error message seems to be some kind of validation but still doesn't s

[2022-09-15 07:27] nabinhait commented on #31399
Closing as this has been fixed

[2022-09-15 07:27] #31399 closed, assigned to nobody

[2022-09-15 07:28] tjomtek commented on #31829
@dj12djdjs , when I click on "take back now" under the Dropbox Setting.

[2022-09-15 07:30] nabinhait commented on #32223
In subcontracting order, PO is mandatory and in PO, the item should be a service item - both are intentional. closing the issue

[2022-09-15 07:30] #32223 closed, assigned to nobody

[2022-09-15 07:39] nabinhait commented on #32163
This has been fixed yesterday and released (https://github.com/frappe/erpnext/releases/tag/v14.1.2).

[2022-09-15 07:39] #32163 closed, assigned to nobody

[2022-09-15 07:42] FiloSpaTeam commented on #32163
I have the problem with this specific release....
[code]

[2022-09-15 07:46] #32224 closed, assigned to nobody

[2022-09-15 08:04] mastewalm commented on #31947
@ruchamahabal closed this: https://github.com/frappe/hrms/issues/45#issuecomment-1233622086

I was trying to respond through email and did not check the page. because of that, the images I sent were not visible. should I attach the images even if @ruchamahabal closed it?

[2022-09-15 08:38] khb250 commented on #32151
@dj12djdjs Well the issue is that the full amount of this invoice was not paid all at once. Part of the amount was first paid on 21/07/2022 and the rest was paid in the following month on 26/08/2022. So, the problem is that it does not even show me the remaining amount to be paid it keeps displaying the full amount of the invoice

[2022-09-15 08:39] khb250 commented on #32151
@dj12djdjs For example if those 44,622,110RWF was paid. The Outstanfing amount should have changed but it is not changing

[2022-09-15 09:35] #31703 closed, assigned to deepeshgarg007

[2022-09-15 11:31] dj12djdjs commented on #31947
@mastewalm Since this issue is open, you can post them here for another reference of expected behavior.

[2022-09-15 11:38] dj12djdjs commented on #32151
@khb250 In your video at 1:14, the first payment entry on 21/07/2022 isn't submitted. It is still in Draft state. Please also submit the first payment entry.

[2022-09-15 12:43] mastewalm commented on #31947
@dj12djdjs In that case, you have understood and put it as I expect the system to perform in this: https://github.com/frappe/hrms/issues/45#issuecomment-1233622086

and as you have seen above on this page, I have attached images for more clarification.
I hope it will be resolved.

Thank you for your time and responce.

[2022-09-15 13:39] deepeshgarg007 commented on #12994
@aakvatech can you please explain what is incorrect if Credit Note is made via Journal Entry

[2022-09-15 13:40] deepeshgarg007 commented on #14762
@umairsy Move this to HRMS repo, closing this for now

[2022-09-15 13:40] #14762 closed

[2022-09-15 13:41] deepeshgarg007 commented on #18484
Not enough info to validate, closing
Please try again on latest version-13 release and reopen if it still persists

[2022-09-15 13:41] #18484 closed, assigned to deepeshgarg007

[2022-09-15 13:43] #20877 closed, assigned to deepeshgarg007

[2022-09-15 13:54] deepeshgarg007 commented on #21393
Fixed via https://github.com/frappe/erpnext/blob/develop/erpnext/setup/doctype/transaction_deletion_record/transaction_deletion_record.py#L222

[2022-09-15 13:54] #21393 closed, assigned to deepeshgarg007

[2022-09-15 13:56] deepeshgarg007 commented on #22295
Should be fixed via https://github.com/frappe/erpnext/pull/30754

[2022-09-15 13:56] #22295 closed, assigned to deepeshgarg007

[2022-09-15 14:14] bahaajobs opened #32227 "E-Invoicing for Egypt"
Hi team

Seeking for your support as we already started to submit Egyptian E-Invoice to the Egyptian Government manually and all Egyptian companies looking for this feature

Here is the Governmental documentations, and SDK:

[http://20.50.48.69/](http://20.50.48.69/)
[https://invoicing.eta.gov.eg/content/](https://invoicing.eta.gov.eg/content/)
[https://invoicing.eta.gov.eg/content/](https://sdk.i

[2022-09-15 14:33] deepeshgarg007 commented on #27676
@cacarios Just tried and it worked fine for me, might be a precision issue, try changing precision and saving

<img width="1337" alt="image" src="https://user-images.githubusercontent.com/42651287/190431431-0fff0bff-0d91-4196-9d33-e93d26364a1c.png">

[2022-09-15 14:33] #27676 closed, assigned to deepeshgarg007

[2022-09-15 14:34] #28212 closed, assigned to deepeshgarg007

[2022-09-15 14:34] deepeshgarg007 commented on #28465
Moved to India Compliance app, not valid anymore

[2022-09-15 14:34] #28465 closed, assigned to deepeshgarg007

[2022-09-15 14:36] #29738 closed, assigned to deepeshgarg007

[2022-09-15 14:43] deepeshgarg007 commented on #30583
<img width="1353" alt="Screenshot 2022-09-15 at 8 09 25 PM" src="https://user-images.githubusercontent.com/42651287/190433151-448eac36-7eeb-43d9-b996-0c8b9b075590.png">

@swapniljariwala if this is enabled, it will fetch all taxes mentioned in the item tax template, the entire config seems to be incorrect, disable this follow the approach mentioned in https://docs.erpnext.com/docs/v13/user/manual/

[2022-09-15 14:43] #30583 closed, assigned to deepeshgarg007

[2022-09-15 14:45] #30706 closed, assigned to deepeshgarg007

[2022-09-15 15:02] deepeshgarg007 commented on #30641
@lxnow In ERPNext's context you can set the default letterhead at the company level and by default will be fetched in the reports when "With Letter Head" is checked

<img width="1345" alt="Screenshot 2022-09-15 at 8 31 50 PM" src="https://user-images.githubusercontent.com/42651287/190438634-b713a31b-6581-4c35-948e-34a3fc103ae1.png">

[2022-09-15 15:02] #30641 closed, assigned to deepeshgarg007

[2022-09-15 15:28] deepeshgarg007 commented on #31668
@nidhipurohit11 just checked and everything is working as expected.
PR and DN don't even have a Payment Terms Template field so fetching payment terms in them is not even possible. This is for cases where the Payment Terms are decided at order level based on order date and need to be fetched the same at invoice level which works as expected

[2022-09-15 15:28] #31668 closed, assigned to deepeshgarg007

[2022-09-15 15:37] deepeshgarg007 commented on #32138
@Olawale1 As suggested by @devmiguelpereira Enable the settings in accounts settings. That should allow you to delete the transaction.

[2022-09-15 15:37] #32138 closed, assigned to deepeshgarg007

[2022-09-15 17:12] Olawale1 commented on #32138
Hi @deepeshgarg007

Thanks for your response but this is NOT a proper solution. Doing that defeats the whole purpose of immutable ledgers! Those who have legal requirements not to tamper with transaction ledgers can't do this; It's also bad UX as most regular users get concerned when you tell them they have to go and change a setting to delete a document and then come back and reactivate again

Wh

[2022-09-15 20:50] littlebunyip commented on #32163
This is still an issue when running bench update --reset --no-backup.

I verified the patch is installed from commit 14e5f23 chore(release): Bumped to Version 14.1.2.

[code]

[2022-09-15 21:30] dj12djdjs commented on #32159
Closing as OP noted the issue was resolved by updating to latest version.

[2022-09-15 23:43] lxnow commented on #30641
Thanks @deepeshgarg007 . Is there a way to make "With Letterhead" tickbox default to checked?
![image](https://user-images.githubusercontent.com/5035210/190527199-a44f50aa-a48c-4fd6-918f-26605d9d1db3.png)

[2022-09-16 08:33] deepeshgarg007 commented on #31679
Fixed Via: https://github.com/frappe/erpnext/pull/32204

[2022-09-16 08:33] #31679 closed, assigned to deepeshgarg007

[2022-09-16 10:14] Alchez opened #32239 "Shipment items and partial deliveries using Shipment"
**Is your feature request related to a problem? Please describe.**
The [Shipment](https://docs.erpnext.com/docs/v13/user/manual/en/stock/shipment) feature stores shipment stock details in a reference table ("Shipment Delivery Note") that only include a Delivery Note ID and value field. This implies that the system expects a Delivery Note will be fulfilled all at once.

Even though the system allow

[2022-09-16 10:55] Olawale1 commented on #32138
Hi @deepeshgarg007

Kindly reopen the issue or confirm if I should create a fresh one. This is critical for those of us using immutable ledgers

Thanks

[2022-09-16 11:57] rohitwaghchaure commented on #31483
@muchai The label here is confusing, you have to put value in the percentage. It seems that you have not set the value in percentage which causing the issue. We can't put actual value and using percentage because obviously for each item the min and max quantity could be different even though they comes under same **Item Group**

We have fixed the label by adding extra characters like (In Percentag

[2022-09-16 11:57] #31483 closed, assigned to maharshivpatel

[2022-09-16 12:59] #26534 closed, assigned to nobody

[2022-09-16 13:23] farazk3 opened #32242 "Fetching activities to Opportunity from a lead"
### Information about bug

When an opportunity is created from a lead, Activities(emails with prospects) are not fetched to Opportunity. Activities stay within the lead and communication is not copied to opportunity, for reference of older communicated one has to again check lead doctype.

### Module

CRM

### Version

v14.0.0-dev (HEAD)

v14.0.0-dev (HEAD)

### Installation method

_No response_

[2022-09-16 14:32] deepeshgarg007 commented on #31680
<img width="1345" alt="image" src="https://user-images.githubusercontent.com/42651287/190663740-1659cc35-f512-43ae-b8d4-d4bfc44c6676.png">

Works fine, could not replicate

[2022-09-16 14:32] #31680 closed, assigned to deepeshgarg007

[2022-09-16 14:50] deepeshgarg007 commented on #32151
@khb250 as @dj12djdjs already investigated, your earlier payment entry is not submitted yet hence you see an overdue status. If something this common wouldn't have been working a lot of other users must have reported this by now. Closing this issue as it seems invalid at the moment

[2022-09-16 14:50] #32151 closed, assigned to deepeshgarg007

[2022-09-16 14:52] deepeshgarg007 commented on #31844
@lvr26 We have removed discount accounting from Purchase Cycle in the latest version-13 release so this issue is not valid anymore. Closing this issue

[2022-09-16 14:52] #31844 closed, assigned to deepeshgarg007

[2022-09-16 14:54] muchai commented on #32242
Tick that, it's a setting under CRM Settings
![image](https://user-images.githubusercontent.com/1822868/190668549-5507bd90-0d5f-43c4-915b-0e87a258e729.png)

[2022-09-16 16:09] ossplus opened #32243 "Error V13->V14: 'str' object does not support item assignment"
### Information about bug

Upgrade from V13 to V14;
On bench migrate stage;
Migrate old lead notes as per the new format patch:
/patches/v14_0/migrate_existing_lead_notes_as_per_the_new_format.py", line 19, in execute
TypeError: 'str' object does not support item assignment

#32091

Similar : #31800

### Module

CRM

### Version

Upgrade from current V13 to V14

### Installation method

_No respon

[2022-09-16 17:15] deepeshgarg007 commented on #31760
Fixed Via: https://github.com/frappe/erpnext/pull/32244

[2022-09-16 17:15] #31760 closed, assigned to deepeshgarg007

[2022-09-16 18:57] jorgeastiazaran commented on #30547
Hi @Olawale1

As an inexperienced entrepreneur it might seem just right to cancel a document as you point out. Believe me: been there, done that and suffered the consequences.

The problem comes when you use ERPNEXT for an actual business which is subject to legal and financial laws, since manipulating an accounting ledger after a period is closed is a very delicate matter (accounting ledgers must

[2022-09-16 19:24] littlebunyip commented on #32163
Request to re open this issue? It still persists even with version 14.1.2.

[2022-09-17 06:41] #31484 closed, assigned to maharshivpatel

[2022-09-17 10:27] ArunaDevraj opened #32249 "Dropdown menu is not working in employee leave balance summary report"
### Information about bug

[README.md](https://github.com/frappe/erpnext/files/9591447/README.md)
![1663410262687](https://user-images.githubusercontent.com/100012141/190852190-4101fc72-2f2d-47ac-b17d-6ca5c698037c.jpg)
![1663410262678](https://user-images.githubusercontent.com/100012141/190852200-e44de0cc-57c1-4ccf-8df0-52556e255edf.jpg)

### Module

HR

### Version

ERPNext: v13.35.3 (version-13)

[2022-09-17 12:09] deepeshgarg007 commented on #31663
@nidhipurohit11 The rate of the item will still remain $25, changing the exchange rate will have no impact on it, it will just change the base amount in the company currency, again an invalid issue

[2022-09-17 12:09] #31663 closed, assigned to deepeshgarg007

[2022-09-17 12:15] kingraphaii commented on #15617
Hi @asbasawaraj , checking on v14 dev, seems the feature isn't available yet?

[2022-09-17 14:30] maveezmh opened #32253 "Sales Partner/Sales Person - Target Variance based on Item Group is not calculating overall Target Achieved"
### Information about bug

Sales Partner/Sales Person -  Target Variance based on Item Group is not calculating overall Target achieved if the item group is not selected.

some sales persons will have overall targets irrespective of item groups.

the system mandatorily asks user to selece Child item group and mention targets to each child item group to populate the report.

![image](https://user-i

[2022-09-17 14:40] maveezmh opened #32254 "Salary Slips having Salary Structures with one of the component calculated based on Timesheet cannot be submitted until atleast one timesheet is Created"
### Information about bug

Salary Slips having Salary Structures with one of the component calculated based on Timesheet cannot be submitted until atleast one timesheet is Created

![image](https://user-images.githubusercontent.com/112148467/190862439-0f73a5f8-5e3b-4330-9a1d-c32d335d13ba.png)

When you try to create salary slips from payroll and submit it
the system automatically adds timesheet co

[2022-09-17 19:33] aeteseb opened #32257 "Item Review: Wrong Rating published on website"
### Information about bug

Just tried out the new Review feature and gave my item a 5 star review. After saving, the item page updated and showed my review, only with a 1 star rating. When I looked at the review in the desk's list view, the rating was 5 stars as expected.
![SharedScreenshot](https://user-images.githubusercontent.com/113799213/190873429-7ab5d474-3be6-4130-9004-82b2f8e1961c.jpg)
![S

[2022-09-18 04:54] NassimBentarka opened #32258 "Drop-shipping : shipping_address not filled"
### Information about bug

When using drop shipping option in sales order item, when generating a Purchase Order, the Shipping Address on the Purchase Order should reflect the Shipping Address on the Sales Order. However, that's not what happens on my ERP Next installation, it instead shows the Company Address as the Shipping Address on the PO regardless of the Drop Shipping procedure (AKA: item.d

[2022-09-18 05:09] KMJ-007 opened #32259 "margin issue in the erp next website"
### Information about bug

![image](https://user-images.githubusercontent.com/86996507/190886648-48682773-d005-434d-8518-5d234798541f.png)

I found this on the [website](https://erpnext.com/open-source-accounting), and I want to contribute to open source by fixing it,

but I didn't find any repo that contains the code of the website(I checked both erpnext and frappe's GitHub account),

it would be

[2022-09-18 10:24] muchai commented on #32159
Still an issue.
See issue: https://frappecloud.com/support/tickets/232375 on FC.
This is either a deployment issue on FC, or a Frappe framework issue. Not sure.

[2022-09-18 22:47] DmitryGreenLeaf commented on #32163
Request to re-open this issue! It still persists even with version 14.1.2.

Last login: Sun Sep 18 21:54:22 2022 from
ubuntu@vps-f5eabad2:~$ cd /home/ubuntu/frappe-bench/apps/frappe/
ubuntu@vps-f5eabad2:~/frappe-bench/apps/frappe$ bench update --reset --no-backup
remote: Total 0 (delta 0), reused 0 (delta 0), pack-reused 0
From https://github.com/frappe/frappe
 * branch                  version-14

[2022-09-18 22:54] DmitryGreenLeaf opened #32266 "ERPNext 14 not working after bench update reset TypeError: 'str' object does not support item assignment"
### Information about bug

ERPNext 14 not working after bench update reset
 TypeError: 'str' object does not support item assignment

### Module

other

### Version

Frappe version - 14.7.0
Erpnext version - 14.1.2

### Installation method

manual install

### Relevant log output / Stack trace / Full Error Message.

[code]

[2022-09-19 11:34] ossplus commented on #32266
#32243

[2022-09-19 12:24] DennisLowXiaoJing opened #32273 "Cost center allocation not working"
### Information about bug

Previously in version 13 it is called "Distributed Cost Center" which is a feature in cost center doctype, now in version 14 it has been separate out and called "Cost center allocation" which is a diff doctype.

So, it works in version 13 when it is "Distributed Cost Center", but it not working in version 14 "Cost center allocation".

Step to reproduce:-
- 3 cost center

[2022-09-19 19:37] littlebunyip commented on #32266
[#32163 ](https://github.com/frappe/erpnext/issues/32163)

[2022-09-19 20:31] raveslave commented on #28267
checking in!

[2022-09-20 04:29] #31569 closed, assigned to ruthra-kumar

[2022-09-20 08:48] Olawale1 opened #32287 "Cannot delete or cancel because Purchase Order is linked with GL Entry"
### Information about bug

Hi ,

GL Entries with 'Is Cancelled' checked are preventing associated documents (like Purchase Order) from being Cancelled. This shouldn't be so. Please see associated thread below:

https://discuss.erpnext.com/t/cannot-delete-or-cancel-because-purchase-order-is-linked-with-gl-entry/78615

Kindly help fix asap

Thanks

### Module

accounts

### Version

ERPNext: v13.36.

[2022-09-20 08:50] Olawale1 commented on #32138
@deepeshgarg007 @nabinhait

I have opened a new Github Issue here: https://github.com/frappe/erpnext/issues/32287

Kindly help fix this as quickly as possible

Thanks

[2022-09-20 09:03] AnandBaburajan commented on #31600
@aakvatech I'm not able to reproduce the issue. Are you getting the error when you submit the asset?

[2022-09-20 09:18] #31738 closed, assigned to deepeshgarg007

[2022-09-20 10:26] FHenry commented on #32038
Something tell me that My pr is merging blocked cause of open issue. I close the issue may be I'll be more lucky to see the pr merged 32068

[2022-09-20 10:49] anandbaburajan commented on #31836
@dhawal-mahajan @thida-bcn can you provide some details ([example](https://github.com/frappe/erpnext/issues/31600#issue-1305302697)) to reproduce the issue? Maybe a GIF screencast too with sample data?

[2022-09-20 11:08] anandbaburajan commented on #31836
@deepeshgarg007 looks like this is same as the issue which https://github.com/frappe/erpnext/pull/32226 is solving?

[2022-09-20 11:31] anandbaburajan commented on #31600
@aakvatech I'm not able to reproduce this issue -- not getting any errors. Are you still getting this error?

[2022-09-21 05:17] thida-bcn opened #32305 "Payroll posting to Journal Entry"
### Information about bug

When we submit Payroll to Jounral Entry, Payroll Entry link is missing
in case when we need to rerun payroll, we have to cancel / delete journal entry manual

### Module

HR

### Version

ERPNext Version : v13.35.2
https://drive.google.com/file/d/1lL6vDxxhiExm7DsT8dZMQLK8IwBlvZ07/view?usp=sharing

### Installation method

manual install

### Relevant log output / Stack t

[2022-09-21 07:40] nidhipurohit11 opened #32308 "Getting error on "Production Plan" creation"
### Information about bug

Steps -

- Creating a sales order with an item having BOM
- Creating a production plan where this sales order got fetched
- On saving the production plan getting server error "KeyError: 'item_code'"

Due to this, the cypress scripts are also breaking

![photo_2022-09-21 13 07 42](https://user-images.githubusercontent.com/82337328/191444031-a62fa41d-a8c6-492c-999d-98b921b

[2022-09-21 09:57] #32308 closed, assigned to rohitwaghchaure

[2022-09-21 10:19] gamusinhunter opened #32311 "Months in Sales Pipeline Analytics report are not translated"
### Information about bug

Despite being able to modify the translation of other components of this report which weren't translated via Translation by overriding it, months from graph aren't translated/translatable (at least when choosing ES as language).

![sales_pipeline_analytics](https://user-images.githubusercontent.com/97673308/191479598-f0ca344d-88e7-475c-a0d6-9d623ed4b44d.jpg)

### Module

[2022-09-21 13:14] toontoet commented on #27125
Noticing the same as @YamanQD using v14 at the moment.

[2022-09-21 14:42] #32243 closed, assigned to nobody

[2022-09-21 14:51] ossplus commented on #32266
You can edit the following file:
`nano /home/ubuntu/frappe-bench/apps/erpnext/erpnext/patches/v14_0/migrate_existing_lead_notes_as_per_the_new_format.py`
Change line 19 to :
`doc = frappe.get_doc({"doctype":doctype, "name":d.name})`

Then do bench merge step.
`bench --site  yoursitename migrate`

[2022-09-21 14:52] NguyenQuocDat-Mechatronic opened #32313 "Bug : typeError ‘in’ requies string as left operand, not bytes"
### Information about bug

Hello,
I use function * [CRM] / [Lead] /[CRM-LEAD-2022-00004]
On this page, I use the function to add “New Event”
![6dc6730133e0f7beaef1](https://user-images.githubusercontent.com/85825253/191537249-e9de4d13-8815-4896-84a1-204f3650b0a3.jpg)
![acd2dbec990d5d53041c](https://user-images.githubusercontent.com/85825253/191537471-35c20c1f-e4f3-4dc9-a836-c6adc7430b9c.jpg)

But

[2022-09-21 19:34] ahmedoryx opened #32318 "Allowing non stock items in POS ERPNext: v14.2.0"
### Information about bug

When adding a non-stock item or service in POS, an Error message appear: "Item Code: code# is not available under warehouse warehouse-name", I found this issue is already closed #28998.
![pos error msg](https://user-images.githubusercontent.com/109868787/191594360-2264cebf-b644-4ae8-816a-ec97c43b9fc9.png)

### Module

other

### Version

ERPNext: v14.2.0 (version-14)
Fra

[2022-09-21 23:07] ahmedoryx opened #32319 "POS zero amount payment is not allowed"
### Information about bug

Two cases POS can't handle:
1. 100% discount of the invoice: POS requires a payment is NOT equal to zero, even 0.01.
2. No partial payment or complete payment, the invoice is 100% credited to customer account: POS requires a payment is NOT equal to zero, even 0.01.
3.

### Module

accounts

### Version

ERPNext: v14.2.0 (version-14)
Frappe Framework: v14.8.0 (version-14)

[2022-09-21 23:17] ahmedoryx opened #32320 "POS customer exceeded the credit limit"
### Information about bug

When the customer make purchase and partially pay the invoice, POS allow to proceed even if the customer exceed the credit limit.
When closing the POS, the list of customers exceeded the credit limit appear, and cant proceed the closing process until the admin extend the credit limit of those customers.
As a seller in POS with limited permissions, the system should warn

[2022-09-21 23:50] ahmedbahgattt opened #32321 "ADD EXPIRY DATE OF BATCHES DURING PURCHASING"
THE PROBLEM
 in any retail business we need to add expiry date of items
(hundreeds)  while adding purchase recipiant
for tracking real stock of expiry items and many reasons

SOLUTION
the simpliest way is  adding batch expiry date in
purchase recipuant item   (child table)   not only batch

and this us manadatory and critical to any retail which dealing with thousands of items

[2022-09-22 02:23] samjaninf opened #32322 "Quickbooks Migrator fails on active years"
### Information about bug

Using the Quickbooks Migrator, the data was being migrated in until it reached the Journal Items. The generated about 601 errors because many of them were in previous years and they are not active. This was with a brand new instance of erpnext.

### Module

accounts

### Version

Frappe Version - 14.7.0
Erpnext Version - 14.1.2

### Installation method

manual install

#

[2022-09-22 03:01] Xuquansheng commented on #31760
I've tested official latest docker images, v14 is OK, while v13 is not.

[2022-09-22 04:09] PITPL-Kaushal-Khute opened #32323 "bug--When we click on the product name field and after that we click on the supplier field, the drop down box of the supplier field overlaps."
### Information about bug

-bug--When we click on the product name field and after that we click on the supplier field, the drop down box of the supplier field overlaps.
/home/pseudocode/Screenshot(7).png

### Module

other

### Version

frappe -13

### Installation method

manual install

### Relevant log output / Stack trace / Full Error Message.

_No response_

[2022-09-22 05:29] mastewalm commented on #31947
@dj12djdjs: I am still waiting for a response but @ruchamahabal is not responding. Any idea?

[2022-09-22 05:43] ruchamahabal commented on #31947
Hello, we will check this issue and respond. Please close all the duplicate ones

[2022-09-22 05:55] mastewalm commented on #31947
@ruchamahabal: ok thanks.

[2022-09-22 09:40] muchai opened #32326 "A few Bugs on Opening Invoice Creation Tool Tool"
### Information about bug

One, When upload button is used, the system does not capture party and amount, despite them being on the import template. The go around is to use the Data Import Tool, which imports the data correctly.

Two, and this is the major issue, after invoices are created from the tool, they are not deleted, and the Create Invoices button is still active, means a user can click o

[2022-09-22 10:47] muchai commented on #32326
This tool may not be very useful anymore, one can use SI/PI/JE of type Opening entry to achieve this.

[2022-09-22 11:25] FHenry commented on #32308
@rohitwaghchaure  in version-13 too

[2022-09-22 20:53] michalls01 commented on #32012
this has been somehow resolved in the latest 14V

[2022-09-22 21:02] michalls01 opened #32335 "Part of Settings is missing after migration from V13 to V14"
### Information about bug

Part of Settings is missing after migration from V13 to V14, please see screenshots. If the intention is to move the shortcuts to corresponding sections, then for example Project settings is completely gone from accessing through a shortcut link.

**V13**
![Screenshot 2022-09-22 at 22 56 54](https://user-images.githubusercontent.com/79514229/191849553-99e61265-8235-4d02-

[2022-09-23 07:04] FiloSpaTeam commented on #27617
After v14.2 the problem still there...

[2022-09-23 09:47] gouravsaini021 commented on #31887
I also have the Same Problem,
Then Debugging I Found that in my site **Party Type** Doctype is empty
So I insert the field "**Party Type**" to Customer and "**Account Type**" to Receivable and It Works
![image](https://user-images.githubusercontent.com/63018500/191935357-4a4eb886-766d-43d1-be2a-0ff12a6f1478.png)

Note:
By Uncheck field "User Cannot Create" in the Doctype setting of Party Type in D

[2022-09-23 09:55] gouravsaini021 commented on #31858
**For Developer Mode**:
By Uncheck field "User Cannot Create" in the Doctype setting of Party Type
![WhatsApp Image 2022-09-23 at 3 06 11 PM](https://user-images.githubusercontent.com/63018500/191936528-25d0cdf6-3846-4564-85d1-7886016712c9.jpeg)

**For Production Mode**
 If You are in Production Mode then update Json of Party Type Doctype by Following These Steps:
**Step 1**: Go to apps/erpnext/er

[2022-09-23 10:40] Olawale1 opened #32340 "No Way to Stop Recurring Additional Salary"
### Information about bug

Hi ,

It appears there’s no way to stop an Additional Salary document that is set as ‘Is Recurring’ which is quite an issue! We have a bunch of these recurring ones and now we need to make changes before the end date. Cancelling doesn’t work as it throws an error that the doc is linked to existing Salary Slips. I think the system should allow Cancellation (not Deletion)

[2022-09-23 14:16] fproldan commented on #23936
@palashjhabak Hi, were you able to fix it?

[2022-09-23 20:57] dj12djdjs commented on #32116
Renaming from List View isn't supported. You must open the record and rename it there.

If you have multiple documents to rename use the https://docs.erpnext.com/docs/v13/user/manual/en/using-erpnext/articles/bulk-rename

[2022-09-23 20:57] #32116 closed, assigned to nobody

[2022-09-24 09:18] Helkyd commented on #23240
Hi.
I see this error is still OPEN and until now for V12 not fixed and i see that is still happening on V13.21.

A feedback would be great.

[2022-09-24 10:27] maveezmh commented on #32033
May i know if there is any Uodate on above bug?

[2022-09-24 15:26] NguyenQuocDat-Mechatronic commented on #32313
Who can help me? please

[2022-09-24 15:45] ajiragroup opened #32342 "Developer mode not working"
### Information about bug

I enabled developer mode by modifying site_config.json. I created a new app ( say test_app ) and installed in the site. Next, one of these two things happen:
1. Internal server error appears on next refresh.
2. While creating a new doctype (under developer mode), the module def error occurs: Module test_app not found. This error appears repeatedly and eventually turns in

[2022-09-24 16:36] lvr26 commented on #31844
Maybe you can help enlighten me as to how then to apply discount in purchase invoice?

[2022-09-25 04:45] lvr26 commented on #31844
thanks all. issue solved

[2022-09-25 13:51] hameedacpa opened #32343 "wkhtmltopdf not support using unpatched qt"
### Information about bug

Sales invoices not generated by pressing PDF button

### Module

accounts, selling

### Version

ERPNext: v14.2.0 (version-14)
Frappe Framework: v14.8.0 (version-14)
wkhtmltopdf 0.12.6

### Installation method

manual install

### Relevant log output / Stack trace / Full Error Message.

[code]

[2022-09-25 16:22] GoldenScrew commented on #32116
Like I said before I can't to do it. Not possible.
![QIP Shot - Screen 266](https://user-images.githubusercontent.com/3992823/192154131-f48d52d6-e200-48f4-8091-1eff3a33c500.png)

[2022-09-25 21:36] quynhhuong99 opened #32345 "Template assessment_result_tool not found."
### Information about bug

Education -> Assessment Result Tool -> Select Assessment Plan -> Error "Template assessment_result_tool not found."
![image](https://user-images.githubusercontent.com/80334204/192166672-58bb011d-fffd-4eb7-a535-0687725e0428.png)

### Module

education

### Version

ERPNext version 14

### Installation method

_No response_

### Relevant log output / Stack trace / Full Err

[2022-09-25 22:52] naifattam commented on #31472
I am getting the same error message when submitting purchase invoice with different currency than base currency.

Hope to get help resolving this issue please?

[2022-09-26 04:55] #29081 closed, assigned to ruthra-kumar

[2022-09-26 08:38] maveezmh opened #32353 "Exchange Rate Revaluation Error"
### Information about bug

When we have change in exchange rate and make payment against a Supplier or Customer and we make a payment the amount balance in party currency will be zero but in the company currency it will show different values

refer to below screenshot for party currency ledger
![image](https://user-images.githubusercontent.com/112148467/192230203-df0f3214-8481-4558-86eb-23910e9991

[2022-09-26 09:32] #27172 closed, assigned to nobody

[2022-09-26 12:48] SeanFaulkner1 opened #32362 "Support for Next Generation Images in File List"
Hi Ankush,

We met at the conference and discussed the problem of web page speed being affected by image type.
Page speed insights thinks we could speed up the page speed by an average of more than 1 second if our images were in a next generation format such as jpeg 2000 or perhaps webP.

You said it might be possible to write a script to change all the jpeg images to a next generation format, so

[2022-09-26 12:57] SeanFaulkner1 commented on #32362
It's possible Jpeg 2000 is just not a good file type to do this with.
I'm not sure many browsers such as Chrome support it, which may be why I cannot see it.

Perhaps WebP would be better, but I don't have a way to do this conversion currently.

Many Thanks,
Sean

[2022-09-26 15:23] dj12djdjs commented on #32116
Some doctypes aren't allowed to be renamed by design, you can check this in the doctype definition.
Here you can see report doctype Allow Rename is un-checked.
![image](https://user-images.githubusercontent.com/29856401/192315922-a949c6ef-cd95-4f8a-9f8d-1bc82d489b4f.png)

This means the only way to "Rename" these reports is to create a new report with the desired name. Then ether disable or delete

[2022-09-27 14:00] nash22t commented on #15130
I have the same issue please check that

[2022-09-27 18:19] dj12djdjs commented on #32121
Introduced in: https://github.com/frappe/erpnext/pull/32009

[2022-09-27 18:59] dj12djdjs commented on #32121
@ruthra-kumar what is the expected run time of this patch?

`GL Entry`: ~77k
`Payment Ledger Entry`: ~23k

I'm waiting  over 60min for this patch to complete. I will update with the exact runtime once it's completed.

Edit: Total Patch Execution Time (~4 hours)
[code]

[2022-09-27 20:32] dj12djdjs commented on #32121
With only 23k payment ledger entries, the query results assigning to `pl_entries`
https://github.com/frappe/erpnext/blob/dbe4fdc73d2bd2b05c08dd7b7d6e1d3fd1c7c3c2/erpnext/patches/v14_0/migrate_remarks_from_gl_to_payment_ledger.py#L13-L35

The length of `pl_entries` is 195,888. Seems like something isn't right with the query.

[2022-09-27 21:22] abayomiawosusi opened #32388 "Issue with Email Domain and Email Accounts creation on ERPNext"
### Information about bug

We have a working email account that we want to connect to ERPNext and we have followed the documentation to add Email Domain and Email Account but it never worked. As a work-around we followed the steps below by creating a connector,
 then trying to add a New Email Domain) but it doesn’t seem to work.
I need help - Is there any suggestions to try?
What could be wrong?

[2022-09-28 03:44] erpitadmin opened #32390 "Special Character in Cost Center Name Causing Auto Naming Hit Error in Creating Budget"
### Information about bug

Because Budget is using Cost Center or Project name when creating its auto naming, so if special characters exist in Cost Center's name ( let's say 'P & L Company Cost Center' ), it will cause error in saving new Budget. But special character is allowed in Cost Center naming. Below is the code that causing issue.

erpnext/accounts/doctype/budget/budget.py
[code]

### Mod

[2022-09-28 04:37] Akashv2510 opened #32391 "Creating eBMR to link template or page with doctype"
### Information about bug

- Create New Template for one product (Ex: BMR-001) of any two stages (Line clearance, Granulation) and save the updated json in Template master(doctype).
- Create New Batch for created template master product (Ex: BMR-001).
- When BMR is created it should, get the updated template for product (Ex: BMR-001) from Template Master file and update the results/data and save t

[2022-09-28 06:15] maveezmh opened #32392 "Gross Profit is not getting Calculated properly for Product Bundles."
### Information about bug

We we have a product bundle with list of items in it and when you sell that bundled item the report is not able to generate profit based on bundles.

below is the screenshot of two items in bundle
![image](https://user-images.githubusercontent.com/112148467/192701031-7905963a-3d17-4c56-b0b6-9f5e279bbb9d.png)

Below is the screenshot of Delivery note and it is followed by

[2022-09-28 08:03] maharshivpatel commented on #31547
Hello, can you please update to latest version and let us know if issue still persists.

[2022-09-28 08:46] cphoa28 opened #32397 "Authorization Rule - Aftter saving the value for field "based on" remains "Not Applicable" regardless other selection"
### Information about bug

When creating or editing an Authorization Rule, the value for the field "Based On" is always set to "Not Applicable" no matter what other value you select.  This is true when direct editing or when you attempt to edit from list.

BEFORE:
![image](https://user-images.githubusercontent.com/20081843/192732588-8a443fbf-428f-4db0-a2b1-b7e47f0c3efe.png)

AFTER SAVE:
![image](h

[2022-09-28 08:46] cphoa28 opened #52990 "Authorization Rule - Aftter saving the value for field "based on" remains "Not Applicable" regardless other selection"
### Information about bug

When creating or editing an Authorization Rule, the value for the field "Based On" is always set to "Not Applicable" no matter what other value you select.  This is true when direct editing or when you attempt to edit from list.

BEFORE:
![image](https://user-images.githubusercontent.com/20081843/192732588-8a443fbf-428f-4db0-a2b1-b7e47f0c3efe.png)

AFTER SAVE:
![image](h

[2022-09-28 09:17] maveezmh opened #32400 "Error in General ledger print of Customer/supplier with different Currency than base"
### Information about bug

Whenever we have a customer or supplier with currency other than base currency and we goto accounting ledgers of that respective customer/supplier the ledger is loaded in customer/supplier's currency but when we generate pdf from that ledger the notation of currency(Currency Symbol) changes to company or Base currency. this is creating alot of issues with clients maintai

[2022-09-28 09:28] FiloSpaTeam opened #32401 "Webhook Header will get truncated, as characters allowed is 140"
### Information about bug

I'm using an external invoice system for e-invoicing that requires for webhooks a `Bearer Authentication`. Actually the token is more than 140 characters and i cannot use anymore theis APIs.

### Module

other

### Version

ERPNext: v14.2.0 (version-14)
Frappe Framework: v14.9.0 (version-14)

### Installation method

_No response_

### Relevant log output / Stack trace /

[2022-09-28 14:00] dgehriger opened #32409 "Incorrect account currency shown in new journal entry"
### Information about bug

I am using accounts in USD, EUR and CHF (the latter being the company currency).

When creating a new journal entry involving accounts in a currency different from the company currency, the correct currency is shown in the _Account Currency_ column of the _Accounting Entries_ table.

However, when either _duplicating_, or creating from a _template_, those same accounts w

[2022-09-28 14:49] #32388 closed, assigned to nobody

[2022-09-28 20:36] merlinwoff opened #32416 "Standard Wokring Hours as Float instead of Int"
Hi Guys

I am working for a small company in Switzerland and we are planning to start using ERPNext. During the testing phase, we noticed, that its only possible to define complete hours as the Standard Working Hours in the HR settings.

![Screenshot from 2022-09-28 22-34-45](https://user-images.githubusercontent.com/3635664/192883650-a768e139-6cca-4cb0-9644-38d0045f3235.png)

In Switzerland, it i

[2022-09-29 05:22] palashjhabak commented on #23936
@fproldan its been a long while since I raised the issue so don't exactly remember but I will check if I did something in my custom app to fix it and let you know.

PS: apologies for such a late reply

[2022-09-29 06:18] ruthra-kumar commented on #32121
Doesn't look right. Can we get more details?

Does the select query takes time or the batch-wise update? Any duplicate entries on the result set?

@dj12djdjs

[2022-09-29 08:15] rohitwaghchaure commented on #31535
@mro-admin

I am not able to replicate the issue locally

I have created Purchase Order and added same item 3 times in the Purchase Order Item table. Then I have created purchase receipt and removed row 2 & 3 and increased the quantity of first row from 1 to 3.

After Submission of purchase receipt, I have checked the PO status and it was showing correctly as "To Receive and Bill"

**Purchase Rece

[2022-09-29 08:15] #31535 closed, assigned to rohitwaghchaure

[2022-09-29 09:32] maharshivpatel commented on #32318
This issue has been fixed on the latest version of ERPNext. please update and let me know if you are still facing the issue.

[2022-09-29 09:42] maharshivpatel commented on #30986
@melBoh this issue is fixed on latest version of ERPNext (13.39.2) . please update and let me know if problem still persists.

[2022-09-29 11:09] blewsky commented on #31901
@maharshivpatel: Am on ERPNext: v13.39.0. Problem still persists and wrong currency symbols are shown.

[2022-09-29 11:37] anandbaburajan commented on #31836
@dhawal-mahajan does the asset have `maintenance_required` set?

[2022-09-29 13:00] ruchamahabal commented on #31705
What to fix?

Income Tax Computation Report tries to calculate component amounts configured in the salary structure. If there is any error while evaluating the formula like it's referring to some non-existing component/abbreviation, the error should be handled gracefully like:

Incorrect condition/formula while evaluating salary structure: {salary_struct_name}
And then show the error message

[2022-09-29 13:13] thida-bcn commented on #31836
we will provide very soon with latest version

[2022-09-29 15:18] muchai opened #32421 "TypeError: 'str' object does not support item assignment"
### Information about bug

Happens during update on fc.

### Module

CRM

### Version

ERPNext: v14.2.0 (HEAD)

Frappe Framework: v14.9.0 (HEAD)

Frappe HR: v1.0.0 (HEAD)

Payments: v0.0.1 (HEAD)

### Installation method

FrappeCloud

### Relevant log output / Stack trace / Full Error Message.

[code]

[2022-09-29 16:36] erpwala opened #32422 "ImportError: cannot import name 'add_data_to_monitor' from 'frappe.monitor' (apps/frappe/frappe/monitor.py)"
### Information about bug

Traceback (most recent call last):
  File "apps/frappe/frappe/app.py", line 69, in application
    response = frappe.api.handle()
  File "apps/frappe/frappe/api.py", line 54, in handle
    return frappe.handler.handle()
  File "apps/frappe/frappe/handler.py", line 45, in handle
    data = execute_cmd(cmd)
  File "apps/frappe/frappe/handler.py", line 83, in execute_cmd

[2022-09-29 17:19] mohsinalimat commented on #32422
Same issue facing. https://github.com/frappe/frappe/issues/18258

[2022-09-30 02:35] ruthra-kumar commented on #31749
Can't reproduce locally. There is a high chance that this is data related issue. You can cross verify month wise totals with general ledger to locate the discrepancy.

[2022-09-30 04:31] mohsinalimat commented on #32422
@erpwala Please update the latest version-14.

[2022-09-30 04:57] ankush commented on #32422
You need to restart bench properly after updating.

[2022-09-30 04:57] #32422 closed, assigned to nobody

[2022-09-30 09:51] johnathon-walnut opened #32427 "Can not select a country when adding a New Address"
### Information about bug

When attempting to place an order, I have to supply a Shipping Address, and while all other fields seem to allow input, the Country field forces you to select from a list - when selecting a country (i.e. United Kingdom) or if you type the country name it instantly clears once you click away/click the option.

Below is a gif of how I am attemping to input the country, alt

[2022-09-30 10:56] Andreychik32 opened #32437 "AttributeError: 'Meta' object has no attribute 'issingle' while migrating"
### Information about bug

Hi!

I've decided to migrate from v13 to v14 docker installation.

I've backed up all of my v13 data and added it to fress installation of v14 using this guide: https://github.com/frappe/erpnext/wiki/Restoring-From-ERPNext-Backup#version-9-restore-via-frappe-bench

After that, when I run `bench migrate`, some migrations work, but eventually it comes to the error in logs.

[2022-09-30 11:55] rtdany10 commented on #32409
Even though it shows wrong currency while duplicating, it will be updated to correct value when you save the journal entry.

[2022-09-30 12:03] rtdany10 commented on #32400
Did you try setting the currency filter to USD and then generating the PDF?

[2022-09-30 12:24] rtdany10 commented on #25646
Similar issue #31845
@ankush

[2022-09-30 15:36] fgiering opened #32442 "Typo in "Purchase Invoice""
### Information about bug

There is an typo in the key so you can't turn Purchase Invoices into different DocTypes with the bulk transaction processing.

https://github.com/frappe/erpnext/blob/793295cfe99800acf140b0b2b9e8d84c4043e38b/erpnext/utilities/bulk_transaction.py#L97

### Module

buying

### Version

ERPNext: 14.2.1

### Installation method

_No response_

### Relevant log output / Stack t

[2022-09-30 17:42] cwooldridge commented on #32437
There is a patch for this in frappe.
https://github.com/frappe/frappe/pull/18236/commits

[2022-09-30 20:53] dgehriger commented on #32409
@rtdany10 : thanks for your answer. The problem is that the difference calculations will be incorrect. In the screenshot above, line 1 and 3 are in USD, whereas 2 is in the company currency, which is CHF.

I fill in 1 & 3, and then click on the difference entry button to calculate the amount for 2 (Sales Expenses). That value will be wrong if the currency is wrong.

[2022-10-01 01:14] dj12djdjs commented on #32437
Thanks @cwooldridge

https://github.com/frappe/frappe/pull/18236

[2022-10-01 01:14] #32437 closed, assigned to nobody

[2022-10-01 01:33] dj12djdjs commented on #32427
Yeah, looks like its passing `frappe.boot.link_title_doctypes` which is undefined at the time of calling `in_list`

![image](https://user-images.githubusercontent.com/29856401/193377914-188b26ec-c33a-4abd-aa59-39fabbfa49fd.png)

[2022-10-01 01:43] dj12djdjs commented on #32421
Looks like this should have been fixed in: https://github.com/frappe/erpnext/pull/32091
I see you are running latest version.

cc: @nabinhait

[2022-10-01 01:51] dj12djdjs commented on #32416
All occurrences of `working_hours` is of type Float. So it makes sense `standard_working_hours` should also be of type float.
https://github.com/frappe/hrms/search?l=JSON&q=working_hours

@merlinwoff This can be easily changed, if you have the time to update the field type in DocType form and make a PR at https://github.com/frappe/hrms

[2022-10-01 02:13] dj12djdjs commented on #32409
@dgehriger Please see my attached screen capture, are we looking a the same bug?

**Steps to Reproduce**
1. Duplicate an existing multi-currency journal entry.
2. Modify the target company currency account.
3. Clear previous company currency amount.
4. Click "Make Difference Entry" (Note at this time UI shows transaction as balanced)
5. Save -> throw validation error transaction is not balanced.

[2022-10-01 02:31] dj12djdjs commented on #32400
@maveezmh Did you generate the PDF directly from the page you took your first screen shot? I just tried replicating and the PDF shows in the correct account currency.

[2022-10-01 02:42] dj12djdjs commented on #32397
This validation is basically saying, if there are not errors, set based_on = "Not Applicable"  🤔

https://github.com/frappe/erpnext/blob/c9275f156ef8154676364f5ccb9af8ba929dad69/erpnext/setup/doctype/authorization_rule/authorization_rule.py#L34-L59

[2022-10-01 02:42] dj12djdjs commented on #52990
This validation is basically saying, if there are not errors, set based_on = "Not Applicable"  🤔

https://github.com/frappe/erpnext/blob/c9275f156ef8154676364f5ccb9af8ba929dad69/erpnext/setup/doctype/authorization_rule/authorization_rule.py#L34-L59

[2022-10-01 02:56] dj12djdjs commented on #32342
Steps:
1. `bench init frappe-bench`
2. `cd frappe-bench
`3. `bench get-app  --resolve-deps erpnext`
4. `bench new-app myapp`
5. Fill out bench prompts
6. ` bench new-site --mariadb-root-username {DB_ROOT_USER} localhost`
7. `bench --site localhost set-config developer_mode 1`
8. `bench --site localhost install-app erpnext`
9. `bench --site localhost install-app myapp`

With these steps it worked.

[2022-10-01 03:03] dj12djdjs commented on #32335
TODO:
-  Add Projects Settings link to Project workspace.

[2022-10-01 03:07] dj12djdjs commented on #32343
As per: https://frappeframework.com/docs/v14/user/en/installation#pre-requisites

wkhtmltopdf with patched qt is required

[2022-10-01 03:07] #32343 closed, assigned to nobody

[2022-10-01 04:23] rtdany10 commented on #32409
Unchecking _No Copy_ for the currency field seems to have fixed the issue. But, was _No Copy_ enabled for some other reason?
@deepeshgarg007

[2022-10-01 05:44] maveezmh opened #32448 "Work in Progress Account in selling Process"
Most of the companies work on Project basis so the deliveries happen every now and then but the invoices get generated once in a while.

**Problem :**  As the customers are billed only once in a while but deliveries happen frequently most of the clent facing issues in Balance sheet and PnL statements as one month the expenses will be high due to more deliveries and less invoicing and next month pr

[2022-10-01 05:50] maveezmh commented on #32400
@rtdany10
We have multiple customers with different currencies and its not a feasible solution to select customer currency whenever we need to generate pdf of his SOA.

[2022-10-01 05:54] maveezmh commented on #32400
@dj12djdjs  the PDF works fine for customers/suppliers with base currencies. it has issue only when the customer's/supplier's billing currency and party accounts are in different currency than base currency.

Ex:
When you select a customer with different currency the general ledger properly shows the statement as per customer currency and currency symbol but when you generate PDF the values will b

[2022-10-01 06:35] maveezmh opened #32450 "Payment entry ledger is linked to cancelled invoice. Unable to delete Sales invoice"
### Information about bug

When an invoice is cancelled with payment entry the payment entry gets unlinked but unable to delete the cancelled sales invoice. it throws following error

![image](https://user-images.githubusercontent.com/112148467/193396102-00dc7d39-b5b7-460b-92e0-5ffa11cebb3f.png)

the payment entry is unlinked but the payment entry ledger is still linked to sales invoice
Invoice ca

[2022-10-01 06:42] nrhdasa opened #32451 "POS delaying too much to fetch items' details"
### Information about bug

![image](https://user-images.githubusercontent.com/40687270/193396297-eadab510-04c4-4bb5-9bc7-d1dcb9a0fbdc.png)

The API responsible for fetching items is delaying very significantly to complete the task. Please help.

API : `api/method/erpnext.selling.page.point_of_sale.point_of_sale.get_items`

![image](https://user-images.githubusercontent.com/40687270/193396390-28296

[2022-10-01 09:14] #22609 closed, assigned to nobody

[2022-10-01 19:55] dj12djdjs commented on #32313
@NguyenQuocDat-Mechatronic Please click "Copy error to Clipboard" and past the error message here. Thank you

[2022-10-01 20:41] dj12djdjs commented on #25646
I've run into this before. I remember the User ID field and the primary email address in Contact  have to be the same. If the emails are different then a new Customer will get created.

[2022-10-01 21:20] hiweye commented on #20243
Same issue on
ERPNext: v14.2.1 (HEAD)
Frappe Framework: v14.9.0 (HEAD)

The issue is that the event's owner is the guest. The easiest fix would be to set the agent (=user) as owner.
![image](https://user-images.githubusercontent.com/54437773/193428697-26eff8aa-f106-4912-80eb-6e98d66877ac.png)

[2022-10-01 21:24] backendoadmin commented on #20243
Same issue on
ERPNext: v14.2.1 (HEAD)
Frappe Framework: v14.9.0 (HEAD)

The issue is that the event's owner is the guest. The easiest fix would be to set the agent (=user) as owner.
![image](https://user-images.githubusercontent.com/5338127/193428842-f80d1d70-7768-409c-96e0-fea435b8e0db.png)

[2022-10-01 21:27] backendoadmin commented on #28707
Sync issue from Google Calendar with wrong from to date&time to ERPNext still occurs. (it uses current date&time)
ERPNext: v14.2.1 (HEAD)
Frappe Framework: v14.9.0 (HEAD)

Full-day event sync works in both directions and event sync from ERPNext to Google Calendar with precise date&time works too.

[2022-10-01 21:33] backendoadmin opened #32455 "Change the active/selected timeslot's color on appointment booking screen"
It still uses the old ERPNext design, that was #5e64ff
![image](https://user-images.githubusercontent.com/5338127/193429201-81a70a44-8df4-4b6f-b387-c55e85c04ccc.png)

Please change to the new color: #2490ef
![image](https://user-images.githubusercontent.com/5338127/193429215-4b8de13b-eb58-4a44-a0c9-a07f1b5068cf.png)

Thank you

[2022-10-02 12:53] NguyenQuocDat-Mechatronic commented on #32313
I clicked "Copy error to Clipboard" . But I didn't receive anything. when I use pasted , no thing is appeared

[2022-10-02 17:00] #32455 closed, assigned to nobody

[2022-10-02 17:13] NguyenQuocDat-Mechatronic commented on #32313
however , I saw waring in terminal.  I think it relate with this waring. you can see img bellow.

![2022-10-02_23-22_1](https://user-images.githubusercontent.com/85825253/193467048-f52817f2-830d-465a-9d8f-6d7f7ce54830.png)

[2022-10-02 17:58] dj12djdjs commented on #32313
@NguyenQuocDat-Mechatronic If you open up the browser console, you should see the error message there as well. Could you copy and paste from the browser console ?

[2022-10-02 18:20] mujeerhashmi commented on #32421
I am also facing this issue

[2022-10-02 18:51] mujeerhashmi commented on #32421
Ok. Resolved by setting the notes to "" for the lead that was causing the issue.
First Go to `bench mariadb` and see which all leads have notes set.
[code]
Then Go to `bench console`
[code]

[2022-10-03 02:50] mujeerhashmi commented on #32421
Also check https://github.com/frappe/erpnext/issues/32266#issuecomment-1253825386

[2022-10-03 02:56] tienhm0202 commented on #13727
I can be a good integration with [pytracking](https://github.com/powergo/pytracking)

Just add:

1. Format function to modify email content before sending
2. APIs endpoint to handle event tracking (basically open and click)

[2022-10-03 05:29] #32442 closed, assigned to nobody

[2022-10-03 05:40] maveezmh commented on #32400
@dj12djdjs Can you please check it once?

[2022-10-03 07:30] #31836 closed, assigned to nobody

[2022-10-03 07:30] #31620 closed, assigned to nobody

[2022-10-03 07:34] dgehriger commented on #32409
Yes, that's exactly what I am observing.

[2022-10-03 07:46] dgehriger commented on #32409
@rtdany10

Indeed, unchecking _No Copy_ in _Journal_ Entry Account_ fixes it when _duplicating existing journal entries_. It does, however, not fix it for _Journal Entry Templates_. The latter directly reference the _Account_ DocType, which doesn't have _No Copy_ checked anyway.

[2022-10-03 07:50] sumeetagra opened #32471 "Invoice outstanding amount is higher than invoice amount"
### Information about bug

As per attached Screenshot, Customer Outstanding Amount against an Invoice is showing higher than the actual Invoice Amount. There is an error with the Payment Ledger Entry which is automatically created by the system.

### Module

accounts
![Screenshot 2022-10-03 at 1 18 30 PM](https://user-images.githubusercontent.com/19186564/193526680-c67e38b4-47cf-4a36-aee3-7cfa48f8

[2022-10-03 08:08] jayan13 commented on #30766
apps/frappe/frappe/desk/reportview.py
get_filters_cond()
line 687
elif isinstance(f[1], (list, tuple)) and f[1][0] in (
">",
"<",
">=",
"<=",
"!=",
"like",
"not like",
"in",
"not in",
"between",
):

update in values
-----------------
elif isinstance(f[1], (list, tuple)) and f[1][0] in (
"=",
">",
"<",
">=",
"<=",
"!=",
"like",
"not like",
"in",
"not in",
"Between",
"between",
):

[2022-10-03 09:41] jeshani opened #32475 "Drop down items are not loading after clicking on profile."
### Information about bug

Recently updated the ERPNext v14.0.0 to v14.2.1 using `bench update `.
Everything works fine but Dropdown items are not getting loaded after clicking on profile.

### Module

other

### Version

Frappe - v14.9.0
ERPNext - v14.2.1

<img width="895" alt="bug_erpnext" src="https://user-images.githubusercontent.com/56191568/193546557-6ba2b79f-cd43-425f-9b95-e61525d525f2.png"

[2022-10-03 09:51] johnathon-walnut commented on #32427
I did look into this a little bit more, it seems to be an issue with frappe itself. A solution that allowed me to place an order was to just put
[code]

into the browser console, which allowed me to setup an address.

I found this when searching for where link_title_doctypes is set, and saw it in `cypress/integration/control_link.js`

Obviously this isn't ideal, but since I'm just testing this wor

[2022-10-03 12:18] AliShaatani commented on #12996
This Path in my machine is empty
 /etc/systemd/system/mysqld.service

Could the path had been changing for the the newer releases ?

I'm using V14

[2022-10-03 13:09] amecreate commented on #25646
I verified and here is how to recreate the bug on my end:

- User ID and Primary Email are the same in Contact
- User has only one role Customer
- In Portal Settings, Default Role at Time of Signup is set to Customer
- Log in and out several times
- A new customer is created every time the user logs in.

ERPNext 13.36.5
Frappe 13.39.1

[2022-10-03 14:12] rtdany10 commented on #32409
@dgehriger I've sent a PR to fix the issue.

[2022-10-03 14:41] dj12djdjs commented on #32121
@ruthra-kumar There are many duplicate entries on the result set. I've made a dump file with query and record info for your review.
[debug.ods](https://github.com/frappe/erpnext/files/9698301/debug.ods)

[2022-10-03 14:54] AlexanderF123 opened #32479 "Preview for files"
Currently, files are represented by doctypes and not by their content. To see the documents one must download them.#
It would be a great improvement if there was a preview for all relevant file types, e.g. PDF, email, DOC, XLS etc.
This is to be everywhere where files are listed, esp. in the file manager but also in emails, attachments etc.

The realisation seems to be not too much work since ther

[2022-10-03 15:00] AlexanderF123 commented on #6674
The full text search should include email and document content, ideally also using OCR to read pictures and PDFs.

[2022-10-03 15:11] AlexanderF123 commented on #31742
The full text search should include email and document content, ideally also using OCR to read pictures and PDFs.

[2022-10-03 15:37] AlexanderF123 opened #32480 "Search for english and translated text"
We work with the German translated version 14 of ERPnext. When searching for functions one often looks for the english words. They cannot be found when translated.
The search function should find all texts (esp. menu items, technical terms etc.) in the translated and the original english expressions.

[2022-10-03 15:42] AlexanderF123 opened #32481 "Menu with all functions"
The standard menu of ERPnext shows only the most commonly used functions. Functions like subscriptions are not listed there. One can only use them if one knows they exist and if the correct term is available to search them.

E.g. subscriptions are found inside the bookkeeping module, but are not listed there.

There should be a list or menu in which every function is listed that is available. One

[2022-10-03 15:43] tsothun opened #32482 "Option to select Letter Head for excel export"
When export to excel there is only a raw data output.
There should be a Letter Head to select like Print and PDF and format of table  should go along too.
When export only raw data to excel it consumes so much time to redesign the format again in excel like table , footer , signature in different languages.

ERPNext: v13.37.0 (version-13)

Frappe Framework: v13.40.0 (version-13)

[2022-10-03 15:46] AlexanderF123 opened #32483 "app store for third party apps"
Like with other platforms there exist third party apps that extend and improve ERPnext. It would be great to find them in one place. Similar to odoo.

Also it would be great to install them using an app store.

[2022-10-03 20:28] dj12djdjs commented on #32483
You can find apps on the frappe cloud market place: https://frappecloud.com/marketplace

[2022-10-03 22:57] moltar opened #32484 "Demo: Invalid login credentials"
### Information about bug

URL: https://prime.erpnext.com/demo

Click: Launch Demo

The login button hangs.

---

I think someone must have changed the password of the demo account.

Maybe this functionality needs to be disabled in the demo?

### Module

accounts

### Version

N/A

### Installation method

_No response_

### Relevant log output / Stack trace / Full Error Message.

[code]

[2022-10-03 23:48] error-id opened #32485 "Additional discount bug"
### Information about bug

Conditions :  pricing rule set for particular customer.
new quotation based on the customer and pricing rule automatic applied.

when adding additional discount. (based on net total ) the discount is applied but not the final total amount is not changed.
(grand total is not changed.)  the grand total shall be (Net total - addition discount(based on net toal ) Plus Tax

O

[2022-10-04 00:26] ruhnet opened #32486 "Custom Print Format Gives weasyprint libcairo2 error (on Docker Installation)"
### Information about bug

When previewing the standard print format, there is no error, but with a custom format there is an error.

Steps to reproduce:
1. Open a sales invoice
2. Click the print button at top right. (preview will be shown)
3. Click "Try the new Print Format Builder" above the preview.
4. Dialog will popup asking if you want to edit or create new. Select create new and name it so

[2022-10-04 02:25] dakshithasp opened #32487 "Distributed cost centers for an employee"
### Information about bug

Hi All,

Is there a way to assign a single employee to multiple cost centers based on percentages?

There is an ERPNext documentation page under salary structure assignment which cannot be actually found under the salary structure assignment page on the system (https://docs.erpnext.com/docs/v13/user/manual/en/human-resources/payroll-entry)..

Should we adjust the salary

[2022-10-04 03:52] aakvatech opened #32488 "perf: return_against index not used as it is part of a composite index requiring customer"
When the get_returned_qty_map is called from make_sales_invoice, the customer name is not passed, and therefore the composite index  customer_is_return_return_against_index is not used. This results into a full table scan.

Adding either customer or creating a separate index (not worth?) is required to improve the full table scan.

[2022-10-04 14:22] pawanraj7 opened #32495 "Shopify Settings page is not showing"
### Information about bug

tried to integrate Shopify with ERPNext but the Shopify settings page is seen as blank

### Module

integrations

### Version

ERPNEXT Version 13.39.0

### Installation method

_No response_

### Relevant log output / Stack trace / Full Error Message.

_No response_

[2022-10-04 15:00] louishot opened #32496 "frappe.core.doctype.user.user.create_contact and Unable to setup regional tax settings"
### Information about bug

Hello,

I deployed using docker and saw several errors frappe.core.doctype.user.user.create_contact after finishing the setup and in admin area

### Module

other

### Version

ERPNext: v14.2.1
Frappe Framework: v14.9.0
Payments: v0.0.1

### Installation method

docker

### Relevant log output / Stack trace / Full Error Message.

[code]

[2022-10-04 21:23] ahmedoryx commented on #32318
Hello Sir,
I already updated to the latest version and the problem is still there.
Any advice?

Thank you for your interaction

Ahmed

‫في الخميس، 29 سبتمبر 2022 في 12:32 م تمت كتابة ما يلي بواسطة ‪Maharshi
Patel‬‏ ***@***.***‬‏>:‬

[2022-10-04 21:27] maharshivpatel commented on #32318
@ahmedoryx can you please share information like item settings as well as process you are following when you are getting this error

[2022-10-04 21:51] ahmedoryx commented on #32318
My mistake, It is working. Thank you Sir.

[2022-10-05 03:50] AravindPranera opened #32498 "Validate the Subcontract Item code and Batch no against the purchase order"
Hi,

When  we are receiving the raw materials item which sent for subcontract purpose, we will do the Stock Entry - Material Transfer  as purpose against the purchase order. At that time we have to validate the item  and batch as whether this was sent against this purchase order or not.

[2022-10-05 03:56] #32318 closed, assigned to maharshivpatel

[2022-10-05 03:58] maharshivpatel commented on #31547
I am closing the issue as it has been fixed. if you are still facing the issue please let me know.

[2022-10-05 03:58] #31547 closed, assigned to maharshivpatel

[2022-10-05 04:59] #30618 closed, assigned to nobody

[2022-10-05 10:06] michalls01 commented on #32421
Also facing this error when migrating on Frappe Cloud:

Traceback (most recent call last):
  File "/usr/lib/python3.10/runpy.py", line 196, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "/usr/lib/python3.10/runpy.py", line 86, in _run_code
    exec(code, run_globals)
  File "/home/frappe/frappe-bench/apps/frappe/frappe/utils/bench_helper.py", line 109, in <module>

[2022-10-05 10:34] #32121 closed, assigned to ruthra-kumar

[2022-10-05 10:38] #32409 closed, assigned to nobody

[2022-10-05 13:51] ajiragroup commented on #32342
We followed the steps as described in the link below.
Only change in the steps in the link is we selected to install ERPNext v14.0.1 instead of the latest. We let the bench download the latest Frappe.

 Installation worked perfectly, without any errors.

We will check the corrections as you suggested and update you soon. Thanks!

https://discuss.erpnext.com/t/guide-how-to-install-erpnext-v14-on-li

[2022-10-05 14:42] muchai opened #32506 "Displaying of item price, actual qty, on add multiple window and on add row"
Include Item Price(based on customer selected price list), and actual quantity (of default warehouse) on Add Multiple window. I.e. More or less same details that appear on card window on retail screen.

If possible, quantity of default warehouse too on add row
![image](https://user-images.githubusercontent.com/1822868/197756275-59a766ab-ac8c-4eab-86a5-dd615ef77033.png)

If it's possible to paramet

[2022-10-05 14:52] muchai opened #32507 "Include Source Warehouses on Item-wise Sales Register and Item-wise Sales History reports"
Include Source Warehouses on Item-wise Sales Register and Item-wise Sales History reports

[2022-10-05 15:01] muchai opened #32508 "Draft: enhancements that would ease and automate a few tasks on Stock and Buying modules"
To be filled fully in next week ending 5th November 2022.

- Page/Report showing list of item, supplier, lead time, last supplier price, sold qty, actual qty, button to create PO, idea is user can click on row with least supplier price to create PO. Similar to Stock summary functionality that creates a stock entry.
- Automation of Safety Stock updates for each item
- Automation of Re-order levels

[2022-10-05 15:04] NguyenQuocDat-Mechatronic commented on #32313
Now I have just fix this error. Thank you for support. In the future, If I meet Error, I will share it

[2022-10-05 15:12] francescocarzaniga commented on #32484
Issue is still present.

[2022-10-05 15:31] cdiethelm commented on #52290
@barredterra Do you know if there is a quick fix available?
This issue is also mentioned in: https://discuss.erpnext.com/t/unable-to-import-subscription/85496

[2022-10-05 15:38] barredterra commented on #52290
@cdiethelm a workaround is mentioned at the end of the issue description.

[2022-10-05 15:55] cdiethelm commented on #52290
@barredterra Thank you! 👍

[2022-10-05 17:17] #32313 closed, assigned to nobody

[2022-10-05 17:35] codezart opened #32511 "Subscription Plan doctype is calculating incorrect number of months for Monthly price rate"
### Information about bug

https://github.com/frappe/erpnext/blob/da43a5e371dede52acd26791ffa80ba4a13fc0ef/erpnext/accounts/doctype/subscription_plan/subscription_plan.py#L52

The `Subscription Plan` doctype, is counting an extra month for subscriptions when the plan's price determination is set to "Monthly" and the billing is yearly.

Instead of counting 12 months it is counting 13.

### Module

[2022-10-06 04:29] #31376 closed, assigned to nobody

[2022-10-06 04:30] #29192 closed, assigned to nobody

[2022-10-06 04:30] #26054 closed, assigned to nobody

[2022-10-06 04:30] #25821 closed, assigned to nobody

[2022-10-06 06:09] pawanraj7 opened #32514 "Shopify Integration Issue"
### Information about bug

Tried integrating Shopify with ERPNEXT but facing Nontype Error

### Module

ecommerce, integrations

### Version

ERPNext - [v13.39.4]

### Installation method

FrappeCloud

### Relevant log output / Stack trace / Full Error Message.

[code]
### Route
[code]
### Trackeback
[code]
### Request Data
[code]
### Response Data
[code]
[code]

[2022-10-06 07:53] maharshivpatel commented on #32484
@moltar @francescocarzaniga https://prime.erpnext.com/demo is not a valid demo site. This site is created by someone from community.

If you want to try ERPNext you can always go to https://frappecloud.com/ and signup for free trial.

[2022-10-06 07:53] #32484 closed, assigned to nobody

[2022-10-06 08:40] ruthra-kumar commented on #31786
Not necessarily. Average buying amount is calculated on the valuation method maintained either at item master or at stock settings. If you have `Moving Average` valuation method, then 5 INR as buying amount and 25 INR as profit is correct. I presumed moving average as valuation method here since you mentioned 5 INR.

This won't work for non-delivery based items.

[2022-10-06 09:24] deepeshgarg007 commented on #32487
@dakshithasp Please refer to this https://docs.erpnext.com/docs/v13/user/manual/en/accounts/distributed-cost-center for enabling distributed cost center.

In version 13 it only works on the report level and there is no effect on the GL entries, from v14 onwards this have been moved to Cost center allocation and also has an effect on GL Entries

https://docs.erpnext.com/docs/v14/user/manual/en/cost

[2022-10-06 09:24] #32487 closed, assigned to nobody

[2022-10-06 09:32] deepeshgarg007 commented on #32391
@Akashv2510 This looks like your own customization issue, the doctype that you have mentioned doesn't exist in the core. Closing this issue.

[2022-10-06 09:32] #32391 closed, assigned to nobody

[2022-10-06 09:44] rtdany10 commented on #31786
Service items? Buying rate for service items are 0 so it shouldn't be an issue?

[2022-10-06 09:48] rtdany10 commented on #31786
@ruthra-kumar why remove the valid label? :thinking:

[2022-10-06 10:08] #30986 closed, assigned to nobody

[2022-10-06 10:24] dakshithasp commented on #32487
Hi Deepesh,

Does this mean that the distributed cost center will be an option for employees as well? during which we can allocate their cost under different cost centers at the time a salary structure is assgned to them?

[2022-10-06 10:36] dakshithasp opened #32517 "Employee Cost Center Distribution"
### Information about bug

Hi All,

Is there a way to assign a single employee to multiple cost centers based on percentages?

There is an ERPNext documentation page under salary structure assignment which cannot be actually found under the salary structure assignment page on the system (https://docs.erpnext.com/docs/v13/user/manual/en/human-resources/payroll-entry)..

Should we adjust the salary

[2022-10-06 11:42] #32483 closed, assigned to nobody

[2022-10-06 11:42] ankush commented on #32483
There's also: https://github.com/gavindsouza/awesome-frappe

[2022-10-06 11:43] ankush commented on #32421
This should be fixed after https://github.com/frappe/frappe/pull/18032

[2022-10-06 11:43] #32421 closed, assigned to nabinhait

[2022-10-06 11:46] ankush commented on #32488
IMO this composite index shouldn't be used for return filtering. For a very simple reason:

`return_against` ALONE has very high cardinality. i.e. you'll filter out pretty much entire table down to very few invoices which are returned against a given document. Customer/is return makes little difference here.

This should be separately added maybe because current composite index is added here for d

[2022-10-06 12:23] ruthra-kumar commented on #32471
Check the Payment Ledger entries for this invoice. Go to Payment Ledger Entry -> report view -> apply filter on `Against Voucher No` == Sales Invoice and `delinked`  == No. Ideally, the total amount on the filtered entries should add up to the outstanding amount.
Can you post those entries?

[2022-10-06 12:25] hatimohsin commented on #32508
Yes, would be a very powerful feature!

[2022-10-06 13:12] ankush commented on #32266
fixed with https://github.com/frappe/frappe/pull/18032

[2022-10-06 13:12] #32266 closed, assigned to nabinhait

[2022-10-06 13:28] sumeetagra commented on #32471
Attached screenshot for your reference. In this case I've applied a filter
on 1 invoice, there are 3 ledger entries coming up for the same invoice.
The total Invoice value is Rs.372640.00, but the total Payment ledger value
is 3 times of the invoice value.

Best Regards
Sumeet Goyal | Director
Goyal Group

On Thu, Oct 6, 2022 at 5:54 PM ruthra kumar ***@***.***>
wrote:

[2022-10-06 14:31] ankush commented on #32390
Just convert this to naming series and remove `autoname`

We shouldn't ever be hardcoding autoname in code like this 😅

[2022-10-06 15:15] ruthra-kumar commented on #32471
screenshot is missing

[2022-10-07 04:17] daffigusti commented on #32486
same here...

[2022-10-07 04:36] ruthra-kumar commented on #31749
Closing this for now as the issue seems to be data related.

[2022-10-07 04:36] #31749 closed, assigned to ruthra-kumar

[2022-10-07 05:08] ruthra-kumar commented on #31786
Not because of the buying rate, rather it would make the report more rigid if delivery note is a must for each invoice.

Based on my testing, report does calculate buying rate correctly based on the valuation method. You can ignore my earlier comment about using the average rate from whole transaction. I overlooked the item valuation method on my testing.
Report did calculate the right buying amou

[2022-10-07 07:13] vamagithub commented on #31459
Can I work on this Issue?

[2022-10-07 07:14] vamagithub commented on #32258
Can i work on this issue?

[2022-10-07 07:23] maharshivpatel commented on #31459
@vamagithub Sure.

[2022-10-07 08:38] sumeetagra commented on #32471
![Screenshot 2022-10-06 at 6 56 08 PM](https://user-images.githubusercontent.com/19186564/194510886-7ca38e23-30f1-4f4a-952f-71e5b9bbadb0.png)

[2022-10-07 09:46] anandbaburajan commented on #32390
@ankush I didn't get how that solves the problem. Even after we convert it into a naming series, they can't use an '&' in the budget name right since it would still throw an `InvalidNamingSeriesError` because of the '&'. Also, are you suggesting to remove https://frappeframework.com/docs/v14/user/en/basics/doctypes/naming#by-controller-method?

[2022-10-07 09:49] bahaajobs commented on #32227
does anyone need any kind of help on this request?

[2022-10-07 09:52] szufisher commented on #32480
I implemented the mentioned feature  in a custom APP, for both awesome bar search and link search on special doctypes such as DocType, DocField, Role, Report.

[2022-10-07 11:04] ruthra-kumar commented on #32471
Is there any payment made for these Invoices? Is the `Update Stock` checkbox enabled for this invoice?
In the screenshot you've filtered on `Voucher No`. But to analyze further, do a filter on `Against Voucher No` with the same invoice no like shown below and post a screenshot.

<img width="1099" alt="Screenshot 2022-10-07 at 4 31 02 PM" src="https://user-images.githubusercontent.com/3272205/19453

[2022-10-07 11:10] s-aga-r commented on #32258
@vamagithub Yes, if you are interested.

[2022-10-07 11:17] sumeetagra commented on #32471
![Screenshot 2022-10-07 at 4 46 38 PM](https://user-images.githubusercontent.com/19186564/194541018-3c0eace5-12d8-4604-b309-5fdc0a236b27.png)

Attached Screen shot as per mentioned filters. No payment is made for this invoice yet. Update Stock checkbox is enabled.

[2022-10-07 12:58] ankush commented on #32390
@AnandBaburajan they can. Naming series validation only applies on template and not field values. Here the code is passing field values already substituted in the template.

[2022-10-08 05:02] NEW-MTC-ERP1 commented on #32471
same issue here,
Outstanding amount is double the invoice amount, this goes for purchase and sales invoices, knowng that no payments have been made for these transactions:
<img width="431" alt="image" src="https://user-images.githubusercontent.com/114433956/194689450-c215c438-da0f-403a-9126-47d37f35c442.png">
<img width="365" alt="image" src="https://user-images.githubusercontent.com/114433956/194

[2022-10-08 05:30] s-aga-r commented on #28520
![image](https://user-images.githubusercontent.com/63660334/194690295-e9e5191f-7842-4aa2-9d98-1a143635508c.png)

Steps to reproduce: Set Source and Target Warehouse before selecting the Item.

[2022-10-08 06:56] s-aga-r commented on #28520
It's fetching the Target Warehouse from Item Defaults (Item master).

Edit: Not reproducible, closing for now.

[2022-10-08 12:00] AlexanderF123 commented on #32480
Is that app available for V14? How can we get it?

[2022-10-08 12:04] AlexanderF123 opened #32531 "Mouseover as help"
Mouseover effects are simple ways to explain names, fields, functions etc. in a short sentence. I suggest that mouseover effects are used as a help function. For this, additional explaining texts should be added to the respective fields, texts etc.

For expierenced users they could be switched off.

[2022-10-08 12:20] AlexanderF123 opened #32532 "tables like MS Lists / Sharepoint Lists"
Microsoft Lists (= Sharepoint Lists) has many features that would also be great for ERPnext tables. All data is shown in tables that should have additional features like:

- sorting of data rows inside tables by klicking on the header
- grouping of data rows
- filter for data rows
- sorting of columns by drag & drop
- export of table in XLSX or CSV file format
- defining of views by saving table s

[2022-10-08 12:27] AlexanderF123 opened #32533 "Power Platform connector"
The Microsoft Power Platform defines a new standard for the integration of data from different sources.
https://powerplatform.microsoft.com/en-us/what-is-power-platform/

They say that developping a connector for the power platform should be not too much work, but would open a whole new world for ERPnext.
https://www.youtube.com/watch?v=b4aJdQrmTsQ&t=22s

I suggest that a power platform connector

[2022-10-08 12:31] AlexanderF123 opened #32534 "dynamic Excel export for tables"
When exporting lists from MS Lists / Sharepoint to Excel a dynamic connection between the two is established using Power Query. By this, changes in the list can be updated in the Excel table.

I suggest that a connector for power query is being added in ERPnext.

[2022-10-08 12:39] AlexanderF123 opened #32535 "pre-configured industry solutions"
ERPnext is a feature rich standard software that can be used for many (if not all) industries. These industries are very different,
e.g.
- hotel industry
- online shops
- producing companies
- service companies
- etc.etc.

Setting up ERPnext for the own industry is therefore not that easy, needs a lot of knowledge and experience.

I suggest that there should be a feature to save configurations for

[2022-10-08 15:48] deepeshgarg007 commented on #32511
@codezart let's consider a standard year and start date as 2022-01-01 and end date as 2022-12-31, so as per this the no of months will be (2022-2022) * 12 + (12-1) + 1 = 12 which is correct, maybe the dates that you have set up seems incorrect. Please add the dates that you have used and reopen the issue if it still persists

[2022-10-08 15:48] #32511 closed, assigned to deepeshgarg007

[2022-10-08 16:12] deepeshgarg007 commented on #32259
@KMJ-007 This is on one of our internal repos, we will shortly be updating our website design post which it will get fixed.
Closing this from here

[2022-10-08 16:12] #32259 closed, assigned to deepeshgarg007

[2022-10-08 16:15] #32287 closed, assigned to deepeshgarg007

[2022-10-09 10:26] Mr-codehunter opened #32537 "Allow Incomplete Forms"
### Information about bug

Allow Incomplete Forms is not working.

It does not save the web page without filling the mandatory fields.

It gives an error : value is missing for <field>.

### Module

other

### Version

In this field one mistake in placeholder.
You write ERPNext verion.
please try correct it and write ERPNext version.

Frappe version : v13.23.0

ERPNext version : v13.23.0

### Inst

[2022-10-09 11:03] RAGHAVSHARMA01 commented on #32537
s/web page/web-form*
Is it?

[2022-10-09 12:46] Simranjeet7860 opened #32538 "Worksppace not added instantly."
### Information about bug

If we created a workspace in the frappe then it doesn't show instantly. We require to logout and again login to see whether the workspace is added or not

### Module

other

### Version

Frappe version: 13

### Installation method

_No response_

### Relevant log output / Stack trace / Full Error Message.

_No response_

[2022-10-09 13:43] deepeshgarg007 commented on #32033
@maveezmh as @dj12djdjs explained this works as expected and even I am not able to replicate, the scenario that you mentioned in the issue doesn't match with the screenshots that you sent hence closing this for now, please reopen with proper details.

[2022-10-09 13:43] #32033 closed, assigned to deepeshgarg007

[2022-10-09 16:00] AliShaatani commented on #20645
this issue still exist in V13, please move this issue to Education branch

[2022-10-09 17:49] eleben opened #32541 "Provide Print Format customization for Process Statement Of Accounts"
Provide the ability to customize the print format for Process Statement Of Accounts Report PDF [app/process-statement-of-accounts]

Unlike other reports generated in ERPNext currently the Process Statement of Account Report PDF is defined in a static html file that can't be modified without creating a custom app or other means.

Column customization is required to make the Report PDF usable for di

[2022-10-10 06:39] satisharalkar commented on #32535
Yes, this will be helpful to new users and it will be easy for new site creation.

[2022-10-10 07:00] dgehriger opened #32546 "Unable to add multiple link fields to same DocType based on different field"
**Is your feature request related to a problem? Please describe.**

ERPnext v14.1.2 / Frappe v14.5.0

I have customized Sales Order with a 2nd link field named end_user_company to Customer. This allows me to record an end user company for items sold through a reseller (the latter being referenced by the customer link field).

Now I’m trying to create an Document Link (connection) from Customer to

[2022-10-10 07:39] piratedkhan opened #32547 "V14 Stuck at Migration"
### Information about bug

I was importing a v13 database to v14. everything was perfect but after importing when `execute bench --site [sitename] migrate`
the process is stuck the following step
`Executing erpnext.patches.v14_0.migrate_remarks_from_gl_to_payment_ledger in demo (_3cbf127f0870293e)`

even if i perform bench update --reset it get stuck at the same step

### Module

other

### Versio

[2022-10-10 10:08] ruthra-kumar commented on #32471
This is wierd. There seems to be duplicate entries on Payment Ledger for that Invoice, yet the outstanding doesn't match the total of those entries.

[2022-10-10 10:58] ruthra-kumar commented on #32547
Should be fixed by https://github.com/frappe/erpnext/pull/32501
Fix will be available on upcoming minor release v14.2.4

[2022-10-10 11:11] #32450 closed, assigned to ruthra-kumar

[2022-10-10 11:35] s-aga-r commented on #32258
@rohitwaghchaure @deepeshgarg007

Don't know what will be a good fix for this issue. Imagine a case where we have `delivered_by_supplier` partially checked i.e., we have 2 items from which only one will be delivered by the supplier directly to the customer.

[2022-10-10 15:26] codezart commented on #32511
@deepeshgarg007
if the start_date is 2022-01-05 and
end_date is 2023-01-04

Then the number of months will be : (2023-2022) * 12 + (1-1) + 1 = 13

I think it would be better to use relativedelta.

https://github.com/frappe/erpnext/pull/32551

[2022-10-10 16:44] kn0xit opened #32552 "Error 1176 'item_warehouse' doesn't exist"
### Information about bug

I have setup a fresh install of erpnext v14.2.3 on osx 12.6.1 through Docker 20.10.17.

When trying to create a new purchase invoice as the first task after the setup routine, I receive following error:
Server Error
pymysql.err.OperationalError: (1176, "Key 'item_warehouse' doesn't exist in table 'tabStock Ledger Entry'")

I checked the database, the table 'tabStock Ledg

[2022-10-10 21:17] wojosc commented on #20182
Set Option Email an this will work:
![image](https://user-images.githubusercontent.com/22279621/194953705-9616f0d6-f663-41dd-a862-5fd288c57335.png)

@ankush can probably be closed now. Thanks.

[2022-10-11 04:45] #32390 closed, assigned to anandbaburajan

[2022-10-11 06:57] supersnapp commented on #31329
Ok, thanks.

On Thu, Jun 16, 2022 at 6:02 PM Devin Slauenwhite ***@***.***>
wrote:

[2022-10-11 07:02] tjomtek opened #32556 "Retail POS - Returns"
### Information about bug

When processing a return in the pos retail module of erpnext:
If the amount paid by the customer is exactly the same amount owed by the customer, on-return the system produces the "payment method" option as expected.
However , if the customer pays more than the total owed , then the 'payment method" option does not appear. i.e the total amount for an item bought is 155 a

[2022-10-11 07:13] supersnapp commented on #31329
Ok, it was the frappe URL versus brightwork URL confusion on my part.

On Thu, Jun 23, 2022 at 10:26 PM Devin Slauenwhite ***@***.***>
wrote:

[2022-10-11 07:24] ahmedoryx commented on #32318
My mistake, It is already working. Thank you very much

‫في الأربعاء، 5 أكتوبر 2022 في 12:39 ص تمت كتابة ما يلي بواسطة ‪Max Oryx‬‏
***@***.***‬‏>:‬

[2022-10-11 08:50] AlexanderF123 commented on #32479
If we have a developer willing to take this as a freelancer, I am willing to sponsor him/her.

[2022-10-11 09:01] JitendraSAW commented on #32002
Dear Deepesh,

Thanks for your email.

Can you help as how to update the same or can you guide on the same as how
to do the Updation

Appreciate your favorable response on this

Thanks & Regards,
Jitendra Gurejani

On Sun, Sep 4, 2022 at 4:47 PM Deepesh Garg ***@***.***>
wrote:

--

<https://www.sawindia.com/>

Jitendra Gurejani

ERP Implementation Consultant

***@***.*** (India) Pvt.Ltd

CIO Revi

[2022-10-11 09:16] AlexanderF123 commented on #32532
If we have a developer willing to take this as a freelancer, I am willing to sponsor him/her.

[2022-10-11 09:22] nidhipurohit11 opened #32559 "Brand - Brand defaults not filtering data as per company selected"
### Information about bug

1. Go to "Brands" and create a new one filling name, description, etc
2. Expand brand defaults table >> here the default company gets auto-filled
3. Remaining filters like default warehouse, buying/selling cost center, expense/income accounts, provisional accounts should show value only as per the company selected.

- Currently, these filters are showing the values of al

[2022-10-11 09:40] AlexanderF123 opened #32562 "Improve E-Mail in ERPnext"
Communication is an integral part of any office work and it is surprising why this is not given the appropriate status in all office and ERP applications. Most ERP systems treat emails neglected, don't know whatsapp, telegram, SMS and so on. Instead, every employee in the company uses their Outlook or other programs to write, file and find emails. However, the colleagues do not see or find what th

[2022-10-11 09:46] erpitadmin opened #32564 "Corrective Job Card Cost Calculation Incorrect"
### Information about bug

The current corrective job card calculation is using time in minutes multiply by the hourly rate which is incorrect. It should be `flt(row.total_time_in_mins) * flt(row.hour_rate / 60)`

Following is the section of code that have issue:
[Github Link](https://github.com/frappe/erpnext/blob/develop/erpnext/manufacturing/doctype/job_card/job_card.py#L455)
[code]

### Module

[2022-10-11 11:05] anandbaburajan commented on #32335
@michalls01 you can access the settings via `ERPNext Settings` on the sidebar.

[2022-10-11 13:58] michalls01 commented on #32335
@AnandBaburajan Right now there is no Project settings in the Projects page, it shall be added to follow the other DocTypes concept.

[2022-10-11 17:01] anandbaburajan commented on #32335
Ah, I see. Sure.

[2022-10-11 17:37] hameedacpa opened #32569 "Invalid field name: enable_discount_accounting"
### Information about bug

Recently after the last update I got this message when trying to submit the purchase invoice

![2022-10-10_16-12-41](https://user-images.githubusercontent.com/84820402/195160638-cfae14a1-8d6e-4980-bdc8-fe36f6ce55e9.jpg)

### Module

accounts, buying

### Version

erpnext 14.2.3
frappe 14.10.0
hrms 1.0.0
payments 0.0.1

### Installation method

_No response_

### Relevant

[2022-10-12 01:53] QHD-sp opened #32570 "Error creating Assessment Group"
### Information about bug

In Assessment Group there is no default Parent Assessment Group field which is [All Assessment Group]-> Cannot create Assessment Group.

https://user-images.githubusercontent.com/114915243/195230405-c79fcc10-0646-49c3-b733-6a5a028cf4d0.mp4

Requirement: Create a parent field [All Assessment Group]. Or turn off mandatory feature for Parent Assessment Group field

### Modu

[2022-10-12 04:30] ruthra-kumar commented on #31786
Closing the ticket as the Buying amount is calculated based on Valuation method.

[2022-10-12 05:13] rtdany10 commented on #31786
@ruthra-kumar isn't this still valid and a bug?

[2022-10-12 05:44] s-aga-r commented on #32569
enable_dicount_accounting field removed in https://github.com/frappe/erpnext/pull/32368

[2022-10-12 05:49] ruthra-kumar commented on #31786
Can you clarify which part you think is a bug?
Is it the multiple SLE's for the stock entry? or Is it about the buying amount calculation for that item? (For this the report is working as expected - based on valuation method as mentioned in earlier comment)

[2022-10-12 08:45] ruthra-kumar commented on #32569
@hameedacpa can you post the traceback from browser console.

[2022-10-12 09:15] hameedacpa commented on #32569
this error not showing anymore since I done update and restart the server

[2022-10-12 09:25] #32569 closed, assigned to ruthra-kumar

[2022-10-12 13:52] #32559 closed, assigned to s-aga-r

[2022-10-12 16:38] Altizo commented on #32562
Fully agree with the above.
At the moment, this really adds complexity when interacting with customers.

[2022-10-12 18:19] kn0xit commented on #32552
I still have the same issue with a fresh installation of the following versions:
ERPNext: v14.3.0
Frappe Framework: v14.11.1

[2022-10-12 21:00] michalls01 commented on #32012
In the Frappe Framework v14.11.1 and ERPNext v14.2.3 the error still persists - the date is changed after migration from DD.MM.YYY to DD-MM-YYYY. Moreover, it cannot be altered to anything else.

[2022-10-13 06:01] rtdany10 commented on #31786
This is my delivery note:
![image](https://user-images.githubusercontent.com/52111700/195513265-519cbd21-b3c9-4309-a7ba-54862c89dd6f.png)

This is it's accounting ledger:
![image](https://user-images.githubusercontent.com/52111700/195513444-6cbca824-fcaf-49eb-abac-5c52d7d573e9.png)

This is the GP report:
![image](https://user-images.githubusercontent.com/52111700/195513688-4ceb8e20-0af8-4eac-838f

[2022-10-13 08:32] #32471 closed, assigned to ruthra-kumar

[2022-10-13 08:37] ruthra-kumar commented on #31786
What is the Valuation method maintained in Stock settings?

[2022-10-13 08:47] rtdany10 commented on #31786
FIFO in Stock Settings, None inside Item.

[2022-10-13 09:02] ruthra-kumar commented on #32547
Fix released on V14.3.0

[2022-10-13 09:02] #32547 closed, assigned to ruthra-kumar

[2022-10-13 09:34] latoile opened #32593 "Rename payment mode and other"
### Information about bug

Hello,

I am trying to rename a payment method, for example.
As soon as I click for example on cash and I would like to rename it to cashs, I have this error message that appears.

![image](https://user-images.githubusercontent.com/24554787/195559947-f182a8a4-a985-4688-8439-d5b21f58f482.png)

### Module

accounts

### Version

ERPNext: v14.3.0 (version-14)
Frappe Framewo

[2022-10-13 10:44] Botanium commented on #6910
Every POS comes with this feature. Adding the parameters for weight or price-based items to the POS settings page will help.

[2022-10-13 11:06] ongeto commented on #21333
This is still an issue that needs to be addressed.

[2022-10-13 11:07] s-aga-r commented on #32564
@rohitwaghchaure

[2022-10-13 11:11] s-aga-r commented on #32552
@kn0xit Could you share the browser console log? It will help us to find the cause.

[2022-10-13 12:04] ArunaDevraj opened #32599 "Track the employees who comes after the late entry grace period & exits before early exit grace period and allow(give permission) the project head to permit(present) the employees those who are late coming due to some valuable reasons or due to some emergency."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-10-13 12:57] #32335 closed, assigned to anandbaburajan

[2022-10-13 19:32] iashaik commented on #24389
Is this still active? It's been months.

[2022-10-13 19:36] #32416 closed, assigned to nobody

[2022-10-14 04:10] ruthra-kumar commented on #31786
What is the buying rate for that Item? Can you post the stock ledger entries for that Item?

[2022-10-14 04:16] rtdany10 commented on #31786
SLE of that particular item:
![image](https://user-images.githubusercontent.com/52111700/195761190-9fca8ed8-8844-440e-b6b1-4a8bff9a1c8d.png)

@ruthra-kumar

[2022-10-14 04:41] ruthra-kumar commented on #31786
It would be helpful if you could post Stock Ledger posting up to Delivery Note MAT-DN-2022-00062 for the concerned item.

[2022-10-14 04:44] rtdany10 commented on #31786
![image](https://user-images.githubusercontent.com/52111700/195764280-49df79a9-815b-4053-86e6-fe14c6273314.png)

These are the total SLEs, nothing else.
@ruthra-kumar

[2022-10-14 05:21] ruthra-kumar commented on #31786
This is not replicable.

The same scenario works properly on my local setup.
Simulating same buying and selling:
<img width="1312" alt="Screenshot 2022-10-14 at 10 45 12 AM" src="https://user-images.githubusercontent.com/3272205/195768021-7ed72847-f2e5-42fd-a63f-78f131692150.png">

Delivery Note and GL entries:
<img width="1286" alt="Screenshot 2022-10-14 at 10 46 20 AM" src="https://user-images.g

[2022-10-14 08:00] rohitwaghchaure opened #32602 "Sales Order Stock Reservation"

[2022-10-14 09:28] rtdany10 commented on #31786
I was able to replicate this on a fresh server. The item has batch enabled, although I don't think it's a factor.
ERPNext: v13.39.4 (HEAD)
Frappe Framework: v13.41.4 (HEAD)

SLEs:
![image](https://user-images.githubusercontent.com/52111700/195812483-2443c8df-7f80-4155-a7d8-fd0f5b2b030b.png)

Accounting Ledgers:
![image](https://user-images.githubusercontent.com/52111700/195812615-a28f935a-8df3-4b1

[2022-10-14 11:27] ruchamahabal commented on #32517
@dakshithasp this feature is available in v14 not v13. Upgrade to v14 and install the hrms app to get this feature https://github.com/frappe/hrms
<img width="1295" alt="image" src="https://user-images.githubusercontent.com/24353136/195836007-acc357fe-8669-44f6-b863-5d7a4908e53c.png">

[2022-10-14 11:27] #32517 closed, assigned to nobody

[2022-10-14 15:42] kn0xit commented on #32552
/api/method/frappe.desk.form.save.savedocs:1          Failed to load resource: the server responded with a status of 500 (Internal Server Error)
request.js:462 Traceback (most recent call last):
  File "apps/frappe/frappe/app.py", line 69, in application
    response = frappe.api.handle()
  File "apps/frappe/frappe/api.py", line 54, in handle
    return frappe.handler.handle()
  File "apps/frappe/

[2022-10-14 15:45] kn0xit commented on #32552
Shared error message from the console above.

Also, in the meantime, I have found out that stopping the docker containers and starting them again resolves the issue. To test this, I reinstalled from scratch, and the error was back when I would try to enter a purchase invoice right after the setup wizard. Restart would again resolve this.

Is restarting the container after the setup wizard a normal

[2022-10-14 17:48] aakvatech commented on #31180
This is definitely a good thing, however, many accountants will ask for this and then will complain if it auto matched those ones that they didn't want to auto match, so a customer level setting to allow auto-payment-recon should be available as well.

[2022-10-14 17:57] aakvatech opened #32603 "[Bank Reconciliation] Company Currency customer account and USD bank account cannot be reconcilied"
### Information about bug

Steps to re-create:
1. Create a customer in company currency (e.g. INR)
2. Create a sales invoice for this customer
3. Create a payment entry against that sales invoice
4. Receive money in USD account for that sales invoice

You will not be able to see this transaction in reconciliation of the USD account.

### Module

accounts

### Version

Frappe Framework: v13.41.1 (v

[2022-10-14 20:15] shashankshirke commented on #30630
This issue still persists in v14 and looks like it was reported 2 years back in v12 (https://github.com/frappe/erpnext/issues/21391)

[2022-10-15 02:51] liyakatalilal commented on #32603
is it a USD bank account where the receipt is deposited?

[2022-10-15 05:15] aakvatech commented on #32603
Yes, INR invoice settled with USD account.

However this change will affect bank reconciliation for internal transfers so that has to be taken care of.

[2022-10-15 13:33] Ekwav commented on #7404
+1

[2022-10-15 14:50] anandbaburajan commented on #31753
@Twiga79 are you still facing the issue? If yes, can you share the steps to reproduce this issue with some example data?

[2022-10-15 16:24] Abdody84 opened #32609 "Mistake in titling of ERPNext V14"
### Information about bug

When we select customer tab, directory is showing retail by mistake and of course, when we press retail, system give an error

![IiOpMKW](https://user-images.githubusercontent.com/115890027/195997266-4166f69d-14e6-4a62-a2ea-6b9d74312d47.png)
![OKM96OO](https://user-images.githubusercontent.com/115890027/195997276-65a4a2a7-1446-459c-9bd0-ec0fd76a18b2.png)

### Module

sel

[2022-10-15 20:02] bynicolas commented on #18445
This is an old issue, but I just experienced it after upgrading from v13 to v14. Since the issue is still open, I'm writing this here

Files upload just fine and are attached to the specified document (invoice, journal entry, etc.), I can confirm that the files are ok on the storage device, but when you try to load from ERPNext, you get the `404 Not Found` error specified in this issue

Tried also

[2022-10-16 09:45] innovast-technology opened #32610 "Items Image Clipping"
### Information about bug

Using erpnext V14

When I upload an item images a clipping window appears before uplaod. The area is very small and not suitable for many items

### Module

stock

### Version

erpnext 14.3.0
frappe 14.11.1
hrms 1.0.0
payments 0.0.1

### Installation method

_No response_

### Relevant log output / Stack trace / Full Error Message.

_No response_

[2022-10-16 15:12] sjain17 opened #32611 "Dark Mode do not show help in pricing rule"
### Information about bug

Before selecting -
![Screenshot 2022-10-16 at 7 05 35 PM](https://user-images.githubusercontent.com/30950233/196043213-5a6eb036-25ed-4acd-9b34-50ba0afffe52.png)

After selecting -
![Screenshot 2022-10-16 at 7 05 54 PM](https://user-images.githubusercontent.com/30950233/196043187-6d9436a7-4fa6-46d5-b1d8-64825793b2b6.png)

### Module

selling

### Version

Frappe Version -

[2022-10-17 07:14] s-aga-r commented on #32610
@innovast-technology Could you please add screenshots for the same?

[2022-10-17 07:28] maveezmh commented on #32033
@deepeshgarg007 DEEPESH... @dj12djdjs have rechecked the isse and validated it.  i can show you the error happening if required

Kindly follow steps in this comment https://github.com/frappe/erpnext/issues/32033#issuecomment-1234140101

[2022-10-17 07:57] s-aga-r commented on #32611
@sjain17

Fixed and released in [v13.15.0](https://github.com/frappe/erpnext/pull/28508). I think you are using an older version, please update to get this fixed.
ref: https://github.com/frappe/erpnext/pull/28408

![image](https://user-images.githubusercontent.com/63660334/196119699-31e09cec-10a8-4a1b-90ee-d080f8145753.png)

[2022-10-17 07:57] #32611 closed, assigned to s-aga-r

[2022-10-17 08:51] ArunaDevraj opened #32614 "erpnext_sync.py script for integrating biometric device shows service running, but no data is fetched from the device."
### Information about bug

erpnext_sync.py script shows;
service running
but no logs is fetched from the biometric device

### Module

HR

### Version

ERPNext: v13.35.3 (version-13)

Frappe Framework: v13.35.2 (version-13)

### Installation method

FrappeCloud

### Relevant log output / Stack trace / Full Error Message.

_No response_

[2022-10-17 09:04] ankush commented on #32552
`item_warehouse` is an index that someone might have dropped by mistake?

Running this should fix it technically:

https://github.com/frappe/erpnext/blob/dc3fe8592187bf543eae628c639868de84ad9006/erpnext/stock/doctype/stock_ledger_entry/stock_ledger_entry.py#L234

[2022-10-17 11:41] Solufyin commented on #32609
Hi @Abdody84,

Please remove Selling from workspace of Retail.

![image](https://user-images.githubusercontent.com/34390782/196167772-6f5a4d6b-b879-468f-ba8a-b6268a7444d9.png)

After then reload (Ctrl + Shift + R) and check it.

Thank You!

[2022-10-17 11:56] kn0xit commented on #32552
Not sure whether the field is required at all or if this error ist just an initial setup issue. As I mentioned, after restarting all containers once after install the error message disappears. Also, checking the database directly, the field item_warehouse still doesn't exist (see below).

MariaDB [xxx]> describe \`tabStock Ledger Entry\`;
+---------------------------------+---------------+------+-

[2022-10-17 11:59] ankush commented on #32552
It's not a field/column, it's an index.

[2022-10-17 17:55] haiqamunir opened #32626 "Role assignment is not visible in user profile ERPNext version 14"
### Information about bug

I am not getting the option as an administrator to assign roles to the employees (system users). Moreover, I can not disable any created us
![image](https://user-images.githubusercontent.com/115997614/196248013-5f09de48-fe6e-4d86-8fb1-6b9c7f2ef370.png)
ers.
![image](https://user-images.githubusercontent.com/115997614/196248113-273d62ca-2764-4fc7-a845-af125e159b1e.png)

#

[2022-10-17 20:15] aakvatech opened #32628 "feat: Allow setting valuation_rate as 1 instead of randomly picking from any warehouse"
**Is your feature request related to a problem? Please describe.**
Performance problem when you have large number of transactions in SLE

**Describe the solution you'd like**
Setting value to 1 to avoid the unnecessary lookup from DB from other warehouses.

**Describe alternatives you've considered**
Setting value to 1 avoids the unnecessary lookup from DB from other warehouses.

**Additional cont

[2022-10-17 22:10] LeoKogan commented on #23413
Default Value 'Now' is throwing a 'Date Invalid date must be in format: yyyy-mm-dd' message on ERPNEXT 14 cloud based

[2022-10-18 02:52] #25500 closed, assigned to nobody

[2022-10-18 02:53] chechani commented on #25500
Resolved

[2022-10-18 05:25] test2a opened #32631 "web form is not printing + not taking to success url + other small issues"
### Information about bug

I created a donation receipt form so that we can automate creation of data entry of receipt issue and entry in erpnext for an NGO.

so far, i found, you cannot create a new donor on a "donation web form" so i have to use a donor web form and then a new donation web form. that is fine, i mean if it works.

i have attached donor form backend and fronend. when i submit the

[2022-10-18 07:39] piratedkhan commented on #32547
i have updated erpnext to V14.3.0
but still stuck at the same place i have check the patch file there are no changes has been made.

[2022-10-18 08:25] AliShaatani commented on #31854
Same Error

[2022-10-18 13:00] erabti commented on #16203
Any updates?

[2022-10-18 14:06] ruhnet commented on #32486
@jkunczik Which container did you install those in? The Erpnext worker one?

[2022-10-18 20:42] innovast-technology commented on #32610
![image](https://user-images.githubusercontent.com/40541181/196540614-0915aa5a-683b-4102-bf34-84beac6c6ba2.png)

[2022-10-18 20:51] innovast-technology opened #32638 "Gross Profit Report"
### Information about bug

Gross Profit report gave an error message
(1052, "Column 'company' in where clause is ambiguous")
It can be solved by changing  line 674 of gross_profit.py to
`conditions += " and tabSales Invoice.company = %(company)s"`

### Module

accounts

### Version

erpnext 14.3.0
frappe 14.11.1
hrms 1.0.0
payments 0.0.1

### Installation method

manual install

### Relevant log o

[2022-10-18 22:21] dj12djdjs commented on #32614
@ArunaDevraj I don't see a `erpnext_sync.py` script anywhere in version-13 code base.

[2022-10-19 00:25] ArunaDevraj commented on #32614
@dj12djdjs

This is an external script which we have to be integrated with erpnext.

In my logs directory punch data is available but the only pblm is it is in the attendance failed list.

[2022-10-19 00:27] ArunaDevraj commented on #32614
When I give the command python3 erpnext_sync.py in the terminal, the output shows that:

Service running

[2022-10-19 04:26] ruthra-kumar commented on #32638
Not replicable.
@innovast-technology Does this error occur on every run or when a specific filter is applied?

[2022-10-19 05:43] ruthra-kumar commented on #32547
[Patch File](https://github.com/frappe/erpnext/blob/develop/erpnext/patches/v14_0/migrate_remarks_from_gl_to_payment_ledger.py) has been updated on [V14.3.0](https://github.com/frappe/erpnext/pull/32501#issuecomment-1276075933). Make sure the `bench update` does update the patch file with latest changes.

[2022-10-19 06:59] muchai opened #32640 "Depends On, Mandatory Depends On, and even setting a field mandatory on customize form only works for the first tab"
### Information about bug

Setting **Depends On**, **Mandatory Depends On**, and even setting a field **mandatory** on customize form only works for the first tab, not for the subsequent tabs.

### Module

stock

### Version

ERPNext: v14.3.0 (HEAD)
Frappe Framework: v14.11.1 (HEAD)

### Installation method

FrappeCloud

### Relevant log output / Stack trace / Full Error Message.

_No response_

[2022-10-19 08:31] wojosc opened #32643 "Error when creating Dunning from Sales Inoivce"
### Information about bug

When coming from Sales Invoice and trying to make -> Dunning we some times run into an error. The message is

A work around is to create a Dunning via the + icon in the connections table from Sales Invoice.

### Module

accounts

### Version

ERPNext: v13.39.4 (HEAD)

Frappe Framework: v13.41.4 (HEAD)

### Installation method

_No response_

### Relevant log output / Sta

[2022-10-19 08:55] muchai opened #32644 "Introduction of Branch/Other Dimension in Item Defaults"
Think of a multi-company environment, and a case where default warehouses matter a lot.
In case one of the companies, or even all companies in the multi-company environment happen to have more than one branch, and each branch has a default warehouse, then it would be ideal to have the capability to set the default warehouse for each branch.

At the moment, only one default warehouse can be set for

[2022-10-19 10:00] jkunczik commented on #32486
@ruhnet I have installed it in the running backend container, but this was just a quick proof of concept, because once you restart the stack, all changes will be lost. It would be better to install these packages directly in the worker image. The different workers would then also have the software installed - maybe they do also need it in some instances.

Regarding my last comment about the layout

[2022-10-19 15:44] s-aga-r commented on #32631
@test2a May I know which version of ERPNext you are using?

[2022-10-19 15:46] test2a commented on #32631
@s-aga-r it is hosted on erpnext.com so i suppose the latest one? is there some link i can open in the UI and check that for you?

[2022-10-19 16:08] s-aga-r commented on #32631
@test2a
You can get the installed apps list followed by their version/commit-hash by clicking **Help > About**.

![image](https://user-images.githubusercontent.com/63660334/196744769-03a9416d-beac-4bd2-bbd2-0434bafde5cd.png)

[2022-10-19 16:16] test2a commented on #32631
@s-aga-r

ERPNext: v13.40.1 (HEAD)

ERPNext Support: v0.0.3 (HEAD)

Frappe Framework: v13.41.6 (HEAD)

[2022-10-19 16:17] joshuarestivo commented on #30352
I've run into this in v14, as well:
get_webform_transaction_list
    filters.append((d.fieldname, "in", allowed_docs))
TypeError: 'NoneType' object is not callable

[2022-10-19 16:44] s-aga-r commented on #32610
@innovast-technology

1:1 is the ideal aspect ratio for the thumbnails and if you use 1:1 images it will work fine. See the below screenshot.

![image](https://user-images.githubusercontent.com/63660334/196752096-cff7cc9e-8bbd-48b6-ab50-e811af818e37.png)

[2022-10-19 16:44] #32610 closed, assigned to s-aga-r

[2022-10-19 19:46] innovast-technology commented on #32610
While this is a design decision left to your team (Which is doing a great job no doubt ) , I think this will create usability issues for stock with large number of items. V13 was more flexible.

[2022-10-19 19:49] innovast-technology commented on #32638
No it occurs for all filters
I am not sure if this is specific to my version of mysql server (mysql  Ver 15.1 Distrib 10.5.16-MariaDB) or not

[2022-10-19 23:49] #32614 closed, assigned to nobody

[2022-10-19 23:50] ArunaDevraj commented on #32614
It is the problem of fetching huge date, & cache has no that much memory size

[2022-10-19 23:56] ArunaDevraj opened #32658 "Can't set up the background image in the login page"
### Information about bug

Can't set background image in the login page

### Module

other

### Version

Frappe:13.35
Erpnext: 13.35

### Installation method

manual install

### Relevant log output / Stack trace / Full Error Message.

_No response_

[2022-10-20 07:12] piratedkhan commented on #32547
i have done bench update and also freshly installed it on another server and my erpnext is v14.3.0 but it get stuck at the same step when importing v13 database on migration.

this issue has been launched 10 days ago while the last commit to file was 16 days ago so i guess the file is not updated yet

[2022-10-20 08:03] NavidDaxon opened #32665 "SSL certificate expiration for the website https://translate.erpnext.com"
### Information about bug

The SSL certificate for the website https://translate.erpnext.com/ has expired.
So we come to the following error:

requests.exceptions.SSLError: HTTPSConnectionPool(host='translate.erpnext.com', port=443): Max retries exceeded with url: /api/method/translator.api.get_strings_for_translation/?language=sk&start=0&page_length=100&search_text=&FrappeClient=%3Cclass+%27frapp

[2022-10-20 08:30] ufoping opened #32668 "bench backup Error: no such option: --site"
### Information about bug

Hello,

I'm trying to backup erpnext to S3 but got error.
[code]

Error
Usage: bench  backup [OPTIONS]
Try 'bench  backup --help' for help.

Error: no such option: --site

What's going on?

### Module

other

### Version

erpnext 14.2.1
frappe 14.9.0
payments 0.0.1

### Installation method

docker

### Relevant log output / Stack trace / Full Error Message.

[code]

[2022-10-20 08:42] bynicolas commented on #18445
Ok, so now it’s working and I believe the issue was how the request headers were set at the reverse proxy level.

more specifically, I made sure these headers were explicitly referencing my erpnext site name

`on nginx reverse proxy:`
[code]

[2022-10-20 09:28] bahaou opened #32671 "bug while using the button 'update items' in sales order"
### Information about bug

the sales order validate the credit limit for the customer when submitting . but after submitting a sales order and then update teh items using the update items button at the first time , the system validate it even if I cross the limit .
the problem is not the button itself but the function 'check_credit_limit' . this function always uses the amounts stored in the datab

[2022-10-20 13:38] zafar26 opened #32674 "Delete this"

[2022-10-20 14:15] #32674 closed, assigned to nobody

[2022-10-20 20:23] dabruh opened #32675 "ERPNext is unable to do simple currency conversion math"
### Information about bug

ERPNext is unable to perform simple math during currency conversion. This is not only a visual issue, but also logical. Upon submitting the PINV it shows that the PINV is "Paid". However, when I refresh it says that it's "Overdue" and that there is 0.01 SEK left to pay. Please tell me what I'm doing wrong... It's driving me a little nuts :-)

![2022-10-20_22-18](https://

[2022-10-20 20:40] dabruh commented on #32675
Something is fishy... When I removed all existing items and added a single item with the cost of 38,37 EUR and submitted, then everything is OK. I tried re-adding all items, but that didn't produce the same result. Very strange behavior.

[2022-10-21 02:32] dj12djdjs commented on #32675
@dabruh This is caused because ERPNext by default is rounding the grand total.
To disable the rounding please follow: https://docs.erpnext.com/docs/v14/user/manual/en/customize-erpnext/articles/disable-rounded-total

If you want your invoices to be rounded. Put the difference between paid amount and grand total into a rounding account using the "Deductions / Loss" section of the payment entry.

Th

[2022-10-21 04:18] pasan93 opened #32676 "The “Item name” translation is not working in invoice printing"
### Information about bug

I’m having an issue with the **“Item Name”** translation while printing invoices. However, ERPNext core functions are **displaying the custom translations correctly**, and the problem is only with **invoice printing.**

I’m running ERPNext on Frappe Cloud. I tried this on v13 and v14, still the error exists on both versions.

I tried the following steps to achieve multi-

[2022-10-21 05:25] ShraddhaRanjane opened #32677 "Sales Invoice - Logo not displaying on PDF"
### Information about bug

URL is = https://yagna.frappe.cloud/
Doc type= Sales Invoice

Added company logo and that is getting print , but same logo not getting display on PDF . when we convert into PDF or download PDF. Company logo not appearing on the pdf

### Module

selling

### Version

Education: v0.0.1 (HEAD)

ERPNext: v14.1.2 (HEAD)

Frappe Framework: v14.7.0 (HEAD)

Healthcare: v0.0.1 (H

[2022-10-21 11:41] THEOSKaris commented on #26759
Hi, is there progress on this?

[2022-10-21 13:34] Libermentix opened #32680 "List View ignores Filter passed by URL (ERPNext v13)"
### Information about bug

The Share URL features does not work properly on List Views in ERPNext V13:

Steps to reproduce:
1) Create a filter for example on the Customer Doctype's List View filter by Customer Name
2) Select Share (CMD + L)
3) Paste URL into different window (and or pass it along to another user)
4) You will see the filters are not properly set

Expected behaviour:
https://<ERPAPP

[2022-10-21 15:49] michalls01 opened #32681 "Migration from V13 to V14 failed - Error: No module named 'frappe.core.doctype.currency_exchange_settings'"
### Information about bug

Migration from V13 to V14 on Frappecloud failed - Error: No module named 'frappe.core.doctype.currency_exchange_settings'

### Module

other

### Version

V13 > V14

### Installation method

FrappeCloud

### Relevant log output / Stack trace / Full Error Message.

[code]

[2022-10-21 21:05] dabruh commented on #32675
@dj12djdjs Thanks for your reply, however, I can't say I'm convinced. Why? Because I have specified all numbers in EUR, even the amount paid, which I set to 38.37 EUR, but still there was an outstanding amount when I had multiple items in the list (`6.48+6.49+16.06+(2*0.33)+6.46+2.22 == 38.370`). The outstanding amount disappeared when I removed all the items and set just one item with the cost of

[2022-10-21 21:08] dabruh commented on #32675
Please also note that the rounding adjustment is 0 under the totals.

[2022-10-21 21:09] dj12djdjs commented on #32675
@dabruh I'll see if I can re-produce the behavior this weekend.

[2022-10-22 15:36] pasan93 commented on #32676
This works! 👍🏾
https://discuss.erpnext.com/t/the-item-name-translation-is-not-working-in-invoice-printing/96275/7

[2022-10-22 15:36] #32676 closed, assigned to nobody

[2022-10-22 15:38] pasan93 opened #32684 "ERPNext 14 shortcut for open POS disappears (workspace builder / workspace 2.0)"
### Information about bug

The shortcut to open POS "Open Point of Sales" only works for the admin account.

It does not work for any other users, including users with full privileges. The shortcut simply disappears after saving the workspace.  I'm using the workspace builder / workspace 2.0.

ERPNext: v14.3.0 (HEAD)
Frappe Framework: v14.11.1 (HEAD)

**Adding a shortcut**
<img width="563" alt="Ad