[2019-06-14 08:25] rmehta commented on #17622
Can't replicate

[2019-06-14 08:25] #17622 closed

[2019-06-14 09:04] deepeshgarg007 commented on #16300
@anandvenkatanarayanan fixed via https://github.com/frappe/erpnext/pull/17866
Closing this issue

[2019-06-14 09:04] #16300 closed

[2019-06-14 09:35] rhinorck opened #17949 "Error when trying to cancel Journal Entry"
ERPNext: v11.1.38 (master)
Frappe Framework: v11.1.27 (master)

I’ve come across the following error when I tried to cancel a journal entry
`

[code]

[2019-06-14 12:53] clarkejj commented on #17653
Thanks Rushabh yes 'raise notice' may be a poor choice of words.  My idea is to share, inform and promote awareness: The more broadly issues are aired, the better chance each will be resolved.

For me to seek or expect responsibility or accountability is not the case here, other than to urge users themselves to volunteer the resources to provide a fix!

[2019-06-14 13:10] rhinorck commented on #17949
This seems to have resolved itself after a server restart.

[2019-06-14 13:10] #17949 closed

[2019-06-14 13:22] Don-Leopardo commented on #17417
@SaiFi0102 Hi there, I just remembered this, do you have some news?

[2019-06-14 13:25] Don-Leopardo commented on #17888
This is a known (and it seems to be solved too) bug of Frappe Charts. Maybe the fix wasn't added in the frappe framework.
https://github.com/frappe/charts/issues/108

[2019-06-14 13:49] barredterra commented on #17829
The "10 days ago" is a feature that many companies need. Exact timestamp would be easy as that's how the data is stored.

So we need a checkbox in System Settings (or user settings) "Display Relative Dates". When the checkbox is checked, display "10 days ago". When it's not checked, display "on 02/28/2019, 02:15 PM".

[2019-06-15 08:24] Muzzy73 commented on #12790
Is there any way of migrating loyalty points from previous system into ERPNext. Customers have many points which they want to redeem but we are not able to upload it without making new invoice.

[2019-06-15 10:32] jigartarpara commented on #2144
Any update here?

[2019-06-15 15:18] SaiFi0102 commented on #17417
Not yet

[2019-06-16 07:16] #17443 closed

[2019-06-16 07:43] kennethsequeira commented on #17848
@onlinebizsoft you can add your recommendations here or simply add a 👍 on the issue: https://github.com/frappe/erpnext/issues/2600

[2019-06-16 07:43] #17848 closed

[2019-06-16 11:22] hans-permana commented on #17826
I think the following piece of code from frappe is the issue:
[code]

https://github.com/frappe/frappe/blob/develop/frappe/utils/data.py#L389-L398

If the `remainder_val` is exactly half, this is when the returned value from both positive and negative values will be inconsistent.

[2019-06-16 11:25] hans-permana commented on #17826
[code]

[2019-06-16 11:26] lncan opened #17955 "Is possible to import old database of erpnext v10 into newest erpnext version?"
Hello everyone, I tried to import old database of erpnext v10 into newest erpnext version but no success. I follow 2 commands following to do that:
[code]
Everything was ok when i have completed the first command. But after doing the second, error has ocurred:
[code]
Please tell me the solution to resolve that. Thank you.

[2019-06-16 11:27] hans-permana commented on #17826
A workaround that I did was by adding a new if when `remainder_val` is exactly half and do the deduction or addition accordingly:

[code]

[2019-06-16 15:45] kennethsequeira commented on #4798
The **[Subscription](https://erpnext.com/docs/user/manual/en/accounts/subscription)** or **[Auto Repeat](https://erpnext.com/docs/user/manual/en/accounts/auto_repeat)** should take care of this from now

[2019-06-16 15:45] #4798 closed

[2019-06-16 21:01] harounasow commented on #17902
Hello,
there is no shareholder column in 'tabPurchase Invoice'. Excluding shareholder party type from get_outstanding_reference_documents() and get_orders_to_be_billed() in payment_entry.py.

[2019-06-17 02:59] onlinebizsoft commented on #2600
Example UI

https://user-images.githubusercontent.com/22501570/58928844-5c8ec400-877e-11e9-963d-c5ec867dd57a.png

[2019-06-17 05:29] rmehta commented on #17826
Thanks @hans-permana for the detailed analysis.

@nabinhait @rohitwaghchaure can you guys look at this?

[2019-06-17 07:22] Ravn10 commented on #13541
Can we include GSTR-3B report in ERPNEXT Version 11 .

[2019-06-17 07:48] milindnaphade commented on #8058
Surprisingly this is related to the books closure and yet not fixed? In my case, the invoices show overdue even after adding correct entries for paid amount, write off, and also allocated amounts in the payment entry against an invoice.

I am sure I am not doing anything wrong since it could happen with one invoice but it is happening for all invoices.

[2019-06-17 14:09] flexy2ky commented on #17955
here's the correct script:

bench --site sitename --force restore /path/to/old/database
bench --site sitename migrate

I have used this a number of times including a few minutes ago just to reconfirm and i didn't face this issue. so i guess you should try again

[2019-06-18 02:55] kennethsequeira commented on #17955
Closing the issue as it is being followed up on [discuss](https://discuss.erpnext.com/t/is-possible-to-import-old-database-of-erpnext-v10-into-newest-erpnext-version/49873/9)

[2019-06-18 02:55] #17955 closed

[2019-06-18 06:30] gaurav1katiyar2011 commented on #17112
Same Issue I am also facing.
I m doing as below :-
1) Migrated from 6 to 12
2) create new app
3) create new site
4) install newly created app into newly created site
5) it successfully installed but not listed in desk

[2019-06-18 07:28] julsmon opened #17974 "Employee attendance trackable in hours"
So far attendance can be tracked only by status (present, half day...).
In most countries attendance needs to be registered by tracking hours instead, so it would be very useful to add this feature and to allow for an hour-based monthly attendance report.

[2019-06-18 09:55] sammish opened #17976 "Fix : Bank Reconciliation Doctype Not showing Accounts Module"
Bank Reconciliation Doctype Not showing Accounts Module

![Bank Reco1](https://user-images.githubusercontent.com/12432802/59736342-e0a67880-9261-11e9-81e2-6d4febfdc296.gif)

[2019-06-18 09:56] sammish commented on #17976
@nabinhait Please check this issue

[2019-06-19 02:02] Mitchy25 opened #17984 "Emails not linking to Contact/Customer"
When we receive an email from a contact, it remains 'Unlinked' in the Communications list.

**If** we initiate the email from ERPNext (From customer page for example), and the 'Contact' replies to this email, then it is linked.

[2019-06-19 04:21] littlehera commented on #8052
Not sure if this might help, but we encountered the same issue and changing the roles/permissions of the user managed to fix the problem.

[2019-06-19 05:20] umairsy commented on #17976
Hello,

In V11, the link is renamed as "Update Bank Transaction Dates".

<img width="1194" alt="Screenshot 2019-06-19 at 10 47 45 AM" src="https://user-images.githubusercontent.com/910238/59738770-00e53000-9280-11e9-83a6-cfffe58e69d6.png">

[2019-06-19 05:20] #17976 closed

[2019-06-19 06:52] bhavishyasharma opened #17985 "Product Bundle in Purchase Cycle"
Hi everyone!

I have implemented the bundle in Buying Cycle. The valuation of child items is calculated based on the weightage which is defined in the ProductBundle

Steps:

1. Add weightage field to Product Bundle.
![image](https://user-images.githubusercontent.com/15744297/58901508-f32b9880-871e-11e9-8178-165c60f1dac6.png)
2. Add weightage field to Packed Item.
3. Add rate and amount fields to P

[2019-06-19 07:59] govindsmenokee opened #17987 "[BUG] Shopping cart unable to checkout"
website.js:161 Traceback (most recent call last):
  File "/home/frappe/frappe-bench/apps/frappe/frappe/app.py", line 61, in application
    response = frappe.handler.handle()
  File "/home/frappe/frappe-bench/apps/frappe/frappe/handler.py", line 21, in handle
    data = execute_cmd(cmd)
  File "/home/frappe/frappe-bench/apps/frappe/frappe/handler.py", line 56, in execute_cmd
    return frappe.call

[2019-06-19 09:31] kennethsequeira commented on #17985
@bhavishyasharma check the following: https://github.com/frappe/erpnext/wiki/Contribution-Guidelines

[2019-06-19 12:58] JunkyardCat commented on #17888
@Don-Leopardo
it seems like it was closed around march 2019 so it should have been included in the fix. can anyone take a look at this?

[2019-06-19 16:21] cgpurbaugh commented on #17173
I think this was fixed at some point, I can't replicate.  Thanks!

[2019-06-19 16:21] #17173 closed

[2019-06-19 16:34] sammish commented on #17976
@umairsy hum , sorry...... I am not check very well.

[2019-06-20 00:09] cuku opened #18001 "Blog categories not filtering"
When you create Blog categories the filter still shows all blog entries regardless of the category chosen and published under.

ERPNext: v11.1.38 (master)
Frappe Framework: v11.1.35 (master)

[2019-06-20 07:39] fotocreaman opened #18002 "Documents are always in user language"
Documents are always using the user language instead of the language defined on customer or supplier. I'm on
ERPNext: v11.1.39 (master)

Frappe Framework: v11.1.36 (master)

[2019-06-20 09:13] siddhpant commented on #17735
Ok

[2019-06-20 09:25] siddhpant commented on #17735
Pulled the latest from branch, built. Issue resolved for me.

@africlouds , @gmplab please confirm so I can close this issue.

[2019-06-20 09:27] siddhpant commented on #17409
+1

[2019-06-20 09:39] hballan opened #18003 "Credit/Debit Notes in ERPNext V11"
Credit/Debit Notes in ERPNext V11 don't appear in the [Match Payments with Invoices] screen when we click on [Get Unreconciled Entries]. The only way to use them to close out invoices or purchases is through the [Payment Entry] screen.

[2019-06-20 09:41] siddhpant opened #18004 "ITC not populated correctly in GSTR 3B"
For example, I made an invoice for GSTR3B generation and the ITC isn't populated correctly.

![image](https://user-images.githubusercontent.com/25429745/59838167-1e8fc380-936c-11e9-95d1-37a145c1f42a.png)

`A - B` is 480 but both `A` and `B` are zero. The `A` must have the 480 in it in the respective columns (All other ITC) in this case, and otherwise too `A` and `B` must have valid positive values

[2019-06-20 09:44] hballan opened #18005 "Deferred Revenue / Deferred Expenses"
The GL entry that is created when using the new Deferred Revenue feature in V11 should tag both sides of the transaction debit / credit with the [Party Type] and [Party]. This is very important as it will allow later to view the Deferred Revenue account statement [Grouped by Party] so you can see the balance in this account belongs to which parties.

This is equally applicable to Deferred Expenses

[2019-06-20 09:49] sapna-kcs opened #18006 "Bug: After max qty Pricing rule rate is not included within cart total"
Ref: https://discuss.erpnext.com/t/pricing-rule-on-shopping-cart/17715/3

Pricing rule is applied over minimum and maximum qty of an item. After max qty, Price list rate should apply only on the new qty added. However, it is impacting all qty for the item and giving incorrect cart totals.

Eg: Item Price List rate is $100;
Pricing rule of 50% discount is applied for minimum 2 and maximum 5 qty for

[2019-06-21 04:41] test2a opened #18015 "[India] [gst] ITC classification during purchases"
Allow the user to classify purchases into any of the three

* inputs
* Capital goods
* services

At the time of purchases as its a statutory requirement to classify them at the time of filing of annual returns and ones with a lot of purchases, this is going to be a difficult thing to do.

I propose to add this option on purcahses invoice so that this detail is collected during vouching level.

[2019-06-21 10:01] itusedyetnew opened #18021 "Bug: Updation through rest API can be done without authentication atleast once."
I created a frappe whitelist function with update query to a doctype and added a line:
`frappe.session.user = username` where username must be one with permission to update that doctype. For the first time it updates the database without authentication.

[2019-06-21 18:30] madmath03 opened #18028 "BUG: Install ERPNext on postgres fails due to 'column "route(500)" does not exist'"
Install of ERPNext from develop branch (with frappe also from develop branch) on postgres 10 fails due to column "route(500)" not existing.

Stack trace:
[code]

[2019-06-22 00:20] Tropicalrambler commented on #15254
+1 on TAB to move to next cell.
Wild idea: TAB behavior should be configurable, so that user might use TAB inside for certain columns, and once no more data exists, it moves to next cell?
+1 on right arrow to move to next cell from editing, without having to press enter. +1 On enabling configuration capability for these settings as well.

[2019-06-22 05:45] govindsmenokee opened #18029 "BUG: Taxes and charges template not getting triggered during import of sales order"
While importing a sales order the taxes and charges template is not considered or processed.
Also the tax rules are not respected during import of sales order. Tax rules based on the state are not picked up automatically during import.

[2019-06-22 07:27] omnison opened #18030 "image is not display in pdf and layout in dpf is not in normal"
our system:
OS: Ubuntu in digitalocean, firewall enabled
ERPNext: v11.1.39 (master)
Frappe Framework: v11.1.36 (master)

I found pdf is not working properly,
1. image in letter head is not displaying.
2. pdf is always divided into two pages, even very less content which should be in one page

[2019-06-22 13:29] kennethsequeira commented on #18029
@govindsmenokee

Is the tax template mentioned in the Import file explicitly? Is the import directly submitting the documents or are you saving them in draft state?

[2019-06-22 18:00] govindsmenokee commented on #18029
Initially I did not mention anything explicitly. I was assuming Tax Rule would be respected and taxes and charges would be fetched automatically. But that did not happen.
I then tried to manually mention the taxes and charges template that needs to be applied even that did not work.

Also draft state is being used for import.

I tried manually submitting the document it does not work in that case

[2019-06-23 08:29] Ahmed-Galal commented on #16386
i have the same issue

[2019-06-23 15:51] hballan opened #18033 "[Paid Development] Ability to completely modify salary slip before submitting it"
The current Payroll workflow after creating salary slips from a payroll entry the system doesn't allow the user to modify any of the amounts in the salary slip. If you attempt to change any of the amounts or add or remove salary components when you press save the salary slip reverts back to the amounts and salary components setup in the salary structure.

I would like you to add a setting to allow

[2019-06-24 03:11] kennethsequeira commented on #18033
@hballan you should post on the [ERPNext Job Board](https://erpnext.org/erpnext-jobs)

[2019-06-24 05:48] farhanayyaz1 opened #18036 "General Ledger / report"
Please revise teh new option of generating a report that is making things too difficult. If you want to keep both but please keep teh general ledger/reports to be seen directly.

[2019-06-24 07:16] kennethsequeira commented on #18036
@farhanayyaz1 you can remove it for the reports you don't want via the permission manager for report:

![image](https://user-images.githubusercontent.com/33246109/59998806-f65ed800-967d-11e9-8b43-7bbe1e9b5000.png)

Check on **Disable Prepared Report**

[2019-06-24 07:16] #18036 closed

[2019-06-24 08:16] #13593 closed

[2019-06-24 09:44] netchampfaris commented on #15254
https://github.com/frappe/datatable/pull/72

[2019-06-24 13:36] jaimestuardo opened #18046 "Problem with Spanish translations"
Hello,

**Installed Apps
ERPNext: v11.1.19 (master)

Frappe Framework: v11.1.20 (master)**

Steps to reproduce the problem:

1. ERPNext in Spanish

1. Load Lead list (/desk#List/Lead/List)

1. Click "Nuevo" button ("New")

1. Enter a name and click "Guardar" button ("Save")

1. Click "Make" drop down (by the way, this word was not translated) and choose "Oportunidad" option ("Opportunity")

1. Cli

[2019-06-24 13:55] Edgaroses commented on #12699
I have same problema.
Any Solution?
Thanks!

[2019-06-24 14:25] lxnow commented on #16166
Not sure if related to this exact same problem, but data import doesn't flag invalid values if a primary key field in a table isn't correctly specified. In one case, item account defaults were specified in the data import CSV but the Company field was not included. The import went through successfully but since no Company was specified, the default accounts (for Income and Expense in this case) we

[2019-06-24 14:45] clarkejj opened #18047 "patch v10_0 setup_vat_for_uae_and_saudi_arabia Company account validation error"
The sales tax setup for Saudi Arabia errors out for example validate_root_company_and_sync_account_to_children

See this report https://discuss.erpnext.com/t/site-migration-error/31936/5

[2019-06-24 17:19] govindsmenokee commented on #18029
@kennethsequeira is it something that I'm doing wrong?

[2019-06-25 06:59] lasalesi commented on #16958
There is a workaround:
* open /desk#List/User Permission/List
* add individually the user and access to Company <target company>

Still, there is an issue as this will not allow for role-based access...

[2019-06-25 07:29] lasalesi commented on #17534
The secondary issue seems to be resolved in ERPNext: v11.1.39.

Proposed solution: add "active" as an attribute to the Fiscal Year, and only allow bookings once a fiscal year is active. Then, removing the active flag will prevent bookings (and hence changes in a closed fiscal year), but still allow to view the balance sheet...

[2019-06-25 09:14] viraljmestry opened #18052 "Unable to “Get items from open MR” in PO"
Created a Material Request (MR) and was trying to make a Purchase Order (PO).

Tried to make PO from MR and also tried to create a PO with “Get items from open MR” but the items are not being fetched.

![972876010ff45c0e8a97f4527eda917e9c35e599_1_690x372](https://user-images.githubusercontent.com/27627459/60085801-9a688200-9757-11e9-840f-aff112aaac2f.jpg)

I have checked that all the items in the

[2019-06-25 10:11] chlarsen opened #18053 "OpenLDAP Integration: Upgrade to Python LDAP3 Makes Complex Filtering Impossible"
Dear All,
Prior to the required upgrade to the Python LDAP3 module that occurred with the ssecond most recent ERPNext upgrade, I could use:

LDAP SEARCH STRING:
[code]
After the upgrade to LDAP3, the complext search string is not recognised any more, as ERPNext demands that the filter string ends with "{0}", which is of course incompatible with complex filters. So this one works, but does not cut

[2019-06-25 11:23] lxnow opened #18058 "Pulling Purchase Order Details (Get Items) into a Purchase Invoice will follow default tax template, not original tax template in PO"
To replicate:

1. Create a PO using "template01" as the tax template.
2. Go to purchase tax template. Set _no_ default tax template. Create PO
3. Create a new Purchase Invoice (PI) and "Get Items From" the PO transaction. The tax calculation will come out correct (don't save the PI)
4. Go back to the purchase tax template, and open second "template01" template and check the checkbox to make it the

[2019-06-25 13:11] f-9t9it opened #18065 "V11 - Sales Order Delivery Date Field Bug."
When a user selects delivery date which is before the posting date by mistake and then press save then there is a error message.

But after that when user tries to correct the mistake and press save the delivery date automatically moves back to the wrong date user selected before and then same error message.

Looks like JS Bug on Delivery Date Field.

[2019-06-25 19:27] dvdl16 commented on #17883
I've ran into this issue many times (South African here). Would also help with testing if necessary

[2019-06-26 04:59] prasannatp commented on #13110
@umairsy @nabinhait can you please open this issue again.

Thank you.

[2019-06-26 08:50] mseibert opened #18077 "ERPNext UX Bug - Challenge with opening attachments in forms"
You cannot click on a file in the attach dialogue but only on the left hand side.

# Demo video

https://www.youtube.com/watch?v=aibrYnUoEUk

[2019-06-26 17:48] govindsmenokee commented on #17872
I am facing the same issue. Job Card is having the same BOM for main assembly and sub assembly

[2019-06-27 03:34] tom10271 opened #18089 "Demo keeps saying `User demo@erpnext.com does not have doctype access via role permission for document Email Account`"
I cannot create a new PO at least which block a sequence of feature testings

[2019-06-27 07:27] milindnaphade commented on #8058
Hi Guys,

Is there an update on this one? I have the following attachment for your review. I have booked 49,000 under the TDS that means the invoice outstanding should be 0. The invoice is still showing overdue.

![tempsnip](https://user-images.githubusercontent.com/15332991/60245872-1d661580-98db-11e9-885d-15d402ff142e.png)

[2019-06-27 08:55] PawanMeh commented on #8058
For your scenario, I think it works fine. Please see below

![Payment_TDS](https://user-images.githubusercontent.com/20460498/60252108-4d1b1a80-98e7-11e9-92e1-81f87880be03.gif)

Invoice is marked as Paid

![Invoice_Paid](https://user-images.githubusercontent.com/20460498/60252150-64f29e80-98e7-11e9-9724-54a7fc89dce6.png)

[2019-06-27 10:19] milindnaphade commented on #8058
@PawanMeh thank you for the help. I think that works. Appreciate the response.

[2019-06-27 10:23] #8058 closed

[2019-06-27 10:25] PawanMeh commented on #17248
Closing this as there exists a PR for this issue now.

[2019-06-27 10:25] #17248 closed

[2019-06-27 11:36] MarPiRK commented on #2507
It would be just perfect if it was possible to sync ERPNext calendar and contacts to NextCloud.

[2019-06-27 16:38] AleCVERP commented on #18065
We have the same problem with V11, please fix this.

[2019-06-27 17:28] AleCVERP opened #18097 "Unable to “Edit items from Table Item” in Quotation"
We can't edit any item from the product table in Quotation, Sales Order, etc.
https://www.dropbox.com/s/uaa3jbm7l3iaeo5/Edit_items.JPG?dl=0

[2019-06-28 08:43] peshgathoni commented on #11877
@mafrica , how did you go about this issue ? Any workaround ?

[2019-06-28 08:51] peshgathoni opened #18100 "Need Multi Currency in Payroll"
We like many international companies we pay local staff in local currency and other staff in USD. We need a way to generate payslips in both USD and local currencies

[2019-06-28 16:28] merlinsquash commented on #18097
Can you edit after expanding that row ? This seems strange since Sales Order and Quotation are default docs and must have editable child tables.

[2019-06-28 17:19] AleCVERP commented on #18097
This problem appears in all the fields that allow editing the content in another page or window (Sales order, Quotation, Employed, Items, etc). The edit icon disappeared with the last update (11.39 to 11.42). We are subscribed to a cloud service.
[https://www.dropbox.com/s/uaa3jbm7l3iaeo5/Edit_items.JPG?dl=0](url)

[2019-06-29 08:37] ophl55 opened #18109 "[v11.1.42] bulk print: printing without letterhead not working"
ERPNext: v11.1.42 (master)
Frappe Framework: v11.1.37 (master)

Hello.

When i bulk print documents from list view i deactivate the checkbox for printing with letterhead.
But the documents are printed with letterhead.

![image](https://user-images.githubusercontent.com/5788712/60381739-e2d6b700-9a59-11e9-8dff-ff84d23c6312.png)

[2019-07-01 14:25] Smartrazii opened #18127 "Pricing Rule None not found"
I have many items some of them with price Rule and some of them without price Rule, when I check Pricing Rule I get this prompt Pricing Rule None not found. The resource you are looking for is not available.
I think this message must not be shown becuse there are some items with price role and it must ignore only the item they have pricing rule

[2019-07-01 15:20] kennethsequeira commented on #18003
This feature is being added v12: https://github.com/frappe/erpnext/pull/18034

[2019-07-01 15:20] #18003 closed

[2019-07-02 05:00] jigneshpshah opened #18132 "unable to provide user specific access for multiple companies for tree structure"
Environment :
ERPNext: v11.1.42 (master)
Frappe Framework: v11.1.37 (master)

If the Company structure is as below ( simple at root level), user specific access can be given for multiple companies
### Company Tree Structure
![image](https://user-images.githubusercontent.com/4900815/60483697-38a69b80-9cb4-11e9-8d30-0c8d72174312.png)

### Sales Invoice
![image](https://user-images.githubusercontent.

[2019-07-02 06:40] Vaibhav-erpnext opened #18133 "Delivery Time in Serial number"
While creating the serial number, the system sets the "Creation time" and "Delivery time" as the current time. It's lead to confusion.

Whereas the system should set only "Creation Time".

![Screenshot 2019-07-02 at 11 58 38 AM](https://user-images.githubusercontent.com/49669130/60489197-65ad7b00-9cc1-11e9-9254-263f88c62d49.png)

[2019-07-02 08:43] deepeshgarg007 commented on #18015
@test2a this is already available on V12 under GST DETAILS section inside Purchase Invoice

![image](https://user-images.githubusercontent.com/42651287/60497953-66e7a380-9cd3-11e9-861d-76a332f47d9e.png)

Closing this issue

[2019-07-02 08:43] #18015 closed

[2019-07-02 08:53] deepeshgarg007 commented on #18004
@siddhpant can you share the screenshot of the Purchase Taxes and Charges Table and also the GST DETAILS section which will help me to resolve the issue faster

[2019-07-02 10:50] Vaibhav-erpnext opened #18138 ""Reqd by date" in Purchase order"
Below points in Purchase Order.

1. "Reqd By Date" is mandatory. Then it should be highlighted as mandatory as other fields are shown.

2. User has to enter at the item level instate at the document level(below the date field).

3. If the user entered multiple item lines with different "Reqd By Date" then only first entered date is fetched at the document level. I think it should consider the earl

[2019-07-02 13:09] test2a commented on #18015
@deepeshgarg007 is there a report to check the breakup of purchases based on these classifications as well?

[2019-07-03 00:30] foranastes opened #18141 "Sales order import template is not upto date"
I'm facing issue with importing sales order. Most of the required columns are not marked as required in import template.

[2019-07-03 06:27] deepeshgarg007 commented on #18004
@siddhpant
Fixed both the issues that you have mentioned here

![image](https://user-images.githubusercontent.com/42651287/60568122-8b05bc00-9d89-11e9-94ea-5ce14c7cb638.png)

You can try uploading the json again and let me know if it works or not

Closing this issue

[2019-07-03 06:27] #18004 closed

[2019-07-03 12:48] rmehta opened #18150 "Make Energy Points more accessible"
### Toolbar showing recent updates + points + badges

<img width="473" alt="Screenshot 2019-07-03 at 6 14 29 PM" src="https://user-images.githubusercontent.com/140076/60592758-e8683000-9dbe-11e9-8f33-3c2a175cc500.png">

### Recent point log in toolbar

<img width="349" alt="Screenshot 2019-07-03 at 6 14 20 PM" src="https://user-images.githubusercontent.com/140076/60592725-dab2aa80-9dbe-11e9-9f56-1

[2019-07-03 14:22] sjoulaei opened #18156 "Add 'Weekly' option to Earned Leave Frequency List"
In Australia, we have many companies that pay their salaries in a weekly basis. ERPNext currently supports weekly pay slips.
All entitlements should be calculated at the same time of pay slip generation.

The only issue would be the number of weeks in a year. I think we can assume years to be 52 weeks?

[2019-07-03 20:12] barredterra commented on #10838
Proposal to fix this issue: #6989

[2019-07-04 07:15] harishbabutv opened #18157 "Unable to Cancel PO"
Hi Team,

I am unable to cancel existing PO.

I need to modify qty and price in the PO and I thought of cancelling / amending the PO but unable to perform the above.

Please provide me steps to complete the above and do the needful.

Regards
Harish Babu T V
98862 70195

[2019-07-04 07:30] kennethsequeira commented on #18157
If you're on erpnext cloud(erpnext.com), raise a support ticket else post on the community forum: https://discuss.erpnext.com

[2019-07-04 07:30] #18157 closed

[2019-07-05 10:21] palashjhabak opened #18180 "Doing "New Patient Appointment" from awesome bar doesn't take default doc status"
Hi,

When we make New Patient Appointment by using the "New" button in the list view, new doc takes the default status as "Scheduled" but when one does it from the awesome bar ( "New Patient Appointment" ), the status of the new created doc is "" ( black ) and which in turn fails a lot of things ( like calendar view of Appointments etc. )

[2019-07-05 10:33] palashjhabak opened #18181 "Naming series field in Patient Appointment Doctype"
Currently Patient Appointment doctype has series hard coded in the doctype definition but like other doctypes it should be controlled using the naming_series field

[2019-07-05 13:30] jigneshpshah opened #18183 "calendar view unavailable for Opportunity doctype"
#### Environment
ERPNext: v11.1.44 (master)
Frappe Framework: v11.1.39 (master)

## Actual Behavior
Calendar View not visible in Opportunity doctype

### Steps
1. Go to Opportunity Doctype
2. Click on Calendar View
![image](https://user-images.githubusercontent.com/4900815/60725421-9ce88a00-9f56-11e9-9313-40752e3b8fff.png)

3. Opportunity has Opportunity Date filed as below
![image](https://user-i

[2019-07-06 10:02] amitsaxena01 opened #18190 "Website pages throws error"
If we select any page from the website menu following exception is thrown:

Uncaught Server Exception
Traceback (most recent call last):
  File "/home/frappe/frappe-bench/apps/frappe/frappe/website/render.py", line 48, in render
    data = render_page_by_language(path)
  File "/home/frappe/frappe-bench/apps/frappe/frappe/website/render.py", line 152, in render_page_by_language
    return render_pa

[2019-07-06 12:52] barredterra commented on #12787
I just made a small overview. I hope it's not completely wrong.

![payment_gateway](https://user-images.githubusercontent.com/14891507/60756427-687bd900-9ffd-11e9-8f05-3cda4c6d769b.png)

So, what's missing from a settings point of view is the option to specify multiple Payment Gateway Accounts in Shopping Cart Settings.

[2019-07-06 15:55] Olawale1 commented on #14887
Hi ,

Any porogress here? This would be a really useful feature

Thanks

[2019-07-07 13:42] jpilz commented on #17334
Missing some Module names also:

ERPNext: v11.1.44 (master)
Frappe Framework: v12.x.x-develop () (develop)

[2019-07-07 15:27] dufani1 commented on #16912
What about this bug? still existed?

[2019-07-08 05:19] ishanloya commented on #18065
Same issue

[2019-07-08 06:15] mmasifashraf opened #18197 "showing some personal email ids in the database"
i noticed that some individual email ids are showing as the Doc Owner apart from administrator in tabdoctype table owner column .

![image](https://user-images.githubusercontent.com/44862509/60786883-ba893f80-a160-11e9-947f-c0e229637aab.png)

[2019-07-08 07:33] MohammadAhmad1990 opened #18198 "Server InternalError: 1054 when opening Customer Profile"
Hi,
I have done a new installation of the develop branch. I get a pop up message showing server error when ever I open a customer profile.

Installed Apps
ERPNext: v12.x.x-develop () (develop)
Frappe Framework: v12.x.x-develop () (develop)

Regards,

![Screenshot from 2019-07-06 12-29-25](https://user-images.githubusercontent.com/7881486/60791183-891e6d00-a17c-11e9-99ba-114a8e7ff3eb.png)

[2019-07-08 07:50] milindnaphade commented on #13327
@jaichavan I can confirm that it is not working in the latest version too. Below are the logs.

`Traceback (most recent call last):
  File "/home/erpnext/frappe-bench/apps/frappe/frappe/app.py", line 61, in application
    response = frappe.handler.handle()
  File "/home/erpnext/frappe-bench/apps/frappe/frappe/handler.py", line 32, in handle
    return build_response("json")
  File "/home/erpnext/

[2019-07-08 10:06] jigneshpshah opened #18199 "unable to select batch in batch selection popup window"
### Environment
ERPNext: v11.1.44 (master)

Frappe Framework: v11.1.39 (master)

### Steps to Reproduce

1. Create an Item having Batch with expiry date.
2. Create a Stock Entry (purpose = Material Receipt) , select the item and the "Select Batch
Numbers" pop-up window opens. Batch is not visible as shown below.

![image](https://user-images.githubusercontent.com/4900815/60801844-592f9380-a195-11e

[2019-07-08 13:42] abdhasa commented on #18100
This is really needed

[2019-07-08 20:43] yltang52 opened #18203 "Is it possible to deploy ERPNext on Heroku？"

[2019-07-09 02:56] papakaizen opened #18204 "Wrong POS Paid Amount in Thousands"
Hi,

I have found minor bug in ERPNext POS paid amount.
My currency is in Rp = Rupiah, which commonly in thousands.(e.g. Rp. 100.000,-, etc). When I clicked paid in POS, the paid amount is only recorded Rp. 100 instead of Rp. 100.000. It can record in million though, but mostly our transaction is in thousands.

Thank you for your help.

![Uploading 44c7ddd5c1734972e00055d64bfa3beadf7c5f16_1_611x49

[2019-07-09 08:19] siddhpant commented on #18004
Okay, I will let you know in a day. I was inactive for some time due to
personal reasons so couldn't reply to this thread. Thanks for
prompt response.

On Wed 3 Jul, 2019, 11:57 Deepesh Garg, <notifications@github.com> wrote:

[2019-07-09 11:58] FlexsoftsTech opened #18208 "JV Amount in word showing Zero & Total amoount showing nothing"
Dear Team
in journal voucher system showing amount in words as Zero Only by default eventhough there is amount in journal entry
also total amount showing Nothing
![JV error](https://user-images.githubusercontent.com/33314211/60886201-fe13a480-a259-11e9-83f9-10c1ef5f2c8a.png)

[2019-07-09 13:10] barredterra opened #18209 "[Proposal] Word templates"
Fill word templates with values from any document.

Create a new Template:

1. Add a new DocType **Word Template**
2. Attach a .docx File to a Word Template

Fill a template:

1. Select a template and a document
    (either from the template or from any document)
2. Replace all {{ var }} in the template with field values from the document
3. Download, attach or email the filled template

https://g

[2019-07-09 13:51] nick9822 commented on #16928
@rasos it was asking for the name of the doctype/controller where settings are saved. For us it worked by simply populating fields at Payment Gateway account for Stripe as in the picture.
![image](https://user-images.githubusercontent.com/10139291/60893312-552b7080-a27e-11e9-9a4b-6f5cb33b86c4.png)

Those who stumble upon this issue, this fix should work,

[2019-07-09 14:06] emagray commented on #17974
I agree. I have created a custom Doctype as a workaround for now, but this really should be the default behavior in ERPNext.

[2019-07-09 16:01] barredterra opened #18210 "[Proposal] Fields for tax consultant ID and client ID"
Regarding tax consulting, I propose to add fields for

- the consultant number and
- the client number

to the DocType Company.

Explanation:

- Every tax consultant has a unique number
  - India: ICIA's Membership Number
  - Germany: DATEV Beraternummer.
- A tax consultant's client has a unique number
  - Germany: Mandantennummer
- Several accounting books with different client numbers can be man

[2019-07-10 06:05] julsmon commented on #17974
@emagray Hello and thanks for the back up! I tried a workaround too, by creating a custom doctype, but could not really turn it into a suitable report. I hope the team will consider this feature suggestion over the next releases.

[2019-07-10 06:30] umairsy opened #18214 "Error when importing Chart of Accounts"
Error when importing Chart of Accounts. The error message doesn't indicate what to correct. Values in the template (attached) seems to be fine.

<img width="1370" alt="Screenshot 2019-07-10 at 11 51 41 AM" src="https://user-images.githubusercontent.com/910238/60945730-06c3b380-a30a-11e9-8364-8b545a57ceff.png">

[CoA Imported Testing.xlsx](https://github.com/frappe/erpnext/files/3375998/CoA.Importe

[2019-07-10 06:34] umairsy opened #18215 "Chart of Accounts Importer - Can we have Error log with row nos.?"
Enter Root type for which account, which Row No.?

![photo_2019-07-10 12 01 21](https://user-images.githubusercontent.com/910238/60945965-9ec19d00-a30a-11e9-9e50-496332eaceee.jpeg)

[2019-07-10 06:50] jaichavan opened #18218 "Warning message related to "Issue Priority" on trial account creation."
This message pops up on new trial account creation:

![image](https://user-images.githubusercontent.com/40264279/60946808-d5001c00-a30c-11e9-9a5d-6b8b60da82bd.png)

To replicate, please try creating a trial account on "you-know-where" ;-)

[2019-07-10 07:21] kennethsequeira commented on #17718
Closing this issue as there was no follow leading to tag it as a bug.

[2019-07-10 07:21] #17718 closed

[2019-07-10 08:23] #16912 closed

[2019-07-10 08:58] test2a commented on #18210
where exactly can erpnext users use this? the software is supposed to be used by organizations for their internal use.
are you saying a tax consultant will use erpnext to manage data of different clients in  different companies?
i am am accounting professional and over the past two years i have attempted to use erpnext for that very purpose but i have failed to get it to work because erpnext is no

[2019-07-10 09:17] umairsy commented on #18214
Another try in the ERPNext account hosted on erpnext.xyz. Following is the error message which says:

<img width="1287" alt="Screenshot 2019-07-10 at 2 45 23 PM" src="https://user-images.githubusercontent.com/910238/60957023-8ad56580-a321-11e9-8392-1dca27764465.png">

The file I am uploading (attached) has Accounts of each of this type.

[2019-07-10 09:17] reema30 opened #18222 "Submit button in payroll entry does not appear until "Refreshed""
After generating salary slips, submit button does not appear until refreshed. This shouldn't be happening.

![Payroll entry](https://user-images.githubusercontent.com/45488333/60956996-7ee9a380-a321-11e9-8d7a-44a7a843299b.gif)

Regards,
Reema

[2019-07-10 09:40] deepeshgarg007 commented on #18214
@umairsy Is this the same template you uploaded in the earlier message?

Currently chart of accounts only supports csv file. In the previous msg xlsx file was uploaded thats why previous error was occuring.

These are some issue I could identify from looking at the template

s is small in "sold" for "Cost Of Goods Sold"
![image](https://user-images.githubusercontent.com/42651287/60958118-772afe80-

[2019-07-10 09:42] umairsy commented on #18214
Importing another template where said corrections where already made. Cannot attach file here as it doesn't allow CSVs. Will PM the attachment.

[2019-07-10 09:51] umairsy opened #18223 "Purchase Receipt for Item for which Sample can be retained"
Steps:

1. Created a Batch Item and enabled Retain Sample for it.
2. Creating Purchase Receipt for the Item

Following is the error message when selecting Item Code.

<img width="1339" alt="Screenshot 2019-07-10 at 3 18 57 PM" src="https://user-images.githubusercontent.com/910238/60959716-557f4680-a326-11e9-9510-5e1f0b1c00f6.png">

[2019-07-10 09:55] umairsy opened #18224 "Retain Sample feature is available for the Batched Item Only?"
This field for Retain Sample is visible only if "Has Batch No" is enabled. Why can't we enable Retain Sample for non-batch item?

<img width="1224" alt="Screenshot 2019-07-10 at 3 22 54 PM" src="https://user-images.githubusercontent.com/910238/60960034-e524f500-a326-11e9-9ae7-5d49cad46469.png">

Grossly, I don't this feature deserves to be in the core. Just the provision for creating a Stock Entry

[2019-07-10 10:02] umairsy opened #18225 "Retention Item Validation not correct"
When I try creating a Retention Entry for the Purchase Receipt where there are no Items for which Retain Sample is enabled, the error message says:

<img width="1255" alt="Screenshot 2019-07-10 at 3 25 17 PM" src="https://user-images.githubusercontent.com/910238/60960249-506ec700-a327-11e9-911a-42866ae102d4.png">

It should say Purchase Receipt doesn't have any Item for which "Retain Sample" is en

[2019-07-10 10:13] umairsy opened #18226 "Error while creating Bank Account"
Steps:

1. New "Bank Account"
2. Click on field: Bank > New Bank
3. I was Navigated to Bank form, entered Bank name and saved.
4. On save, Bank master was created and was auto-navigated to "Bank Account" master.

As soon as Bank was auto-updated in the Bank Account master, this error message popped-up.

<img width="1221" alt="Screenshot 2019-07-10 at 3 34 00 PM" src="https://user-images.githubuser

[2019-07-10 10:16] umairsy opened #18227 "Bank Account for Party"
If am creating Bank Account for Party, why should we have "GL Account" as a mandatory field there? We won't create Supplier's Bank Account in our books of Account. Right?

<img width="1208" alt="Screenshot 2019-07-10 at 3 44 29 PM" src="https://user-images.githubusercontent.com/910238/60961457-d5f37680-a329-11e9-96eb-e76cddcb9e83.png">

[2019-07-10 10:20] umairsy opened #18228 "Sales Invoice - Get Outstanding Invoices"
Error when trying to fetch outstanding invoices. It should have fetched two outstanding invoices.

![get-out](https://user-images.githubusercontent.com/910238/60961710-65992500-a32a-11e9-98e7-f6afb41c377f.gif)

[2019-07-10 10:24] umairsy opened #18229 "Payment Order - When Add Row, field doesn't show up"
<img width="1251" alt="Screenshot 2019-07-10 at 3 52 37 PM" src="https://user-images.githubusercontent.com/910238/60962016-f839c400-a32a-11e9-9d2f-e73665631029.png">

[2019-07-10 10:26] umairsy opened #18230 "Payment Order - Error when click on Generate TXT file"
Looking at the error message, I don't know what to fix.

<img width="1289" alt="Screenshot 2019-07-10 at 3 53 49 PM" src="https://user-images.githubusercontent.com/910238/60962104-2c14e980-a32b-11e9-96be-2ba8876fc0f6.png">

[2019-07-10 10:28] umairsy opened #18231 "Payment Order - Company's Client Code and Bank Code should be tracked in Bank master"
Currently, the Client Code and Product Code is tracked in the Company master.

Since a Company can have multiple Bank Accounts, with different Bank Code etc. should we move these fields in the Bank or Bank Account master?

<img width="1240" alt="Screenshot 2019-07-10 at 3 55 22 PM" src="https://user-images.githubusercontent.com/910238/60962282-8ada6300-a32b-11e9-89da-77ca71159a47.png">

[2019-07-10 14:30] jaichavan opened #18240 "Cost Center filter missing in Report: Cash Flow"
![image](https://user-images.githubusercontent.com/40264279/60977608-65f6e780-a34d-11e9-9a59-f018ff098977.png)

[2019-07-10 17:01] saad91 commented on #16137
Im having the same issue. The selected country is Saudi Arabia

[2019-07-10 22:59] jetmodel opened #18245 "cant create pos profile"
I followed the instruction but I can't create a pos profile. which fields are mandatory? on series I can only chose "select". is it right?

[2019-07-11 02:30] papakaizen commented on #18245
There is a minor setup prior creating POS Profile :

1. Go to Setup -> (Under Data Section) Naming Series
2. Choose "Sales Invoice" under transaction field
3. Make your own serial number format in "Series List of Transaction" (and delete [select])
4. Update
5. Try to reload (from your name menu; This to clear the cache)
6. Try to create the POS Profile

Hope this can work.

[2019-07-11 02:50] #18240 closed

[2019-07-11 04:54] sammish opened #18247 "Fix : Inter Company Account Ledger Issue"
Whenever become ledger in inter company this ledger will not appear normal bank entry or journal entry
![Intercompany](https://user-images.githubusercontent.com/12432802/61023085-1944f800-a3b1-11e9-85b9-5c7cd9d5ce02.gif)

[2019-07-11 04:56] sammish commented on #18247
@nabinhait Please Help.

[2019-07-11 06:03] papakaizen commented on #18204
Apparently, the refresh number cannot detect "#.###" It treats the . (dot) as decimal separator; hence, the rounding. My temporary solution is to change "#.###" format to "#,###" in setup->system settings.

Anyone who is facing the same issue can use this solution as temporary fix. I will not close this issue until there is a fix from developer team.

Let me know if there is other / better approac

[2019-07-11 06:08] GhadaEbrahim opened #18249 "Custom script not working in v11"
This code was working in v10
what is the problem?

frappe.ui.form.on("Attendance", {
to:function(frm, cdt, cdn){
var d = locals[cdt][cdn];
	var hours=minutes=seconds=total=0
	if(d.from && d.to)
	{
		var startTime=moment(d.from, "HH:mm:ss");
		var endTime=moment(d.to, "HH:mm:ss");
		var duration = moment.duration(endTime.diff(startTime));
		var hours = parseInt(duration.asHours());
		var minutes =

[2019-07-11 08:38] jigneshpshah opened #18254 "error in Sales Invoice for Get Items from Quotation"
### Environment
ERPNext: v11.1.44 (master)
Frappe Framework: v11.1.39 (master)

### Steps to Reproduce
Step 1: Create a Quotation for any Customer
Step 2 : Go to Sales Invoice , Select the customer in step 1, click on Get Items from Quotation
Step 3: Below error generates

[code]

[2019-07-11 09:37] jigneshpshah commented on #18254
Fixed by PR #18236

[2019-07-11 09:37] #18254 closed

[2019-07-11 10:53] amitsaxena01 opened #18257 "Tag Number in mail"
We are using email to log opportunities, quotation etc. A lot of time the same email trail is used by customer for opportunities and quotation. This results in generation of lot of new opportunities for the same opportunities.
I suggest we should use a unique number in the email subject to track the leads, support, quotation etc. If the mail is without a that unique number then it should create a

[2019-07-11 14:17] jaichavan opened #18264 "Incomplete message on trying to save empty form"
Please add "Name" in the validation message.

![image](https://user-images.githubusercontent.com/40264279/61058185-5f7f7300-a414-11e9-849b-06d6360cd2a7.png)

[2019-07-11 15:08] gbm001 commented on #17615
The Administrator can change a user's password without letting the user know in any one of a number of different ways... the Administrator is already all-powerful so this is not, I think, a security issue. The Administrator can already change the database to make it look like someone else did something, and access all the data on the system (assuming they have console access, but as Administrator

[2019-07-11 15:10] gbm001 commented on #16982
This is still causing our company issues...

[2019-07-11 15:16] adityahase commented on #17615
Any evidence of this?

[2019-07-11 15:28] gbm001 commented on #17615
Getting off-topic, and perhaps I am making more of a claim than I should but you can write a Print Format, for example, which run Python code via Jinja2 and while there are some restrictions on it I would be very surprised if you couldn't break out of it fairly easily.

[2019-07-11 15:48] barredterra commented on #18210
Every German company uses these numbers on a regular basis, as described in the first point under "reasons".

[2019-07-11 15:52] jaichavan opened #18265 "Breadcrumb missing for Accounting Dimension"
![image](https://user-images.githubusercontent.com/40264279/61065715-de2edd00-a421-11e9-8eaf-8a469fdccfaf.png)

[2019-07-11 15:55] foranastes opened #18266 "Bug: Unknown Column 'tax_type' in offline POS"
I can’t open POS in offline mode becasue of Unknown Column ‘tax_type’ error (See screenshot)
![Screenshot (38)](https://user-images.githubusercontent.com/15837910/61065943-51385380-a422-11e9-97a4-a7f98c11102d.png)

I’ve checked the database table and confirmed that there no such a column in tabItem Tax;

Here is the result of ‘tabItem Tax’ table
MariaDB [_7f9f4ce860d7d369]> desc tabItem Tax;
±----

[2019-07-11 16:17] jaichavan opened #18267 "Provision to create accounting dimension of "Accounting Dimension""
Please disable selection of DocType, "Accounting Dimension"

![image](https://user-images.githubusercontent.com/40264279/61067527-5e0a7680-a425-11e9-8200-2f8c033da628.png)

[2019-07-11 16:22] jaichavan opened #18268 "Multiple fields for enabling/disabling dimension."
"Disable" Checkbox should be removed, it's just redundant. We can't even check/uncheck it. It is updated when the button is clicked. Why do we have it then?

![image](https://user-images.githubusercontent.com/40264279/61067703-ce18fc80-a425-11e9-9cd1-b4225225b5ed.png)

[2019-07-11 16:41] jaichavan opened #18269 "Validation message isn't very helpful for naive user"
![image](https://user-images.githubusercontent.com/40264279/61068906-ca3aa980-a428-11e9-8b3d-e58663e03722.png)

[2019-07-11 16:51] jaichavan opened #18270 "ServerError while loading "Cash Flow" in Consolidated Financial Statement report"
Steps to replicate:
1) Go to the "Consolidated Financial Statement"
2) In the filter for "Report", select Cash Flow

![image](https://user-images.githubusercontent.com/40264279/61069503-120e0080-a42a-11e9-980c-fad50ca5064a.png)

This error pops up:

![image](https://user-images.githubusercontent.com/40264279/61069415-e2f78f00-a429-11e9-8c79-ce7ed281423a.png)

[2019-07-11 17:00] lbazan commented on #16791
thanks!

[2019-07-11 17:12] jaichavan opened #18271 "Inappropriate message for Bank Guarantee"
The popover tells us to create a Bank Guarantee when it is disabled. So, how should I? 😜
The pre-requisite step/document should be added in this message instead of "Bank Guarantee" itself.

![image](https://user-images.githubusercontent.com/40264279/61070598-be50e680-a42c-11e9-85e6-fa192dd92cf8.png)

[2019-07-11 17:20] jaichavan opened #18272 "Error when getting outstanding invoices in Payment Entry"
Steps to replicate:
1) Create a Sales Invoice

![image](https://user-images.githubusercontent.com/40264279/61071235-2ce27400-a42e-11e9-9718-5bd71c601dfe.png)

2) Create a Payment Entry (from Payment Entry master)
        - Select the Customer
        - Click on "Get Outstanding Invoices"

**Expected:** The system should have fetched the record of the outstanding sales invoice in the child table.

[2019-07-11 17:29] barredterra opened #18274 "bug(patches): Unknown column 'payment_terms' in 'field list"
Update from v9 to v11
[code]

[2019-07-11 17:34] jaichavan opened #18275 "Only Cost Center dimension can be selected in Budget Variance Report?"
Steps to replicate:
1) Go to "Budget Variance Report"
2) Select dimension in the "Budget Against" filter
3) The next field still enlists Cost Centers instead of dimension (Department/Project)

![image](https://user-images.githubusercontent.com/40264279/61071827-adee3b00-a42f-11e9-9036-4222717e462a.png)

[2019-07-11 17:57] jaichavan opened #18276 "Accounting dimension missing in Customer Credit Balance"
Accounting Dimension: **Department**

![image](https://user-images.githubusercontent.com/40264279/61073532-43d79500-a433-11e9-8719-d32c58daa23b.png)

Just like Cost Center appears here, the accounting dimension, Department, should've too.

![image](https://user-images.githubusercontent.com/40264279/61073477-299db700-a433-11e9-8a1e-037c292b6b75.png)

[2019-07-11 18:15] jaichavan opened #18277 "Inconsistency in Stock Entry & Stock Ledger Report"
So, we have a Stock Entry, under dimension, "Department"

![image](https://user-images.githubusercontent.com/40264279/61074233-d9bfef80-a434-11e9-81da-b3bdbff74652.png)

Then, we open Stock Ledger report for this entry & add "Department" via Add Column, only to find it empty:

![image](https://user-images.githubusercontent.com/40264279/61074675-e133c880-a435-11e9-9c63-4cf8aeaf97dc.png)

[2019-07-11 18:54] jaichavan opened #18278 "Dimension disabled but still visible in transactions"
Below steps to replicate are based on an assumption: You already have an active accounting dimension in your ERPNext account.
1) Disable this accounting dimension:

![image](https://user-images.githubusercontent.com/40264279/61076824-bc8e1f80-a43a-11e9-9f38-8ece0ae89e08.png)

2) Reload

3) Dimensions still visible in transactions:

Sales Invoice:
![image](https://user-images.githubusercontent.com/

[2019-07-11 19:17] #14523 closed

[2019-07-11 19:28] jaichavan opened #18279 "Cost Center "mandatory" in the inline Item of Sales Invoice"
I have only one dimension, "IG", then why is Cost Center mandatory? Is it still considered as a dimension? The docs don't explain this, please clarify.

![image](https://user-images.githubusercontent.com/40264279/61079188-f6adf000-a43f-11e9-9ae7-4ad3ffbdfd6c.png)

[2019-07-11 19:48] jaichavan opened #18280 "Dimension mandate failure in Sales Invoice"
Steps to replicate:
1) Create a dimension and only enable it for Balance Sheet accounts:

![image](https://user-images.githubusercontent.com/40264279/61080323-70df7400-a442-11e9-9e44-bf3b3841805e.png)

2) Make a Sales Invoice: The mandate for balance sheet account (in this case, Debtors) should've flagged the empty dimension field, but allowed to submit the invoice.

Note: The validation works cor

[2019-07-11 20:29] barredterra commented on #18046
Same as here: frappe/frappe#17010

[2019-07-11 20:30] barredterra commented on #16230
Same as here: #18046

[2019-07-11 21:17] jetmodel commented on #18245
thanks, it works

[2019-07-11 21:17] #18245 closed

[2019-07-12 05:50] umairsy commented on #18279
Yes. Cost Center should always be mandatory, irrespective of other dimensions. If there is only one dimension, like IG, then better to map IG itself as a Cost Center.

Closing this issue for now. We can discuss and re-open if needed.

[2019-07-12 05:52] umairsy opened #18281 "Dimension mandatory for Balance Sheet accounts as well?"
I am creating a Journal Entry with Balance Sheet accounts as well. It prompts to provide value for the Custom Dimension.

<img width="1206" alt="Screenshot 2019-07-12 at 11 16 17 AM" src="https://user-images.githubusercontent.com/910238/61105318-2a683480-a497-11e9-85e5-6a8b61e322b7.png">

Should we force Dimension for the Balance Sheet accounts as well? Perhaps we can make it configurable via opti

[2019-07-12 05:56] #18281 closed

[2019-07-12 05:56] umairsy commented on #18281
configurable on the Dimension level.

[2019-07-12 06:00] umairsy opened #18282 "Two dimension field for same DocType"
In the Sales Invoice, under Dimensions section, Project field is there by default. It still allowed me to create Project as a dimension, and inserted another field for it.

Perhaps we should restrict adding Cost Center and Project as a Custom Dimension, as they are dimensions already?

<img width="1183" alt="Screenshot 2019-07-12 at 11 27 38 AM" src="https://user-images.githubusercontent.com/91023

[2019-07-12 06:22] umairsy opened #18283 "Auto-invoicing: Rename Loan Period to Load Period (Days)"
Currently, field label doesn't indicate that Loan Period has to be entered in Days. Let's add this term in the label itself.

<img width="1236" alt="Screenshot 2019-07-12 at 11 49 20 AM" src="https://user-images.githubusercontent.com/910238/61106690-846af900-a49b-11e9-9e0e-e4e108c11f78.png">

Period can mean to Days, Weeks, Months... etc..

[2019-07-12 06:44] umairsy opened #18284 "Invoice Discounting: Error message doesn't indicate which values needs to be corrected"
<img width="1334" alt="Screenshot 2019-07-12 at 12 12 00 PM" src="https://user-images.githubusercontent.com/910238/61107852-7ec2e280-a49e-11e9-804d-e49f910d2502.png">

Entry:

<img width="1226" alt="Screenshot 2019-07-12 at 12 12 44 PM" src="https://user-images.githubusercontent.com/910238/61107883-8f735880-a49e-11e9-9274-49056d8e9387.png">

[2019-07-12 07:16] umairsy commented on #18284
If I jus flop Debtor and Debtor Discount account, then Invoice Discounting is saved just fine.

The field labels are "Credit Account",  "Discounted Account".. "Unpaid Account" are difficult to understand. Perhaps we should add description there. Or set some default accounts, if Invoice Discounting feature is enabled?

Also, should we restrict the selection of Debtor account which is selected in th

[2019-07-12 07:16] umairsy opened #18286 "Invoice Discounting: Make Status field Read Only"
It should not be editable by the user.

<img width="1226" alt="Screenshot 2019-07-12 at 12 10 18 PM" src="https://user-images.githubusercontent.com/910238/61109686-16c2cb00-a4a3-11e9-97dc-93011cb3bab6.png">

[2019-07-12 07:20] umairsy opened #18287 "Allows creation of multiple Invoice Discounting for a single Sales Invoice"
Steps:

1. Created an Invoice Discount for Sales Invoice "ACC-SINV-2019-00006", which is also disbursed.

<img width="1216" alt="Screenshot 2019-07-12 at 12 48 26 PM" src="https://user-images.githubusercontent.com/910238/61109845-8cc73200-a4a3-11e9-914d-e355e162efb8.png">

2. Tried creating another Invoice Discounting for same invoice, and could save one.

<img width="1191" alt="Screenshot 2019-07

[2019-07-12 07:22] omnison commented on #11617
it is ok in erpnext, but if output pdf, {{ frappe.db.get_value("Customer", doc.customer, "tax_id") }} display: None
In erpnext:
<img width="1223" alt="屏幕快照 2019-07-12 上午11 17 44" src="https://user-images.githubusercontent.com/7886153/61109958-3b18aa80-a497-11e9-9e00-9290010c7503.png">
but in outputted pdf:
<img width="763" alt="屏幕快照 2019-07-12 上午11 18 59" src="https://user-images.githubusercontent

[2019-07-12 07:22] omnison commented on #11617
how to solve this issue.

[2019-07-12 07:23] umairsy opened #18288 "Invoice Discounting: Indictor / Flag on Sales Invoice that it has been discounted"
Currently, looking at the Sales Invoice, we cannot understand if this invoice has been discounted. We should have some indicator which clarifies it? We can use same as a parameter to prevent creation of multiple Invoice discountins for the same invoice.

[2019-07-12 07:26] omnison opened #18289 "print issue {{ frappe.db.get_value("Customer", doc.customer, "tax_id") }}"
i using
TRN#: {{ frappe.db.get_value("Customer", doc.customer, "tax_id") }}
and
Customer#:{{ frappe.db.get_value("Customer", doc.customer, "customer_code") }}

They are displaying in erpnext like
<img width="1223" alt="屏幕快照 2019-07-12 上午11 17 44" src="https://user-images.githubusercontent.com/7886153/61110178-b37f6b80-a497-11e9-8d87-c9efc9c6ff0c.png">

But when i output pdf, these two fields displ

[2019-07-12 07:29] omnison commented on #18289
ERPNext: v11.1.44 (master)

Frappe Framework: v11.1.39 (master)

[2019-07-12 07:42] rmehta commented on #18269
Also department should be bold

**Department** is a mandatory **Accounting Dimension**

[2019-07-12 09:04] #17723 closed

[2019-07-12 09:35] EliZABZ commented on #17846
@jigneshpshah  - Do you know if anyone has started investigating this issue?

[2019-07-12 10:49] siddhpant commented on #18004
Working, thanks.

There was a serious server incident so it took me time

[2019-07-12 11:18] jaichavan commented on #18279
If it is mandatory, then it should be mandatory for all transactions, but it's not. We need to clarify this before v12 release.

[2019-07-12 11:49] jaichavan opened #18299 "Breadcrumb missing in Promotional Scheme"
![image](https://user-images.githubusercontent.com/40264279/61126073-23f2b080-a4c9-11e9-9efe-9d2770d6dcb7.png)

[2019-07-12 12:01] jaichavan opened #18300 "Validation message incomplete on saving empty inputs"
The mandatory fields are **Name, Pricing Rule Item Code.**
Please fix the validation message for consistent UX

![image](https://user-images.githubusercontent.com/40264279/61126244-9794bd80-a4c9-11e9-995c-1bc0fcf6562a.png)

[2019-07-12 13:00] jaichavan opened #18302 "[Keyboard SC] Page level shortcut, Email can cause unwanted issues"
Steps to replicate:
1) Try creating any new document (Item, Invoice, etc )
2) We can trigger page level shortcuts here. **Jump** is fine but **_Email_** can cause unwanted trouble.

![keyboard-sc](https://user-images.githubusercontent.com/40264279/61127343-a0d35980-a4cc-11e9-85cb-910e31f32184.gif)

[2019-07-12 15:14] foranastes commented on #18266
This is the code that causing problem.
File: erpnext/accounts/doctype/sales_invoice/pos.py

	def get_item_tax_data():

		itemwise_tax = {}
		taxes = frappe.db.sql(""" select parent, tax_type, tax_rate from `tabItem Tax`""", as_dict=1)

		for tax in taxes:
			if tax.parent not in itemwise_tax:
				itemwise_tax.setdefault(tax.parent, {})
			itemwise_tax[tax.parent][tax.tax_type] = tax.tax_rate

		re

[2019-07-12 15:35] vcnwafor opened #18303 "Data importation permission not working."
I created a user and made her the HR Manager, but she can't seem to do employee data importation using the importation tool and i have checked all permission settings to be correct.

[2019-07-12 16:06] ophl55 commented on #14227
Hello.

I'm having the same issues. The replacement of a BOM that is linked to 100+ other BOMs takes already 3 days. This is really a problem since there are many BOMs more to update.

Another point is that emails send over the system get stucked in the job queue.

[2019-07-12 22:23] obasigeorge opened #18304 "Can't close pos user attached to multiple profiles"
Change required to selling/doctype/pos_closing_voucher/pos_closing_voucher.py

Change to validate
Add  `'pos_profile': self.pos_profile,` to filter

[2019-07-13 12:57] michellealva opened #18305 "Cannot enter amount in salary structure"
Cannot manually enter the amount in salary structure. Have to click the downward arrow in the table to enter the amount. Then only the amount value is shown.

![Screenshot 2019-07-13 at 6 24 31 PM](https://user-images.githubusercontent.com/50285544/61171924-ab105900-a59b-11e9-9463-58f25de01e91.png)

[2019-07-13 13:28] michellealva opened #18306 "Internal Work History date before date of Joining in Employee master"
Allows previous work history date to be before date of joining which shouldn't be allowed.

In the shown example, the DOJ is 29/05/2019 and the From and To Date of internal work history is before the DOJ.

![Screenshot 2019-07-13 at 6 57 31 PM](https://user-images.githubusercontent.com/50285544/61172315-1d833800-a5a0-11e9-943f-129c4f4e81c6.png)

![Screenshot 2019-07-13 at 6 52 38 PM](https://user-

[2019-07-13 15:48] michellealva opened #18308 "Retention bonus and employee incentive not getting fetched while creating salary slip"
Steps to replicate this issue:

1. Create an employee, create a salary structure, assign salary structure to the employee.
2. In HR > Payroll > Retention Bonus (Create a new retention bonus with a date in August).
3. In HR > Payroll > Employee Incentive (Create a new employee incentive with a date in August).
4. Run payroll entry for the month of August and generate Salary Slips.

The created empl

[2019-07-13 16:55] deepeshgarg007 commented on #18265
Breadcrumb visible for Accounting Dimension

![image](https://user-images.githubusercontent.com/42651287/61174382-c93a8100-a5bc-11e9-97e6-4e6bab1d28b1.png)

[2019-07-13 17:42] AkramMutaher opened #18309 "sales invoice title must be change after edit invoice and change customer name"

[2019-07-13 21:06] ibrasec commented on #2196
Any updates for this ?

[2019-07-14 13:18] #18305 closed

[2019-07-14 13:18] michellealva commented on #18305
Checked it now again. Seems to be working fine.

[2019-07-14 17:57] pm-at commented on #12625
@addymuliady; Were you able to implement any solution for Employer's contribution?

[2019-07-15 03:54] jigneshpshah commented on #17846
No idea , i just tagged the issue for easy categorization.

[2019-07-15 06:14] jaichavan opened #18315 "[Projects] Report missing from dashboard"
The report, "Projects Billing Summary" is **missing** from the dashboard view:

![image](https://user-images.githubusercontent.com/40264279/61197964-20437180-a6f5-11e9-8c9e-59d098569fb3.png)

[2019-07-15 06:17] jaichavan opened #18316 "[Projects] Help link broken"
The help link redirects back to **Desk** instead of redirecting to a useful web resource.

![image](https://user-images.githubusercontent.com/40264279/61198132-1a01c500-a6f6-11e9-8a15-048803f9a067.png)

[2019-07-15 06:44] netchampfaris commented on #18299
![image](https://user-images.githubusercontent.com/9355208/61199028-00627c80-a6fa-11e9-873a-098168e6fef4.png)

@jaichavan Already fixed. Update v12 to latest.

[2019-07-15 06:46] netchampfaris commented on #18315
https://github.com/frappe/erpnext/pull/18318

[2019-07-15 06:46] #18315 closed

[2019-07-15 07:04] netchampfaris commented on #18271
https://github.com/frappe/erpnext/pull/18318

[2019-07-15 07:04] #18271 closed

[2019-07-15 07:10] netchampfaris commented on #18316
https://github.com/frappe/erpnext/pull/18160

[2019-07-15 07:10] #18316 closed

[2019-07-15 08:04] netchampfaris commented on #18302
https://github.com/frappe/frappe/pull/7893

[2019-07-15 08:04] #18302 closed

[2019-07-15 08:24] michellealva commented on #18306
It seems this isn't an issue. Sorry.

[2019-07-15 08:24] #18306 closed

[2019-07-15 08:27] EliZABZ commented on #17846
@jigneshpshah  - Thank you for taking the time to categorize this issue.

By chance do you know if I can escalate the issue further?

I've logged the ticket but it seems no one is investigating

[2019-07-15 08:32] jaichavan commented on #18265
Check frappetestv12.erpnext.xyz @deepeshgarg007

[2019-07-15 08:34] jigneshpshah commented on #17846
If you are on erpnext.com cloud , you may contact support/nabin (account module).. if you are on your own then you need to fix it or get it fixed by some developer.

[2019-07-15 08:55] crescent28 opened #18322 "Tax category issue while creating address for Supplier"
While creating PO --> Add supplier --> Add address --> Create new Address --> Tax category added in the Address

Still the error prompt.

![image](https://user-images.githubusercontent.com/41110073/61204871-111bee00-a70c-11e9-9393-9b9f69493a76.png)

[2019-07-15 09:36] netchampfaris commented on #18265
@jaichavan V12 is not released yet. So updates are not triggered for all accounts. I can confirm this breadcrumb issue is fixed.

[2019-07-15 09:36] #18265 closed

[2019-07-15 10:08] michellealva opened #18325 "Error while creating loan application"
Getting the following error which creating Loan application. Please check the gif below:

![loan application](https://user-images.githubusercontent.com/50285544/61208891-06665680-a716-11e9-812f-a9206a73805d.gif)

[2019-07-15 10:34] michellealva opened #18326 "Repayment Period calculated in loan application is wrong"
Negative value calculated in Repayment Period while creating **Loan Application**

![Screenshot from 2019-07-19 16-18-58](https://user-images.githubusercontent.com/50285544/61530238-2319cb80-aa41-11e9-828d-6085bd89bd48.png)

[2019-07-15 11:23] jaichavan opened #18333 "[What is what?] Very confusing Promotional Scheme"
What does a "mixed condition" mean? What is "cumulative"? It is very hard to understand what this document does at first glance. Why is pricing rule a mandate for this? What does a scheme do differently that pricing rule doesn't? There is no way to understand with the minimal context. Perhaps, the **addition of some descriptions for these checkboxes and important actions** will help. I was not abl

[2019-07-15 11:29] vorasmit opened #18334 "TaxWithholding design Issues"
Tax withholding is a key feature looking at Indian tax systems.
Following key issues are faced
- Rounding off issue.
**Correct scenario Eg:**
      Net Total: 1836
      Tax @ 18% : 330.48
      Rounding off : -0.48
      Grand Total : 2166
      Less : TDS @ 10% : 183.60
      Net amount payable : **1982.40.**
**ERP working:**
       Net Total: 1836
       Tax @ 18% L 330.48
       Less: TDS: 183

[2019-07-15 11:40] jaichavan opened #18335 "[Project Portal] New task via Customer login"
Steps to replicate:
1) Create a Project and provide access on the portal to the Customer.
2) Log in with customer credentials and try to create a new task in the Project

![project-portal](https://user-images.githubusercontent.com/40264279/61213641-3f58f800-a723-11e9-95e8-45c06a8d27d4.gif)

**Followup question: Customer doesn't have access to create a task, why is this option visible at all?**

[2019-07-15 11:43] farazk3 opened #18336 "Email address not fetching from lead to opportunity in New Email button"
![image](https://user-images.githubusercontent.com/47382932/61370238-8ecc2f00-a8af-11e9-9b73-88625ad5d9d6.png)
When creating a Lead Email address is added. Once the Lead is converted to Opportunity in New Email button the email address from the Lead is not fetched refer Screenshot.

[2019-07-15 11:50] jaichavan opened #18337 "[Project Portal] Comments via system user not visible on portal"
Steps to replicate:
1) Access the account via customer login who has access to an active project and tasks.
2) Open one of the task, for example, here, it's Design
Drop a Comment

![image](https://user-images.githubusercontent.com/40264279/61213893-09684380-a724-11e9-944b-c91e4813554c.png)

3) This is fetched under that task precisely into ERPNext:

![image](https://user-images.githubusercontent.c

[2019-07-15 11:55] jaichavan opened #18338 "[Projects] The Close button needs to be removed"
Since there is no status called "Closed" under Task anymore, why does the button to close still exist?

![close-status](https://user-images.githubusercontent.com/40264279/61214440-834cfc80-a725-11e9-8504-fb38bf1d3569.gif)

[2019-07-15 12:04] itskaps commented on #14177
any update?

[2019-07-15 12:34] jaichavan opened #18339 "[Projects] Auto project name not fetched"
Just like in the case of Expense Claims, and Task, when we try to create "Timesheet" via the project dashboard, the project name is not automatically fetched in the document. Inconsistency matters.

![project-not-auto](https://user-images.githubusercontent.com/40264279/61216389-dd9c8c00-a72a-11e9-8457-1d7ed64e3236.gif)

[2019-07-15 13:09] deepeshgarg007 commented on #18282
Fixed via https://github.com/frappe/erpnext/pull/18340

[2019-07-15 13:09] #18282 closed

[2019-07-15 13:10] deepeshgarg007 commented on #18269
Fixed via https://github.com/frappe/erpnext/pull/18340

[2019-07-15 13:10] #18269 closed

[2019-07-15 13:14] deepeshgarg007 commented on #18268
Fixed via: https://github.com/frappe/erpnext/pull/18340

[2019-07-15 13:14] #18268 closed

[2019-07-15 13:14] deepeshgarg007 commented on #18267
Fixed Via: https://github.com/frappe/erpnext/pull/18340

[2019-07-15 13:14] #18267 closed

[2019-07-15 13:16] deepeshgarg007 commented on #18280
@jaichavan Unable to replicate. Closing

[2019-07-15 13:16] #18280 closed

[2019-07-15 13:17] deepeshgarg007 commented on #18278
@jaichavan Unable to replicate. Closing

[2019-07-15 13:17] #18278 closed

[2019-07-15 13:19] #15028 closed

[2019-07-15 13:22] deepeshgarg007 commented on #14226
Removed grid reports completely from version-12. Closing

[2019-07-15 13:22] #14226 closed

[2019-07-15 13:26] deepeshgarg007 commented on #18277
Unable to replicate. Closing

[2019-07-15 13:26] #18277 closed

[2019-07-15 13:27] #18214 closed

[2019-07-15 13:33] deepeshgarg007 commented on #18275
Dimension can be selected from the Budget Against select field and for filters will currently have to use inline filters in datatable

![Screenshot 2019-07-15 at 6 58 10 PM](https://user-images.githubusercontent.com/42651287/61219877-c2357f00-a732-11e9-808d-a1faa63fe88f.png)

[2019-07-15 13:33] #18275 closed

[2019-07-15 13:34] jaichavan opened #18341 "[Projects] Standard Print Format has "user.full_name" instead of the name"
The print format for Project doesn't display the full name. Since it is a "standard" format, please consider making it appropriate rather telling me to create a custom print format ;)

![image](https://user-images.githubusercontent.com/40264279/61220081-307a4180-a733-11e9-8460-12b5f3e7d959.png)

[2019-07-15 13:37] deepeshgarg007 commented on #18276
Cost Centre filter and dimension filters does not make sense in Customer Credit Balance Report

It calculates outstanding from GL Entry, Sales Order and Delivery Note and no accounting dimensions are available in Sales Order and  Delivery Note

Removed cost centre filter from report via https://github.com/frappe/erpnext/pull/18340

[2019-07-15 13:37] #18276 closed

[2019-07-15 13:45] jaichavan opened #18342 "[Projects] Unwanted "," in report for dependent task"
Steps to replicate:
1) Create 3 tasks. Make sure 1 of them is dependent on the other two.

![image](https://user-images.githubusercontent.com/40264279/61220773-a6cb7380-a734-11e9-8fa0-80da69b29aed.png)

2) Go to Report Builder: check the field, **Depends on Tasks**

![image](https://user-images.githubusercontent.com/40264279/61220719-87344b00-a734-11e9-9d68-6ba594f2dd10.png)

[2019-07-15 14:01] Olawale1 commented on #15028
Hi @deepeshgarg007

What's the status of this? Was it done or was it discarded?

Thanks

[2019-07-15 14:04] netchampfaris commented on #18342
@jaichavan **Depends On Tasks** is a hidden field used for internal logic. It is different from the **Dependent Tasks** child table.

Hidden fields are allowed to be viewed in Reports so that they are exportable.

[2019-07-15 14:07] jaichavan commented on #18342
Why is the extra comma there? @netchampfaris

[2019-07-15 14:12] netchampfaris commented on #18342
As I clearly mentioned, it is a **hidden** field used in internal logic.

[2019-07-15 14:12] #18342 closed

[2019-07-15 14:31] netchampfaris commented on #18341
https://github.com/frappe/erpnext/pull/18343

[2019-07-15 14:31] #18341 closed

[2019-07-15 14:31] netchampfaris commented on #18338
https://github.com/frappe/erpnext/pull/18343

[2019-07-15 14:31] #18338 closed

[2019-07-15 14:35] jaichavan opened #18344 "[Projects] Changing project template after the project creation causes inconsistency"
Steps to replicate:
1) Create a new Project, say, Collection with project template "Vessel Repairs". This template has 4 tasks. Project Collection now has 4 tasks.

2) Now, change the template to another one, say, project template, "Fashion Collection"...it will update the project master as well as project templates (counter of how many have been created from that template) BUT IT DOESN'T ALTER TH

[2019-07-15 14:54] jaichavan opened #18345 "[Projects] Formatting of report in "Portrait" mode"
Steps to replicate:
1) Open Projects -> Report: Project wise Stock Tracking
2) Click on Menu -> Print
3) Select Orientation as Portrait

![report-error](https://user-images.githubusercontent.com/40264279/61225532-640e9900-a73e-11e9-8928-482a9e856cfc.gif)

[2019-07-15 14:57] jaichavan commented on #18265
ok, leaving this closed on your word ;) @netchampfaris

[2019-07-15 16:00] jaichavan commented on #18299
@netchampfaris  Perhaps, you can upgrade this instance **frappetestsv12.erpnext.xyz** so we are on the same version ;-)

[2019-07-15 16:00] #18299 closed

[2019-07-15 16:26] Olawale1 opened #18346 "Offline POS Name is not working [V11]"
Hi ,

Offline POS Name is not getting generated in V11

Please help fix urgently

ERPNext: v11.1.36 (master)
Frappe Framework: v11.1.33 (master)

Thanks

[2019-07-15 18:44] younisalbadawi opened #18347 "Upgrade from v9 to v11"
Dears,

I have self hosted erpnext version 9.x.x develop. I would lik to switch it to master then upgrade it to v11 master.
How can I achieve this upgrade.? Please advise.

Please not that I tried different methods but no luck.

Regards

[2019-07-15 19:12] aakvatech commented on #18347
This question should go into discuss

[2019-07-16 00:03] jaichavan opened #18351 "[Projects] "Daily Project Progress" email content issue"
Steps to replicate:
1) Enable "Collect Progress" under "Monitor Progress" tab in a project

![image](https://user-images.githubusercontent.com/40264279/61256544-c42b2c80-a78a-11e9-8d99-79ac4f391c54.png)

2) At the scheduled time, the users who have access to the project will get an email like this:

![image](https://user-images.githubusercontent.com/40264279/61256579-e7ee7280-a78a-11e9-8bd5-8f2342

[2019-07-16 05:12] younisalbadawi commented on #18347
How to move it to discussion as it's first time for me to post in gitub?

[2019-07-16 05:33] netchampfaris commented on #18351
This is fixed in https://github.com/frappe/erpnext/pull/18343 and merged

[2019-07-16 05:33] #18351 closed

[2019-07-16 05:45] netchampfaris commented on #18344
https://github.com/frappe/erpnext/pull/18354

[2019-07-16 05:45] #18344 closed

[2019-07-16 05:46] netchampfaris commented on #18264
https://github.com/frappe/frappe/pull/7906

[2019-07-16 05:46] #18264 closed

[2019-07-16 06:49] rmehta commented on #18337
Not sure this is a bug. there should probably be a "publish" checkbox if the document is public.

[2019-07-16 10:12] harshit-30 opened #18358 "Manufacturer is missing in Item Master"
In v11, we used to enter the Manufacturer of the Item inside the Item Master itself(refer the screenshot below), although the Manufacturer master exists.
This is v11:
![image](https://user-images.githubusercontent.com/46772424/61286240-18143080-a7e0-11e9-9950-001456e4c511.png)

This is v12:
![image](https://user-images.githubusercontent.com/46772424/61286294-2e21f100-a7e0-11e9-938e-faac40736eb0.pn

[2019-07-16 11:39] umairsy opened #18363 "Letter Head: Based on is Image. But for Footer, it's HTML always"
![photo_2019-07-16 17 05 46](https://user-images.githubusercontent.com/910238/61291478-40099100-a7ec-11e9-9338-0c05bef1059c.jpeg)

Even if image is selected, can we show preview right-away? Letter Head is very important doctype and preview of image will be important.

[2019-07-16 11:45] netchampfaris commented on #18345
We can't prevent the selection of Portrait as it might be useful in some cases. The least we can do is show a warning.

https://github.com/frappe/frappe/pull/7917

[2019-07-16 11:49] netchampfaris commented on #18335
Cannot replicate on latest develop. Closing.

[2019-07-16 11:49] #18335 closed

[2019-07-16 11:59] rmehta commented on #18363
These are not bugs, but missing features

[2019-07-16 12:11] umairsy commented on #18363
UI of Letter Head doctype is very crucial, specially from "new user on-boarding" perspective. Will be great if we can have better UI which allows preview and re-adjusting image size from UI itself.

[2019-07-16 12:14] umairsy commented on #18347
You can directly create a new post on https://discuss.erpnext.com

[2019-07-16 12:14] #18347 closed

[2019-07-16 12:26] umairsy commented on #18358
In version 12, this has been moved out of item master. Check "Item Manufacturer" doctype.

[2019-07-16 12:26] #18358 closed

[2019-07-16 13:33] mallesree commented on #15805
Feature will be very helpful. Linking the operations with the relevant work order will help in tracking the labor cost.

[2019-07-16 16:15] younisalbadawi commented on #18347
Done thanks.

[2019-07-17 02:44] heunghingwan commented on #17334
same
ERPNext: v11.1.47 (master)
Frappe Framework: v12.x.x-develop () (develop)

![image](https://user-images.githubusercontent.com/11424817/61343273-c02d0680-a87f-11e9-8f3c-60b96af6e7d4.png)

[2019-07-17 02:51] heunghingwan commented on #17334
showing undefined in here:
![image](https://user-images.githubusercontent.com/11424817/61343385-1f8b1680-a880-11e9-87ef-8d1c7bd7ceef.png)
if click on the module, it will reappear:
![image](https://user-images.githubusercontent.com/11424817/61343498-87d9f800-a880-11e9-9107-386239f405a8.png)
after click save, it will show again:
![image](https://user-images.githubusercontent.com/11424817/61343541-af

[2019-07-17 06:31] #18215 closed

[2019-07-17 06:49] rmehta commented on #18363
@umairsy not denying, but can't be classified as a "bug"

[2019-07-17 08:31] crescent28 opened #18367 "Mandatory fields in Child table to be displayed"
In Child table for all the doctypes, some mandatory fields are not seen and marked Mandatory ("Red")

The fields are not visible and not fetched until the fields are not prompted unless the forms are being saved.

It would be better if the fields are displayed out in the form itself.

![image](https://user-images.githubusercontent.com/41110073/61360072-499e0200-a89b-11e9-921c-50a148e6d72d.png)

[2019-07-17 08:35] crescent28 opened #18368 "Asset link required while Asset is created from the PR."
When an asset is created after the submission of a PR, there is no link for the asset created

![image](https://user-images.githubusercontent.com/41110073/61360355-ea8cbd00-a89b-11e9-8dfe-a1aa9ed336ec.png)

[2019-07-17 09:58] #18345 closed

[2019-07-17 10:19] netchampfaris commented on #18339
https://github.com/frappe/erpnext/pull/18371

[2019-07-17 10:19] #18339 closed

[2019-07-17 10:51] netchampfaris commented on #18363
@umairsy Using image for the header is a common use case. For the footer, it is usually text.

[2019-07-17 10:55] netchampfaris commented on #18367
@crescent28 Which DocTypes? All DocTypes is a little too much to handle. Can you list down the doctypes so that I can fix them one by one?

[2019-07-17 11:11] asem89 opened #18372 "'Qty is mandatory' even though Qty=1 when adding items by Barcode in Stock Entry"
Hello,
I think I've found a minor bug in ERPNext v11 Production.

When adding Items to Stock Entry (f.e. Material Receipt) using a Barcode scanner and field 'Scan Barcode' I've encountered an error "Row 1: Qty is mandatory" right after scanning.
Problem is Qty field in table is already 1.

User has to click on X to dismiss the warning about "Qty is mandatory" and then it can be left as 1 without i

[2019-07-17 11:17] netchampfaris commented on #18300
Fixed in latest develop

[2019-07-17 11:17] #18300 closed

[2019-07-17 11:46] netchampfaris commented on #18363
@umairsy Let's focus on critical bugs before releasing v12. Removing this from milestone.

[2019-07-17 11:59] netchampfaris commented on #18336
https://github.com/frappe/erpnext/pull/18373

[2019-07-17 11:59] #18336 closed

[2019-07-17 12:34] netchampfaris commented on #18368
https://github.com/frappe/erpnext/pull/18376

[2019-07-17 12:34] #18368 closed

[2019-07-17 12:59] netchampfaris commented on #18325
https://github.com/frappe/erpnext/pull/18376

[2019-07-17 12:59] #18325 closed

[2019-07-17 13:02] #18363 closed

[2019-07-17 13:20] reema30 opened #18377 "From Date - To date not working in leave application"
From date - To date in the default filters is not working. It works well when to click add filter. What is the use of these filters then? GIF attached.

![Leave application](https://user-images.githubusercontent.com/45488333/61378711-9eee0980-a8c3-11e9-907f-643d783bf0ec.gif)

Regards,
Reema

[2019-07-17 13:22] reema30 commented on #18377
@scmmishra assigning it to you, since you will be doing solving the same one assigned in Frappe

[2019-07-17 13:33] karthikeyan5 opened #18378 "BOM Update tool ServerError"
On trying to select a BOM in either of the fields the following server error is thrown:
[code]

![image](https://user-images.githubusercontent.com/4847317/61379408-1a03ef80-a8c5-11e9-8fe7-50020a5d0f43.png)

[2019-07-17 13:34] rmehta commented on #17026
fixed via #17769

[2019-07-17 13:34] #17026 closed

[2019-07-17 14:09] karthikeyan5 commented on #18322
![PO_bug_no_repro](https://user-images.githubusercontent.com/4847317/61382348-4110f000-a8ca-11e9-97c9-92c778ddaf87.gif)

i am Not able to Reproduce this issue. Please refer the GIF above.

[2019-07-17 16:03] mosabamf opened #18388 "General Ledger Account Currency - Bug - Version 11"
Hi Dears

Our instance has just been updated to 11.1.46 and we noticed that GENERAL LEDGER report print out views Company Currency instead of Account currency, as an example below GL report for Cash USD account but it shows Company Currency (SDG) instead of USD

![image](https://user-images.githubusercontent.com/21178114/61391491-179d9780-a8bd-11e9-9eb2-6f1f7952a8cb.png)

[2019-07-17 16:05] mosabamf commented on #18388
+1

[2019-07-18 06:12] jaichavan opened #18390 "[Projects] "Duplicate" Project no longer copies tasks"
In v11, if you duplicate a project, the tasks of that project were copied as well. (Task child table) Tasks are not being copied in v12.
Tested on frappe.erpnext.com
Is this because we removed the child table in v12?
**Steps to replicate:**
1) Create a project with 4 tasks
2) Menu -> Duplicate

[2019-07-18 06:16] netchampfaris commented on #18390
@jaichavan I am not sure if tasks should be implicitly copied for Duplicate Projects. Removing "Duplicate" option also does not seem to be a good idea.

[2019-07-18 06:24] DmitryGreenLeaf opened #18391 "Reorder Points not working "Quantity (0.9) cannot be a fraction in row 1""
Receive error email message:

Subject: [Important] [ERPNext] Auto Reorder Errors

Body:

  | Dear System Manager,  An error occured for certain Items while creating Material Requests based on Re-order level.  Please rectify these issues: ---  {"message": "Quantity (0.9) cannot be a fraction in row 1", "indicator": "red"}  --- Regards, Administrator
-- | --

I have checked all re-order levels and p

[2019-07-18 06:29] DmitryGreenLeaf commented on #18391
#bug #Accounts #reports #stock

[2019-07-18 06:30] DmitryGreenLeaf commented on #18391
label:Accounts

[2019-07-18 06:31] DmitryGreenLeaf commented on #18391
bug: #Accounts #reports #stock

[2019-07-18 06:34] DmitryGreenLeaf commented on #18391
bug Accounts reports stock

[2019-07-18 08:25] foranastes commented on #18346
What's your error?

[2019-07-18 08:29] Olawale1 commented on #18346
Hi @foranastes

Trust you're doing well. There is no error being generated. The system just fails to generate an offline pos name and falls back to using date.time instead. I've tried this on multiple instances and it's same

Please let me know if you need further details or clarification

Thanks

[2019-07-18 09:38] umairsy opened #18394 "Item Tax Template Issues. Some points requires discussion"
Issues verified by Nabin via online session

Item Tax Template:

- [ ] On selection of Tax account, tax rate is not fetched from Account master.
- [ ] Review how Item Tax Template and Tax Category will be patched for the existing user, so that itemised taxation is automated as earlier.
- [ ] Tax Category doesn't work if Company has multiple locations (say Maharashtra and Goa), and one Customer (ba

[2019-07-18 09:50] umairsy opened #18395 "Customer: GST Category in Sales Invoice"
In Sales Invoice, on selection of Customer, GST Category is not fetching in selection of Customer, but on saving the sales invoice. Validated by Nabin.

[2019-07-18 09:58] umairsy commented on #18284
Suggestion for renaming fields:

- Account Receivable Credit Account to "Loan Sanctioned but not Disbursed"
- Account Receivable Discounted Account to "Payment against Bank Loan"

Am not very sure feature name is invoice discounting. Could we call at "Loan against Receivables" or something which indicates the purpose of this feature?

[2019-07-18 11:27] umairsy opened #18399 "On Tax Category of Tax Category, Item tax template is not fething"
Steps in GIF:

![tax-category](https://user-images.githubusercontent.com/910238/61453663-5f372880-a97c-11e9-912c-0b4054efb16a.gif)

Just before the upgrade, on selecting Sales Taxes and Charges Template, the tax rates are fetching fine from the template. However, it doesn't seem to be working now.

https://imgur.com/a/xyGKGcx

Could it be related to python 2/3? Need to confirm python for my local

[2019-07-18 11:55] saurabh6790 commented on #18228
fixed in https://github.com/frappe/erpnext/pull/18355

[2019-07-18 11:55] #18228 closed

[2019-07-18 11:55] #18272 closed

[2019-07-18 12:37] michellealva opened #18402 "Does not fetch Annual and Monthly HRA Exemption if Formula is set in Salary Structure"
Annual and Monthly HRA Exemption amounts are not fetched in "Employee Tax Exemption Declaration" form if Formula is set in Salary Structure for various Salary Components. However, if direct amount is specified for each salary component, Annual and Monthly HRA Exemption amounts are fetched.

Steps to replicate:
 1. Create an employee, salary structure (with formula only), assign salary structure to

[2019-07-18 13:07] karthikeyan5 commented on #18322
closing this for now, since we are unable to replicate the issue.

[2019-07-18 13:07] #18322 closed

[2019-07-18 13:39] lxnow opened #18406 "Separate board/issues page tracker for resellers only"
Private forum or area where to submit and track against Frappe/ERPNext reseller-specific requests. Not directly related to the ERPNext product itself (which should stay here on frappe/erpnext)

FYI @ketansdesai

[2019-07-18 13:50] barredterra opened #28924 "[Usability] Naming Series does not get validated on save."
## Reproduce

1. Create a new DocType
2. Enter `SINV-####` as into Naming and save
3. Create a new document of this type
4. Save the new document

### Error

Step 4 will throw something like "Naming series invalid. Missing dot".
This error is out of context. It should actually happen in step 2.

### Solution

Validate Naming Series when DocType is saved.

[2019-07-18 16:25] test2a commented on #18334
to add to this mess, there is now GST TDS besides the income tax TDS and this is concerned with withholding 2% of GST. The calculation of the same is something like
basic taxable amount 1,000,000
tax rate 18% 180,000
total invoice value 1,180,000.
GST TDS= 2% of basic taxable value 20000
final payment 1,160,000. then you have the income tax TDS as per whatever section is applicable, be it 194c,194

[2019-07-18 17:13] #16445 closed

[2019-07-18 17:13] jaichavan commented on #16445
Closing this since it is no longer a bug.

[2019-07-18 17:19] jaichavan commented on #17027
Closing this since it has been added in v12. **Menu -> Add Columns** for all standard reports.
courtesy @deepeshgarg007

[2019-07-18 17:19] #17027 closed

[2019-07-19 06:07] saurabh6790 commented on #18226
Not able to replicate on xyz and on local

[2019-07-19 06:08] #18270 closed

[2019-07-19 06:29] michellealva opened #18417 "HRA Exemption not getting fetched while submitting proof from Employee Tax Exemption Declaration"
Steps to replicate:

1. Create an **Employee Tax Exemption Declaration** (enter HRA exemption details).
2. Use the "Submit Proof" button in **Employee Tax Exemption Declaration** to create an **Employee Tax Exemption Proof Submission**.

The HRA exemption details do not get fetched.

![HRA exemption not fetched in proof submission](https://user-images.githubusercontent.com/50285544/61514016-864537

[2019-07-19 06:39] #18222 closed

[2019-07-19 07:45] deepeshgarg007 commented on #18223
Fixed via: https://github.com/frappe/erpnext/pull/18419

[2019-07-19 07:45] #18223 closed

[2019-07-19 09:32] #18395 closed

[2019-07-19 10:01] michellealva commented on #18417
Yes it works. Thanks @karthikeyan5

[2019-07-19 10:01] #18417 closed

[2019-07-19 11:25] umairsy opened #18422 "Tax Category error when selection Customer Address"
<img width="1211" alt="Screenshot 2019-07-19 at 4 52 17 PM" src="https://user-images.githubusercontent.com/910238/61531944-f7e5ab00-aa45-11e9-9115-237343f82d10.png">

Error message:

[code]

[2019-07-19 12:27] harshit-30 opened #18423 "Not able to choose Issue Priority"
The Issue Priority field does not allows to choose any other priority except Low.
![image](https://user-images.githubusercontent.com/46772424/61535095-008eaf00-aa4f-11e9-804b-c5e2321b4f34.png)

[2019-07-19 12:34] harshit-30 commented on #18423
Functional issue, solved !

[2019-07-19 12:34] #18423 closed

[2019-07-19 12:35] umairsy commented on #18399
it's working fine in my another test instance. Perhaps some issue with local setup?

[2019-07-19 12:35] #18399 closed

[2019-07-19 12:38] umairsy opened #18425 "Tax Category fetching based on Customer and Company address"
In V11, we had a provision to auto-update In-state or Out-state tax template by comparing the States of Party and Company's Address. This doesn't seem to be work in V12.

One of the reason could be that we don't have provision to specify In-State or Out-state in the Item Tax Template or Tax Category.

[2019-07-19 13:16] prasadarr opened #18426 "Email Account not validating credential on save"
![email-error](https://user-images.githubusercontent.com/20245602/61537748-86155d80-aa55-11e9-81a3-d0232656f667.gif)

[2019-07-19 13:27] harshit-30 opened #18427 "Accounts Payable Report"
If there is a Journal Entry of type Debit Note, the Accounts Payable Report shows it as Paid Amount.
Report:
![image](https://user-images.githubusercontent.com/46772424/61538373-e658cf00-aa56-11e9-8d38-258c29c63f72.png)

Journal Entry:
![image](https://user-images.githubusercontent.com/46772424/61538411-fec8e980-aa56-11e9-92aa-5e5616d8773c.png)

[2019-07-19 13:48] grey2254 commented on #16678
Where do i place the above code

[2019-07-19 15:57] zerodiscount opened #18429 "Currency Symbol Format Bug in Accounting Statement"
ERPNext 11.1.48 - Multi Currency Company - default company currency is CRC and USD as alternative currency. When viewing multi period financial statements in USD - balance sheet / profit&loss statement - the currency symbol in total column shown is CRC - while the numeric value is in USD. All other columns (for each period) show the correct currency symbol (USD in this case).  The values are corre

[2019-07-19 17:07] adityahase commented on #17479
1. We have decided not to handle vouchers affecting inventory for the time being. If you wish to contribute, we are more than happy to collaborate with you.

2. There is no way to handle Custom Vouchers without complicating the implementation.

[2019-07-19 17:07] #17479 closed

[2019-07-19 17:18] adityahase commented on #17479
https://github.com/frappe/erpnext/pull/18430

[2019-07-19 17:19] #18378 closed

[2019-07-19 19:02] Don-Leopardo commented on #17417
@SaiFi0102 How is it going?

[2019-07-19 19:06] janecekmato commented on #16678
anywhere, ideally in your custom app, and then you should run bench execute  dotted.path.to.your.function

[2019-07-19 19:34] SaiFi0102 commented on #17417
Hey Don. I won't be working on this feature anytime soon. Let me know if I can help you in any other way :)

[2019-07-19 20:10] #18326 closed

[2019-07-21 08:06] siddhpant opened #18436 "Can't generate new GSTR 3B report due to AttributeError raised on NoneType object"
I cannot generate a new GSTR3B report. It gives `AttributeError: NoneType object has no attribute 'split'`.

![image](https://user-images.githubusercontent.com/25429745/61588589-f3430300-abbb-11e9-8f48-0a8d51ecfd04.png)

Steps to reproduce:

1. Go to `New GSTR 3B Report`.
2. Fill the required fields.
3. Click `Save`.

Bench was last updated on 20190721 1325 hrs IST on develop branch.

Old ones can

[2019-07-21 08:26] siddhpant commented on #17735
Closing due to lack of confirmation.

[2019-07-21 08:26] #17735 closed

[2019-07-21 08:59] Ashraf-Elsharqawy opened #18437 "Exchange Rate Revaluation 1- for jv that created from this tool total debit =total credit and balance for party no changed happen in the same time trial balanc for party not equal GL ?"

[2019-07-21 11:18] jigneshpshah opened #18438 "bug: POS Profile cost center set against taxes and charges"
Environment :
ERPNext: v11.1.48 (master)
Frappe Framework: v11.1.43 (master)

Step to Reproduce

Step 1 : Create A POS Profile for a user and set cost center and taxes and charges as shown below
![image](https://user-images.githubusercontent.com/4900815/61590417-812be780-abd6-11e9-9520-1a23db796ac3.png)

Step 2:  Login with that user and Go to Sales Invoice , check"Include Payment (POS)"  true , u

[2019-07-21 17:26] rohitwaghchaure commented on #18438
@jigneshpshah Thanks for reporting the issue, we have fixed the issue and tomorrow we'll release the fix.

[2019-07-21 17:26] #18438 closed

[2019-07-22 03:35] cyberdee commented on #14008
Hi... the latest version V11 is still having the same issue... any solutions? or this will be available on the next patch?

[2019-07-22 07:42] zycootess opened #18445 "Attachment became unreadable after update, showing error: 404 not found"
After the recent ERP update, we have noticed some attachments that cant be opened which never happened before on the last version before the update. After checking randomly documents with attachment, this documents contains special character in their file names such as #,( ),& among the files checked. Attached PDF file of compiled screenshots for reference:
[Attachment error samples - ERPnext.pdf]

[2019-07-22 10:40] Solivety commented on #7575
Greetings,
I'm coming back to ERPNext and setting up a new company and these problems seem to have not been resolved or ever really addressed!
If there an explanation for why it is difficult to have:
A. Time selector in task. This seems obvious, a task is a time specific item within  a project... even for projects It would be good to be able to choose a time of completion as well as date.
B. A but

[2019-07-22 11:58] clarkejj commented on #18445
Here are recent discussion reports
https://discuss.erpnext.com/t/problem-to-attach-file-after-update/47453

https://discuss.erpnext.com/t/problem-to-attach-file-after-update/47453

[2019-07-22 13:07] govindsmenokee opened #18446 "[BUG] Taxes and charges not populating"
Taxes and charges child table does not populate based on tax rule defined. Issue is there for quotation, sales invoice
Version 11 and 12 are effected

[2019-07-22 13:21] akhashogji opened #18447 "v11 to v12 upgrade error"
Getting the following error while upgrading to v12

[code]

[2019-07-22 18:15] sanath2020 commented on #8190
Any update on this?

[2019-07-22 19:21] #18447 closed

[2019-07-23 02:47] muchai commented on #18426
Experienced the same, couldn't save the domain, in version 12.

[2019-07-23 03:54] zerodiscount commented on #18429
Also verified by another user in India - using Rs for base currency. When a financial statement is created in USD (for example) for monthly or quarterly, and unchecked accumulated value - ERPNext adds a total column at end. The total column is not in the same currency symbol as the monthly or quarterly periods ( displays correct numeric value of USD but symbol is Rs).

[2019-07-23 07:23] MarioMeetsWorld opened #18450 "Google OAuth "too many redirects" error"
**Description**
When using the Google Auth for logging in the first time, instead of showing the familiar "You are not permitted to access this page", ERPNext is showing an error message saying "This page is not working. ERR_TOO_MANY_REDIRECTS. Please delete your cookies".

![image](https://user-images.githubusercontent.com/24277433/61691294-851d4e00-ad2b-11e9-9cb3-b277083d300f.png)

**Further Det

[2019-07-23 08:34] revant commented on #18450
Check if this works,

- Login as normal desk user.
- Create a web page and publish it. example route `homepage`
- Go to `Website Settings` and set the `Home Page` to new page route `homepage` and save

by default there is no home page route, it takes `/` as default route, `/` redirects to `login` causing too many redirects.

Also Login with google as the desk user will not cause this as it redirec

[2019-07-23 08:58] mloDev commented on #18450
It tried it and it works but still is just a work around.
Now our url will always be this webpage not like before the login/directly the desk.

It might fix the error but will cause a lot of confusion for our employees.

[2019-07-23 14:38] nandoschneider commented on #2507
+1

[2019-07-24 01:56] xickomesquita commented on #14580
Can we add Audit to Quality Management?

[2019-07-24 04:22] muchai opened #18458 "Get employees on payroll entry error - version12"
No employees for the mentioned criteria.

No save button after, initial save and edit

[2019-07-24 05:17] umairsy opened #18459 "Error when checking Bank list or Bank master"
<img width="1270" alt="Screenshot 2019-07-24 at 10 43 40 AM" src="https://user-images.githubusercontent.com/910238/61766952-4dcca100-ae00-11e9-84c4-6e595d26ab31.png">

[code]

[2019-07-24 06:04] vorasmit commented on #18334
@test2a
GST TDS is applicable currently only to govt undertakings/public sector holdings (again govt undertakings only). Its scope is very limited currently and govt doesn't plan to increase its scope any time in future, so we need not be scared of it and make unnecessary complications.

But Tax Withholding/TDS is used worldwide. It is of bigger concern.

[2019-07-24 06:20] vorasmit opened #18461 "[bug] item-wise report should match with consolidated report"
Hi,

**Current Scenario**
Currently, Item-Wise report is a calculated report from Sales / Purchase documents or reports.
It includes Item-WIse sales register, Item-Wise Purchase register, GST Itemised sales register, GST Itemised Purchase Register.

**Problem**
There are rounding off issues in item-wise reports. Value appropriated to each item is calculated. So, at some places total of the item-wi

[2019-07-24 10:41] rmehta commented on #11945
@draedonconsulting sorry for the late reply but you can use docs at https://frappe.io/docs

[2019-07-24 10:41] #11945 closed

[2019-07-24 17:17] borisnq opened #18475 "Company settings can't be saved anymore / Message: "Same Company is entered more than once""
It is impossible to save company settings for an existing company!

If you press the "save" button you get following popup:
"message
Same Company is entered more than once"

Changed values won't be saved.

May be it is an related issue: the cost center tree shows only the main cost center, all childs seem to be vanished.
The database table tabCost Center shows still all cost centers values but the

[2019-07-25 02:01] muchai commented on #18458
![image](https://user-images.githubusercontent.com/1822868/61840213-1d851100-ae99-11e9-8579-d2813abe138d.png)

In addition, if a filter criteria, say branch, department is selected, then, there's no save button displayed.

[2019-07-25 06:59] Freshdigits opened #18478 "Healthcare Practitioner doesn't in any form"
Hi Guys,

I have encountered one issue in Healthcare practitioner. eventhough I have created the master entries for practitioners with all time schedules, the practitioners data is not fetching in any linked forms. for example in patient appointment form etc. seems like the get_practitioner_list is having some issue. I have seen a similar issue here. https://github.com/frappe/erpnext/issues/16638

[2019-07-25 07:06] amutaher opened #18480 "Issue in project"
when creating a project by user A and create tasks linking with this project by user A
after that, I create another task related to that project by user B

NOW when I make any update in any value in that project all tasks created by user B will be not related to any project that means a project field in that tasks change to null.

[2019-07-25 07:30] rmehta commented on #11212
this seems done!

[2019-07-25 07:30] #11212 closed

[2019-07-25 08:02] cyruschiu123 opened #18483 "illegal template"
![Screen Shot 2019-07-25 at 3 56 12 pm](https://user-images.githubusercontent.com/23039225/61856721-4cc96b80-aef5-11e9-9e0a-1e5f8978870a.png)

On the print windows, it suddenly showed "illegal template" and fail to download the pdf. Everything is normal 5 mins before. I tried to reload/restart the computer and website it still happens. Please fix the issue.

[2019-07-25 08:28] sethu07 opened #18484 ""qtyUnit" Not updating in Json file - V12"
After creating Sales Invoice, i generate "E-Way Bill Json" but after checked the Json file "qtyUnit" not updating. ( This issue is already in V11 also ) Thanks.

[2019-07-25 11:37] umairsy opened #18485 "Website: Error on Item List"
Error when listing item an website from V12 (test site). GIF of the steps.

https://imgur.com/a/JWhYTsD

Error message:

[code]

Error when trying to access item from Website:

[code]

[2019-07-25 13:52] revant commented on #14924
https://github.com/frappe/frappe/pull/7789

closing this. please reopen if necessary

[2019-07-25 13:52] #14924 closed

[2019-07-25 14:07] revant commented on #16703
https://github.com/frappe/frappe/pull/6832
closing this. re-open if necessary

[2019-07-25 14:07] #16703 closed

[2019-07-25 14:13] revant commented on #2291
I managed this with website script.

1. Add a social login (only one for the following script to work)
2. place the following script in `Website Script`

[code]

Make the script better for your needs.

Note: This is just for user experience. Login using Rest API will work `/api/method/login`

[2019-07-25 15:03] Olawale1 commented on #18033
This is a big issue for organizations with a large workforce and varying salary components

Additional Salary can be used as a sort of workaround but still too tedious when you’re dealing with hundreds or even just 10s of employees. It would make sense to most Payroll Managers to be able to edit the Salary Slips within the ‘Salary Register’ report view while they’re still in Draft. This way, it’s

[2019-07-25 15:04] ruhusobeje opened #18487 "v12 - Breaks Mobile and Tablet desktop access"
We are using ErpNext on mobile and tablet devices at work
After upgrading to v12:

1. We are unable to click on any card on desk to access any module.
2. Scrolling the main page of desk drag-n-drops those cards instead of scroll.
3. The little arrow icon for option is also not clickable.

This also affects mobile apps, nothing is accessible on Mobile app now from desk.
We are fine if mobile app is

[2019-07-25 15:22] hballan commented on #18033
Yes, exactly my point finally someone gets it. Unfortunetly, I have been in touch with the development team to explain this issue and they refused to modify it. I even offered to pay to sponsor this feature to have them develop it as it seems like such a trivial thing to implement, just let me customize the slips as I please without reverting to the salary structure on saving but unfortunetly they

[2019-07-25 16:35] test2a commented on #18334
@vorasmit you are not getting my point. GST TDS is to be deducted by only govt and public sector as you said but as a retail or a contractor who "sells" to govt, goods or services, TDS is being deducted against my payment.
I am asking to implement the TDS on payments side and not on collection side.

Again, I dont plan to use GST TDS like I do tax withholding of employees or my 194C contractors bu

[2019-07-25 19:45] krnkris commented on #18487
+ scroll is only works on the very left side
+ in email site the delete function not works

[2019-07-26 00:00] xickomesquita opened #18490 "Quality Management - Issues"
@hrwX
Hi, I'm new here, so, please be patience:

1) I can't see the <Edit/Add Child/Delete> button.
![image](https://user-images.githubusercontent.com/38265198/61916395-b3af4a80-af1e-11e9-9314-04f7000e3cc6.png)
When I change language, it appears:

![image](https://user-images.githubusercontent.com/38265198/61916425-d3467300-af1e-11e9-86b5-9489b42f3101.png)

2) With portuguese, I can try to add a C

[2019-07-26 12:21] jigneshpshah opened #18501 "bug : session start failed on login desk version 12.0.1"
Environment :
Frappe : 12.0.1
ERPNext : 12.0.1

as soon as user (administrator) login to desk for the first time

![image](https://user-images.githubusercontent.com/4900815/61951194-e6fce280-afcd-11e9-9ee7-37a6ebcb6ea0.png)

in Chrome Console

![image](https://user-images.githubusercontent.com/4900815/61951348-5f63a380-afce-11e9-8d9e-59153aab04bd.png)

![image](https://user-images.githubuserconten

[2019-07-26 12:48] szenma opened #18502 "salesorder payment connection 12"
salesorder dashboard not showing payment entry in version 12

[2019-07-26 20:35] grynn-in commented on #14857
I checked the box for TLS and worked with GMAIL.

[2019-07-27 04:44] sammish opened #18503 "Fix : erpnext.projects.doctype.project.project.project_status_update_reminder Version-11 master"
![image](https://user-images.githubusercontent.com/12432802/61990107-878cea00-b042-11e9-8803-8356669f421b.png)

![image](https://user-images.githubusercontent.com/12432802/61990092-4e547a00-b042-11e9-8fe9-68f815230e58.png)

[2019-07-27 04:46] sammish commented on #18503
@nabinhait please support

[2019-07-27 07:02] jaichavan opened #18504 "Workflow Bulk Approval [UX]"
In v12, for the case of bulk approvals, all workflow states are available for approval/rejection in ListView, which is just sad UX and confusing for users, as below:

![image](https://user-images.githubusercontent.com/40264279/61991133-6d1a3700-b069-11e9-8890-5f0a50ce788e.png)

The workflow has 3 states, which are shown for approval as well as "Submit"/ "Cancel"....this is causing confusion for us

[2019-07-27 08:23] rmehta commented on #16678
"Employee Loan" has now been renamed to "Loan"

[2019-07-27 08:23] #16678 closed

[2019-07-27 09:50] sabranhameed commented on #18487
Yes that's right.

The cards are getting arranged during any scroll. Also the links are not clickable. The links are accessible only by opening in new tab.

[2019-07-27 14:04] govindsmenokee commented on #18490
Yeah the entire module is of no use because of this issue.

[2019-07-28 05:46] akawama-zz opened #18505 "nternalError: (1054, u"Unknown column 'root_type' in 'field list'""
Hello,

I am new to ERPNext and have been playing around for a while.
My issue is when I open Accounts > Cost Center Tree or try to Add Child under company name in Cost Center Tree and error message pops up.

Following are my system details.

This is the error message I get
[code]
Also its picture
![Screenshot_2019-07-28_11-08-29](https://user-images.githubusercontent.com/47711383/62002756-0100078

[2019-07-28 14:30] Salmon-Bard opened #18507 "HealthCare DICOM protocol support"
Greetings,
I’m so pleased to see ERPNEXT taking leaps into new domains.

We have a project for a hospital that as most hospitals will require ERP solution to communicate with various imaging and scanning devices to retrieve patient data. The stranded protocol and image format being DICOM.

Unfortunately ERPNEXT healthcare application does not have support for this key feature.

I did some search a

[2019-07-29 08:07] grynn-in commented on #13548
The current feature (how purchase and sales VAT) is achieved can achieve this outcome out of the box. You have to set up the purchase and sales VAT charges template. Adding highly specified feature that works in only one instance does not create good solutions.

[2019-07-29 09:56] j209 commented on #16796
Hi
This issue has not been fixed.
frappe:12.x.x
erpnext:12.x.x.
Datatable:1.13.5
![image](https://user-images.githubusercontent.com/18129232/62039364-cff80380-b20c-11e9-826b-65d6999f764c.png)

[2019-07-29 10:19] j209 opened #18515 "Reports allignment issue in RTL Interface"
Version:
Frappe:12.x.x
Erpnext:12.x.x
Datatable:1.13.5

![image](https://user-images.githubusercontent.com/18129232/62040657-3f6ef280-b20f-11e9-932b-eb38d5b47140.png)

#16796
#17467
#12266
[Datatable rtl support](https://github.com/frappe/datatable/pull/64)

[2019-07-29 11:28] #18501 closed, assigned to nobody

[2019-07-29 12:10] umairsy opened #18517 "Chart of Accounts Importer - If import for Parent comp, what to do for Child comp?"
### Scenario:

Parent Comp 1
-- Child Comp 1

I imported chart of Accounts for Parent Comp 1. On successful, it created same Accounts in child company as well. However, the default Accounts created in Chart of Accounts remained there. So, child company had

If CoA is imported for Parent, should CoA for child company over-written completely?

[2019-07-29 12:48] oyugicollins commented on #13334
was this issue solved ,am still facing the issue am on centOS 7.6,Thanks

[2019-07-29 13:01] adfluidics opened #18520 "Quotation trends - Leads showing as 1"
In quotation trends, when viewing per "customer", the leads all show up in a single line, which randomly takes the name of a lead in particular.
They should have their own line, like for customers.

[2019-07-29 13:27] umairsy opened #18521 "Error when trying to access CoAs from Company master"
Steps:

1. Open Company
2. View > Chart of Accounts

<img width="1268" alt="Screenshot 2019-07-29 at 6 53 36 PM" src="https://user-images.githubusercontent.com/910238/62052189-a2be4c00-b232-11e9-82bb-a054c450457f.png">

This is pretty consistent when you create a new Company and then accessing it's Chart of Accounts

[2019-07-29 19:51] toofun666 opened #18522 "pymysql.err.InternalError: (1054, "Unknown column 'pricing_rules' in 'field list'")"
Environment:
erpnext 12.0.2
frappe 12.0.2
When you try to
bench update --patch
after a database restore from version-11 database you receive the following:
Executing erpnext.patches.v12_0.update_pricing_rule_fields in erp.framras.com (_e43c835dee0489b9)
Traceback (most recent call last):
  File "/usr/lib/python3.6/runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "/usr/l

[2019-07-30 03:14] rmehta commented on #14033
@Tropicalrambler this is an anti pattern. The order and invoice are two separate events. I think in most cases the date should be the date of actual creation. It is also the date on the ledger posting.

[2019-07-30 03:14] #14033 closed

[2019-07-30 06:02] Anurag810 commented on #18521
@umairsy
I just Created new company **Selco Foundation** and then tried to Replicate the issue but not able to replicate here is the working GIF
![Working Fine](https://user-images.githubusercontent.com/32095923/62104591-a0550400-b2bd-11e9-858c-4e36fcb43b1f.gif)
Can you please check once

[2019-07-30 07:30] crescent28 commented on #18367
I will list the doctypes as and when found for the mandatory fields, as of now reported for the PR.

[2019-07-30 07:31] Anurag810 commented on #18367
@netchampfaris it would be fixed for all doctypes.

[2019-07-30 07:41] rohitwaghchaure commented on #18333
@jaichavan

Please check below two links and check whether it will helped you to understand promotional schemes. If still not then we need to work on the documentation
https://erpnext.com/docs/user/manual/en/accounts/promotional-scheme
https://erpnext.com/docs/user/manual/en/accounts/pricing-rule

[2019-07-30 07:41] #18333 closed

[2019-07-30 08:00] hrwX commented on #18218
Did not encounter this warning message

[2019-07-30 08:00] #18218 closed

[2019-07-30 08:05] FiloSpaTeam opened #18525 "[v12] Bench update last minute"
[code]

[2019-07-30 09:49] toofun666 commented on #18505
Can you check the .py file content and additionally see if there is any data on the relevant table prior to that action?

[2019-07-30 10:32] NeolithEra opened #18526 "Installation fails due to conflicting pandas version"
## Issue description

Hi, users are unable to run erpnext due to dependency conflict with _**pandas**_ package.

As shown in the following full dependency graph of **_erpnext_**, **_erpnext_** requires _**pandas**_ (the latest version)，while **_frappe_** requires _**pandas==0.14.1**_.

According to pip’s “first found wins” installation strategy, _**pandas==0.25.0**_ is the actually installed versi

[2019-07-30 10:35] NeolithEra commented on #18526
### Suggested solutions

1.	Fix your direct dependency to be **_pandas==0.14.1_**. I have checked this revision will not affect your downstream projects now.
2.	Ask your upstream project **_frappe_** to loose the version range to **_pandas>=0.14.1_**.

Which solution do you prefer, 1 or 2?

@rohitwaghchaure Please let me know your choice. I can submit a PR to solve this issue.

[2019-07-30 15:00] sammish commented on #18525
paTeam![image](https://user-images.githubusercontent.com/12432802/62140369-8df5bd00-b2f3-11e9-9d35-d3e13a863376.png)
![image](https://user-images.githubusercontent.com/12432802/62140575-e88f1900-b2f3-11e9-88be-cb11a5b743f1.png)

[2019-07-30 16:25] FiloSpaTeam commented on #18525
Yes same.

[2019-07-31 00:05] xickomesquita commented on #10462
Maybe it can use UNSPSC...

[2019-07-31 03:58] sammish commented on #18503
![image](https://user-images.githubusercontent.com/12432802/62182751-77397f80-b360-11e9-8014-ae59005748a1.png)

Somebody help me in one day more than 100 errors

[2019-07-31 04:47] michellealva commented on #18402
@Anurag810 any progress?

[2019-07-31 07:07] cyberdee commented on #13999
this will be great! can add the TOTAL row also when sending in pdf...

[2019-07-31 10:07] nick9822 commented on #18505
There were issues with the script. It is fixed with #18387 and merged into `develop` branch.
Please close the issue.

[2019-07-31 13:04] madmath03 opened #18539 "[BUG] France Chart of Accounts and regional settings not applied to France Overseas territories"
The French chart of accounts (introduced in #7916) is only available for companies registered in France, but they should also be available for France Overseas territories like Guadeloupe, Martinique, Guyane and Reunion as they are part of France and follow the same laws.

This also applies to most, if not all, regional settings of France like [preventing deletion of documents](https://github.com/f

[2019-08-01 02:40] SAIRAMRAJU commented on #17112
I am also facing the same issue.  In 11 , the Custom app was visible in the Desk.  Where as in 12 I am unable to locate the Custom app.  Where as the Doc types are available in the Search bar.

[2019-08-01 03:00] gaurav1katiyar2011 commented on #17112
@SAIRAMRAJU Goto to Menu-->Set Desktop Icon--> Select preferred Icon and save the setting. it works for me

[2019-08-01 10:55] Alhessan opened #18551 "Fifth user"
the fifth user is not add on my company profile what ever the email is

[2019-08-01 10:56] sgourav opened #18552 "how to fetch child table values in email alert"

[2019-08-01 11:00] #18458 closed, assigned to nobody

[2019-08-01 11:02] #17175 closed

[2019-08-01 11:02] #16834 closed

[2019-08-01 11:02] #16496 closed

[2019-08-01 11:02] #16511 closed

[2019-08-01 11:16] muchai opened #18554 "Printing & Emailing on Mobile App, and on Mobile Browser & Creating, say, a quotation from lead on Mobile App, and on Mobile Browser - Version 12"
The Menu, and Create menu buttons are not responding on mobile app, and on mobile browsers

[2019-08-01 11:27] amr444555 commented on #6800
any thing about this in v12 ??

[2019-08-01 19:36] bghayad commented on #6800
This link is helping a lot:
https://discuss.erpnext.com/t/barcode-scan-with-erp-andorid-app/37023/3

Regards
Bilal

[2019-08-01 19:40] krnkris commented on #18554
The Delete not responding as well

[2019-08-01 21:44] jboilesen commented on #2184
So..... is ERP Next already supporting .OFX files?

[2019-08-02 00:11] madappally commented on #18266
Solved the problem by changing 'tabItem Tax' to 'tabItem Tax Template Detail'.
`taxes = frappe.db.sql(""" select parent, tax_type, tax_rate from `tabItem Tax Template Detail`""", as_dict=1)`

[2019-08-02 00:11] #18266 closed

[2019-08-02 01:47] ruhusobeje commented on #18487
@kennethsequeira
Thanks. I saw you showed a video capture for mobile.
Do you know if there's a way to click icons on the desk in app/mobile?

[2019-08-02 03:47] govindsmenokee commented on #18554
Nothing within any of the menu is clickable

[2019-08-02 04:24] kennethsequeira commented on #18487
@ruhusobeje

just click on them!

If you're referring to scrolling, you will need to currently use the empty space to scroll until the fix is released

Closing the issue as the fix has been merged with https://github.com/frappe/frappe/pull/8067

[2019-08-02 04:24] #18487 closed, assigned to nobody

[2019-08-02 05:53] venku31 opened #18562 "IN V12 ,Point Of Sale +Create New Customer Not Coming,Any help please"
![POS](https://user-images.githubusercontent.com/29224707/62347636-f91fd900-b517-11e9-957e-a244ec5790e5.png)

IN V12 ,Point Of Sale +Create New Customer Not Coming,Any help please

[2019-08-02 06:59] rtl1801 opened #18563 "Picture for the Opportunity Icon not showing"
Hello. This is just an aesthetic bug but the opportunity icon is not showing itself. I've tried making a change in the doctype but it seems developer mode is needed. When I set the icon as a shortcut in my desktop, it came out like this:

![image](https://user-images.githubusercontent.com/44052565/62350505-786fd580-b535-11e9-8e21-aaa3209a8064.png)

ERPnext version: v11.1.47
Frappe Framework: v11.1

[2019-08-02 09:35] j209 opened #18568 "Missing new-site command in bench"
Hi
I successfully  install erpnext in develop mode (easy install) .Erpnext app with default site(site1.local) has created and works well.But i cannot create new site.

![bench-help](https://user-images.githubusercontent.com/18129232/62360479-1b245600-b52e-11e9-8128-830ba083a3ad.png)
![bench-new-site](https://user-images.githubusercontent.com/18129232/62360480-1b245600-b52e-11e9-8009-8f7e242a6265.p

[2019-08-02 09:55] j209 commented on #18568
cd frappe-bench
bench new-site

[2019-08-02 09:55] #18568 closed, assigned to nobody

[2019-08-02 17:05] Tropicalrambler opened #18571 "Attendance Marking when Generating Payroll Entry"
Desired feature:
When creating a payroll entry for employees with attendance validation, allow direct link from the payroll entry to attendance doctype list view or attendance marking tool, so that the user may flow directly to mark the attendance so user can complete validating payroll.

[2019-08-02 22:32] barredterra opened #18572 "Website Item: Uncaught Server Exception"
1. Create a new Item
2. Check "Show in Website" and Save
3. Open Item URL

[code]

### Versions
ERPNext: v12.0.4 (version-12)
Frappe Framework: v12.0.4 (version-12)

[2019-08-03 02:01] clarkejj commented on #18445
Your pdf file of screenshots is empty

[2019-08-03 05:35] zycootess commented on #18445
@clarkejj Hi, Below is the screenshot for that file.
Thank you.
![image](https://user-images.githubusercontent.com/49873502/62407964-d8b45500-b5d1-11e9-834f-abff6de142d8.png)

[2019-08-03 10:54] linuxamination opened #18578 "Getting Python errors in Browser Console"
If I try to do an action which is not allowed, it gives me python errors in browser console. The browser console should show js/css client side errors and warnings and not the path of server side files and their location.

I have tried same url in online demo site and it is giving me same python errors in browser console.
https://manufacturing.erpnext.com/desk#Form/User/Guest

https://08c8e6d1-a-6

[2019-08-03 13:55] SunilKrishnan opened #18581 "Parameters are not showing up while adding webhook"
Parameters are not showing up while adding web-hook in the latest code as on 3rd Aug. This is newly introduced bug

Go to New Web hook

Try to add a parameter to sent along with URL. Parameters are not showing automatically

[2019-08-03 15:36] akashdubey22 commented on #4218
Same error again in v11 when I open print invoice or any voucher.

Akash

[2019-08-03 17:09] ruhusobeje commented on #18487
@kennethsequeira
ikr, it would have been good if it was that obvious!

The Desk is not clickable at all in app and mobile browsers.
Like the one pointed on forums recently
https://discuss.erpnext.com/t/v12-menu-button-not-usable-mobile/51411

Please find attached screen record.

![erpnext](https://user-images.githubusercontent.com/36888881/62414899-a6b1eb80-b5ef-11e9-8cc7-009e9993c80a.gif)

[2019-08-03 18:55] krnkris commented on #18487
The developers work on it:

https://github.com/frappe/frappe/issues/8067

[2019-08-04 00:28] madappally opened #18582 "URGENT: POS is not picking the Warehouse mentioned in 'POS Profile'"
POS is not picking the Warehouse mentioned in 'POS Profile' on V12.

[2019-08-04 00:38] ruhusobeje commented on #18487
@krnkris
Thanks for pointing. I think that pull request is only for disabling scroll.

[2019-08-04 02:05] mallesree commented on #16104
I am looking for the same feature. "Item Alternative" doctype works only it there is one alternative item. I don't think it works if we have more than one item as substitute.

[2019-08-04 05:34] mallesree opened #18583 "Item Alternative in BOM and workorder in version12"
[https://github.com/frappe/erpnext/issues/13704](url) Item Alternative feature is not functioning/available in version 12.

[2019-08-04 09:07] amutaher opened #18584 "Issue in Release v12.0.4 in child tables"
I have created child tables in project and tasks doctype, now when I open any records have any data in child tables show me this ERROR
**ImportError: Module import failed for Lessons (erpnext.projects.doctype.lessons.lessons Error: No module named lessons.lessons)**

in this case, my child table named lessons

this problem in all doctypes when updated from Release v12.0.3 to Release v12.0.4
its se

[2019-08-04 09:41] vinhnguyent090 commented on #18522
today I have same error. Error migrate Items table don't have pricing_rules field.

I try to skip this step by edit this file: `apps/erpnext/erpnext/patches/v12_0/update_pricing_rule_fields.py`
set
`doctypes = {}` or return do not run this patch

run
`bench migrate`

after run success restore update_pricing_rule_fields.py then run

`bench --site [sitename] run-patch erpnext.patches.v12_0.update_pr

[2019-08-04 12:06] sammish opened #18585 "Fix : Could not retrieve information P&L , Cash Flow (ERPNext: v11.1.50 (version-11))"
Dear All,

Please Support
![Screenshot from 2019-08-04 15-05-10](https://user-images.githubusercontent.com/12432802/62423478-50b17680-b6c9-11e9-8aad-694f3c312e9d.png)

![Peek 2019-08-04 14-58](https://user-images.githubusercontent.com/12432802/62423386-dd0f6980-b6c8-11e9-8bae-8269a0e0db17.gif)
![Peek 2019-08-04 15-00](https://user-images.githubusercontent.com/12432802/62423387-dd0f6980-b6c8-11e9-9

[2019-08-04 12:36] abdelrahmanfakhry opened #18586 "Manufacturing (V12) error"
When starting the work order the stock entry created to transfer material from raw warehouse to work in progress warehouse didnt fetch the items from the BOM and gives me this error "All items have already been transferred for this work order

[2019-08-04 14:43] #18584 closed, assigned to nobody

[2019-08-04 14:46] amutaher commented on #18584
Solved after make updates in child tables.

[2019-08-05 03:04] catrielmuller commented on #17112
@gaurav1katiyar2011 Sorry can you sent me where i can create a new card for my custom module, Thanks

[2019-08-05 05:11] sammish commented on #18585
I fixed this issue merge account ledger to another ledger
![Screenshot from 2019-08-07 07-56-09](https://user-images.githubusercontent.com/12432802/62595931-fb53b000-b8e8-11e9-8ad4-ace682cb5951.png)

[2019-08-05 05:11] #18585 closed, assigned to nobody

[2019-08-05 06:16] gaurav1katiyar2011 commented on #17112
@catrielmuller please find below screenshot to set icon on desktop
![image](https://user-images.githubusercontent.com/23612057/62442704-a5b9bf00-b793-11e9-9b22-1cd65b91be0d.png)

![image](https://user-images.githubusercontent.com/23612057/62442734-bd914300-b793-11e9-89c6-5e73fbec6512.png)

[2019-08-05 06:16] Anurag810 commented on #18552
Please provide some description/screenshot/GIF or steps to replicate the issue and please also mention on which Version are you facing this problem. Otherwise, this issue will be closed.

[2019-08-05 07:26] ruchamahabal commented on #18286
Already fixed in: https://github.com/frappe/erpnext/pull/18136

![status_field_read_only](https://user-images.githubusercontent.com/24353136/62446425-4f8f5080-b780-11e9-95e0-0368c2b9f8ba.png)

[2019-08-05 07:26] #18286 closed

[2019-08-05 07:33] ruchamahabal commented on #18283
Already fixed in: https://github.com/frappe/erpnext/pull/18136

![loan_period_days](https://user-images.githubusercontent.com/24353136/62446802-566a9300-b781-11e9-87b2-dff7f312e00d.png)

[2019-08-05 07:33] #18283 closed

[2019-08-05 07:43] muchai opened #18593 "Error when creating quotation from opportunity-ERPNext: v11.1.52 (version-11)"
![image](https://user-images.githubusercontent.com/1822868/62447337-d71f9400-b76d-11e9-8e2f-f0ab2176dbf4.png)

[2019-08-05 07:47] alyjee opened #18594 "On creating a new user, all role-profiles/permissions are copied to newly created user"
On creating a new user, all role-profiles/permissions are copied to the newly created user.

**Steps to re-create** this Bug is:

1. Open a User Detail Screen in which the user already has some roles assigned.
2. The Go to User List Screen.
2. Then Go to Create New User Screen.
3. Add necessary inputs and Hit Save, (You can’t assign any role on creating a new user).

**Expected** Output:
A New Use

[2019-08-05 08:23] aakvatech commented on #11995
Since we have multiple barcodes per product, is there a way to now link the UOM to barcodes so that scanning complete package automatically loads the correct UOM for that item?

[2019-08-05 08:54] hrwX commented on #18490
I have fixed these issues in the following PRs
- #18595
- #18596

[2019-08-05 09:19] #18490 closed, assigned to hrwX

[2019-08-05 09:40] ruchamahabal commented on #18459
Payment Order removed from bank dashboard in:
https://github.com/frappe/erpnext/pull/18573

[2019-08-05 09:40] #18459 closed, assigned to ruchamahabal

[2019-08-05 09:46] kennethsequeira commented on #18487
@ruhusobeje

have added your gif with another recording here: https://github.com/frappe/frappe/issues/8099

[2019-08-05 09:57] kennethsequeira commented on #18552
@gaurav-naik kindly post technical queries on the [forum](https://discuss.erpnext.com)

[2019-08-05 09:57] #18552 closed, assigned to nobody

[2019-08-05 10:21] Anurag810 commented on #18526
Yeah, go-ahead raise a PR it will be reviewed and merged accordingly.

[2019-08-05 10:21] #18526 closed, assigned to nobody

[2019-08-05 10:25] Anurag810 commented on #18437
@Ashraf-Elsharqawy kindly post technical/functional queries on the [forum](https://discuss.erpnext.com)

[2019-08-05 10:25] #18437 closed

[2019-08-05 10:26] Anurag810 commented on #18406
kindly post these queries on the [forum](https://discuss.erpnext.com)

[2019-08-05 10:26] #18406 closed

[2019-08-05 10:45] krnkris commented on #18487
Can confirm, it is just works on IOS:

https://github.com/frappe/frappe/issues/8099#issuecomment-518179657

Installed Apps

ERPNext: v12.0.4 (version-12)

Frappe Framework: v12.0.4 (version-12)

[2019-08-05 11:35] jigneshpshah opened #18598 "bug: Customer list doesn't populate based on parent territory filter"
### Environment
ERPNext: v12.0.4(version-12)
Frappe Framework: v12.0.4 (version-12)

### Use case : To get the list of the customer territory wise

**Actual Behavior  :**
Customer List doesn't populate based on parent territory selection in the filter
Steps :

**Territory Tree**
![image](https://user-images.githubusercontent.com/4900815/62460752-7d848d00-b7a0-11e9-93d5-bc50ab4f2699.png)

**Custome

[2019-08-05 11:36] #18505 closed, assigned to nobody

[2019-08-05 13:09] szufisher opened #18599 "bug: several bugs and improvement ideas for education module"
after test run the whold education module end to end, the following bugs identified

1.  pymysql.err.InternalError: (1054, "Unknown column 'course_name' in 'field list'") for both student group creation tool and enrolled courses in program enrollment

root cause: missing the fetch from **course_name** field in program course doctype

2. following error when generate student report
 Traceback (most

[2019-08-05 13:52] #12643 closed

[2019-08-05 15:17] ychan1004 opened #18601 "Sales Invoice not allowed to be renamed"
I keep received a message "Sales Invoice not allowed to be renamed" when submitting or loading invoices.

[2019-08-05 17:30] SunilKrishnan commented on #18581
parameters like expected start date, expected end date are not showing in the drop down list while adding a webhook.  This was working fine in previous release. Its a regression issue.

[2019-08-06 01:08] jboilesen opened #18602 "Bank Transactions - Import OFX"
ERPNext should import bank transactions from bank statements OFX files to reduce human error in CSV files.

OFX is an international open markup file type designed to describe financial transactions.

[2019-08-06 04:22] xickomesquita commented on #18490
Hi, 1,2,3 and 4 ok! Thanks!!

Just can't sort the tree, using the names of the folders...

UPDATE: Still can't sort the folders:

![image](https://user-images.githubusercontent.com/38265198/62987182-ead59500-be14-11e9-950c-93d9919b51b3.png)

[2019-08-06 06:50] weembe opened #18603 "[v11] Configure charts button missing after retoggle charts"
Installed Apps
ERPNext: v11.1.51 (version-11)
Frappe Framework: v11.1.47 (version-11)

After pressing toggle charts button when chart is currently active and viewable to hide chart, and toggle it again, configure charts button is not coming back.

Expected behavior:
![image](https://user-images.githubusercontent.com/49667172/62517152-f17e6e00-b850-11e9-9e02-32f6aa3f704f.png)

Current behavior:
![i

[2019-08-06 09:39] adfluidics commented on #3821
Up !
What is currently available is not enough.

E.g. I have an order, dated January 2019, with:
25x item A due June 2019
30x item B due January 2020

I invoice 50% at the order and 50% at delivery, so :
- 50% of the total in January 2019
- 50% of 8x item A in June 2019
- 50% of 17x item A in July 2019 (I could not delivery everything in one go because of a production problem, so I only invoice wh

[2019-08-06 10:48] gbm001 opened #18604 "Invalid use of urllib in Python3"
https://github.com/frappe/erpnext/blob/e4abaa7cddbdcfdf8f8d02182c8071375871fd02/erpnext/setup/doctype/item_group/item_group.py#L168

The referenced line above calls 'urllib.quote' which is removed in Python3. In Python3, this is available in urllib.parse.quote. This can be made Python2/3 compatible using:

    try:
        from urllib import quote  # Python 2.X
    except ImportError:
        from

[2019-08-06 12:25] parthdt opened #18606 "upload statement in bank reconcillation"
I can't upload a statement in open bank reconciliation page.
Also, the upload and reconcile options pop up twice and sometimes more.
![Screenshot from 2019-08-06 17-46-12](https://user-images.githubusercontent.com/36564245/62539619-49c66780-b873-11e9-8de8-78d1873f3951.png)

Please do help me out.

[2019-08-06 13:03] federicocalvo opened #18607 "Users for translations"
Hello, I request the creation of two translation users.

The github usernames are @Don-Leopardo  and @fproldan.

This is what they mentioned when writing to frappe support

Regards

[2019-08-06 15:22] hans-permana commented on #13593
I think this is an unfinished feature right? Could you let me know if there are works being done to finish this? I am thinking of finishing this since it could be really important for me right now. Let me know if there is a work being done in this area so to avoid any effort duplications. Cheers.

[2019-08-06 16:57] dufani1 opened #18608 "V12 Add custom doctype to customize shortcuts"
Hii
Why we could not add a new custom doctype to Customize Shortcuts? And we shall be able to add a new custom doctype to module sections in V12, as a lot of users required that.
Please see below images:
![Untitled2222](https://user-images.githubusercontent.com/23026263/62559725-c3625380-b87b-11e9-9f65-cb70080d1d41.png)

![Untitled111](https://user-images.githubusercontent.com/23026263/62559734-c9

[2019-08-07 04:14] sammish commented on #18503
Hi All
I fixed above issue. there is no bug.

Please remove tick from  "c**ollect progress**" option.

![image](https://user-images.githubusercontent.com/12432802/62594370-1ae7da00-b8e3-11e9-94d5-764667736d8e.png)

![Peek 2019-08-07 07-13](https://user-images.githubusercontent.com/12432802/62594343-fd1a7500-b8e2-11e9-83d5-dc2903dce805.gif)

[2019-08-07 04:17] #18503 closed, assigned to nobody

[2019-08-07 04:43] kennethsequeira commented on #18578
It's the case of it being a _feature not a bug_.

If the error has been handled, it will show up as a message with the traceback in the console as in your case, or show up the error prompt with an option to report it:

![image](https://user-images.githubusercontent.com/33246109/62593376-1ed02800-b8f4-11e9-8ccb-63da056dffbd.png)

Clicking on the report button shows the whole error traceback while t

[2019-08-07 04:43] #18578 closed, assigned to nobody

[2019-08-07 04:44] kennethsequeira commented on #18483
The issue was fixed some time back. Kindly pull the latest changes and check.

[2019-08-07 04:44] #18483 closed, assigned to nobody

[2019-08-07 05:32] Anurag810 commented on #6246
https://github.com/frappe/erpnext/pull/17668

[2019-08-07 05:32] #6246 closed

[2019-08-07 05:33] ychan1004 commented on #18601
any update on this?

[2019-08-07 05:40] Anurag810 commented on #18367
it can be handled through customizing the form. then the user will be able to see and edit this through the grid view.

[2019-08-07 05:40] #18367 closed

[2019-08-07 06:04] Anurag810 commented on #18502
can you please check user permission and roles once. because it may due to the wrong user permissions.

[2019-08-07 06:06] adityahase commented on #18525
https://github.com/frappe/frappe/pull/8074 (Included in [frappe v12.0.4](https://github.com/frappe/frappe/releases/tag/v12.0.4)) should fix this.

[2019-08-07 06:09] #18525 closed, assigned to adityahase

[2019-08-07 06:19] hrwX commented on #16768
#### This Issue seems to be fixed as file_manager import is not visible anymore
![Screenshot 2019-08-07 at 11 48 05 AM](https://user-images.githubusercontent.com/7310479/62599219-48477e80-b909-11e9-9c90-05ce8fe6b684.png)

[2019-08-07 06:19] #16768 closed

[2019-08-07 06:24] hrwX commented on #16769
#### Works in V12
![Screenshot 2019-08-07 at 11 54 05 AM](https://user-images.githubusercontent.com/7310479/62599550-21d61300-b90a-11e9-821a-036b392d6e6d.png)

[2019-08-07 06:24] #16769 closed

[2019-08-07 06:43] #18224 closed

[2019-08-07 06:43] #18225 closed

[2019-08-07 06:56] adityaduggal commented on #18522
@vinhnguyent090 You have hit the nail on the head, indeed the problem is not in the patch but I think the way order in which it is run for the first time I think its running before a patch on which it depends and hence it is not creating any issue once we skip this patch and then after full migration we then re-run this patch then the patch is successful.

[2019-08-07 07:00] Anurag810 commented on #18287
As discussed with @asbasawaraj this not a valid issue. Only one invoice can be discounted once.

[2019-08-07 07:04] #18502 closed, assigned to Anurag810

[2019-08-07 07:12] umairsy commented on #18287
@asbasawaraj I could still make two Invoice Discounting for the same invoice (full amount). You think this should be allowed?

[2019-08-07 07:14] umairsy commented on #18287
@Anurag810 so this is valid issue... right? )

[2019-08-07 07:36] szenma commented on #18502
it is not about  user permission. but in latest update it is working but the red round not coming

[2019-08-07 07:40] michellealva opened #18617 "Video links not working Learn section"
None of the links work in the Learn section. Check the gif below:

![v12 issue](https://user-images.githubusercontent.com/50285544/62603958-9ada6800-b914-11e9-9b0c-a6b5bd515bd3.gif)

They redirect back to the same page.

[2019-08-07 07:40] Anurag810 commented on #18288
It shows under more information.

![Screenshot 2019-08-07 at 12 38 46 PM](https://user-images.githubusercontent.com/32095923/62603986-ad54a180-b914-11e9-94fc-77ed79b10b6d.png)
 I know it is not visible. any suggestion where to put.

[2019-08-07 07:46] Anurag810 commented on #18287
Yeah, I just replied in the reference of the title. So, blocked Discounting for multiple invoices.

[2019-08-07 07:57] opentechiz opened #18618 "Salary calculation is not carrying start date and end date"
This happens in 2 cases
1. A staff joins the company in middle of a month for example, the salary do not get calculated correctly, it gives whole monthly salary when you create salary slip
2. We define a new salary structure assignment for a staff and start date is in middle of a month then when we create the salary slip, the new salary structure assignment affect for whole month which we apply ne

[2019-08-07 07:57] opentechiz commented on #18618
A discussion posted here as well
https://discuss.erpnext.com/t/salary-sheet-or-report-for-all-staff-in-the-company/51061

[2019-08-07 08:11] umairsy commented on #18288
I think it has been added in the Indicator already. We can close this.

<img width="1235" alt="Screenshot 2019-08-07 at 1 36 47 PM" src="https://user-images.githubusercontent.com/910238/62606067-058da280-b919-11e9-8f26-4d805b5141f0.png">

[2019-08-07 08:13] gbm001 commented on #16012
I also get this error.

[2019-08-07 08:17] Vaibhav-erpnext opened #18619 "Company form is saved but status showing as not saved after Message popup."
While creating the company, I am getting a message that date is not in the fiscal year.
Company status is showing not saved but in the company list but company is saved.

It is happening when the user selects the country India.

![Company_Creation](https://user-images.githubusercontent.com/49669130/62606335-a3816d00-b919-11e9-9ac7-76466336e821.gif)

[2019-08-07 08:28] surajshetty3416 commented on #18475
@borisnq Can you please add more specific steps like when are you getting this issue or maybe steps to replicate(animated GIFs would help)

Currently, on the same version you mentioned, I am able to save Company changes.

[2019-08-07 08:34] michellealva commented on #18618
1. This works fine in v12.

2. I don't think this is an issue. The system is designed in such as way.

[2019-08-07 08:40] sethu07 opened #18620 "Payment Reconciliation - Error - V12"
Match payment with invoice error, when i click "Get Unreconciled entries". Screenshot attached for reference.
![Screenshot (1)](https://user-images.githubusercontent.com/14884539/62608086-d1b47c00-b91c-11e9-86d5-9e37dbe76831.png)

[2019-08-07 08:45] gbm001 commented on #16012
Fixed in bench console by re-creating the table:

    from frappe.model.db_schema import DbTable
    qbtab = DbTable('QuickBooks Migrator')
    qbtab.create()
    frappe.db.commit()

[2019-08-07 08:45] gbm001 commented on #15856
https://github.com/frappe/erpnext/issues/16012#issuecomment-519003463
Missing tabQuickBooks Migrator table causes similar issue (with fix).

[2019-08-07 08:47] adityaduggal commented on #2291
@revant Thanks for the effort but I think this has lost its relevance since 2FA is now built into frappe and hence I am closing this

[2019-08-07 08:47] #2291 closed

[2019-08-07 08:52] jaichavan opened #18621 "Split issue doesn't reset SLA"
Steps to replicate:
1) Try to split an issue to create a new thread
2) The SLA level (Fulfilled/Failed) of the original issue is also copied in the new issue thread.

Suggestion: Consider resetting the field called "First Response On" field in the new issue thread that is created upon splitting the original issue

[2019-08-07 09:02] ruchamahabal commented on #18422
@umairsy I was not able to replicate this issue in version 12 local instance.
Tried selecting Customer Address everywhere with and without the Tax Category field filled up. Could you please elaborate on steps to replicate this issue?

[2019-08-07 09:34] jaichavan opened #18622 "Asset category: Unwanted "Depreciation Start Date" field displayed"
This field, "Depreciation Start Date" is displayed in the Asset Category master unnecessarily. It cannot be populated here anyway.

Asset Category:

![image](https://user-images.githubusercontent.com/40264279/62612220-9c139100-b924-11e9-9311-2a8d8eae0304.png)

Upon expanding child table, Finance Books:

![image](https://user-images.githubusercontent.com/40264279/62612294-be0d1380-b924-11e9-8f8c-b8

[2019-08-07 09:45] jaichavan opened #18623 "Missing Link for Serial No"
When Asset is received via Purchase Receipt, the Asset record and Serial No (if applicable for Item) are auto-created. Link for Asset works fine, but the link to go to the Serial No is missing.

![asset-serial-no-creation](https://user-images.githubusercontent.com/40264279/62612926-1d1f5800-b926-11e9-9f34-8c97b6c300b0.gif)

[2019-08-07 09:49] #18288 closed

[2019-08-07 09:53] jaichavan opened #18624 "Supplier field not populated in Serial No when it is created upon receipt of Asset"
Steps to replicate:
1) Create an Item and enable "Is Fixed Asset" & "Serial No" during creation.
2) Create a Purchase Receipt for this item, enter Asset Location, save & submit the document. Upon submission of PR, Asset and Serial No records are auto-created
**However, the Supplier field is not populated in the Serial No record (It should have fetched this from the PR)**

Purchase Receipt:

![imag

[2019-08-07 09:54] #18226 closed

[2019-08-07 09:57] jaichavan opened #18625 "Not able to save value for "Warrantee Period(Days)" in Serial No master"
Not able to save the "Warrantee Period(Days)" field in Serial No

![serial-no-](https://user-images.githubusercontent.com/40264279/62613762-b8fd9380-b927-11e9-856c-03a5d0283056.gif)

[2019-08-07 10:03] adityahase commented on #16012
Duplicate of https://github.com/frappe/erpnext/issues/15856

[2019-08-07 10:04] adityahase commented on #16012
@gbm001 It shouldn't have fixed it like this

[2019-08-07 10:05] adityahase commented on #15856
Fixed with https://github.com/frappe/erpnext/pull/18626 and https://github.com/frappe/erpnext/pull/18273

[2019-08-07 10:06] #15856 closed

[2019-08-07 10:06] #16012 closed

[2019-08-07 10:10] michellealva commented on #18308
@ruchamahabal any progress?

[2019-08-07 10:14] Anurag810 commented on #18284
https://github.com/frappe/erpnext/pull/18629

[2019-08-07 10:14] #18284 closed

[2019-08-07 10:14] Anurag810 commented on #18287
https://github.com/frappe/erpnext/pull/18629

[2019-08-07 10:14] #18287 closed

[2019-08-07 10:14] adityahase commented on #17050
@barredterra Couldn't replicate this. Even after downgrading packages.

[2019-08-07 10:15] #17050 closed

[2019-08-07 11:44] netchampfaris commented on #18554
https://github.com/frappe/frappe/pull/8090

[2019-08-07 11:44] #18554 closed, assigned to netchampfaris

[2019-08-07 11:52] #18572 closed, assigned to netchampfaris

[2019-08-07 12:04] netchampfaris commented on #18625
https://github.com/frappe/erpnext/pull/18633

[2019-08-07 12:04] #18625 closed, assigned to netchampfaris

[2019-08-07 12:22] #18623 closed, assigned to netchampfaris

[2019-08-07 13:14] lxnow opened #18640 "Allow multiple logins per user without counting against max user subscription"
There are use cases where having a user such as an admin be allowed to do multiple logins under user's security settings. Right now this requires a higher subscription plan (additional user license) which doesn't seem necessary and prohibitive to deployment/ troublehsooting or just plain old multiple simultaneous usage by power users.

![image](https://user-images.githubusercontent.com/5035210/626

[2019-08-07 13:46] scmmishra commented on #18377
@reema30 a fix for this is a work in progress. Will be solved soon. You can follow the PR here: https://github.com/frappe/frappe/pull/8121

[2019-08-07 13:49] federicocalvo commented on #16756
Hi @chdecultot ! Is this error still present?

Regards!

[2019-08-07 15:48] netchampfaris commented on #18077
Hey @mseibert,

When you clicked on the attachment in the sidebar, the file URL is:
![image](https://user-images.githubusercontent.com/9355208/62637099-7607e400-b958-11e9-9ce9-71658cf40e60.png)

But when you click on the attachment in the form, it's a different URL:
![image](https://user-images.githubusercontent.com/9355208/62637080-69838b80-b958-11e9-873e-4ed5159e892e.png)

So, I see that this is

[2019-08-07 16:20] Mangesh-Khairnar commented on #18230
#18645 Feature removed

[2019-08-07 16:20] #18230 closed

[2019-08-07 16:20] #18231 closed

[2019-08-07 18:16] kennethsequeira commented on #18581
@SunilKrishnan what version is this popping up on?

[2019-08-07 18:18] SunilKrishnan commented on #18581
Latest version development

On Wed, 7 Aug 2019, 23:47 Kenneth Sequeira, <notifications@github.com>
wrote:

[2019-08-07 18:18] kennethsequeira commented on #18551
@Alhessan please be more precise regarding what this question is about. It doesn't seem like a bug which is what is tracked here.

Perhaps you are better served by posting on the [forum](https://discuss.erpnext.com)

[2019-08-07 18:18] #18551 closed, assigned to nobody

[2019-08-07 18:21] SunilKrishnan commented on #18581
I have seen this issue as on 6th aug. This is a regression issue. We tried
to installation multiple times

On Wed, 7 Aug 2019, 23:47 Kenneth Sequeira, <notifications@github.com>
wrote:

[2019-08-07 18:24] kennethsequeira commented on #18309
@AkramMutaher if this is a technical query please post on the [forum](https://discuss.erpnext.com).

We use Github exclusively to track bugs.

If you're opening an issue, please post screenshots, tracebacks, and version to specify the issue.

[2019-08-07 18:24] #18309 closed

[2019-08-07 18:27] rodrigoinformationsys commented on #18620
Same error here.
https://discuss.erpnext.com/t/v12-cant-make-reconciliation-work/51545/4

[2019-08-07 18:46] kennethsequeira commented on #18203
@yltang52

You might find answers to your question [here](https://discuss.erpnext.com). Kindly refrain from posting queries as Github is to be used for bug tracking.

As for Heroku, ERPNext is designed to run on cloud VPS servers. If Heroku offers something similar for deployment, it may be worth a try, but sticking to a regular service provider such as Amazon AWS, Digital Ocean, Vultr, etc. might

[2019-08-07 18:46] #18203 closed

[2019-08-07 19:10] outerlook opened #18646 "[V12] "Group by" Filter on GL Report not working"
Hi! It seems like my GL Report **isn't getting affected by "group by" option**.

I'm currently using:

- ERPNext: v12.0.5 (version-12)
- Frappe Framework: v12.0.5 (version-12)

Here's some views of it...
![image](https://user-images.githubusercontent.com/12937160/62650288-e993fc00-b92c-11e9-9ebf-9f0f91ca960c.png)
_It is in PT-BR. Selected "Group by Voucher (consolidated)"_

I did try to "Re-genera

[2019-08-08 02:23] idolaru opened #18648 "v12 Auto Repeat - TypeError: can’t compare datetime.date to unicode"
When trying to create an Auto Repeat - the error TypeError: can’t compare datetime.date to unicode keeps popping up.

[2019-08-08 04:45] Mangesh-Khairnar commented on #18229
A payment order can either be from payment entry or payment request. Each child table row represents a child table "references" row from either payment entry or payment reference. Since there is no direct linking available for the same. On adding information manually the user can be allowed to link a particular payment order. However, we have to automatically import multiple rows from that given p

[2019-08-08 06:03] ruchamahabal commented on #18308
https://github.com/frappe/erpnext/pull/18647
@michellealva you can track the progress of this feature here.

[2019-08-08 06:17] #18308 closed

[2019-08-08 06:42] umairsy commented on #18422
Seems working in my test instance as well. Perhaps local was broken or was missing configuration.

[2019-08-08 06:42] #18422 closed

[2019-08-08 09:49] e8543420 commented on #18475
I have the same problem.

It  just happens when I want to update the company informaiton. The change won't be saved.

<img width="1001" alt="微信截图_20190808174758" src="https://user-images.githubusercontent.com/22390428/62693277-c3da2600-ba04-11e9-97ce-88e9fd9f36ef.png">

[2019-08-08 10:16] jaqobk opened #18656 "Pos not loading items"
hi am updating to version 12 successfully but am facing an issue with point of sale since it not loading new item and when I try to search the items they are not loading...
also load more items button not working..

from the browser console I got this error..

kindly help what could be the issue and I had similar issue in Jan 2019 and was solved by this merge..  >>  **https://github.com/frappe/erp

[2019-08-08 10:19] kennethsequeira commented on #17451
ERPNext and Frappe will be running on Python 3 only from version 12 onwards.

As for Django, ERPNext is built on a different web framework, [Frappe](https://github.com/frappe/frappe). As an open-source project, you are free to contribute and provide Django compatibility and support for the project.

[2019-08-08 10:19] #17451 closed

[2019-08-08 10:19] borisnq commented on #18475
@surajshetty3416
thanks for taking care!
This installation is running since about a year.
I can not say since when we can't saved the company setup anymore because after installation we don't have to change much in the basic setup.

At least 4 week ago we want to change the default cost center this is when we get the Error Message "Same Company is entered more than once" like **e8543420** too.

It

[2019-08-08 10:37] opentechiz commented on #18618
1. I tested and it doesn't work for me, whatever which date, ERPnext still generate a full salary for salary slip for that month
2. I know ERPNext is doing this way but it seems to be not right way :)

[2019-08-08 11:19] mseibert commented on #18077
It did happen again. I have no reproducible answer.

[2019-08-08 13:17] federicocalvo commented on #16344
+1

[2019-08-08 13:39] scdarva opened #18670 "Multiple Asset Movement [Feature]"
Hello,
I believe implementing multiple asset movement would be useful.
For example, we have tools as asset and we need to transfer usually not one or two but atleast five, as well this would be useful for when a new employee is employee transfering monitor, computer, mouse, keyboard and other various thing would be easier with a multiple asset movement, and very much like the asset movement functi

[2019-08-08 14:51] idolaru opened #18673 "v12 when adding a new event, the ends on date is not saved."
Trying to add new events and selecting a start and end date... the end date is not saved.

The page requires a refresh to be able to set and save the end date.

[2019-08-08 14:55] govindsmenokee opened #18674 "v12 - Employee Auto Checkin Not linked to Shift Type"
When trying to create an employee checkin from shift type screen it is not linking the employee checkin to shift type

[2019-08-09 00:25] Helkyd opened #18676 "Salary Structure with start_date Month returns Error"
Based on  https://discuss.erpnext.com/t/salary-structure-condition-month/35930

This was recorded long ago for V11 now i can see that on V12 still has not being fixed ...
When processing Salary and if i add this condition on Structure " start_date.month == 1 " the below error is returned

![image](https://user-images.githubusercontent.com/20396898/62745758-4d5d1880-ba44-11e9-8b2f-c4aec7441303.png)

[2019-08-09 00:26] Helkyd commented on #18676
The Structure
![image](https://user-images.githubusercontent.com/20396898/62745839-a88f0b00-ba44-11e9-8c5f-9c216db4c274.png)

[2019-08-09 02:52] chanyork opened #18677 "Sales Invoice not allowed to be renamed"
Hello

I am running into "Sales Invoice not allowed to be rename" issue.  This happened when I submit invoice or load invoice to view.  Please help.
my login name is chanyork@gmail.com.

[2019-08-09 06:34] muchai commented on #18554
This is not resolved yet.

[2019-08-09 06:43] #17919 closed

[2019-08-09 06:47] gmplab commented on #16637
#17916
Also have similar issue in V12

[2019-08-09 07:00] e8543420 commented on #18475
I tried to redepoly the system. The problem still there even with brand new installation. So I tried different configration. I find the problem comes when I set county to China(where I a using). There will be no problem when I set to US. I suspect the problem comes from the setting of Chart of Account or Cost Center for certain country.

To update. During the initialization step, I found that the

[2019-08-09 07:01] gmplab commented on #17916
![20190809145705](https://user-images.githubusercontent.com/1935044/62760190-fe4fcb80-bab5-11e9-83e7-88e9c411ca98.jpg)
V12: in the product page, click "configure" button, In the drop-down menu, there is no variant item value.

[2019-08-09 07:05] ossplus opened #18678 "v12 Variant product page didn't show variant value"
V12:
Steps:
1. Open "Show Configure Button" option
2. open the variant product page, then click "configure" button,
3. In the drop-down menu, there is no variant item value.
![20190809145705](https://user-images.githubusercontent.com/1935044/62760660-1ecc5580-bab7-11e9-84a1-33256958237d.jpg)

[2019-08-09 07:07] #7496 closed

[2019-08-09 07:20] ossplus commented on #18678
erpnext.portal.product_configurator.utils.get_attributes_and_values get the right variant name, but get empty value

[2019-08-09 07:24] gmplab commented on #17916
#18678

[2019-08-09 07:38] #18678 closed, assigned to nobody

[2019-08-09 07:41] krnkris commented on #18554
I confirm the drop down Menu buttons not responds.
May be it is not merged and will be only build in to the next version-fix?

[2019-08-09 08:46] barredterra commented on #16769
@hrwX wasn't v11 supposed to get maintained as well?

[2019-08-09 09:53] rohitwaghchaure commented on #18586
@abdelrahmanfakhry can you please share the following details

- Which option you have selected for the "Backflush Raw Materials Based On" in the manufacturing settings?

- Do you have set the operation in the BOM?

[2019-08-09 10:06] scmmishra commented on #18377
It is possible to add a custom condition for standard filter, but it will be to implicit and might confuse users. The best course of action would be to remove those filters

[2019-08-09 10:57] marceloabelda commented on #18475
I Have de same problem.
![image](https://user-images.githubusercontent.com/635830/62774524-4ef60300-ba7b-11e9-819a-63fc32b28e84.png)

[2019-08-09 11:57] rohitwaghchaure commented on #18586
@abdelrahmanfakhry Fixed https://github.com/frappe/erpnext/pull/18686

[2019-08-09 11:57] #18586 closed, assigned to rohitwaghchaure

[2019-08-09 12:22] rohitwaghchaure commented on #18562
Fixed https://github.com/frappe/frappe/pull/8154

[2019-08-09 12:22] #18562 closed, assigned to rohitwaghchaure

[2019-08-09 12:28] rohitwaghchaure commented on #18446
@govindsmenokee Have you enabled "Automatically Add Taxes and Charges from Item Tax Template" in the accounts settings? If not please enable and check

[2019-08-09 12:33] govindsmenokee commented on #18446
@rohitwaghchaure Yes I have. Also the template field gets populated but the actual table does not

[2019-08-09 19:02] aaronGmez opened #18687 "Payment Entry in Bank Reconciliation not display conciliation button"
Hello,

The modal form does not show the RECONCILE button (or the payment entry info)  while selecting the Payment Entry option while trying to reconcile a record from my bank statement via the bank reconciliation tool.

It does, however, show the button when I try to reconcile against a Sales Invoice.
Please refer to the images below.

![PaymentEntry](https://user-images.githubusercontent.com/388

[2019-08-09 19:04] chabito79 commented on #18687
We are having the same issue.

[2019-08-09 19:16] biboudidou commented on #18475
I have the same problem. Fresh install on ubuntu server 18.04.

[2019-08-09 23:26] lxnow opened #18688 "Global / Awesome Bar search doesn't correctly find "Open Role/Chart of... ""
Searching for actions that begin with the word _"Open..."_ by typing `open`, such as  _"Open Role Permissions"_ or _"Open Chart of Accounts"_, doesn't bring up anything.

Instead, one needs to type "Role..." or "Chart..." in the examples above. Not sure why but this is a minor bug.

![image](https://user-images.githubusercontent.com/5035210/62813959-3bf93680-bb40-11e9-94e9-9b8b22e652ad.png)

[2019-08-10 05:08] sethu07 commented on #18620
I think it will come when i select "Supplier" in Party Type.

[2019-08-10 11:24] jaqobk commented on #18656
kindly guys help me here

[2019-08-10 12:18] clarkejj commented on #16281
See also https://discuss.erpnext.com/t/server-error-on-using-chat-v11-upgraded-to-v12/51143

[2019-08-10 15:17] kennethsequeira commented on #18640
@lxnow Github issue is to report software bugs and not the pricing of erpnext. For that, you can contact the [team](https://erpnext.com/contact-us) directly.

[2019-08-10 15:17] #18640 closed, assigned to nobody

[2019-08-10 15:28] kennethsequeira commented on #18677
@chanyork if you're using erpnext.com services then kindly contact the support team else post on the [user forum](https://discuss.erpnext.com).

[2019-08-10 15:28] #18677 closed, assigned to nobody

[2019-08-10 15:32] kennethsequeira commented on #18601
@ychan1004 you might want to try the [user forum](https://discuss.erpnext.com) first or in case you're using ERPNext services (trial or support) you can contact the support team.

We use Github to track bugs only.

Also, since you have not provided any additional information such as version, screenshots, steps to reproduce the said error, will be closing this issue.

[2019-08-10 15:32] #18601 closed, assigned to nobody

[2019-08-10 16:03] kennethsequeira commented on #18607
@federicocalvo @Don-Leopardo @fproldan

You can sign up directly on the translator portal,  go to **Contributed Translation** doctype and begin verifying them.

In case you have already signed up and aren't able to view the same, post a comment here.

[2019-08-10 16:05] kennethsequeira commented on #18249
@GhadaEbrahim kindly post customization related issues on the forum for support: https://discuss.eprnext.com

[2019-08-10 16:05] #18249 closed

[2019-08-10 16:13] #16993 closed

[2019-08-10 16:15] kennethsequeira commented on #16795
Closing the issue as it is quite old and since no further information has been given in this regard.

[2019-08-10 16:15] #16795 closed

[2019-08-10 16:32] kennethsequeira commented on #18688
This is more of a UX issue than a bug since there is no **Open** command. The open option shows up just for single pages/reports.

[2019-08-10 16:59] kennethsequeira commented on #15575
Hey guys!

You're all welcome to contribute via the new translation portal which has been up for some time now: https://translate.erpnext.com

[2019-08-10 17:10] kennethsequeira commented on #13684
Can be done via **Data Export** which was added in version 11.

![image](https://user-images.githubusercontent.com/33246109/62824729-c92fa000-bbbf-11e9-8b22-82f09ba74272.png)

[2019-08-10 17:10] #13684 closed

[2019-08-10 17:15] kennethsequeira commented on #13159
@robertbecht

The redesigned website module should take care of your requirements: https://erpnext.com/docs/user/manual/en/website/web-page#28-meta-tags

[2019-08-10 17:15] #13159 closed

[2019-08-10 17:21] #11581 closed

[2019-08-10 20:23] nostahl opened #18690 "v12 - All emails generated by ERPNext contain no body - TESTED: able to successfully send email directly with sendmail from command line"
We have a fresh easy install ERPNext server that we have setup office 365 email connector too. We are able to send emails now ie from a sales order or lead etc but they arrive with no message body. (email client reports the email has no content)

We have tracked down the entire chain to ERPNext itself as the problem as we are able to successfully send emails via the command line through sendmail d

[2019-08-11 02:23] nostahl commented on #18690
still at it trying to diagnose this myself. no new news.

[2019-08-11 06:31] idolaru commented on #18648
After several different tries and after countless workarounds - I could not find any solution until now.

I've tried all different frequencies .. the error is the same.

[2019-08-11 13:48] scmmishra commented on #18377
Solved https://github.com/frappe/erpnext/pull/18696

[2019-08-11 13:48] #18377 closed

[2019-08-11 13:49] scmmishra commented on #17304
@sumeetagra a gentle follow up on this. Can you help me replicate the bug, otherwise I should close this issue as invalid.

[2019-08-11 14:25] dasistwas opened #18697 "V12: Section heading in sales invoice not displayed"
How to reproduce:

- In print format, the option "Show section headings" is active.
- In the Sales Invoice I have multiple section with labels (one of them has an empty string)

Adding a new sales invoice and clicking on the print icon does not display the section headings. Also changing sales tax and charges template does not help.

Tested on latest V12 release. After upgrade from V11.

[2019-08-11 19:04] dasistwas commented on #18697
Sorry this is a migration issue. Not related with V12 or V11

[2019-08-11 19:04] #18697 closed, assigned to nobody

[2019-08-12 03:58] davegreeko2023 opened #18698 "Production ready question!"
Hello All,
First time here and many thanks for such a great project. I have two questions regarding frappe and database integration. Do you think the Postgres support is considered production ready? and lastly, has the FrappeJs framework been used in production? I noticed there are no activities related to FrappeJs project on GitHub and last commit was back in February.

Regards,
Dave

[2019-08-12 04:43] akawama-zz opened #18699 "bench.utils.CommandFailedError: yarn install"
$ cat /etc/os-release
PRETTY_NAME="Debian GNU/Linux 10 (buster)"
NAME="Debian GNU/Linux"
VERSION_ID="10"
VERSION="10 (buster)"

$ bench version
erpnext 12.0.5
frappe 12.0.5

nodejs v10.16.2
mariadb  Ver 15.1 Distrib 10.3.15-MariaDB, for debian-linux-gnu (x86_64) using readline 5.2
Python 3.7.3
yarn 1.17.3

[Original erpnext forum thread](https://discuss.erpnext.com/t/bench-utils-commandfailederror

[2019-08-12 06:37] #18604 closed, assigned to nobody

[2019-08-12 10:17] rmehta commented on #18698
Postgres will not work for ERPNext, works for Frappe Framework only.

FrappeJS is under active development (again) and there will be a bunch of updates in the next few weeks.

[2019-08-12 10:17] #18698 closed, assigned to nobody

[2019-08-12 13:01] ghost commented on #11814
This is also a deal breaker for us. Is there anything further on this? And could it be incorporated into the core framework?

[2019-08-12 13:16] rodrigoinformationsys commented on #18620
Removing this line made it work again but probably it isn't the "correct" solution for it.

https://github.com/frappe/erpnext/blob/9335cdd536c6ce6ed0723ed9be62d0baa59fe9e6/erpnext/accounts/doctype/payment_reconciliation/payment_reconciliation.py#L96

[2019-08-12 17:59] federicocalvo commented on #18607
Hi, i dont understand. I sign up in translate.erpnext.com ,but I can't find a section *Contributed Translation*.

[2019-08-12 18:13] tecnofoodmx commented on #18687
Me too.

[2019-08-12 18:59] dasistwas opened #18707 "V12: Sales quotation set lost throws error"
Tested on:
ERPNext: v12.0.5 (version-12)
Frappe Framework: v12.0.5 (version-12)
Ubuntu 18.04

First create at least one lost reason at: desk#List/Quotation Lost Reason/List
(If you do not create a reason, there is also an error)

### Steps to reproduce:

1) Create new quotation
2) Save and submit quotation
3) Immediately afterwards set as "Lost"

In the field "Lost reasons" there should be the rea

[2019-08-12 19:06] dasistwas commented on #18707
The AJAX request:
[code]

Response:

[code]

[2019-08-12 19:16] dasistwas commented on #18475
Same here: V12.05

[code]

[2019-08-12 19:20] dasistwas commented on #18475
The company is also listed in the customer list as customer. But was never created there. Maybe that is related.

[2019-08-12 20:25] dasistwas commented on #18475
When I do an SQL and check, if there are more than 1 companies:
SELECT COUNT(*) FROM tabCompany;
I get that:
+----------+
| COUNT(*) |
+----------+
|        1 |
+----------+

So there is only one company in the database. I think the check there:
https://github.com/frappe/erpnext/blob/9002a6c1951efaf970e67297963dcb456bebcb0f/erpnext/accounts/doctype/mode_of_payment/mode_of_payment.py#L21

is not a

[2019-08-13 07:49] sanath2020 commented on #17075
Still UOM prices are not calculating in different UMOs

https://discuss.erpnext.com/t/price-not-uom-dependent-is-not-work-for-me/51473

[2019-08-13 08:37] Olawale1 opened #18710 "ERPNext Installation Error"
[code]

[2019-08-13 08:50] Olawale1 opened #18711 "Issue with Analytics reports"
Hi ,

I selected a few rows in the Sales Analytics report and attempted filtering the checkbox column with a value of 1 (assuming that 1 represents a ticked checkbox and 0 represents an unticked one) so I can view only the selected rows but it didn’t work

Also, the Total values do not update based on rows selected

Please help fix asap

Thanks

[2019-08-13 09:41] borisnq commented on #18475
I cannot confirm the second issue of **dasistwas**

In my case the company doesn't show up in the customer list.

[2019-08-13 10:17] dasistwas commented on #18475
@borisnq you are right. We just created a customer with the same name of the company so I thought it might be related, but in fact it is not.

[2019-08-13 10:42] kennethsequeira commented on #2079
@sarangdj

do check if the scenario is now possible: https://erpnext.com/docs/user/manual/en/stock/stock-reconciliation#42-for-serialized-items

If not, you can open a new issue with what would the desired feature requirements be.

[2019-08-13 10:42] #2079 closed

[2019-08-13 10:49] kennethsequeira commented on #3671
This enables the update for installed apps in the system:

https://github.com/frappe/frappe/pull/5960

[2019-08-13 10:49] #3671 closed

[2019-08-13 11:07] Olawale1 commented on #18710
I tried installing on a fresh VPS and got the error below:

[code]

[2019-08-13 13:57] rodrigoinformationsys commented on #18620
So, i think it is already fixed.
https://github.com/frappe/erpnext/pull/18657

[2019-08-13 18:08] davegreeko2023 commented on #18698
Thanks for the clarifications. I'm new to both Frappe & ERPNext but exploring both projects was like reading poetry: you can't believe the succinctness and elegance that can be expressed in so little space.

[2019-08-13 20:08] OwenHook opened #18722 "Company specific number format and date format"
I think it would be useful to have date and number format options at the company level.  right now if you have a North American and a European company which use different number formats  you must globaly switch number formats and date format when creating a print document.

I think for many situations it would be acceptable for there just to be the option to have a company level number and date fo

[2019-08-13 23:03] Tropicalrambler commented on #16477
Just stopped by to add this issue, but before I did so, I searched for this one.  It would be great to have the auto-save feature. I find myself losing too much text because I clicked on the outside of the editing box.

[2019-08-14 00:27] Mitchy25 opened #18723 "Gross Profit is not recalculated on Sales Order Quantity Update"
The calculation of Gross Profit on the Sales Order Item does not re-run when you update the item Quantity via 'Update Items' button at top of Sales Order

Details:

Item Sell Price: $10
Item Cost: $5

* Initially:
   * Quantity Ordered: **10 Units**
   * Sale Price: $10/Unit
   * Total Sale: $100
   * Per Unit Cost: $5
   * Total Cost: $50
   * Gross Profit: $50

* Update Quantity
   * Quantity Or

[2019-08-14 04:39] Mitchy25 opened #18724 "pymysql.err.InternalError: (1054, "Unknown column '6693f1d3a6' in 'field list'")"
Error occurs when you roll over an Item code and the new V-12 Item Preview attempts to display.

pymysql.err.InternalError: (1054, "Unknown column '6693f1d3a6' in 'field list'")

Traceback (most recent call last):
  File "/home/frappe/frappe-bench-dev/apps/frappe/frappe/app.py", line 60, in application
    response = frappe.api.handle()
  File "/home/frappe/frappe-bench-dev/apps/frappe/frappe/api.

[2019-08-14 05:00] pujanthakkar opened #18725 "Version 12 - Auto attendance not working"
I have created Employee Check In record by Data Import Tool, after successful Import when I go to Shift Type and Click "Mark Auto Attendance" attendance is not being marked.

[2019-08-14 09:01] tgunaratne commented on #17112
I guess "Set Desktop Icons" is no longer there in v12. Instead, it has "Show/Hide Cards".

I am also facing the same issue where my module is not shown in the desktop after upgrading from v11.x to v12. Based above questions I am not the only one facing this issue and would appreciate if someone could help us.

I created the following forum post.
https://discuss.erpnext.com/t/custom-module-links-do

[2019-08-14 09:08] PBI-46 opened #18730 "French translation"
Hi,
on ERPNext  V12 the french translation of could be improve ;-) May I help?

Cheers,
Philippe

[2019-08-14 09:34] AndyOverLord commented on #18598
Hello, any updates regarding this issue. Had the same problem. Please help.

[2019-08-14 10:23] j209 opened #18734 "Version12-Pdf export error"
![image](https://user-images.githubusercontent.com/18129232/63014165-2323b480-bea3-11e9-921e-21f8904b966e.png)

[2019-08-14 12:05] federicocalvo commented on #15575
Hi @kennethsequeira , i am waiting a response for this precisely https://github.com/frappe/erpnext/issues/18607

[2019-08-14 12:47] #17552 closed

[2019-08-14 12:59] agritheory opened #18739 "bug: Sales Return casts currencies to int, induces rounding errors"
https://github.com/frappe/erpnext/blob/version-11/erpnext/accounts/print_format/sales_invoice_return/sales_invoice_return.html#L69

This line should not have the `|int|` filter, it makes it drop the decimals places.

[2019-08-14 13:09] clarkejj commented on #18690
See this discussion https://discuss.erpnext.com/t/email-sent-from-erpnext-arrive-with-no-message-body/51717/19

[2019-08-14 13:10] cgpurbaugh opened #18741 "Purchase Receipt qty check needs to check rejected qty"
When updating Accepted Qty to 0 and Rejected Qty to the full balance, we are unable to save with the error "Item quantity can not be zero".  This validation should check the rejected qty as well.

ERPNext: v11.1.52 (version-11)
Frappe Framework: v11.1.48 (version-11)

[2019-08-14 13:14] clarkejj commented on #18648
See this discussion https://discuss.erpnext.com/t/v12-typeerror-cant-compare-datetime-date-to-unicode/51536

[2019-08-14 13:21] clarkejj commented on #18522
see this discussion https://discuss.erpnext.com/t/erpnext-patches-v12-0-update-pricing-rule-fields-py/51116

[2019-08-14 13:27] clarkejj commented on #18710
case closed as per this https://discuss.erpnext.com/t/fatal-error-on-create-new-site/42583/15

[2019-08-14 13:27] #18710 closed, assigned to nobody

[2019-08-14 13:30] clarkejj commented on #18711
See discussion here https://discuss.erpnext.com/t/how-to-filter-checked-rows-in-analytics-reports/51764/2

[2019-08-14 13:33] clarkejj commented on #18606
See discussion here https://discuss.erpnext.com/t/cant-upload-bank-statements-in-bank-reconcillation/51577

[2019-08-14 15:03] barredterra opened #18745 "Pylint"
@SaiFi0102

Can we get codacy's python rules into `.pylintrc` somehow? This way, errors could be fixed during development, not just after a pull request. :)

[2019-08-14 15:37] SaiFi0102 commented on #18745
Sounds like a good idea. What is stopping you from doing it?

[2019-08-14 15:40] PBI-46 opened #18746 "Multiple message creating a second company"
Hi,

Creating a second company I get several time this message :
Could not find Parent Department: All Departments
 Is it normal?

[2019-08-14 17:00] clarkejj commented on #16991
See this discussion https://discuss.erpnext.com/t/project-and-task-table-bug/50862

[2019-08-14 17:49] clarkejj commented on #18746
Please ask this on discuss with context details.

The idea is to identify first if this is in fact an issue thanks!

[2019-08-14 17:49] #18746 closed, assigned to nobody

[2019-08-14 17:56] clarkejj commented on #18734
Please copy and paste your traceback and ask this on discuss for all to benefit.

The idea is to identify first if this is in fact an issue thanks!

[2019-08-14 17:56] #18734 closed, assigned to nobody

[2019-08-14 18:01] clarkejj commented on #18725
Discussion here https://discuss.erpnext.com/t/version-12-auto-attendance-issue/51810

[2019-08-14 18:13] clarkejj commented on #18730
Thanks for your offer to help Philippe, please ask this on discuss and connect with the community there.

This list is intended for vetted bugs thanks!

[2019-08-14 18:13] #18730 closed, assigned to nobody

[2019-08-14 18:24] clarkejj commented on #18724
Please report this also on discuss for folks there to tackle and add a link to that here...

thanks!

[2019-08-14 18:26] clarkejj commented on #18723
Please report this also on discuss for folks there to tackle and add a link to that here...

thanks!

[2019-08-14 18:43] clarkejj commented on #18707
Please also post this to discuss for folks there to benefit too - be sure to link to both threads thanks!

[2019-08-14 18:51] clarkejj commented on #18674
Please also post this to discuss for folks there to benefit too thanks!

[2019-08-14 18:55] clarkejj commented on #18687
Please also post this to discuss for folks there to benefit too - be sure to link to both threads thanks!

[2019-08-14 21:29] barredterra commented on #18745
I don't know where codacy takes it's rules from. I assumed that you configured them.

[2019-08-14 21:44] Mitchy25 commented on #18723
Thanks @clarkejj. Posted to Discuss. Link is: https://discuss.erpnext.com/t/gross-profit-is-not-recalculated-on-sales-order-quantity-update/51832

[2019-08-14 21:45] Mitchy25 commented on #18724
Thanks @clarkejj. Posted to Discuss. Link is: https://discuss.erpnext.com/t/pymysql-err-internalerror-1054-unknown-column-6693f1d3a6-in-field-list/51833

[2019-08-15 00:30] clarkejj commented on #18673
See for example this https://discuss.erpnext.com/t/latest-v10-update-cannot-save-calendar-event/43440/8

[2019-08-15 00:43] clarkejj commented on #18603
Please also post this to discuss for community review and benefit, and be sure to link to the other thanks!

[2019-08-15 06:25] Alhessan commented on #18551
![tempsnip](https://user-images.githubusercontent.com/22369708/63076617-7d258800-bf3e-11e9-8f07-bedad9e749da.png)

I have 5 users plan on erpnext , I added 4 , then i could not add  the fifth one.

[2019-08-15 06:32] kennethsequeira commented on #18551
Check if you have multiple sessions on for any of the user:

![image](https://user-images.githubusercontent.com/33246109/63076968-7570de00-bf54-11e9-810d-4ba2f6e334b3.png)

If you haven't increased the sessions, then contact the support team

[2019-08-15 06:39] Alhessan commented on #18551
I checked them all, none of them has multiple sessions,
How i can contact them??

[2019-08-15 06:51] Alhessan commented on #18551
@kennethsequeira  thank you sir, solved

[2019-08-15 07:11] kennethsequeira commented on #18607
There is some issue on the portal. Checking this now.

[2019-08-15 07:30] Olawale1 opened #18748 "Issue with chat in V12"
Hi ,

Sending a chat message or sometimes, even trying to start a chat, throws the following error:

`TypeError: the JSON object must be str, bytes or bytearray, not 'NoneType'
`

Kindly help fix asap

Thanks

[2019-08-15 07:38] krnkris commented on #18699
First of all:
Cannot proceed with update: You have local changes in app "erpnext" that are not committed.
You made some local changes, it may cause problems.

About yarn install:
To upgrade, run the following command:
$ curl -o- -L https://yarnpkg.com/install.sh | bash

BTW:
why you use
sudo bench update
Please try without sudo:
bench update

[2019-08-15 07:40] Olawale1 commented on #16757
Any update on this?

[2019-08-15 07:50] Olawale1 opened #18749 "The Icon for sending chat messages is missing in Mobile App [V12]"
![20190815_084724](https://user-images.githubusercontent.com/9269337/63080677-9d9f1380-bf39-11e9-93af-f5f1b9645d6b.jpg)

Kindly help fix

Thanks

[2019-08-15 09:01] sammish opened #18750 "Feature : Effective Month / Month wise analyze in Small Business P&L"
Month wise Analyze summarizes a company income and expenses for a period of time (month) to arrive at its net earnings for the period.

How to create Accounting Dimensions  with Month wise

1. Go to Accounting > Settings > Accounting Dimensions.
If you select Month as a reference document, the dimension will based on Month.
This name will appear in the transactions for which dimensions are created

[2019-08-15 09:16] Olawale1 opened #18751 "Valuation Rate is being requested for Finished Goods!"
Hi ,

It appears there are some issues with calculating the cost of Items Manufactured for the first time under the following circumstances:

1. Using FIFO valuation method in Stock Settings
2. Including Scrap in the BOM

The system throws the following error:

`Valuation rate not found for the Item MAN_EP02, which is required to do accounting entries for Stock Entry 6b85c379d1. If the item is tra

[2019-08-15 09:20] dasistwas commented on #18724
Same error here. How to reproduce:

1) Create a Sales Quotation
2) Add an item, create a new item when adding the item
3) Try to click in the item field again.

Aterwards the following request fails quite often:
https://localhost/api/method/frappe.desk.link_preview.get_preview_data

[code]

[2019-08-15 11:51] dasistwas commented on #18707
Thank you @clarkejj for that hint. Just posted it: https://discuss.erpnext.com/t/v12-sales-quotation-set-lost-throws-error/51844

[2019-08-15 12:19] clarkejj commented on #18593
Try this https://discuss.erpnext.com/t/attributeerror-quotation-object-has-no-attribute-customer/49378/11

If that fails copy and paste your traceback to discuss for others to review.

[2019-08-15 12:23] clarkejj commented on #18602
https://discuss.erpnext.com/t/bank-transactions-import-from-ofx/51438

[2019-08-15 12:33] clarkejj commented on #18582
See this discussion https://discuss.erpnext.com/t/pos-item-batch-wrong-warehouse/50894

[2019-08-15 12:58] clarkejj commented on #18204
https://discuss.erpnext.com/t/pos-paid-amount-is-not-correct/50440/2

[2019-08-15 13:02] clarkejj commented on #18198
Issue resolved https://discuss.erpnext.com/t/server-error-when-opening-customer-detail/50499

[2019-08-15 13:02] #18198 closed

[2019-08-15 13:14] clarkejj commented on #18053
This reports a problem with v11.1.46 with a PR fix https://discuss.erpnext.com/t/ldap-stopped-working-after-update-master-branch-pr-provided/50662/5

[2019-08-15 13:17] clarkejj commented on #18046
See discussion https://discuss.erpnext.com/t/bug-in-features-that-use-translation-in-spanish/49911

[2019-08-15 13:23] clarkejj commented on #18002
See discussion https://discuss.erpnext.com/t/documents-are-always-in-user-language/50009

[2019-08-15 13:29] clarkejj commented on #18100
You can always sponsor development https://discuss.erpnext.com/t/multiple-currencies-for-single-payroll/31618

[2019-08-15 16:53] maxwelljvogel opened #18754 "“Invalid field name: compact_item_print”"
When opening or creating invoices, quotations, delivery, notes, or any doctype with an item listing, the message “Invalid field name: compact_item_print” is displayed.

Issue arose after updating to v12 and is present in all new versions.

Database no longer mentions "compact_item_print"

+----------------+--------------------------------+----------------------------+
| doctype        | field

[2019-08-15 16:55] maxwelljvogel commented on #18754
<img width="1440" alt="Screen Shot 2019-07-27 at 3 01 43 PM" src="https://user-images.githubusercontent.com/24994544/63111566-94bb3b80-bf53-11e9-9dac-125076338812.png">

[2019-08-15 21:01] jazzyjackson commented on #13334
Hi, I have also run into walls trying to follow existing guides. Following the guide for fresh [centOS machines](https://www.vultr.com/docs/how-to-install-erpnext-open-source-erp-on-centos-7) on vultr.com has got me closest, but it expects everything to work with python2.7 so does not guide me on the best way to have 2.7 on the same machine as 3.

I was able to get past this issue with instruction

[2019-08-15 21:18] Mitchy25 commented on #18724
For now, I've simply set:

`preview_data = None`

In link_preview.py to avoid this (And avoid the popup alltogether), but obviously its not a sustainable solution.

[2019-08-15 22:24] Salmon-Bard commented on #15199
We have elder employees with weak vision
There should be option to improve text readability

[2019-08-16 03:03] surajshetty3416 commented on #18724
[This](https://github.com/frappe/frappe/pull/8184) should fix the issue.

[2019-08-16 03:03] #18724 closed, assigned to nobody

[2019-08-16 04:45] umairsy opened #18756 "Error when enabling Hospitality Domain from Domain Settings"
<img width="1304" alt="Screenshot 2019-08-16 at 10 14 29 AM" src="https://user-images.githubusercontent.com/910238/63144037-b3cad380-c00e-11e9-9dcd-296370da5cc3.png">

[2019-08-16 05:45] idolaru opened #18758 "Settings for branding ERPNext"
In our business we begin creating a space for our agents, suppliers and business partners to interact directly and more automatically with our company through ERPNext.

Of course, this brings the necessity of of branding and how we would like to hide in many ways the system that we are using as well as show professionalism hence the question of branding settings such as:

1. Favicon
2. Company log

[2019-08-16 05:53] idolaru opened #18759 "v12 Task Opening - InternalError: (1054, u"Unknown column 'e7c4dfab28' in 'field list'")"
When opening an already existing task created in v11 - now in v12 the error appears:

InternalError: (1054, u"Unknown column 'e7c4dfab28' in 'field list'")

Installed Apps

ERPNext: v12.0.5 (version-12)

Frappe Framework: v12.0.5 (version-12)

[2019-08-16 06:03] clarkejj commented on #17528
Discussion here https://discuss.erpnext.com/t/cannot-see-changed-customer-name-in-the-title/48678

[2019-08-16 07:39] pujanthakkar commented on #18725
Any update on this

[2019-08-16 07:46] jaqobk commented on #18656
Hi.. Anyone help here am still facing this issue

[2019-08-16 11:06] akawama-zz commented on #18699
Like mentioned in error the problem it seems was in /home/frappe/.cache/yarn/v4/npm-core-js-2.6.1-87416ae817de957a3f249b3b5ca475d4aaed6042/node_modules/core-js/.yarn-metadata.json file.

I removed the above file and reinstalled yarn, then everything worked perfectly.

[2019-08-16 11:06] #18699 closed, assigned to nobody

[2019-08-16 11:10] barredterra commented on #18480
Same as #17730

Fixed in v12 by removing the Tasks table from Project altogether.

[2019-08-16 11:17] barredterra opened #18762 "Tasks get completed by submitting a timesheet"
By adding a Timesheet to a Task I loose the ability to set the task's status. It will always be "Completed". It is not completed, I just added one Timesheet (of many)!

This "feature" should be reverted, IMHO.

ERPNext: v12.0.6 (version-12)
Frappe Framework: v12.0.6 (version-12)

[2019-08-16 12:03] barredterra commented on #18758
- Favicon can be set in Website Settings
- Whitelabeling: probably not going to happen. See [here](https://frappe.io/blog/general/why-you-should-not-rebrand-erpnext)
- Footer for the customer portal can be set in Website Settings

[2019-08-16 12:19] hans-permana opened #18763 "Chart of Accounts Importer acts funny when child account name is the same as parent account name"
Hi guys,

Thank you for the effort in bringing CoA importer to version 12. I think it is a very useful feature.

However, it does not work as I expected. The two images below will describe the issue:

![coa-issue2](https://user-images.githubusercontent.com/7643370/63166997-29a85c80-c05a-11e9-9306-aad8bfa98195.PNG)
Part of CSV file used to import the CoA

![coa-issue](https://user-images.githubuser

[2019-08-16 13:30] erpcloudsystems opened #18769 "website Item group page error in V12"
i`v upgraded to v 12.0.6 but suddenly

Website item group page

Item web page

has many errors in url and css

please check

https://mycilek.com/products/teens-rooms/dynamic

[2019-08-16 13:34] erpcloudsystems commented on #18769
when i enter any porduct it repeats parent categories in url like

https://mycilek.com/products/teens-rooms/products/teens-rooms/dynamic/dynamic-study-desk

it repeats "products/teens-rooms/" twice

[2019-08-17 01:38] idolaru commented on #18758
You miss the point regarding whitelabeling. I am not a company selling software, I am the owner of a company using ERPNext for daily operations.

How do you think it looks when one of my business partners visits our portal and sees logos which are not of my company ?

And also, why would any of my business partners know what type of system I use ? this can be easily done, whitelabeling for compani

[2019-08-17 11:52] hfaridgit commented on #18554
I have same problem with version 12.0.6 on firefox on linux 16.04 desktop.

[2019-08-17 13:00] ibrasec commented on #12846
Any updates regarding this issue !

[2019-08-17 14:40] Bambiemurphy opened #18765 "ERR_TOO_MANY_REDIRECTS"
I made a test customer account up and every time its sends people back to the home page they get

ERR_TOO_MANY_REDIRECTS

[2019-08-17 16:08] nostahl commented on #18690
I've fixed the issue. I'll be writing an article / tutorial on how to setup ERPNEXT and Office 365 integration.

[2019-08-17 16:08] #18690 closed, assigned to nobody

[2019-08-18 00:36] toofun666 opened #18767 "Vehicle Expenses Report: Report charts Fuel Price whereas it should show Total Fuel Expenditure"
Vehicle Expenses Report charts Fuel Price whereas it should show Total Fuel Expenditure.
I guess that makes sense…
[erpnext/hr/report/vehicle_expenses/vehicle_expenses.py](url)

It looks like adding a computed column in the SQL query and processing this column in the Python code will make the report meaningful.
Respective lines:
https://github.com/frappe/erpnext/blob/78690d7b8b91dd825fe80593e54dea

[2019-08-18 08:05] scmmishra commented on #18756
Hello @umairsy I was successfully able to enable the Hospitality domain on my test account on develop branch. I tired conditions of enabling that domain only, as well as tried enabling it, when other domain was enabled. Can you also add the complete error log from this account for me to debug it.

[2019-08-18 08:16] scmmishra commented on #18485
Hello @umairsy I see two tracebacks in the GiF you provided and I could not establish the relationship between the two, are the two issues related?

[2019-08-18 08:22] scmmishra commented on #18769
The route on the item should be a problem, please check if it is configured properly.

[2019-08-18 08:22] scmmishra commented on #18769
This issue belongs to ERPNext, moving it.

[2019-08-18 09:22] borisnq commented on #18475
I've updated the system today with `bench update --reset`and I can save company settings without any error messages.

Any changes will be saved correctly now and the issue seems to be solved for me.

Thanks to all for your help!

[2019-08-18 09:22] #18475 closed, assigned to surajshetty3416

[2019-08-18 15:46] szufisher commented on #18707
because per the doctype definition and the error message, you should define the opportunity lost reason other than quotation lost reason because refer it in quotation maybe this is the design bug or the lost reason should be more generic, otherwise there will be confusing like what you encountered.

[2019-08-18 15:48] szufisher commented on #18748
same error in my case.
Installed Apps

ERPNext: v12.0.6 (version-12)

Frappe Framework: v12.0.6 (version-12)

[2019-08-18 17:57] krnkris commented on #18554
Thx @hfaridgit
https://discuss.erpnext.com/t/version-12-menu-items/51792
it was made 2 days ago. it is not merged jet:
https://github.com/frappe/frappe/commit/4353d21f2e5c781854cea029b6df01819a74a664

[2019-08-18 20:46] sleonardoaugusto commented on #15648
Did you solved it?

[2019-08-18 20:58] outerlook commented on #18646
Hi! Is there any other log I can get for reporting this bug?

[2019-08-19 05:25] Mitchy25 commented on #18759
This has been merged into version-12-hotfix: https://github.com/frappe/frappe/pull/8184

[2019-08-19 06:34] umairsy commented on #18756
v12on.erpnext.com is an account on our cloud. Now when I see Domain Settings, Hospitality is checked, but on the Desk, I don't see any icon relevant to that. Can you sign-into this account as admin and check?

[2019-08-19 06:37] umairsy commented on #18485
First error message, when seeing the item from Item master, by clicking on "View on Website" link.

Second error when trying to see item on the website via it's relevant Item Group, for which we do setting in Website Settings.

[2019-08-19 07:50] amitsaxena01 commented on #18769
This issue was reported vide
https://github.com/frappe/erpnext/issues/18190
and a pull request for fix was requested vide fix: https://github.com/frappe/erpnext/pull/17665

However nobody cares and it was allowed to close without merge.

-Amit

[2019-08-19 07:58] erpcloudsystems commented on #18769
and what about the duplication of item group in URL ??

[2019-08-19 12:07] krnkris commented on #14857
If it works, this thread should be close.

[2019-08-19 12:55] sahil28297 commented on #18607
The issue is resolved, can you check again

[2019-08-19 12:56] #18607 closed, assigned to sahil28297

[2019-08-19 14:12] Umer2560 opened #18783 "Medical Record of Patient Not Showing in Healthcare"
Hello can any 1 please tell why the medical record of patient not showing in healthcare module of erpnext v.11 and v.12 both..
Thanks in advance....

![Screenshot (3)](https://user-images.githubusercontent.com/33193371/63272112-e695f580-c2b4-11e9-8db2-cc005a7611cc.png)

[2019-08-19 21:25] ppd opened #18787 "Asset Maintenance: TypeError: '>' not supported between instances of 'str' and 'NoneType in calculate_next_due_date"
[code]

ERPNext: v12.0.6 (version-12)
Frappe Framework: v12.0.6 (version-12)

The variables in question have those values
```last_completion_date = 2019-08-19 ```
```start_date = None```

[2019-08-19 22:19] AndyOverLord commented on #18723
Any updates regarding this issue. Had a similar problem.

Thanks!

[2019-08-20 02:55] idolaru opened #18788 "v12 Event Doctype update - InternalError: (1054, u"Unknown column 'start' in 'field list'")"
Earlier I was in `set-config developer_mode 1` logged in with the Administrator, activating the Show Preview Popup in the Event Doctype, View Settings.

After saving the setting I went to view the calendar and this error popped up without loading the events: `InternalError: (1054, u"Unknown column 'start' in 'field list'")`

Refreshing the page reloads the calendar and events properly without the

[2019-08-20 04:29] Mitchy25 commented on #18788
Merged into Version-12-hotfix: https://github.com/frappe/frappe/pull/8184

[2019-08-20 07:37] Ravn10 opened #18790 "GST Setting not found"
GST setting not found in version 12.
HSN/SAC code fields
![image](https://user-images.githubusercontent.com/29272682/63327191-5e166400-c34b-11e9-8b7f-b1e0301c4025.png)

[2019-08-20 08:00] ruchamahabal commented on #18648
fixed: https://github.com/frappe/frappe/pull/8202

[2019-08-20 08:00] #18648 closed, assigned to ruchamahabal

[2019-08-20 08:48] dhav-d commented on #9860
@jaichavan Please reopen this request as the weekly view currently provided is a good feature but not what I had in mind.

My request was to fix the top row as Monday - Sunday and show stats as per the **Day of the Week** for a selected period for customers, items & their groups

[2019-08-20 09:47] adityaduggal commented on #15648
@sleonardoaugusto I think I solved the issue by manually updating the dates in the calendar events.
If you can access the mysql db then you would see that many events would not have a date on them if they are OLD events. Just refer to the link for the commit. Since its too old even I don't remember properly what I did.

[2019-08-20 10:16] pujanthakkar commented on #18606
Need Help on this..

[2019-08-20 11:37] Vigneshsekar commented on #18725
Hi,

Did you set the following fields appropriately?

Attendance will be marked automatically only after the `Process Attendance After` date. Also, the `Last Sync of Checkin` is until when you would like the check-in logs to be considered.

You might also need to make sure if the employee check-ins are within the shift time + allowed extra time.

After setting them, try to mark the auto attendance

[2019-08-20 13:10] backendoadmin commented on #18769
I think there is a workaround:

Do not leave empty description fields under WEBSITE SPECIFICATIONS section. If you have an item related description above, that's not enough!.

https://prnt.sc/ov4b49

[2019-08-20 13:44] jaqobk commented on #18656
Hi Guys Still struggling with this error someone kindly help me..?

[2019-08-20 13:50] Don-Leopardo commented on #18607
I have tried to create a new account from https://translate.erpnext.com/login#signup. I received 50 (exact number) emails about my new account with links to set the password. The links didn't work so I tried to use https://translate.erpnext.com/login#forgot and it sent me an email with a new link, that link didn't work neither.

**Illustrative screenshots:**
![Captura de Pantalla 2019-08-20 a la(s

[2019-08-20 14:38] erpcloudsystems commented on #18769
what is the relation between them ???

will it fix URL issue ??

[2019-08-20 14:59] generare opened #18800 "Web form is missing a button to SAVE the form"
Issues happens in:
ERPNext: v12.0.5 (version-12)
Frappe Framework: v12.0.5 (version-12)
Production

If you go to the "Web Form", add a "New" web form, fill the title, add all the fields needed, and then try to save, there is no button for saving the form, as described visually in the manual (https://erpnext.com/docs/user/manual/en/website/web-form). In the end you lose the web form you just build

[2019-08-20 16:00] sleonardoaugusto commented on #15648
@adityaduggal Thanks for reply!
My problem don't relate nothing about date format.
Then I posted my issue on this commit reference.

[2019-08-21 03:32] idolaru commented on #18648
After updating to the latest version, Auto Repeat is showing the same error as before:

This is the log from logs/frappe.log

[code]

Installed Apps

ERPNext: v12.0.7 (version-12)

Frappe Framework: v12.0.6 (version-12)

[2019-08-21 14:45] lasalesi commented on #17499
Seems to be resolved, closing.

[2019-08-21 14:45] #17499 closed

[2019-08-21 16:09] uebmaster commented on #18599
The same error for me

[2019-08-22 02:31] AndyOverLord opened #18811 "(Bug) Primary contact is not unique, you can set mutiple contacts as primary"
Version info:
![image](https://user-images.githubusercontent.com/30763348/63481407-6e644580-c4e9-11e9-851a-3df4f07f85c0.png)

Hi everyone,

I think I have encountered a situation that you can set 2 or more primary contacts which would cause problems for other activities such as sales order etc.

In customer form:
![primary_contact](https://user-images.githubusercontent.com/30763348/63481308-31984e

[2019-08-22 09:41] momorepo opened #18813 "customers default filter"
Default customers page filter
All Customer Groups and All Territories
not listing the sub customers groups such as commercial group

[2019-08-22 11:52] yrestom opened #18816 "Chart of account importer "UnicodeDecodeError: 'utf8' codec " problem with Arabic language"
i am on ERPNext: v12.0.6 (version-12)

Frappe Framework: v12.0.6 (version-12)

i have this error msg when i’m trying importing csv file for chart of account with Arabic language in it
`UnicodeDecodeError: 'utf8' codec can't decode byte 0xe3 in position 0: invalid continuation byte`

[2019-08-22 12:48] jboilesen commented on #4918
@strixaluco This issue was closed as duplicate but the issue wasn't solved. OFX file import was not considered in the bank reconciliation enhancement #5903

[2019-08-22 13:17] Ravn10 opened #18818 "Batch split Prompt issue in delivery note and Stock entry"
Batch popup
![Screenshot_20190822_184421](https://user-images.githubusercontent.com/29272682/63517664-032c6a80-c50d-11e9-8c8a-fef6329ce28f.png)
this  used to work fine in v10 with multiple batches selected
now in version 11 it doesnt copy item UOM , sales order and other details to delivery note item table
if sales order is manually entered it wont update sales order delivered quantity

[2019-08-22 16:51] Tropicalrambler opened #18819 "Organizational Chart Page"
Create a page style view where users can visualize an automatically-generated organizational chart, with a better visualization than the standard tree view.

This organizational chart can allow changing positions in the chart.
Each employee box allows connection to a card-like pop-up or dialog with further information as per ERPNext held-data.

User can download information as vcard file, to impor